{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::headerKadrovska' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebarKadrovska')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Zaposleni
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    {% if not form.vars.valid %}
                        {% for child in form.children %}
                            {%for error in child.vars.errors%}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <span class="fw-semibold">{{error.message}}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {%endfor%}
                        {%endfor%}
                    {%endif%}
                    <!-- Wizard with validation -->

                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">Dodavanje novog zaposlenog</h6>
                        </div>
                        {{ form_start(form, {'attr': {'class' : 'form-validate-jquery', 'novalidation': 'novalidation', 'enctype': 'multipart/form-data' }}) }}

                        <div class="card-body">
                            <div class="fw-bold border-bottom pb-2 mb-3">Lični podaci</div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.ime, 'Ime:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.ime, {attr: { class: 'form-control required' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.prezime, 'Prezime:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.prezime, {attr: { class: 'form-control required' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.userType, 'Tip korisnika:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.userType, {attr: { class: 'form-control select required role' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.datumRodjenja, 'Datum rođenja:*', {'label_attr': {'class': 'form-label'}}) }}
                                        <div class="input-group">
											<span class="input-group-text">
												<i class="ph-calendar"></i>
											</span>
                                            {{ form_widget(form.datumRodjenja, {attr: { class: 'form-control required datepicker-date-format-custom', autocomplete : 'off' }}) }}
                                        </div>
                                        <span class="form-text">Format: 31.12.1900</span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.pol, 'Pol:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.pol, {attr: { class: 'form-control select required' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.jmbg, 'JMBG:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.jmbg, {attr: { class: 'form-control required' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="fw-bold border-bottom pb-2 mb-3">Login podaci</div>

                            <div class="row">
                                <div class="col-lg-4 hide ROLE_EMPLOYEE">
                                    <div class="mb-3">
                                        {{ form_label(form.track, 'Login:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.track, {attr: { class: 'form-control select pozicija' }}) }}
                                        <span class="form-text">Ukoliko kreirate korisnika koji pristupa aplikaciji (npr. HR služba) izaberite "Da".</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 hide">
                                    <div class="mb-3">
                                        {{ form_label(form.plainPassword, 'Lozinka:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.plainPassword, {attr: { class: 'form-control lozinka' }}) }}
                                        <span class="form-text">Format: Minimum 8 karaktera (obavezno jedno veliko slovo, jedno malo slovo, jedan specijalan karakter i jednu cifru) </span>
                                    </div>
                                </div>
                                <div class="col-lg-4 hide">
                                    <div class="mb-3">
                                        {{ form_label(form.email, 'Email:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.email, {attr: { class: 'form-control email' }}) }}
                                    </div>
                                </div>
                            </div>


                            <div class="fw-bold border-bottom pb-2 mb-3">Profilna slika</div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        {{ form_label(form.slika, 'Profilna slika:', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.slika, {attr: { class: 'form-control file-input' }}) }}
                                        <span class="form-text">Format: png, jpg, gif. Maksimalna veličina fajla 2Mb.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="fw-bold border-bottom pb-2 mb-3">Kontakt podaci</div>
                            <div class="row ">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.grad, 'Grad:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.grad, {attr: { class: 'form-control select required ' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.adresa, 'Ulica i broj:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.adresa, {attr: { class: 'form-control required ' }}) }}
                                        <span class="form-text">Format: Bulevar Milutina Milankovića 1</span>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.telefon1, 'Telefon:', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.telefon1, {attr: { class: 'form-control' }}) }}
                                        <span class="form-text">Format: 0661111222</span>
                                    </div>
                                </div>
                            </div>
                            <div class="fw-bold border-bottom pb-2 mb-3 ">Ostale informacije</div>
                            <div class="row ">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.vrstaZaposlenja, 'Vrsta zaposlenja:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.vrstaZaposlenja, {attr: { class: 'form-control select required vrstaUgovora' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.pocetakUgovora, 'Početak ugovora:', {'label_attr': {'class': 'form-label'}}) }}
                                        <div class="input-group">
											<span class="input-group-text">
												<i class="ph-calendar"></i>
											</span>
                                            {{ form_widget(form.pocetakUgovora, {attr: { class: 'form-control datepicker-date-format-custom2 ugovor1', autocomplete : 'off' }}) }}
                                        </div>
                                        <span class="form-text">Format: 31.12.1900. Unesite datum početka radnog odnosa.</span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.krajUgovora, 'Kraj ugovora:', {'label_attr': {'class': 'form-label'}}) }}
                                        <div class="input-group">
											<span class="input-group-text">
												<i class="ph-calendar"></i>
											</span>
                                            {{ form_widget(form.krajUgovora, {attr: { class: 'form-control datepicker-date-format-custom3 ugovor1 ugovor2', autocomplete : 'off' }}) }}
                                        </div>
                                        <span class="form-text">Format: 31.12.1900. Unesite datum kraja radnog odnosa ukoliko se ne radi o ugovoru na neodređeno.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        {{ form_label(form.nivoObrazovanja, 'Nivo obrazovanja:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.nivoObrazovanja, {attr: { class: 'form-control select required ' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        {{ form_label(form.zvanje, 'Zvanje:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.zvanje, {attr: { class: 'form-control select required' }}) }}
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        {{ form_label(form.pozicija, 'Radno mesto:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.pozicija, {attr: { class: 'form-control select required' }}) }}
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        {{ form_label(form.mestoRada, 'Mesto rada:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.mestoRada, {attr: { class: 'form-control required' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.isLekarski, 'Lekarski pregled:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.isLekarski, {attr: { class: 'form-control select required ' }}) }}
                                        <span class="form-text">Ukoliko je potrebno da se za korisnika prate podaci o izvršenim lekarskim pregledima obaveznim za pojedine kategorije zaposlenih (npr. vozači).</span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.slava, 'Slava:', {'label_attr': {'class': 'form-label'}}) }}
                                        <div class="input-group">
											<span class="input-group-text">
												<i class="ph-calendar"></i>
											</span>
                                            {{ form_widget(form.slava, {attr: { class: 'form-control datepicker-date-format-custom1', autocomplete : 'off' }}) }}
                                        </div>
                                        <span class="form-text">Format: 31.12.1900</span>
                                    </div>
                                </div>
                            </div>


                            <div class="text-end">
                                <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i>Sačuvajte</button>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                    <!-- /wizard with validation -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->


    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
{#    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>#}
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>
    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}

{% block footerJavascript %}

    <script>
        $(document).ready(function() {
            $(".role").change(function() {
                if ($(this).val() == "4") {
                    $('.ROLE_EMPLOYEE').removeClass('hide');
                    $('.pozicija').addClass('required');
                } else  {
                    $('.ROLE_EMPLOYEE').addClass('hide');
                    $('.pozicija').removeClass('required');
                }
            });
            $(".vrstaUgovora").change(function() {
                if ($(this).val() == "0") {
                    $('.ugovor1').removeClass('required');
                    $('.ugovor2').removeClass('required');
                    $('label[for="employee_kadrovska_registration_form_pocetakUgovora"]').text(function(index, text) {
                        return text.replace(' *', '');
                    });
                    $('label[for="employee_kadrovska_registration_form_krajUgovora"]').text(function(index, text) {
                        return text.replace(' *', '');
                    });
                } else if ($(this).val() == "6") {
                    $('.ugovor1').removeClass('required');
                    $('.ugovor2').removeClass('required');
                    $('label[for="employee_kadrovska_registration_form_pocetakUgovora"]').text(function(index, text) {
                        return text.replace(' *', '');
                    });
                    $('label[for="employee_kadrovska_registration_form_krajUgovora"]').text(function(index, text) {
                        return text.replace(' *', '');
                    });
                } else if ($(this).val() == "1") {
                    $('.ugovor1').addClass('required');
                    $('.ugovor2').removeClass('required');
                    $('label[for="employee_kadrovska_registration_form_pocetakUgovora"]').text(function(index, text) {
                        if (!text.includes('*')) {
                            return text + ' *';
                        }
                        return text;
                    });
                    $('label[for="employee_kadrovska_registration_form_krajUgovora"]').text(function(index, text) {
                        return text.replace(' *', '');
                    });
                } else {
                    $('.ugovor1').addClass('required');
                    $('.ugovor2').addClass('required');
                    $('label[for="employee_kadrovska_registration_form_pocetakUgovora"]').text(function(index, text) {
                        if (!text.includes('*')) {
                            return text + ' *';
                        }
                        return text;
                    });
                    $('label[for="employee_kadrovska_registration_form_krajUgovora"]').text(function(index, text) {
                        if (!text.includes('*')) {
                            return text + ' *';
                        }
                        return text;
                    });
                }
            });
        });
        // izmenjen format da bi bio po srpskim standardima
        const dpDateCustomFormatElement = document.querySelector('.datepicker-date-format-custom');
        if(dpDateCustomFormatElement) {
            const dpDateCustomFormat = new Datepicker(dpDateCustomFormatElement, {
                container: '.content-inner',
                buttonClass: 'btn',
                prevArrow: document.dir == 'rtl' ? '&rarr;' : '&larr;',
                nextArrow: document.dir == 'rtl' ? '&larr;' : '&rarr;',
                format: 'dd.mm.yyyy',
                todayBtn: true,
                weekStart: 1,
                maxDate: 'today',
                daysOfWeekHighlighted: [0,6],
                language: 'sr-latn',
                // daysOfWeekDisabled: [0]
            });
        }
        // izmenjen format da bi bio po srpskim standardima
        const dpDateCustomFormatElement1 = document.querySelector('.datepicker-date-format-custom1');
        if(dpDateCustomFormatElement1) {
            const dpDateCustomFormat1 = new Datepicker(dpDateCustomFormatElement1, {
                container: '.content-inner',
                buttonClass: 'btn',
                prevArrow: document.dir == 'rtl' ? '&rarr;' : '&larr;',
                nextArrow: document.dir == 'rtl' ? '&larr;' : '&rarr;',
                format: 'dd.mm.yyyy',
                todayBtn: true,
                weekStart: 1,
                minDate: 'today',
                daysOfWeekHighlighted: [0,6],
                language: 'sr-latn',
                // daysOfWeekDisabled: [0]
            });
        }
        const dpDateCustomFormatElement2 = document.querySelector('.datepicker-date-format-custom2');
        if(dpDateCustomFormatElement2) {
            const dpDateCustomFormat2 = new Datepicker(dpDateCustomFormatElement2, {
                container: '.content-inner',
                buttonClass: 'btn',
                prevArrow: document.dir == 'rtl' ? '&rarr;' : '&larr;',
                nextArrow: document.dir == 'rtl' ? '&larr;' : '&rarr;',
                format: 'dd.mm.yyyy',
                todayBtn: true,
                weekStart: 1,
                maxDate: 'today',
                daysOfWeekHighlighted: [0,6],
                language: 'sr-latn',
                // daysOfWeekDisabled: [0]
            });
        }
        const dpDateCustomFormatElement3 = document.querySelector('.datepicker-date-format-custom3');
        if(dpDateCustomFormatElement3) {
            const dpDateCustomFormat3 = new Datepicker(dpDateCustomFormatElement3, {
                container: '.content-inner',
                buttonClass: 'btn',
                prevArrow: document.dir == 'rtl' ? '&rarr;' : '&larr;',
                nextArrow: document.dir == 'rtl' ? '&larr;' : '&rarr;',
                format: 'dd.mm.yyyy',
                todayBtn: true,
                weekStart: 1,
                minDate: 'today',
                daysOfWeekHighlighted: [0,6],
                language: 'sr-latn',
                // daysOfWeekDisabled: [0]
            });
        }

        function checkTrackAndUserTypeValues() {
            var trackValue = $('#employee_kadrovska_registration_form_track').val();
            var userTypeValue = $('#employee_kadrovska_registration_form_userType').val();

            if (userTypeValue == "4") {
                if (trackValue == "1") {
                    $('#employee_kadrovska_registration_form_plainPassword').attr('required', 'required').parent().parent().removeClass('hide');
                    $('.lozinka').addClass('required');
                    $('#employee_kadrovska_registration_form_email').attr('required', 'required').parent().parent().removeClass('hide');
                    $('.email').addClass('required');
                } else {
                    $('#employee_kadrovska_registration_form_plainPassword').removeAttr('required').parent().parent().addClass('hide');
                    $('.lozinka').removeClass('required');
                    $('#employee_kadrovska_registration_form_email').removeAttr('required').parent().parent().addClass('hide');
                    $('.email').removeClass('required');
                }
            } else {
                $('#employee_kadrovska_registration_form_plainPassword').attr('required', 'required').parent().parent().removeClass('hide');
                $('.lozinka').addClass('required');
                $('#employee_kadrovska_registration_form_email').attr('required', 'required').parent().parent().removeClass('hide');
                $('.email').addClass('required');
            }
        }

        // Proveri vrednosti pri učitavanju strane
        checkTrackAndUserTypeValues();

        // Proveri vrednosti pri svakoj promeni
        $('#employee_kadrovska_registration_form_track, #employee_kadrovska_registration_form_userType').change(function() {
            checkTrackAndUserTypeValues();
        });
    </script>

{% endblock footerJavascript %}