{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                               Dozvole gradilišta
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Lista dozvola</h5>
                            <div class="my-auto ms-auto">
                                <a href="{{ path('app_signature_form') }}" class="btn btn-primary"><i class="ph-plus me-2"></i> Dodajte</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card">
                                <table class="table table-bordered table-hover table-responsive table-sm">
                                    <thead class="bg-light text-primary">
                                    <tr>
                                        <th>Zaposleni</th>
                                        <th>Projekat</th>
                                        <th  {% if pagination.isSorted('[c.isApproved]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Status ', ['c.isApproved']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.isApproved' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.isApproved' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        {% if not is_granted('ROLE_EMPLOYEE') %}
                                            <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for signature in pagination %}
                                        <tr>
                                            <td><div class="fw-semibold"><a href="">{{ signature.employee.fullName }}</a></div></td>
                                            <td><div class="fw-semibold"><a href="">{{ signature.relation.title }}</a></div></td>
                                            <td>
                                                {% if signature.isApproved %}
                                                    <span class="badge bg-primary text-white">Potvrđen</span>
                                                {% else %}
                                                    <span class="badge bg-yellow text-primary">Nepotvrđen</span>
                                                {% endif %}
                                            </td>
                                            {% if not is_granted('ROLE_EMPLOYEE') %}
                                                <td class="text-center">
                                                <div class="dropdown">
                                                    <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                        <i class="ph-gear"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="{{ path('app_signature_view', {id:signature.id}) }}" class="dropdown-item"><i class="ph-eye me-2"></i> Vidite</a>
{#                                                        <a href="{{ path('app_signature_approve', {id:signature.id}) }}" class="dropdown-item"><i class="ph-check me-2"></i> Dozvolite</a>#}
                                                        <a href="{{ path('app_signature_delete', {id:signature.id}) }}" class="dropdown-item"><i class="ph-trash me-2"></i> Obrišite</a>
                                                    </div>
                                                </div>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

{% endblock includeJavascript %}
