{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Kalendar
                            </h4>
                        </div>
                    </div>

                    <div class="page-header-content d-lg-flex border-top">
                        <div class="d-flex">
                            <div class="breadcrumb py-2">
                                <a href="{{ path('app_home') }}" class="breadcrumb-item"><i class="ph-house"></i></a>
                                <span class="breadcrumb-item active">Kalendar</span>
                            </div>

                            <a href="#breadcrumb_elements" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        {{ render(controller('App\\Controller\\WidgetController::support' )) }}
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-lg-flex py-lg-0">
                            <h5 class="py-lg-3 mb-0">Lista zahteva</h5>
                            <div class="mt-1 my-lg-auto ms-lg-auto">
                                <a href="{{ path('app_calendar_form') }}" class="btn btn-primary"><i class="ph-plus me-2"></i> Dodajte</a>
                            </div>
                        </div>
                        <table class="table datatable-colvis-state-pars">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Zaposleni</th>
                                <th>Tip</th>
                                <th>Početak</th>
                                <th>Kraj</th>
                                <th>Napomena</th>
                                <th>Status</th>
                                <th class="text-center text-muted" style="width: 30px;"><i class="ph-check"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for calendar in calendars %}
                                <tr>
                                    <td>{{ calendar.id }}</td>
                                    <td>
                                        <div class="fw-semibold">
                                            {% if calendar.user is not empty %}
                                                {% for user in calendar.user %}
                                                    <a href="{{ path('app_user_profile_view', { id: user.id}) }}">{{ user.getFullName() }}</a>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>{% if calendar.type == 1 %}
                                            <span class="badge bg-light border-start border-width-3 text-body rounded-start-0 border-secondary">Slobodan dan</span>
                                        {% elseif calendar.type == 2 %}
                                            <span class="badge bg-light border-start border-width-3 text-body rounded-start-0 border-success">Odmor</span>
                                        {% elseif calendar.type == 3 %}
                                            <span class="badge bg-light border-start border-width-3 text-body rounded-start-0 border-danger">Bolovanje</span>
                                        {% elseif calendar.type == 4 %}
                                            <span class="badge bg-light border-start border-width-3 text-body rounded-start-0 border-warning">Slava</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if calendar.start is not null %}
                                            <div class="d-inline-flex align-items-center">
                                                <i class="ph-calendar me-2"></i>
                                                {{ calendar.start | date("d.m.Y")}}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if calendar.finish is not null %}
                                            <div class="d-inline-flex align-items-center">
                                                <i class="ph-calendar me-2"></i>
                                                {{ calendar.finish | date("d.m.Y")}}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                      {{ calendar.note }}
                                    </td>
                                    <td>
                                        {% if calendar.status == 0 %}
                                            <span class="badge bg-danger">Obrisan</span>
                                        {% elseif calendar.status == 1 %}
                                            <span class="badge bg-info">Na čekanju</span>
                                        {% elseif calendar.status == 2 %}
                                            <span class="badge bg-success">Odobren</span>
                                        {% elseif calendar.status == 3 %}
                                            <span class="badge bg-warning">Odbijen</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                <i class="ph-gear"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a href="{{ path('app_calendar_view', {id: calendar.id}) }}" class="dropdown-item">
                                                    <i class="ph-eye me-2"></i>
                                                    Vidite
                                                </a>
                                                {% if app.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_ADMIN') or app.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_SUPER_ADMIN') or app.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_MANAGER') %}
                                                    <a href="{{ path('app_calendar_allow', {id: calendar.id}) }}" class="dropdown-item">
                                                        <i class="ph-check me-2"></i>
                                                        Dozvolite
                                                    </a>
                                                    <a href="{{ path('app_calendar_decline', {id: calendar.id}) }}" class="dropdown-item">
                                                        <i class="ph-minus me-2"></i>
                                                        Odbijte
                                                    </a>
                                                {% endif %}
                                                <a href="{{ path('app_calendar_delete', {id: calendar.id}) }}" class="dropdown-item">
                                                    <i class="ph-trash me-2"></i>
                                                    Obrišite
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

{% endblock includeJavascript %}
