{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Dostupni zaposleni
                            </h4>
                        </div>
                    </div>

                    <div class="page-header-content d-lg-flex border-top">
                        <div class="d-flex">
                            <div class="breadcrumb py-2">
                                <a href="{{ path('app_home') }}" class="breadcrumb-item"><i class="ph-house"></i></a>
                                <span class="breadcrumb-item active">Dostupnost</span>
                            </div>

                            <a href="#breadcrumb_elements" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        {{ render(controller('App\\Controller\\WidgetController::support' )) }}
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-lg-flex py-lg-0">
                            <h5 class="py-lg-3 mb-0">Lista dostupnih zaposlenih - {{ "now"|date("d.m.Y") }}</h5>
                        </div>
                        <table class="table datatable-colvis-state-pars">
                            <thead>
                            <tr>
                                <th>Zaposleni</th>
                                <th>Na zadatku</th>
{#                                <th>Datum</th>#}
                                <th class="text-center text-muted" style="width: 30px;"><i class="ph-check"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in dostupni %}
                                <tr>
                                    <td>
                                        <div class="fw-semibold">
                                            <a href="{{ path('app_user_profile_view', { id: user.id}) }}">{{ user.name }}</a>
                                        </div>
                                    </td>
                                    <td>
                                        {% if user.task == 1 %}
                                            <span class="live"></span>
                                        {% endif %}
                                    </td>
{#                                    <td>#}
{#      #}
{#                                    </td>#}
{#                                    <td>{% if user.type == 1 %}#}
{#                                            <span class="badge bg-light border-start border-width-3 text-body rounded-start-0 border-danger">Nedostupan</span>#}
{#                                        {% elseif user.type == 2 %}#}
{#                                            <span class="badge bg-light border-start border-width-3 text-body rounded-start-0 border-warning">Izašao ranije</span>#}
{#                                        {% endif %}</td>#}
                                    <td class="text-center">
                                        {% if user.task == 0 %}
                                            <div class="dropdown">
                                                <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                    <i class="ph-gear"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="{{ path('app_availability_remove', {id: user.id}) }}" class="dropdown-item">
                                                        <i class="ph-x me-2"></i>
                                                        Nedostupan
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>


{% endblock includeJavascript %}
