{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Kalendar
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Lista zahteva</h5>
                            <div class="my-auto ms-auto">
                                <a href="{{ path('app_calendar_form') }}" class="btn btn-primary"><i class="ph-plus me-2"></i> Dodajte</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive card">
                                <table class="table table-bordered table-hover table-responsive table_morecondensed">
                                    <thead class="bg-light text-primary">
                                    <tr>
                                        <th>Zaposleni</th>
                                        <th>Tip</th>
                                        <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for calendar in pagination %}
                                        <tr>
                                            <td>
                                                <div class="fw-semibold">
                                                    {% if calendar.user is not empty %}
                                                        {% for user in calendar.user %}
                                                            <a href="{{ path('app_employee_profile_view', { id: user.id}) }}">{{ user.getFullName() }}</a>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td>
                                                {% if calendar.type == 1 %}
                                                    <span class="badge bg-secondary text-primary">Slobodan dan</span>
                                                {% elseif calendar.type == 2 %}
                                                    <span class="badge bg-yellow text-primary">Odmor</span>
                                                {% elseif calendar.type == 3 %}
                                                    <span class="badge bg-purple text-white">Bolovanje</span>
                                                {% elseif calendar.type == 4 %}
                                                    <span class="badge bg-primary text-white">Slava</span>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <a type="button" class="text-body collapsed" data-bs-toggle="collapse" data-bs-target="#collapsed_item{{ calendar.id }}" aria-expanded="false"><i class="ph-caret-down collapsible-indicator"></i></a>
                                            </td>
                                        </tr>
                                        <tr id="collapsed_item{{ calendar.id }}" class="accordion-collapse collapse bg-light" data-bs-parent="#accordion_collapsed" style="">
                                            <td>
                                                {% if calendar.start is not null %}
                                                    <div class="d-inline-flex align-items-center">
                                                        <i class="ph-calendar me-2"></i>
                                                        {{ calendar.start | date("d.m.Y")}}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if calendar.finish is not null %}
                                                    <div class="d-inline-flex align-items-center">
                                                        <i class="ph-calendar me-2"></i>
                                                        {{ calendar.finish | date("d.m.Y")}}
                                                    </div>
                                                {% endif %}
                                            </td>

                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                        <i class="ph-gear"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="{{ path('app_calendar_view', {id: calendar.id}) }}" class="dropdown-item">
                                                            <i class="ph-eye me-2"></i>
                                                            Vidite
                                                        </a>
                                                        {% if calendar.start | date("Y-m-d") >= "now" | date("Y-m-d") %}
                                                            {% if app.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_ADMIN') or app.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_SUPER_ADMIN') or app.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_MANAGER') %}
                                                                {% if calendar.status != 2  %}
                                                                    <a href="{{ path('app_calendar_allow', {id: calendar.id}) }}" class="dropdown-item">
                                                                        <i class="ph-check me-2"></i>
                                                                        Dozvolite
                                                                    </a>
                                                                {% endif %}
                                                                {% if calendar.status != 3  %}
                                                                    <a href="{{ path('app_calendar_decline', {id: calendar.id}) }}" class="dropdown-item">
                                                                        <i class="ph-minus me-2"></i>
                                                                        Odbijte
                                                                    </a>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if calendar.status != 0 %}
                                                                <a href="{{ path('app_calendar_delete', {id: calendar.id}) }}" class="dropdown-item">
                                                                    <i class="ph-trash me-2"></i>
                                                                    Obrišite
                                                                </a>
                                                            {% endif  %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {# {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }} #}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

{% endblock includeJavascript %}
