{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Kalendar
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-lg-flex py-lg-0">
                            <h5 class="py-lg-3 mb-0">Lista zahteva</h5>
                            <div class="mt-1 my-lg-auto ms-lg-auto">
                                <a href="{{ path('app_calendar_form') }}" class="btn btn-primary"><i class="ph-plus me-2"></i> Dodajte</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive ">
                                <table class="table table-bordered table-hover table-responsive">
                                    <thead>
                                    <tr>
                                        <th {% if pagination.isSorted('[c.id]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, '# ID ', ['c.id']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.id' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.id' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th>Zaposleni</th>
                                        <th  {% if pagination.isSorted('[c.type]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Tip ', ['c.type']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.type' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.type' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th>Početak</th>
                                        <th>Kraj</th>
                                        <th>Napomena</th>
                                        <th {% if pagination.isSorted('[c.status]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Status ', ['c.status']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.status' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.status' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th class="text-center text-muted" style="width: 30px;"><i class="ph-check"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for calendar in pagination %}
                                        <tr>
                                            <td>{{ calendar.id }}</td>
                                            <td>
                                                <div class="fw-semibold">
                                                    {% if calendar.user is not empty %}
                                                        {% for user in calendar.user %}
                                                            <a href="{{ path('app_user_profile_view', { id: user.id}) }}">{{ user.getFullName() }}</a>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td>
                                                {% if calendar.type == 1 %}
                                                    <span class="badge bg-secondary text-primary">Slobodan dan</span>
                                                {% elseif calendar.type == 2 %}
                                                    <span class="badge bg-yellow text-primary">Odmor</span>
                                                {% elseif calendar.type == 3 %}
                                                    <span class="badge bg-purple text-white">Bolovanje</span>
                                                {% elseif calendar.type == 4 %}
                                                    <span class="badge bg-primary text-secondary">Slava</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if calendar.start is not null %}
                                                    <div class="d-inline-flex align-items-center">
                                                        <i class="ph-calendar me-2"></i>
                                                        {{ calendar.start | date("d.m.Y")}}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if calendar.finish is not null %}
                                                    <div class="d-inline-flex align-items-center">
                                                        <i class="ph-calendar me-2"></i>
                                                        {{ calendar.finish | date("d.m.Y")}}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ calendar.note }}
                                            </td>
                                            <td>
                                                {% if calendar.status == 0 %}
                                                    <span class="badge bg-danger text-white">Obrisan</span>
                                                {% elseif calendar.status == 1 %}
                                                    <span class="badge bg-secondary text-primary">Na čekanju</span>
                                                {% elseif calendar.status == 2 %}
                                                    <span class="badge bg-primary text-secondary">Odobren</span>
                                                {% elseif calendar.status == 3 %}
                                                    <span class="badge bg-yellow text-primary">Odbijen</span>
                                                {% endif %}
                                            </td>

                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                        <i class="ph-gear"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="{{ path('app_calendar_view', {id: calendar.id}) }}" class="dropdown-item">
                                                            <i class="ph-eye me-2"></i>
                                                            Vidite
                                                        </a>
                                                        {% if app.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_ADMIN') or app.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_SUPER_ADMIN') or app.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_MANAGER') %}
                                                            {% if calendar.status != 2  %}
                                                                <a href="{{ path('app_calendar_allow', {id: calendar.id}) }}" class="dropdown-item">
                                                                    <i class="ph-check me-2"></i>
                                                                    Dozvolite
                                                                </a>
                                                            {% endif %}
                                                            {% if calendar.status != 3  %}
                                                                <a href="{{ path('app_calendar_decline', {id: calendar.id}) }}" class="dropdown-item">
                                                                    <i class="ph-minus me-2"></i>
                                                                    Odbijte
                                                                </a>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if calendar.status != 0 %}
                                                            <a href="{{ path('app_calendar_delete', {id: calendar.id}) }}" class="dropdown-item">
                                                                <i class="ph-trash me-2"></i>
                                                                Obrišite
                                                            </a>
                                                        {% endif  %}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

{% endblock includeJavascript %}
