{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Interni zadaci
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Arhiva zadataka</h5>
                        </div>
                        <div class="card-body">
                            <div class="card">
                                <table class="table table-bordered table-hover table-responsive table_morecondensed">
                                    <thead class="bg-light test-primary">
                                    <tr>

                                        <th>Zaposleni</th>
                                        <th>Završen</th>
                                        <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in pagination %}
                                        <tr>
                                            <td>
                                                <div class="fw-semibold">
                                                    {{ task.user.getFullName() }}
                                                </div>
                                            </td>
                                            <td>
                                                {% if task.finish is not null %}
                                                    <div class="d-inline-flex align-items-center">
                                                        <i class="ph-calendar me-2"></i>
                                                        {{ task.finish | date("d.m.Y")}}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <a type="button" class="text-body collapsed" data-bs-toggle="collapse" data-bs-target="#collapsed_item{{ task.id }}" aria-expanded="false"><i class="ph-caret-down collapsible-indicator"></i></a>
                                            </td>
                                        </tr>
                                        <tr id="collapsed_item{{ task.id }}" class="accordion-collapse collapse bg-light" data-bs-parent="#accordion_collapsed" style="">
                                            <td>
                                                {% if task.datumKreiranja is not null %}
                                                    <div class="d-inline-flex align-items-center">
                                                        <i class="ph-calendar me-2"></i>
                                                        {{ task.datumKreiranja | date("d.m.Y")}} {% if task.repeating == 1 %} <i class="ph-arrows-clockwise mx-2" data-bs-popup="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Zadatak se ponavlja"></i> {% endif %}
                                                    </div>
                                                {% endif %}
                                            </td>

                                            <td>
                                                {% if task.editBy is not null %}
                                                    Završio: {{ task.editBy.getNameWithFirstLetter }}
                                                {% endif %}
                                            </td>

                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                        <i class="ph-gear"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="{{ path('app_checklist_view', {id: task.id}) }}" class="dropdown-item">
                                                            <i class="ph-eye me-2"></i>
                                                            Vidite
                                                        </a>
                                                        {% if task.status == constant('App\\Classes\\Data\\InternTaskStatusData::ZAVRSENO') %}
                                                            <a href="{{ path('app_checklist_replay', {id: task.id}) }}" class="dropdown-item">
                                                                <i class="ph-arrows-counter-clockwise me-2"></i>
                                                                Ponovite
                                                            </a>
                                                        {% endif %}
                                                        {% if task.repeating == 1 %}
                                                            <a href="{{ path('app_checklist_turn_off_repeating', {id: task.id}) }}" class="dropdown-item">
                                                                <i class="ph-warning-circle me-2"></i>
                                                                Isključite ponavljanje
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

{% endblock includeJavascript %}
