{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">


                <!-- Content area -->
                <div class="content">
                    {% if  countTasksUnclosed > 0%}
                        <div class="alert alert-danger alert-dismissible fade show">
                            <span class="fw-semibold">Važno!</span> Imate <a href="{{ path('app_tasks_unclosed_logs') }}" class="alert-link">nezatvoren dnevnik</a> u predhodnih 7 dana. Morate prvo njega zatvoriti da bi pokrenuli današnje.
                        </div>
                    {% endif %}

                    {% if car or tool %}
                        <div class="my-auto ms-auto py-lg-2">
                            <a href="{{ path('app_car_tools_details_view') }}" class="btn btn-primary"><i class="ph-squares-four me-2"></i> Zaduživanje</a>
                        </div>
                    {% endif %}

{#                    <div class="alert alert-secondary alert-dismissible fade show">#}
{#                        <span class="fw-semibold">Uputstvo je ažurirano 13.09.2023.</span> Preuzmite i pogledajte šta je <a href="{{ asset('/assets/manual/manual.pdf') }}" class="alert-link" download>novo</a> dodato.#}
{#                    </div>#}

{#                    {% if checklistActive is not empty %}#}
{#                        <div class="row ">#}
{#                            <div class="col-xl-12">#}
{#                                <div class="card">#}
{#                                    <div class="card-header d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#collapsed_item1" aria-expanded="false" type="button">#}
{#                                        <h5 class="mb-0">Interni zadaci</h5>#}
{#                                        <div class="d-inline-flex ms-auto">#}
{#                                            <span class="badge bg-yellow text-primary rounded-pill fw-semibold">{{ countChecklistActive }}</span>#}
{#                                        </div>#}
{#                                    </div>#}

{#                                    <div id="collapsed_item1" class="accordion-collapse collapse" data-bs-parent="#accordion_collapsed" style="">#}
{#                                        <div class="table-responsive card">#}
{#                                            <table class="table table-hover table-bordered table-sm">#}
{#                                                <tbody>#}
{#                                                <tr class="table-light fw-semibold">#}
{#                                                    <td colspan="4">Aktivni</td>#}
{#                                                </tr>#}
{#                                                {% for task in checklistActive | slice (0,5) %}#}
{#                                                    <tr>#}
{#                                                        <td>#}
{#                                                            <div class="d-inline-flex align-items-center">#}
{#                                                                <i class="ph-calendar me-2"></i>#}
{#                                                                {{ task.created | date("d.m.Y")}}#}
{#                                                            </div>#}
{#                                                        </td>#}
{#                                                        <td>#}
{#                                                            <a href="{{ path('app_checklist_view', {id: task.id}) }}" class="text-body">#}
{#                                                                {{ task.task | slice(0, 100) ~ (task.task | length > 100 ? '...' : '') }}#}
{#                                                            </a>#}
{#                                                        </td>#}
{#                                                        <td class="text-center">#}
{#                                                            {% if task.priority == 1 %}#}
{#                                                                <span class="badge bg-danger bg-opacity-20 text-danger">Veoma visok</span>#}
{#                                                            {% elseif task.priority == 2 %}#}
{#                                                                <span class="badge bg-warning bg-opacity-20 text-warning">Visok</span>#}
{#                                                            {% elseif task.priority == 4 %}#}
{#                                                                <span class="badge bg-info bg-opacity-20 text-info">Nizak</span>#}
{#                                                            {% elseif task.priority == 5 %}#}
{#                                                                <span class="badge bg-secondary bg-opacity-20 text-secondary">Veoma nizak</span>#}
{#                                                            {% else %}#}
{#                                                                <span class="badge bg-primary bg-opacity-50 text-white">Normalan</span>#}
{#                                                            {% endif %}#}
{#                                                        </td>#}
{#                                                        <td class="text-center">#}
{#                                                            {% if task.status == 0 %}#}
{#                                                                <a href="{{ path('app_checklist_finish', {id: task.id}) }}" class="btn btn-primary">#}
{#                                                                    <i class="ph-check me-2"></i>Završite#}
{#                                                                </a>#}
{#                                                            {% endif %}#}
{#                                                        </td>#}
{#                                                    </tr>#}
{#                                                {% endfor %}#}
{#                                                <tr class="table-light fw-semibold">#}
{#                                                    <td colspan="3"></td>#}
{#                                                    <td class="text-center">#}
{#                                                        <div class="d-inline-flex mb-0">#}
{#                                                            <a href="{{ path('app_checklist_to_do') }}" class="btn-sm btn-primary"> Vidi sve</a>#}
{#                                                        </div>#}
{#                                                    </td>#}
{#                                                </tr>#}

{#                                                </tbody>#}
{#                                            </table>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}


                    {% if settings.isWidgete %}
                        <div class="row">
                            <div class="col-sm-6 col-xl-4">

                                <!-- Basic sparklines -->
                                <div class="card">
                                    <div class="card-body bg-secondary">
                                        <div class="d-flex align-items-center">
                                            <i class="ph-folders ph-2x text-primary me-3"></i>

                                            <div class="flex-fill text-end">
                                                <h4 class="mb-0"></h4>
                                                <span class="fw-semibold">Projekti</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-around text-center p-0">
                                        <a href="{{ path('app_projects') }}" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Lista" data-bs-original-title="Lista">
                                            <i class="ph-list"></i>
                                        </a>
{#                                        <a href="#" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Twitter" data-bs-original-title="Twitter">#}
{#                                            <i class="ph-twitter-logo"></i>#}
{#                                        </a>#}
{#                                        <a href="#" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Github" data-bs-original-title="Github">#}
{#                                            <i class="ph-github-logo"></i>#}
{#                                        </a>#}
{#                                        <a href="#" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Dribbble" data-bs-original-title="Dribbble">#}
{#                                            <i class="ph-dribbble-logo"></i>#}
{#                                        </a>#}
                                    </div>
                                </div>
                                <!-- /basic sparklines -->

                            </div>
                            <div class="col-sm-6 col-xl-4">

                                <!-- Basic sparklines -->
                                <div class="card">
                                    <div class="card-body bg-secondary">
                                        <div class="d-flex align-items-center">
                                            <i class="ph-list-bullets ph-2x text-primary me-3"></i>

                                            <div class="flex-fill text-end">
                                                <h4 class="mb-0">{{ countTasksActiveByUser }}</h4>
                                                <span class="fw-semibold">Zadaci</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-around text-center p-0">
                                        <a href="{{ path('app_task_form_date') }}" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Kreirajte" data-bs-original-title="Kreirajte">
                                            <i class="ph-plus"></i>
                                        </a>
                                        <a href="{{ path('app_tasks') }}" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Lista" data-bs-original-title="Lista">
                                            <i class="ph-list"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- /basic sparklines -->

                            </div>
                            <div class="col-sm-6 col-xl-4">

                                <!-- Basic sparklines -->
                                <div class="card">
                                    <div class="card-body bg-secondary">
                                        <div class="d-flex align-items-center">
                                            <i class="ph-list ph-2x text-primary me-3"></i>

                                            <div class="flex-fill text-end">
                                                <h4 class="mb-0">{{ checklistActive }}</h4>
                                                <span class="fw-semibold">Interni zadaci</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-around text-center p-0">
                                        <a href="{{ path('app_checklist_form') }}" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Kreirajte" data-bs-original-title="Kreirajte">
                                            <i class="ph-plus"></i>
                                        </a>
                                        <a href="{{ path('app_checklist_to_do') }}" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Lista" data-bs-original-title="Lista">
                                            <i class="ph-list"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- /basic sparklines -->
                            </div>
                        </div>
                        <div class="row">
                            {% if calendar %}
                                <div class="col-sm-6 col-xl-4">

                                    <!-- Basic sparklines -->
                                    <div class="card">
                                        <div class="card-body bg-secondary bg-opacity-25">
                                            <div class="d-flex align-items-center">
                                                <i class="ph-calendar ph-2x text-primary me-3"></i>

                                                <div class="flex-fill text-end">
                                                    <h4 class="mb-0"></h4>
                                                    <span class="fw-semibold">Kalendar</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-around text-center p-0">
                                            <a href="{{ path('app_employee_calendar_view', {id:user.id}) }}" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Kalendar" data-bs-original-title="Kalendar">
                                                <i class="ph-calendar"></i>
                                            </a>
                                            <a href="{{ path('app_overtime_employee_form') }}" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Prekovremeni sati" data-bs-original-title="Prekovremeni sati">
                                                <i class="ph-hourglass-simple-high"></i>
                                            </a>
                                            {#                                        <a href="#" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Github" data-bs-original-title="Github">#}
                                            {#                                            <i class="ph-github-logo"></i>#}
                                            {#                                        </a>#}
                                            {#                                        <a href="#" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Dribbble" data-bs-original-title="Dribbble">#}
                                            {#                                            <i class="ph-dribbble-logo"></i>#}
                                            {#                                        </a>#}
                                        </div>
                                    </div>
                                    <!-- /basic sparklines -->

                                </div>
                            {% endif %}
                            {% if car %}
                                <div class="col-sm-6 col-xl-4">

                                    <!-- Basic sparklines -->
                                    <div class="card">
                                        <div class="card-body bg-secondary bg-opacity-25">
                                            <div class="d-flex align-items-center">
                                                <i class="ph-car ph-2x text-primary me-3"></i>

                                                <div class="flex-fill text-end">
                                                    <h4 class="mb-0">
                                                        {% if lastReservation is not null %}
                                                            {{ lastReservation.car.carName }}
                                                        {% endif %}
                                                    </h4>
                                                    <span class="fw-semibold">Vozila</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-around text-center p-0">
                                            <a href="{{ path('app_employee_car_view', {id:user.id}) }}" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Vozila" data-bs-original-title="Vozila">
                                                <i class="ph-car"></i>
                                            </a>
                                            {% if user.car is not null %}
                                                <a href="{{ path('app_car_employee_reservation_stop', {id:lastReservation.id}) }}" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Razdužite" data-bs-original-title="Razdužite">
                                                    <i class="ph-car"></i>
                                                </a>
                                                <a href="{{ path('app_car_employee_expense_form', {id:user.car}) }}" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Trošak" data-bs-original-title="Trošak">
                                                    <i class="ph-money"></i>
                                                </a>
                                                <a href="{{ path('app_car_image_form', {id:lastReservation.id}) }}" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Slike" data-bs-original-title="Slike">
                                                    <i class="ph-image"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- /basic sparklines -->

                                </div>
                            {% endif %}
                            {% if tool %}
                                <div class="col-sm-6 col-xl-4">

                                    <!-- Basic sparklines -->
                                    <div class="card">
                                        <div class="card-body bg-secondary bg-opacity-25">
                                            <div class="d-flex align-items-center">
                                                <i class="ph-wrench ph-2x text-primary me-3"></i>

                                                <div class="flex-fill text-end">
                                                    <h4 class="mb-0">{{ noTools }}</h4>
                                                    <span class="fw-semibold">Oprema</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-around text-center p-0">
                                            <a href="{{ path('app_employee_tools_view', {id:user.id}) }}" class="text-body flex-fill p-2" data-bs-popup="tooltip" aria-label="Oprema" data-bs-original-title="Oprema">
                                                <i class="ph-wrench"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /basic sparklines -->

                                </div>
                            {% endif %}
                        </div>
                    {% endif %}


                    {% if settings.isPlanToday %}
                        <div class="row ">
                            <div class="col-xl-12">

                                <!-- Marketing campaigns -->
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h5 class="mb-0">Zadaci kreirani za {{ danas | date('d.m.Y') }}</h5>
                                        {#                                    <div class="my-auto ms-auto">#}
                                        {#                                        <a href="{{ path('app_car_tools_details_view') }}" class="btn btn-primary"><i class="ph-gear me-2"></i> Zaduživanje</a>#}
                                        {#                                    </div>#}
                                    </div>
                                    <div class="table-responsive card">
                                        <table class="table table-hover table-bordered table-sm">
                                            <thead class="bg-light">
                                            <tr class="table-light">
                                                {% if car %}
                                                    <th colspan="5">Lista zadataka za danas</th>
                                                {% else %}
                                                    <th colspan="4">Lista zadataka za danas</th>
                                                {% endif %}

{#                                                <th class="text-center">#}
{#                                                    <span class="badge bg-yellow rounded-pill">{{ countLogs }}</span>#}
{#                                                </th>#}
                                            </tr>
                                            <tr>

                                                <th>Projekat</th>
                                                <th>Kolege</th>
                                                {% if car %}
                                                    <th>Vozilo</th>
                                                {% endif %}
                                                <th>Vreme</th>
                                                <th class="text-center" style="width: 20px;">
                                                    <i class="ph-dots-three"></i>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% if logs is not empty %}
                                                {% for log in logs  %}
                                                    {% if log[3] == 1 %}
                                                        <tr>
                                                    {% endif %}
                                                    {% if log[3] == 0 %}
                                                        <tr>
                                                    {% endif %}
                                                    {% if log[3] == 2 %}
                                                        <tr class="bg-secondary">
                                                    {% endif %}

                                                    <td>
                                                        <div class="fw-semibold">
                                                            <div class="btn-group">
                                                                <a href="#" class="d-inline-flex align-items-center ">
                                                                    <a href="{{ path('app_project_tasks_view', { id: log[0].task.project.id }) }}">{{ log[0].task.project.title }}</a>
                                                                    {% if log[3] == 0 %}<div class="live p-1 mx-2"></div>{% endif %}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {% for user in log[0].task.assignedUsers %}
                                                            <div class="fw-semibold">{{ user.fullName }}</div>
                                                        {% endfor %}
                                                    </td>
                                                    {% if car %}

                                                        <td>
                                                            {% if log[1] is not null %}
                                                                <div class="fw-semibold">
                                                                    {{ log[1].plate }}
                                                                </div>
                                                            {% endif %}
                                                        </td>
                                                    {% endif %}
                                                    <td>
                                                        {% if log[0].task.time is not null %}
                                                            <div class="fw-semibold">
                                                                {% if log[0].task.time|date('H:i') != '00:00' %}
                                                                    {{ log[0].task.time|date('H:i') }}
                                                                {% else %}
                                                                    Vreme nije zadato
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    </td>

                                                    <td>
                                                        <a href="{{ path('app_task_view_user', { id: log[0].task.id}) }}" class="btn btn-primary"><i class="ph-clipboard me-2"></i> Dnevnik</a>
                                                    </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /marketing campaigns -->
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xl-12">

                                <!-- Marketing campaigns -->
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h5 class="mb-0">Interni zadaci kreirani za {{ danas | date('d.m.Y') }}</h5>
                                        {#                                    <div class="my-auto ms-auto">#}
                                        {#                                        <a href="{{ path('app_car_tools_details_view') }}" class="btn btn-primary"><i class="ph-gear me-2"></i> Zaduživanje</a>#}
                                        {#                                    </div>#}
                                    </div>
                                    <div class="table-responsive card">
                                        <table class="table table-hover table-bordered table-sm">
                                            <thead class="bg-light">
                                            <tr class="table-light">
                                                    <th colspan="5">Lista internih zadataka za danas</th>
{#                                                <th class="text-center">#}
{#                                                    <span class="badge bg-yellow rounded-pill">{{ countLogs }}</span>#}
{#                                                </th>#}
                                            </tr>
                                            <tr>

                                                <th>Projekat</th>
                                                <th>Kategorija</th>
                                                <th>Zaposleni</th>
                                                <th>Opis</th>
                                                <th class="text-center" style="width: 20px;">
                                                    <i class="ph-dots-three"></i>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if checklistToday is not empty %}
                                                {% for task in checklistToday %}
                                                    {% if task.project is not null %}
                                                            {% if task.status == constant('App\\Classes\\Data\\InternTaskStatusData::NIJE_ZAPOCETO') %}
                                                                <tr>
                                                            {% endif %}
                                                            {% if task.status == constant('App\\Classes\\Data\\InternTaskStatusData::ZAPOCETO') %}
                                                                <tr>
                                                            {% endif %}
                                                            {% if task.status == constant('App\\Classes\\Data\\InternTaskStatusData::ZAVRSENO') %}
                                                                <tr class="bg-secondary">
                                                            {% endif %}
                                                                <td>
                                                                    <div class="fw-semibold">
                                                                        <a href="{{ path('app_project_tasks_view', { id: task.project.id }) }}">{{ task.project.title }}</a>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fw-semibold">
                                                                        {{ task.category.title }}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fw-semibold">
                                                                        <div class="btn-group">
                                                                            <a href="{{ path('app_employee_checklist_view', { id: task.user.id }) }}" class="d-inline-flex align-items-center ">
                                                                                {{ task.user.fullName }}
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="text-body">
                                                                        {{ task.task }}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="text-body">
                                                                        <a href="{{ path('app_checklist_view', {id:task.id}) }}" class="btn btn-primary"><i class="ph-clipboard me-2"></i> Dnevnik</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="5">
                                                        <div class="fw-semibold">
                                                            Nema kreiranih zadataka za danas
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /marketing campaigns -->
                            </div>
                        </div>
                    {% endif %}

{#                    <div class="row ">#}
{#                        <div class="col-xl-12">#}
{#                            <!-- Marketing campaigns -->#}
{#                            <div class="card">#}

{#                            <div class="card-header d-flex align-items-center">#}
{#                            <h5 class="mb-0">Raspored za {{ danas | date('d.m.Y') }}</h5>#}
{#                                </div>#}
{#                                <div class="table-responsive card">#}
{#                                    <table class="table table-hover table-bordered table-sm">#}
{#                                        <thead class="bg-light">#}
{#                                        <tr class="table-light">#}
{#                                            <th colspan="6">Raspored</th>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <th>Projekat</th>#}
{#                                            <th>Zaposleni</th>#}
{#                                            <th>Oprema</th>#}
{#                                            <th>Vozilo</th>#}
{#                                            <th>Vreme</th>#}
{#                                            <th>Napomena</th>#}
{#                                        </tr>#}
{#                                        </thead>#}
{#                                        <tbody>#}

{#                                        {% if timetable is not empty %}#}
{#                                            {% for task in timetable %}#}
{#                                                {% if task.task.project is not null %}#}
{#                                                    {% for user in task.task.assignedUsers %}#}
{#                                                        {% if app.user.id == user.id %}#}
{#                                                            <tr class="table-active">#}
{#                                                        {% else %}#}
{#                                                            <tr>#}
{#                                                        {% endif %}#}
{#                                                    {% endfor %}#}
{#                                                {% if app.user in task.task.assignedUsers %}#}
{#                                                    <tr class="table-active">#}
{#                                                {% else %}#}
{#                                                    <tr>#}
{#                                                {% endif %}#}
{#                                                    <td>#}
{#                                                        <div class="fw-semibold">#}
{#                                                            {{ task.task.project.title }}#}
{#                                                        </div>#}
{#                                                    </td>#}
{#                                                    <td>#}
{#                                                        <div class="fw-semibold">#}
{#                                                            {% for user in task.task.assignedUsers %}#}
{#                                                                {{ user.fullName }} <br>#}
{#                                                            {% endfor %}#}
{#                                                        </div>#}
{#                                                    </td>#}
{#                                                    <td>#}
{#                                                        <div class="fw-semibold">#}
{#                                                            {% for opt in task.task.oprema %}#}
{#                                                                {{ opt.title }} <br>#}
{#                                                            {% endfor %}#}
{#                                                        </div>#}
{#                                                    </td>#}
{#                                                    <td>#}
{#                                                        {% if task.car is not empty %}#}
{#                                                            <div class="fw-semibold">#}
{#                                                                {{ task.car[0].plate }}#}
{#                                                            </div>#}
{#                                                        {% endif %}#}
{#                                                    </td>#}
{#                                                    <td>#}
{#                                                        {% if task.task.time is not null %}#}
{#                                                            <div class="fw-semibold">#}
{#                                                                {% if task.task.time|date('H:i') != '00:00' %}#}
{#                                                                    {{ task.task.time|date('H:i') }}#}
{#                                                                {% else %}#}
{#                                                                    Vreme nije zadato#}
{#                                                                {% endif %}#}
{#                                                            </div>#}
{#                                                        {% endif %}#}
{#                                                    </td>#}
{#                                                    <td>#}
{#                                                        <div class="text-body">#}
{#                                                            {{ task.task.description }}#}
{#                                                        </div>#}
{#                                                    </td>#}
{#                                                    </tr>#}
{#                                                {% endif %}#}
{#                                            {% endfor %}#}
{#                                        {% endif %}#}
{#                                        </tbody>#}
{#                                    </table>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- /marketing campaigns -->#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="row ">#}
{#                        <div class="col-xl-12">#}
{#                            <!-- Marketing campaigns -->#}
{#                            <div class="card">#}

{#                            <div class="card-header d-flex align-items-center">#}
{#                            <h5 class="mb-0">Raspored za {{ sutra | date('d.m.Y') }}</h5>#}
{#                                </div>#}
{#                                <div class="table-responsive card">#}
{#                                    <table class="table table-hover table-bordered table-sm">#}
{#                                        <thead class="bg-light">#}
{#                                        <tr class="table-light">#}
{#                                            <th colspan="6">Raspored</th>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <th>Projekat</th>#}
{#                                            <th>Zaposleni</th>#}
{#                                            <th>Oprema</th>#}
{#                                            <th>Vozilo</th>#}
{#                                            <th>Vreme</th>#}
{#                                            <th>Napomena</th>#}
{#                                        </tr>#}
{#                                        </thead>#}
{#                                        <tbody>#}
{#                                        {% if tomorrowTimetable is not empty %}#}
{#                                            {% for task in tomorrowTimetable %}#}
{#                                                {% if task.task.project is not null %}#}
{#                                                    <tr>#}
{#                                                        <td>#}
{#                                                            <div class="fw-semibold">#}
{#                                                                {{ task.task.project.title }}#}
{#                                                            </div>#}
{#                                                        </td>#}
{#                                                        <td>#}
{#                                                            <div class="fw-semibold">#}
{#                                                                {% for user in task.task.assignedUsers %}#}
{#                                                                    {{ user.fullName }} <br>#}
{#                                                                {% endfor %}#}
{#                                                            </div>#}
{#                                                        </td>#}
{#                                                        <td>#}
{#                                                            <div class="fw-semibold">#}
{#                                                                {% for opr in task['oprema'] %}#}
{#                                                                    {{ opr.title }} <br>#}
{#                                                                {% endfor %}#}
{#                                                            </div>#}
{#                                                        </td>#}
{#                                                        <td>#}
{#                                                            {% if task.vozilo is not null %}#}
{#                                                                <div class="fw-semibold">#}
{#                                                                    {{ task.vozilo.plate }}#}
{#                                                                </div>#}
{#                                                            {% endif %}#}
{#                                                        </td>#}
{#                                                        <td>#}
{#                                                            {% if task.task.time is not null %}#}
{#                                                                <div class="fw-semibold">#}
{#                                                                    {% if task.task.time|date('H:i') != '00:00' %}#}
{#                                                                        {{ task.task.time|date('H:i') }}#}
{#                                                                    {% else %}#}
{#                                                                        Vreme nije zadato#}
{#                                                                    {% endif %}#}
{#                                                                </div>#}
{#                                                            {% endif %}#}
{#                                                        </td>#}
{#                                                        <td>#}
{#                                                            <div class="text-body">#}
{#                                                                {{ task.task.description }}#}
{#                                                            </div>#}
{#                                                        </td>#}
{#                                                    </tr>#}
{#                                                {% endif %}#}
{#                                            {% endfor %}#}
{#                                        {% endif %}#}
{#                                        </tbody>#}
{#                                    </table>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- /marketing campaigns -->#}
{#                        </div>#}
{#                    </div>#}

                </div>
                <!-- /content area -->


                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->
        {# {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }} #}
    </div>
    {% include 'includes/notification.html.twig' %}

{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}
    <script src="{{ asset('assets/demo/pages/dashboard.js') }}"></script>
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/streamgraph.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/sparklines.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/lines.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/areas.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/donuts.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/bars.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/progress.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/heatmaps.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/pies.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/bullets.js') }}"></script>#}
{% endblock includeJavascript %}