{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">


                <!-- Content area -->
                <div class="content">
                    {% if  countTasksUnclosedByUser > 0%}
                        <div class="alert alert-danger alert-dismissible fade show">
                            <span class="fw-semibold">Važno!</span> Imate <a href="{{ path('app_tasks_unclosed_logs') }}" class="alert-link">nezatvoren dnevnik</a> u predhodnih 7 dana. Morate prvo njega zatvoriti da bi pokrenuli današnje.
                        </div>
                    {% endif %}
                    {% if not sleganjeStatus %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            <span class="fw-semibold">Važno!</span> Nije moguće pokrenuti novo merenje dok administrator ne potvrdi <a href="{{ path('app_stopwatch_verify_activity_list') }}" class="alert-link">prijem podataka</a> koje ste mu poslali.
                        </div>
                    {% endif %}

{#                    <div class="alert alert-info alert-dismissible fade show">#}
{#                        <span class="fw-semibold">Važno!</span> Prilikom kreiranja zahteva za slobodan dan, obavezno je u napomeni navesti da li je dan fleksibilan, tj. da li Vam odgovara i neki drugi datum. Takođe navesti i ako je potreban samo deo radnog dana.#}
{#                    </div>#}
                    <div class="row">
                        <div class="col-lg-6 col-xl-3">
                            <div class="card">
                                <div class="card-header d-flex align-items-center">
                                    <h5 class="mb-0">Kancelarija - elaborati</h5>

                                    <div class="ms-auto">
                                        <a href="{{ path('app_elaborats') }}" class="btn btn-primary"><i class="ph-eye me-2"></i> Sve</a>
                                    </div>
                                </div>

                                <div class="card-body">
                                    {% for elaborat in elaborats %}
                                        {% set boja = 'bg-primary'%}
                                        {% set procenat = elaborat.percent%}
                                        {% if procenat < 26 %}
                                            {% set boja = 'bg-danger'%}
                                        {% endif %}
                                        {% if procenat > 25 and procenat < 76 %}
                                            {% set boja = 'bg-warning'%}
                                        {% endif %}
                                        {% if procenat > 75 and procenat < 99 %}
                                            {% set boja = 'bg-info'%}
                                        {% endif %}
                                        {% if procenat == 100 %}
                                            {% set boja = 'bg-success'%}
                                        {% endif %}
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center mb-1">{{ elaborat.project.title}} <span class="text-muted ms-auto">{% if procenat > 0 %}{{ procenat }}%{% endif %}</span></div>
                                            <div class="progress" style="height: 0.375rem;">
                                                <div class="progress-bar {{ boja }}" role="progressbar" style="width: {{ procenat }}%" aria-valuenow="{{ procenat }}" aria-valuemin="0" aria-valuemax="100"></div>
{#                                                <div class="progress-bar bg-info" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>


                    {% if checklistActive is not empty %}
                        <div class="row ">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#collapsed_item1" aria-expanded="false" type="button">
                                        <h5 class="mb-0">Interni zadaci</h5>
                                        <div class="d-inline-flex ms-auto">
                                            <span class="badge bg-yellow text-primary rounded-pill fw-semibold">{{ countChecklistActive }}</span>
                                        </div>
                                    </div>

                                    <div id="collapsed_item1" class="accordion-collapse collapse" data-bs-parent="#accordion_collapsed" style="">
                                        <div class="card">
                                            <table class="table table-hover table-bordered table-sm">
                                                <tbody>
                                                <tr class="table-light fw-semibold">
                                                    <td colspan="6">Aktivni</td>
                                                </tr>
                                                {% for task in checklistActive | slice (0,5) %}
                                                    <tr>
                                                        <td>
                                                            <div class="d-inline-flex align-items-center">
                                                                <i class="ph-calendar me-2"></i>
                                                                {{ task.created | date("d.m.Y")}} {% if task.repeating == 1 %} <i class="ph-arrows-clockwise mx-2" data-bs-popup="tooltip" aria-label="Zadatak se ponavlja" data-bs-original-title="Zadatak se ponavlja"></i> {% endif %}
                                                            </div>
                                                        </td>
                                                        <td class="fw-semibold">
                                                            <a href="{{ path('app_checklist_view', {id: task.id}) }}" class="text-body">
                                                                {{ task.task | slice(0, 100) ~ (task.task | length > 100 ? '...' : '') }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            Kreirao {{ task.createdBy.fullName }}
                                                        </td>
                                                        <td class="text-center">
                                                            {% if task.priority == 1 %}
                                                                <span class="badge bg-danger bg-opacity-20 text-danger">Veoma visok</span>
                                                            {% elseif task.priority == 2 %}
                                                                <span class="badge bg-warning bg-opacity-20 text-warning">Visok</span>
                                                            {% elseif task.priority == 4 %}
                                                                <span class="badge bg-info bg-opacity-20 text-info">Nizak</span>
                                                            {% elseif task.priority == 5 %}
                                                                <span class="badge bg-secondary bg-opacity-20 text-secondary">Veoma nizak</span>
                                                            {% else %}
                                                                <span class="badge bg-primary bg-opacity-50 text-white">Normalan</span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center">
                                                            {% if task.status == constant('App\\Classes\\Data\\InternTaskStatusData::NIJE_ZAPOCETO') %}
                                                                <span class="badge bg-secondary text-primary">Kreiran</span>
                                                            {% elseif task.status == constant('App\\Classes\\Data\\InternTaskStatusData::ZAPOCETO') %}
                                                                <span class="badge bg-yellow text-primary">U toku</span>
                                                            {% elseif task.status == constant('App\\Classes\\Data\\InternTaskStatusData::ZAVRSENO') %}
                                                                <span class="badge bg-primary text-white">Završen</span>
                                                            {% elseif task.status == constant('App\\Classes\\Data\\InternTaskStatusData::KONVERTOVANO') %}
                                                                <span class="badge bg-yellow text-primary">Konvertovan</span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="dropdown">
                                                                <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                                    <i class="ph-gear"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a href="{{ path('app_checklist_view', {id: task.id}) }}" class="dropdown-item">
                                                                        <i class="ph-eye me-2 "></i>Vidite</a>
                                                                    {% if task.status == constant('App\\Classes\\Data\\InternTaskStatusData::NIJE_ZAPOCETO') %}
                                                                        <a href="{{ path('app_checklist_start', {id: task.id}) }}" class="dropdown-item">
                                                                            <i class="ph-play me-2 "></i>Pokrenite</a>
                                                                        <a href="{{ path('app_checklist_finish', {id: task.id}) }}" class="dropdown-item" >
                                                                            <i class="ph-check me-2 "></i>Zatvorite</a>
                                                                        <a href="{{ path('app_checklist_edit', {id: task.id}) }}" class="dropdown-item" >
                                                                            <i class="ph-note-pencil me-2 "></i>Izmenite</a>
                                                                        <a href="{{ path('app_checklist_delete', {id: task.id}) }}" class="dropdown-item" >
                                                                            <i class="ph-trash me-2 "></i>Obrišite</a>
                                                                        {% if task.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_EMPLOYEE') %}
                                                                            <a href="{{ path('app_checklist_convert', {id: task.id}) }}" class="dropdown-item">
                                                                                <i class="ph-magic-wand me-2 "></i> Konvertujete u zadatak sa merenjem</a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                    {% if task.status == constant('App\\Classes\\Data\\InternTaskStatusData::ZAPOCETO') %}
                                                                        <a href="{{ path('app_checklist_finish', {id: task.id}) }}" class="dropdown-item">
                                                                            <i class="ph-checkme-2 "></i> Zatvorite</a>
                                                                        <a href="{{ path('app_checklist_replay', {id: task.id}) }}" class="dropdown-item">
                                                                            <i class="ph-arrows-counter-clockwiseme-2 "></i>Ponovite</a>
                                                                    {% endif %}
                                                                    {% if task.status == constant('App\\Classes\\Data\\InternTaskStatusData::ZAVRSENO') %}
                                                                        <a href="{{ path('app_checklist_replay', {id: task.id}) }}" class="dropdown-item">
                                                                            <i class="ph-arrows-counter-clockwiseme-2 "></i>Ponovite</a>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                <tr class="table-light fw-semibold">
                                                    <td colspan="5"></td>
                                                    <td class="text-center">
                                                        <div class="d-inline-flex mb-0">
                                                            <a href="{{ path('app_checklist_list') }}" class="btn-sm btn-primary"> Vidi sve</a>
                                                        </div>
                                                    </td>
                                                </tr>


                                                {#                                                {% for task in checklistActive | slice (0,5) %}#}
                                                {#                                                    <tr>#}
                                                {#                                                        <td>#}
                                                {#                                                            <div class="d-inline-flex align-items-center">#}
                                                {#                                                                <i class="ph-calendar me-2"></i>#}
                                                {#                                                                {{ task.created | date("d.m.Y")}} {% if task.repeating == 1 %} <i class="ph-arrows-clockwise mx-2" data-bs-popup="tooltip" aria-label="Zadatak se ponavlja" data-bs-original-title="Zadatak se ponavlja"></i> {% endif %}#}
                                                {#                                                            </div>#}
                                                {#                                                        </td>#}
                                                {#                                                        <td class="fw-semibold">#}
                                                {#                                                            <a href="{{ path('app_checklist_view', {id: task.id}) }}" class="text-body">#}
                                                {#                                                                {{ task.task | slice(0, 100) ~ (task.task | length > 100 ? '...' : '') }}#}
                                                {#                                                            </a>#}
                                                {#                                                        </td>#}
                                                {#                                                        <td class="text-center">#}
                                                {#                                                            {% if task.priority == 1 %}#}
                                                {#                                                                <span class="badge bg-danger bg-opacity-20 text-danger">Veoma visok</span>#}
                                                {#                                                            {% elseif task.priority == 2 %}#}
                                                {#                                                                <span class="badge bg-warning bg-opacity-20 text-warning">Visok</span>#}
                                                {#                                                            {% elseif task.priority == 4 %}#}
                                                {#                                                                <span class="badge bg-info bg-opacity-20 text-info">Nizak</span>#}
                                                {#                                                            {% elseif task.priority == 5 %}#}
                                                {#                                                                <span class="badge bg-secondary bg-opacity-20 text-secondary">Veoma nizak</span>#}
                                                {#                                                            {% else %}#}
                                                {#                                                                <span class="badge bg-primary bg-opacity-50 text-white">Normalan</span>#}
                                                {#                                                            {% endif %}#}
                                                {#                                                        </td>#}
                                                {#                                                        <td class="text-center">#}
                                                {#                                                            <div class="d-inline-flex">#}
                                                {#                                                                <a href="{{ path('app_checklist_view', {id: task.id}) }}" class="text-primary" data-bs-popup="tooltip" aria-label="Vidi" data-bs-original-title="Vidi">#}
                                                {#                                                                    <i class="ph-eye"></i></a>#}
                                                {#                                                                {% if task.status == constant('App\\Classes\\Data\\InternTaskStatusData::NIJE_ZAPOCETO') %}#}
                                                {#                                                                    <a href="{{ path('app_checklist_start', {id: task.id}) }}" class="text-primary" data-bs-popup="tooltip" aria-label="Start" data-bs-original-title="Start">#}
                                                {#                                                                        <i class="ph-play "></i></a>#}
                                                {#                                                                    <a href="{{ path('app_checklist_finish', {id: task.id}) }}" class="text-primary" data-bs-popup="tooltip" aria-label="Stop" data-bs-original-title="Stop">#}
                                                {#                                                                        <i class="ph-check "></i></a>#}
                                                {#                                                                    <a href="{{ path('app_checklist_edit', {id: task.id}) }}" class="text-primary" data-bs-popup="tooltip" aria-label="Izmeni" data-bs-original-title="Izmeni">#}
                                                {#                                                                        <i class="ph-note-pencil"></i></a>#}
                                                {#                                                                    <a href="{{ path('app_checklist_delete', {id: task.id}) }}" class="text-primary" data-bs-popup="tooltip" aria-label="Obriši" data-bs-original-title="Obriši">#}
                                                {#                                                                        <i class="ph-trash "></i></a>#}
                                                {#                                                                    {% if task.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_EMPLOYEE') %}#}
                                                {#                                                                        <a href="{{ path('app_checklist_convert', {id: task.id}) }}" class="text-primary" data-bs-popup="tooltip" aria-label="Konvertuj u zadatak sa merenjem" data-bs-original-title="Konvertuj u zadatak sa merenjem">#}
                                                {#                                                                            <i class="ph-magic-wand "></i></a>#}
                                                {#                                                                    {% endif %}#}
                                                {#                                                                {% endif %}#}
                                                {#                                                                {% if task.status == constant('App\\Classes\\Data\\InternTaskStatusData::ZAPOCETO') %}#}
                                                {#                                                                    <a href="{{ path('app_checklist_finish', {id: task.id}) }}" class="text-primary" data-bs-popup="tooltip" aria-label="Stop" data-bs-original-title="Stop">#}
                                                {#                                                                        <i class="ph-check"></i></a>#}
                                                {#                                                                    <a href="{{ path('app_checklist_replay', {id: task.id}) }}" class="text-primary" data-bs-popup="tooltip" aria-label="Ponovi" data-bs-original-title="Ponovi">#}
                                                {#                                                                        <i class="ph-arrows-counter-clockwise"></i></a>#}
                                                {#                                                                {% endif %}#}
                                                {#                                                                {% if task.status == constant('App\\Classes\\Data\\InternTaskStatusData::ZAVRSENO') %}#}
                                                {#                                                                    <a href="{{ path('app_checklist_replay', {id: task.id}) }}" class="text-primary" data-bs-popup="tooltip" aria-label="Ponovi" data-bs-original-title="Ponovi">#}
                                                {#                                                                        <i class="ph-arrows-counter-clockwise"></i></a>#}
                                                {#                                                                {% endif %}#}
                                                {#                                                            </div>#}
                                                {#                                                        </td>#}
                                                {#                                                    </tr>#}
                                                {#                                                {% endfor %}#}
                                                {#                                                <tr class="table-light fw-semibold">#}
                                                {#                                                    <td colspan="5"></td>#}
                                                {#                                                    <td class="text-center">#}
                                                {#                                                        <div class="d-inline-flex mb-0">#}
                                                {#                                                            <a href="{{ path('app_checklist_to_do') }}" class="btn-sm btn-primary"> Vidi sve</a>#}
                                                {#                                                        </div>#}
                                                {#                                                    </td>#}
                                                {#                                                </tr>#}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row ">
                        <div class="col-xl-12">

                            <!-- Marketing campaigns -->
                            <div class="card">
                            <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">{{ app.user.fullName }}, {{ danas | date('d.m.Y') }}</h5>
                                    <div class="my-auto ms-auto">
                                        <a href="{{ path('app_car_tools_details_view') }}" class="btn btn-primary"><i class="ph-gear me-2"></i> Zaduživanje</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <table class="table table-hover table-bordered table-sm">
                                        <thead class="bg-light">
                                        <tr class="table-light">
                                            <th colspan="4">Lista zadataka za danas</th>
                                            <th class="text-center">
                                                <span class="badge bg-yellow rounded-pill">{{ countLogs }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>VREME</th>
                                            <th>PROJEKAT</th>
                                            <th>KOLEGE</th>
                                            <th>VOZILO</th>
                                            <th class="text-center" style="width: 20px;">
                                                <i class="ph-dots-three"></i>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% if logs is not empty %}
                                            {% for log in logs  %}
                                                {% if log[3] == 1 %}
                                                    <tr>
                                                {% endif %}
                                                {% if log[3] == 0 %}
                                                    <tr>
                                                {% endif %}
                                                {% if log[3] == 2 %}
                                                    <tr class="bg-secondary">
                                                {% endif %}
                                                    <td>
                                                        {% if log[0].task.time is not null %}
                                                            <div class="fw-semibold">
                                                                {% if log[0].task.time|date('H:i') != '00:00' %}
                                                                    {{ log[0].task.time|date('H:i') }}
                                                                {% else %}
                                                                    Vreme nije zadato
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div class="fw-semibold">
                                                            <div class="btn-group">
                                                                <a href="#" class="d-inline-flex align-items-center ">
                                                                    <a href="{{ path('app_project_tasks_view', { id: log[0].task.project.id }) }}">{{ log[0].task.project.title }}</a>
                                                                    {% if log[3] == 0 %}<div class="live p-1 mx-2"></div>{% endif %}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {% for user in log[0].task.assignedUsers %}
                                                            <div class="fw-semibold">{{ user.fullName }}</div>
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% if log[1] is not empty %}
                                                            <div class="fw-semibold">
                                                                {{ log[1].plate }}
                                                            </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('app_task_view_user', { id: log[0].task.id}) }}" class="btn btn-primary"><i class="ph-clipboard me-2"></i> Dnevnik</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /marketing campaigns -->
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-xl-12">
                            <!-- Marketing campaigns -->
                            <div class="card">

                            <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Raspored za {{ danas | date('d.m.Y') }}</h5>
                                </div>
                                <div class="card">
                                    <table class="table table-hover table-bordered table-sm">
                                        <thead class="bg-light">
                                        <tr class="table-light">
                                            <th colspan="6">Raspored</th>
                                        </tr>
                                        <tr>
                                            <th>PROJEKAT</th>
                                            <th>GEODETE</th>
                                            <th>OPREMA</th>
                                            <th>VOZILO</th>
                                            <th>VREME</th>
                                            <th>NAPOMENA</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% if timetable is not empty %}
                                            {% for task in timetable %}
                                                {% if task.task.project is not null %}
{#                                                    {% for user in task.task.assignedUsers %}#}
{#                                                        {% if app.user.id == user.id %}#}
{#                                                            <tr class="table-active">#}
{#                                                        {% else %}#}
{#                                                            <tr>#}
{#                                                        {% endif %}#}
{#                                                    {% endfor %}#}
                                                {% if app.user in task.task.assignedUsers %}
                                                    <tr class="table-active">
                                                {% else %}
                                                    <tr>
                                                {% endif %}
                                                    <td>
                                                        <div class="fw-semibold">
                                                            {{ task.task.project.title }}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            {% for user in task.task.assignedUsers %}
                                                                {{ user.fullName }} <br>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            {% for opt in task.task.oprema %}
                                                                {{ opt.title }} <br>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {% if task.car is not empty %}
                                                            <div>
                                                                {{ task.car[0].plate }}
                                                            </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if task.task.time is not null %}
                                                            <div>
                                                                {% if task.task.time|date('H:i') != '00:00' %}
                                                                    {{ task.task.time|date('H:i') }}
                                                                {% else %}
                                                                    Vreme nije zadato
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div class="text-body">
                                                            {{ task.task.description }}
                                                        </div>
                                                    </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /marketing campaigns -->
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-xl-12">
                            <!-- Marketing campaigns -->
                            <div class="card">

                            <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Raspored za {{ sutra | date('d.m.Y') }}</h5>
                                </div>
                                <div class="card">
                                    <table class="table table-hover table-bordered table-sm">
                                        <thead class="bg-light">
                                        <tr class="table-light">
                                            <th colspan="6">Raspored</th>
                                        </tr>
                                        <tr>
                                            <th>PROJEKAT</th>
                                            <th>GEODETE</th>
                                            <th>OPREMA</th>
                                            <th>VOZILO</th>
                                            <th>VREME</th>
                                            <th>NAPOMENA</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if tomorrowTimetable is not empty %}
                                            {% for task in tomorrowTimetable %}
                                                {% if task['projekat'] is not null %}
                                                    <tr>
                                                        <td>
                                                            <div class="fw-semibold">
                                                                {{ task['projekat'].title }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                {% if task['geo1'] is not null %}
                                                                    {{ task['geo1'].fullName }} <br>
                                                                {% endif %}
                                                                {% if task['geo2'] is not null %}
                                                                    {{ task['geo2'].fullName }} <br>
                                                                {% endif %}
                                                                {% if task['geo3'] is not null %}
                                                                    {{ task['geo3'].fullName }}
                                                                {% endif %}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                {% for opr in task['oprema'] %}
                                                                    {{ opr.title }} <br>
                                                                {% endfor %}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            {% if task.vozilo is not null %}
                                                                <div>
                                                                    {{ task.vozilo.plate }}
                                                                </div>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if task.vreme is not null %}
                                                                <div>
                                                                    {{ task.vreme}}
                                                                </div>
                                                            {% else %}
                                                                <div>
                                                                    Vreme nije zadato
                                                                </div>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <div class="text-body">
                                                                {{ task['napomena'] }}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /marketing campaigns -->
                        </div>
                    </div>

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->
        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{#    {% if not vote %}#}
{#        {% include 'includes/survey.html.twig' %}#}
{#    {% endif %}#}
    {% if tomorrowTimetable is not empty %}
        {% for task in tomorrowTimetable %}
            {% if task['projekat'] is not null %}
                <div id="modal_details1_task{{ loop.index }}" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-primary text-white border-0">
                                <h6 class="modal-title">Detalji zadatka</h6>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row p-2">
                                            <div class="col-4">Projekat:</div>
                                            <div class="col-8">{{ task['projekat'].title }}</div>
                                        </div>
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Geodete:</div>
                                            <div class="col-8">
                                                {% if task['geo1'] is not null %}
                                                    {{ task['geo1'].getNameWithFirstLetter }} <br>
                                                {% endif %}
                                                {% if task['geo2'] is not null %}
                                                    {{ task['geo2'].getNameWithFirstLetter }} <br>
                                                {% endif %}
                                                {% if task['geo3'] is not null %}
                                                    {{ task['geo3'].getNameWithFirstLetter }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Aktivnosti:</div>
                                            <div class="col-8">
                                                {% for akt in task['aktivnosti'] %}
                                                    {{ akt.title }} <br>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Oprema:</div>
                                            <div class="col-8">

                                                {% for opr in task['oprema'] %}
                                                    {{ opr.title }} <br>
                                                {% endfor %}

                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Vozilo:</div>
                                            <div class="col-8">
                                                {% if task.vozilo is not null %}
                                                    {{ task.vozilo.getCarName }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Vreme:</div>
                                            <div class="col-8">
                                                {% if task.vreme is not null %}
                                                    {{ task.vreme}}
                                                {% else %}
                                                    Vreme nije zadato
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Napomena:</div>
                                            <div class="col-8">{{ task.napomena }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="ph-x me-2"></i> Zatvorite</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if timetable is not empty %}
        {% for task in timetable %}
            <div id="modal_details_task{{ loop.index }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white border-0">
                            <h6 class="modal-title">Detalji zadatka</h6>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row p-2">
                                        <div class="col-4">Projekat:</div>
                                        <div class="col-8">{{ task.task.title }}</div>
                                    </div>
                                    <div class="row p-2 bg-light">
                                        <div class="col-4">Geodete:</div>
                                        <div class="col-8">
                                            {% for user in task.task.assignedUsers %}
                                                {{ user.getNameWithFirstLetter }} <br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-4">Aktivnosti:</div>
                                        <div class="col-8">
                                            {% for akt in task.task.activity %}
                                                {{ akt.title }} <br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row p-2 bg-light">
                                        <div class="col-4">Oprema:</div>
                                        <div class="col-8">
                                            {% for opt in task.task.oprema %}
                                                {{ opt.title }} <br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-4">Vozilo:</div>
                                        <div class="col-8">
                                            {% if task.car is not empty %}
                                                {{ task.car[0].plate }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2 bg-light">
                                        <div class="col-4">Vreme:</div>
                                        <div class="col-8">
                                            {% if task.task.time is not null %}
                                                {% if task.task.time|date('H:i') != '00:00' %}
                                                    {{ task.task.time|date('H:i') }}h
                                                {% else %}
                                                    Vreme nije zadato
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-4">Napomena:</div>
                                        <div class="col-8">{{ task.task.description }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="ph-x me-2"></i> Zatvorite</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}
    <script src="{{ asset('assets/demo/pages/dashboard.js') }}"></script>
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/streamgraph.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/sparklines.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/lines.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/areas.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/donuts.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/bars.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/progress.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/heatmaps.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/pies.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/charts/pages/dashboard/bullets.js') }}"></script>#}
{% endblock includeJavascript %}
{% block footerJavascript %}
{#    <script type="text/javascript">#}
{#        {% if not vote %}#}
{#        document.addEventListener('DOMContentLoaded', function() {#}
{#            var modal = new bootstrap.Modal(document.getElementById('modal_form_survey'));#}
{#            modal.show();#}
{#        });#}
{#        {% endif %}#}
{#    </script>#}
{% endblock footerJavascript %}