{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::headerUser' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                {{ tool.title }}
                            </h4>
                        </div>
                    </div>

                    {{ render(controller('App\\Controller\\WidgetController::toolProfilNavigation', { tool:tool} )) }}
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <!-- Inner container -->
                    <div class="d-lg-flex align-items-lg-start">

                        <!-- Right content -->
                        <div class="tab-content flex-fill">
                            <div class="tab-pane fade active show">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Lista izmena</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="card">
                                            <table class="table table-bordered table-hover table-responsive table_morecondensed">
                                                <thead class="bg-light text-primary">
                                                <tr>
                                                    <th>Verzija</th>
                                                    <th>Oprema</th>
                                                    <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for toolH in pagination %}
                                                    <tr>
                                                        <td>
                                                            <div class="fw-semibold">
                                                                <a href="{{ path('app_tool_profile_history_view', { id: toolH.id}) }}">V.{{ toolH.version }}</a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            {{ tool.title }}
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="{{ path('app_tool_profile_history_view', { id: toolH.id}) }}" class="btn btn-primary">
                                                                <i class="ph-eye"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <div class="navigation float-end">
                                            {{ knp_pagination_render(pagination) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /right content -->


                    </div>
                    <!-- /inner container -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

{% endblock includeJavascript %}
