{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}
        <!-- Main content -->

        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Oprema
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <!-- Inner container -->
                    <div class="d-lg-flex align-items-lg-start">

                        <!-- Right content -->
                        <div class="tab-content flex-fill">
                            <div class="tab-pane fade active show">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">{{ reservation.tool.title() }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row p-2">
                                            <div class="col-4">Naziv:</div>
                                            <div class="col-8">{{ reservation.tool.title }}</div>
                                        </div>
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Zaposleni:</div>
                                            <div class="col-8">{{ reservation.user.fullName }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">Zaduženje</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row p-2">
                                            <div class="col-4">Datum i vreme:</div>
                                            <div class="col-8">{{ reservation.created | date("d.m.Y H:i:s")}}
                                            </div>
                                        </div>
                                        {% if reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::TS') %}
                                            <div class="row p-2 bg-light ">
                                                <div class="col-4">Stativ:</div>
                                                <div class="col-8">
                                                    {% if reservation.isStativ %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="col-4">Miniprizma:</div>
                                                <div class="col-8">
                                                    {% if reservation.isMiniprizma %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2 bg-light ">
                                                <div class="col-4">Baterije:</div>
                                                <div class="col-8">
                                                    {% if reservation.isBaterija %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="col-4">Punjač:</div>
                                                <div class="col-8">
                                                    {% if reservation.isPunjac %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2 bg-light ">
                                                <div class="col-4">Veliki štap sa prizmom:</div>
                                                <div class="col-8">
                                                    {% if reservation.isVelikiStap %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="col-4">Distomat:</div>
                                                <div class="col-8">
                                                    {% if reservation.isDistomat %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2 bg-light ">
                                                <div class="col-4">Napomena:</div>
                                                <div class="col-8"> {{ reservation.descStart }}</div>
                                            </div>
                                        {% endif %}
                                        {% if reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::LS') %}
                                            <div class="row p-2 bg-light ">
                                                <div class="col-4">Stativ:</div>
                                                <div class="col-8">
                                                    {% if reservation.isStativ %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="col-4">Baterije:</div>
                                                <div class="col-8">
                                                    {% if reservation.isBaterija %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2 bg-light ">
                                                <div class="col-4">Punjač:</div>
                                                <div class="col-8">
                                                    {% if reservation.isPunjac %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="col-4">Letva:</div>
                                                <div class="col-8">
                                                    {% if reservation.isLetva %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2 bg-light ">
                                                <div class="col-4">Papuče:</div>
                                                <div class="col-8">
                                                    {% if reservation.isPapuce %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="col-4">Napomena:</div>
                                                <div class="col-8"> {{ reservation.descStart }}</div>
                                            </div>
                                        {% endif %}
                                        {% if reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::GPS') %}
                                            <div class="row p-2 bg-light">
                                                <div class="col-4">Baterije:</div>
                                                <div class="col-8">
                                                    {% if reservation.isBaterija %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="col-4">Punjač:</div>
                                                <div class="col-8">
                                                    {% if reservation.isPunjac %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2 bg-light">
                                                <div class="col-4">Veliki štap sa prizmom:</div>
                                                <div class="col-8">
                                                    {% if reservation.isVelikiStap %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="col-4">Distomat:</div>
                                                <div class="col-8">
                                                    {% if reservation.isDistomat %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2 bg-light">
                                                <div class="col-4">Dodatak štapu:</div>
                                                <div class="col-8">
                                                    {% if reservation.isStapDodatak %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2">
                                                <div class="col-4">Stativ i komplet za prisilno centrisanje:</div>
                                                <div class="col-8">
                                                    {% if reservation.isStativiKomplet %}
                                                        Da
                                                    {% else %}
                                                        Ne
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row p-2 bg-light">
                                                <div class="col-4">Napomena:</div>
                                                <div class="col-8"> {{ reservation.descStart }}</div>
                                            </div>
                                        {% endif %}
                                        {% if reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::DRON') %}
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Baterije:</div>
                                            <div class="col-8">
                                                {% if reservation.isBaterija %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Punjač:</div>
                                            <div class="col-8">
                                                {% if reservation.isPunjac %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">GPS i dodatni stativ:</div>
                                            <div class="col-8">
                                                {% if reservation.isGPSiStativ %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Distomat:</div>
                                            <div class="col-8">
                                                {% if reservation.isDistomat %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-4">Napomena:</div>
                                        <div class="col-8"> {{ reservation.descStart }}</div>
                                    </div>
                                    {% endif %}
                                    {% if reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::SKENER') %}
                                        <div class="row p-2 bg-light ">
                                            <div class="col-4">Stativ:</div>
                                            <div class="col-8">
                                                {% if reservation.isStativ %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Baterije:</div>
                                            <div class="col-8">
                                                {% if reservation.isBaterija %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light ">
                                            <div class="col-4">Punjač:</div>
                                            <div class="col-8">
                                                {% if reservation.isPunjac %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">iPad:</div>
                                            <div class="col-8">
                                                {% if reservation.isIpad %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Eksterni HDD:</div>
                                            <div class="col-8">
                                                {% if reservation.isExterniHDD %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Markice rotirajuće:</div>
                                            <div class="col-8">
                                                {% if reservation.isVelikiStap %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light ">
                                            <div class="col-4">Napomena:</div>
                                            <div class="col-8"> {{ reservation.descStart }}</div>
                                        </div>
                                    {% endif %}
                                    {% if reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::LAPTOP') or reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::TELEFON') %}

                                        <div class="row p-2 bg-light ">
                                            <div class="col-4">Napomena:</div>
                                            <div class="col-8"> {{ reservation.descStart }}</div>
                                        </div>

                                    {% endif %}
                                </div>
                            </div>
                            {% if reservation.finished is not null %}
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Razduženje</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row p-2">
                                        <div class="col-4">Datum i vreme:</div>
                                        <div class="col-8">{{ reservation.finished | date("d.m.Y H:i:s")}}
                                        </div>
                                    </div>
                                    {% if reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::TS') %}
                                        <div class="row p-2 bg-light ">
                                            <div class="col-4">Stativ:</div>
                                            <div class="col-8">
                                                {% if reservation.isStativStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Miniprizma:</div>
                                            <div class="col-8">
                                                {% if reservation.isMiniprizmaStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light ">
                                            <div class="col-4">Baterije:</div>
                                            <div class="col-8">
                                                {% if reservation.isBaterijaStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Punjač:</div>
                                            <div class="col-8">
                                                {% if reservation.isPunjacStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light ">
                                            <div class="col-4">Veliki štap sa prizmom:</div>
                                            <div class="col-8">
                                                {% if reservation.isVelikiStapStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Distomat:</div>
                                            <div class="col-8">
                                                {% if reservation.isDistomatStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light ">
                                            <div class="col-4">Napomena:</div>
                                            <div class="col-8"> {{ reservation.descStop }}</div>
                                        </div>
                                    {% endif %}
                                    {% if reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::LS') %}
                                        <div class="row p-2 bg-light ">
                                            <div class="col-4">Stativ:</div>
                                            <div class="col-8">
                                                {% if reservation.isStativStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Baterije:</div>
                                            <div class="col-8">
                                                {% if reservation.isBaterijaStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light ">
                                            <div class="col-4">Punjač:</div>
                                            <div class="col-8">
                                                {% if reservation.isPunjacStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Letva:</div>
                                            <div class="col-8">
                                                {% if reservation.isLetvaStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light ">
                                            <div class="col-4">Papuče:</div>
                                            <div class="col-8">
                                                {% if reservation.isPapuceStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Napomena:</div>
                                            <div class="col-8"> {{ reservation.descStop }}</div>
                                        </div>
                                    {% endif %}
                                    {% if reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::GPS') %}
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Baterije:</div>
                                            <div class="col-8">
                                                {% if reservation.isBaterijaStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Punjač:</div>
                                            <div class="col-8">
                                                {% if reservation.isPunjacStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Veliki štap sa prizmom:</div>
                                            <div class="col-8">
                                                {% if reservation.isVelikiStapStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Distomat:</div>
                                            <div class="col-8">
                                                {% if reservation.isDistomatStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Dodatak štapu:</div>
                                            <div class="col-8">
                                                {% if reservation.isStapDodatakStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Stativ i komplet za prisilno centrisanje:</div>
                                            <div class="col-8">
                                                {% if reservation.isStativiKompletStop %}
                                                    Da
                                                {% else %}
                                                    Ne
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Napomena:</div>
                                            <div class="col-8"> {{ reservation.descStop }}</div>
                                        </div>
                                    {% endif %}
                                    {% if reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::DRON') %}
                                    <div class="row p-2 bg-light">
                                        <div class="col-4">Baterije:</div>
                                        <div class="col-8">
                                            {% if reservation.isBaterijaStop %}
                                                Da
                                            {% else %}
                                                Ne
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-4">Punjač:</div>
                                        <div class="col-8">
                                            {% if reservation.isPunjacStop %}
                                                Da
                                            {% else %}
                                                Ne
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2 bg-light">
                                        <div class="col-4">GPS i dodatni stativ:</div>
                                        <div class="col-8">
                                            {% if reservation.isGPSiStativStop %}
                                                Da
                                            {% else %}
                                                Ne
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-4">Distomat:</div>
                                        <div class="col-8">
                                            {% if reservation.isDistomat %}
                                                Da
                                            {% else %}
                                                Ne
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-4">Napomena:</div>
                                    <div class="col-8"> {{ reservation.descStartStop }}</div>
                                </div>
                                {% endif %}
                                {% if reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::SKENER') %}
                                    <div class="row p-2 bg-light ">
                                        <div class="col-4">Stativ:</div>
                                        <div class="col-8">
                                            {% if reservation.isStativStop %}
                                                Da
                                            {% else %}
                                                Ne
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-4">Baterije:</div>
                                        <div class="col-8">
                                            {% if reservation.isBaterijaStop %}
                                                Da
                                            {% else %}
                                                Ne
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2 bg-light ">
                                        <div class="col-4">Punjač:</div>
                                        <div class="col-8">
                                            {% if reservation.isPunjacStop %}
                                                Da
                                            {% else %}
                                                Ne
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-4">iPad:</div>
                                        <div class="col-8">
                                            {% if reservation.isIpadStop %}
                                                Da
                                            {% else %}
                                                Ne
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2 bg-light">
                                        <div class="col-4">Eksterni HDD:</div>
                                        <div class="col-8">
                                            {% if reservation.isExterniHDDStop %}
                                                Da
                                            {% else %}
                                                Ne
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-4">Markice rotirajuće:</div>
                                        <div class="col-8">
                                            {% if reservation.isVelikiStapStop %}
                                                Da
                                            {% else %}
                                                Ne
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2 bg-light ">
                                        <div class="col-4">Napomena:</div>
                                        <div class="col-8"> {{ reservation.descStop }}</div>
                                    </div>
                                {% endif %}
                                {% if reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::LAPTOP') or reservation.tool.type == constant('App\\Classes\\Data\\TipOpremeData::TELEFON') %}

                                    <div class="row p-2 bg-light ">
                                        <div class="col-4">Napomena:</div>
                                        <div class="col-8"> {{ reservation.descStop }}</div>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                            </div>
                        </div>
                        <!-- /right content -->

                    </div>
                    <!-- /inner container -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->
            </div>
        </div>
        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>
    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}


{% endblock includeJavascript %}