{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::headerUser' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                {{ user.getFullName() }}
                            </h4>
                        </div>
                    </div>
                    {{ render(controller('App\\Controller\\WidgetController::employeeProfilNavigation', { user: user } )) }}
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <!-- Inner container -->
                    <div class="d-lg-flex align-items-lg-start">

                        <!-- Left sidebar component -->
                        {{ render(controller('App\\Controller\\WidgetController::employeeProfilSidebar', { user: user } )) }}
                        <!-- /left sidebar component -->

                        <!-- Right content -->
                        <div class="tab-content flex-fill">
                            <div class="tab-pane fade active show">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Zaduženo vozilo</h5>
                                        <div class="my-auto ms-auto">
                                            {% if app.user == user%}
                                                {% if user.car is null %}
                                                    <a href="{{ path('app_car_employee_reservation_form', {user:user.id}) }}" class="btn btn-primary"><i class="ph-plus me-2"></i> Zadužite</a>
                                                {% else %}
                                                    <a href="{{ path('app_car_employee_expense_form', {id:lastReservation.car.id}) }}" class="btn btn-primary"><i class="ph-plus me-2"></i> Trošak</a>
                                                    <a href="{{ path('app_car_image_form', {id:lastReservation.id}) }}" class="btn btn-primary"><i class="ph-plus me-2"></i> Slike</a>
                                                    <a href="{{ path('app_car_employee_reservation_stop', {id:lastReservation.id}) }}" class="btn btn-primary"> Razdužite</a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>

                                    {% if user.car is not null %}
                                        <div class="card-body">
                                        <div class="row p-2">
                                            <div class="col-4">Vozilo:</div>
                                            <div class="col-8">{{ lastReservation.car.carName }}</div>
                                        </div>
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Zadužen:</div>
                                            <div class="col-8">{{ lastReservation.created | date("d.m.Y H:i:s")}}</div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Početna kilometraža:</div>
                                            <div class="col-8">{{ lastReservation.kmStart }} km</div>
                                        </div>
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Početni nivo goriva:</div>
                                            <div class="col-8">
                                                {% if lastReservation.fuelStart == constant('App\\Classes\\Data\\FuelData::PRAZNO') %}
                                                    Prazan rezervoar
                                                {% endif %}
                                                {% if lastReservation.fuelStart == constant('App\\Classes\\Data\\FuelData::CETVRT') %}
                                                    1/4
                                                {% endif %}
                                                {% if lastReservation.fuelStart == constant('App\\Classes\\Data\\FuelData::POLA') %}
                                                    1/2
                                                {% endif %}
                                                {% if lastReservation.fuelStart == constant('App\\Classes\\Data\\FuelData::TRI_CETVRTI') %}
                                                    3/4
                                                {% endif %}
                                                {% if lastReservation.fuelStart == constant('App\\Classes\\Data\\FuelData::PUN') %}
                                                    Pun rezervoar
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-4">Početni nivo čistoće:</div>
                                            <div class="col-8">
                                                {% if lastReservation.cleanStart == constant('App\\Classes\\Data\\CleanData::LOSE') %}
                                                    Loše
                                                {% endif %}
                                                {% if lastReservation.cleanStart == constant('App\\Classes\\Data\\CleanData::DOVOLJNO') %}
                                                    Dovoljno
                                                {% endif %}
                                                {% if lastReservation.cleanStart == constant('App\\Classes\\Data\\CleanData::DOBRO') %}
                                                    Dobro
                                                {% endif %}
                                                {% if lastReservation.cleanStart == constant('App\\Classes\\Data\\CleanData::VRLO_DOBRO') %}
                                                    Vrlo dobro
                                                {% endif %}
                                                {% if lastReservation.cleanStart == constant('App\\Classes\\Data\\CleanData::ODLICNO') %}
                                                    Odlično
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Napomena:</div>
                                            <div class="col-8"> {{ lastReservation.descStart }}</div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Lista rezervacija</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive card">
                                            <table class="table table-bordered table-hover table-responsive table_morecondensed">
                                                <thead class="bg-light text-primary">
                                                <tr>
                                                    <th>Vozilo</th>
                                                    <th>Zadužen</th>
                                                    <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for reservation in pagination %}
                                                    <tr>
                                                        <td>
                                                            {{ reservation.car.getCarName() }}
                                                        </td>
                                                        <td>
                                                            <div class="d-inline-flex align-items-center">
                                                                <i class="ph-calendar me-2"></i>
                                                                {{ reservation.created | date("d.m.Y")}}
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <a type="button" class="text-body collapsed" data-bs-toggle="collapse" data-bs-target="#collapsed_item1{{ reservation.id }}" aria-expanded="false"><i class="ph-caret-down collapsible-indicator"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr id="collapsed_item1{{ reservation.id }}" class="accordion-collapse collapse bg-light" data-bs-parent="#accordion_collapsed" style="">
                                                        <td colspan="2">
                                                            {% if reservation.finished is not null %}
                                                                <div class="d-inline-flex align-items-center">
                                                                    <i class="ph-calendar me-2"></i>
                                                                    {{ reservation.finished | date("d.m.Y")}}
                                                                </div>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="dropdown">
                                                                <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                                    <i class="ph-gear"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a href="{{ path('app_car_employee_reservation_view', { id: reservation.id}) }}" class="dropdown-item"><i class="ph-eye me-2"></i> Vidite</a>
                                                                    {% if app.user == user%}
                                                                        {% if reservation.finished is null %}
                                                                            <a href="{{ path('app_car_employee_reservation_stop', { id: reservation.id}) }}" class="dropdown-item"><i class="ph-car me-2"></i> Razdužite</a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <div class="navigation float-end">
                                            {{ knp_pagination_render(pagination) }}
                                        </div>
                                    </div>
                                </div>
                                <!-- State saving -->
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Lista troškova</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive card">
                                            <table class="table table-bordered table-hover table-responsive table_morecondensed">
                                                <thead class="bg-light text-primary">
                                                <tr>
                                                    <th>Vozilo</th>
                                                    <th>Tip troška</th>
                                                    <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for expense in pagination1 %}
                                                    <tr>
                                                        <td>{{ expense.car.getCarName() }}</td>
                                                        <td>
                                                            {{ expense.getTypeData }}
                                                        </td>
                                                        <td class="text-center">
                                                            <a type="button" class="text-body collapsed" data-bs-toggle="collapse" data-bs-target="#collapsed_item2{{ expense.id }}" aria-expanded="false"><i class="ph-caret-down collapsible-indicator"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr id="collapsed_item2{{ expense.id }}" class="accordion-collapse collapse bg-light" data-bs-parent="#accordion_collapsed" style="">
                                                        <td>{{ expense.price | number_format(2, '.', ',') }}</td>
                                                        <td>
                                                            {% if expense.date is not null %}
                                                                <div class="d-inline-flex align-items-center">
                                                                    <i class="ph-calendar me-2"></i>
                                                                    {{ expense.date | date("d.m.Y")}}
                                                                </div>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="dropdown">
                                                                <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                                    <i class="ph-gear"></i>
                                                                </a>

                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a href="{{ path('app_car_employee_expense_view', { id: expense.id}) }}" class="dropdown-item"><i class="ph-eye me-2"></i> Vidite</a>
                                                                    {% if app.user == user%}
                                                                        <a href="{{ path('app_car_employee_expense_edit', { id: expense.id}) }}" class="dropdown-item"><i class="ph-note-pencil me-2"></i> Izmenite</a>
                                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_delete_expense{{ expense.id }}" class="dropdown-item"><i class="ph-x me-2"></i> Obrišite</a>
                                                                    {% endif %}
                                                                </div>

                                                                <div id="modal_delete_expense{{ expense.id }}" class="modal fade" tabindex="-1">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header bg-danger text-white border-0">
                                                                                <h6 class="modal-title">Potvrda</h6>
                                                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                                                            </div>

                                                                            <div class="modal-body">
                                                                                <p>Da li ste sigurni da želite da obrišete ovaj trošak?</p>
                                                                            </div>

                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="ph-x me-2"></i> Odustanite</button>
                                                                                <a href="{{ path('app_car_expense_delete', {id: expense.id} ) }}" id="link-stop" class="btn btn-danger"><i class="ph-trash me-2"></i> Obrišite</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <div class="navigation float-end">
                                            {{ knp_pagination_render(pagination1) }}
                                        </div>
                                    </div>
                                </div>
                                <!-- /state saving -->

                            </div>
                        </div>
                        <!-- /right content -->

                    </div>
                    <!-- /inner container -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->
        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}

    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
        <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/sweet_alert.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile_tabbed.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/echarts/bars/tornado_negative_stack.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/balance_stats.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/available_hours.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/task_manager_detailed.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/components_modals.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/extra_sweetalert.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>



    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}

{#{% block footerJavascript %}#}
{#    <script type="text/javascript">#}
{#        $(document).ready(function() {#}
{#            var options = {#}
{#                // target:        '#output1',   // target element(s) to be updated with server response#}
{#                success:       editInfoResponse,  // post-submit callback#}
{#                //         // target:        '#error',#}
{#                //         // other available options:#}
{#                //         //url:       url         // override for form's 'action' attribute#}
{#                //         // type:      'post',        // 'get' or 'post', override for form's 'method' attribute#}
{#                        dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)#}
{#                //         //clearForm: true        // clear all form fields after successful submit#}
{#                        resetForm: true,        // reset the form after successful submit#}
{#                //         success:   editInfoResponse#}
{#                //         // $.ajax options can be used here too, for example:#}
{#                //         //timeout:   3000#}
{#            };#}

{#            // bind form using 'ajaxForm'#}
{#            $('#infoForma').ajaxForm(options);#}
{#        });#}
{#        // function showResponse(responseText, statusText, xhr, $form)  {#}
{#        //     // for normal html responses, the first argument to the success callback#}
{#        //     // is the XMLHttpRequest object's responseText property#}
{#        //#}
{#        //     // if the ajaxForm method was passed an Options Object with the dataType#}
{#        //     // property set to 'xml' then the first argument to the success callback#}
{#        //     // is the XMLHttpRequest object's responseXML property#}
{#        //#}
{#        //     // if the ajaxForm method was passed an Options Object with the dataType#}
{#        //     // property set to 'json' then the first argument to the success callback#}
{#        //     // is the json data object returned by the server#}
{#        //#}
{#        //     alert('status: ' + statusText + '\n\nresponseText: \n' + responseText +#}
{#        //         '\n\nThe output div should have already been updated with the responseText.');#}
{#        // }#}
{#        // $(function () {#}
{#        //     var options = {#}
{#        //         // target:        '#error',#}
{#        //         // other available options:#}
{#        //         //url:       url         // override for form's 'action' attribute#}
{#        //         // type:      'post',        // 'get' or 'post', override for form's 'method' attribute#}
{#        //         dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)#}
{#        //         //clearForm: true        // clear all form fields after successful submit#}
{#        //         resetForm: true,        // reset the form after successful submit#}
{#        //         success:   editInfoResponse#}
{#        //         // $.ajax options can be used here too, for example:#}
{#        //         //timeout:   3000#}
{#        //     };#}
{#        //     // bind form using ajaxForm#}
{#        //     $('#infoForma').submit(function() {#}
{#        //         // inside event callbacks 'this' is the DOM element so we first#}
{#        //         // wrap it in a jQuery object and then invoke ajaxSubmit#}
{#        //         $(this).ajaxSubmit(options);#}
{#        //#}
{#        //         // !!! Important !!!#}
{#        //         // always return false to prevent standard browser submit and page navigation#}
{#        //         return false;#}
{#        //     });#}
{#        // });#}
{#        //#}
{#        function editInfoResponse(data) {#}
{#            // 'data' is the json object returned from the server#}

{#            if (data.success === 1) {#}
{#                swal({#}
{#                    type: 'success',#}
{#                    title: 'Correct!',#}
{#                    html: 'All safe! Here is the answer from the tool:'#}
{#                })#}
{#            }#}
{#            else {#}
{#                var error = data.error_msg.toString();#}
{#                swal({#}
{#                    type: 'error',#}
{#                    title: 'Correct!',#}
{#                    html: 'All safe! Here is the answer from the tool:'#}
{#                })#}
{#            }#}

{#        }#}

{#    </script>#}
{#{% endblock footerJavascript %}#}
