{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Dostupnost
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Lista dostupnosti</h5>
                        </div>
                        <div class="card-body">
                            <div class="card">
                                <table class="table table-bordered table-hover table-responsive table_morecondensed">
                                    <thead class="bg-light text-primary">
                                    <tr>
                                        <th>Zaposleni</th>
                                        <th>Datum</th>
                                        <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for dost in pagination %}
                                        <tr>
                                            <td>
                                                <div class="fw-semibold">
                                                    <a href="{{ path('app_employee_profile_view', { id: dost.user.id}) }}">{{ dost.user.getFullName() }}</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-inline-flex align-items-center">
                                                    <i class="ph-calendar me-2"></i>
                                                    {{ dost.datum | date("d.m.Y.")}}
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <a type="button" class="text-body collapsed" data-bs-toggle="collapse" data-bs-target="#collapsed_item{{ dost.id }}" aria-expanded="false"><i class="ph-caret-down collapsible-indicator"></i></a>
                                            </td>

                                        </tr>

                                        <tr id="collapsed_item{{ dost.id }}" class="accordion-collapse collapse bg-light" data-bs-parent="#accordion_collapsed" style="">
                                            <td colspan="2">
                                                {% if dost.zahtev == 1 %}
                                                    <span class="badge bg-secondary bg-opacity-75 text-primary">Slobodan dan</span>
                                                {% elseif dost.zahtev == 2 %}
                                                    <span class="badge bg-secondary text-primary">Odmor</span>
                                                {% elseif dost.zahtev == 3 %}
                                                    <span class="badge bg-primary bg-opacity-75 text-white">Bolovanje</span>
                                                {% elseif dost.zahtev == 4 %}
                                                    <span class="badge bg-primary bg-opacity text-white">Slava</span>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                        <i class="ph-gear"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="{{ path('app_availability_delete', {id: dost.id}) }}" class="dropdown-item">
                                                            <i class="ph-trash me-2"></i>
                                                            Obrišite
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Dostupnost</h5>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <h6>Legenda</h6>
                                        <div class="bg-light border rounded p-2 mb-3">
                                            <div class="mb-2">
                                                <span class="badge bg-secondary bg-opacity-75 text-primary d-block">Slobodan dan</span>
                                            </div>
                                            <div class="mb-2">
                                                <span class="badge bg-secondary text-primary d-block">Odmor</span>
                                            </div>
                                            <div class="mb-2">
                                                <span class="badge bg-primary bg-opacity-75 text-white d-block">Bolovanje</span>
                                            </div>
                                            <div class="mb-2">
                                                <span class="badge bg-primary bg-opacity text-white d-block">Slava</span>
                                            </div>
                                            <div class="mb-2">
                                                <span class="badge bg-yellow text-primary d-block">Ostalo</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <h6>Neradni dani</h6>
                                        <div class="bg-light border rounded p-2 mb-3">
                                            <div class="mb-2">
                                                <span class="badge bg-secondary bg-opacity-50 text-primary d-block">Državni/Verski praznik</span>
                                            </div>
                                            <div class="mb-2">
                                                <span class="badge bg-primary bg-opacity-50 text-white d-block">Kolektivni odmor</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="fullcalendar-event-colors"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->


    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/locales/sr.js') }}"></script>

{% endblock includeJavascript %}
{% block footerJavascript %}
    <script type="text/javascript">
        const initialLocaleCode = 'sr';

        // Define element
        const calendarEventColorsElement = document.querySelector('.fullcalendar-event-colors');

        if (calendarEventColorsElement) {
            const calendarEventColorsInit = new FullCalendar.Calendar(calendarEventColorsElement, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek,timeGridDay'
                },
                initialView: 'dayGridMonth',
                locale: initialLocaleCode,
                initialDate: new Date(),
                navLinks: true,
                businessHours: true,
                direction: document.dir == 'rtl' ? 'rtl' : 'ltr',
                dayMaxEvents: 0,
                // AJAX učitavanje događaja
                events: function(fetchInfo, successCallback, failureCallback) {
                    $.ajax({
                        url: '{{ path('ucitaj_dogadjaje') }}', // Ruta koja vraća JSON podatke
                        method: 'GET',
                        dataType: 'json',
                        data: {
                            start: fetchInfo.startStr,
                            end: fetchInfo.endStr
                        },
                        success: function(response) {
                            successCallback(response);
                        },
                        error: function() {
                            failureCallback();
                        }
                    });
                },

                eventContent: function(info) {
                    const eventColor = info.event.backgroundColor || '#000'; // Boja eventa
                    const eventTextColor = info.event.textColor || '#000'; // Boja teksta eventa
                    const eventVreme = info.event.extendedProps.vreme || ''; // Provera da li postoji vreme u extendedProps

                    // Ako je događaj samo za pozadinu, ne prikazuje se standardni sadržaj
                    if (info.event.display === 'background') {
                        return {
                            html: `<span></span>`
                        };
                    } else {
                        // Ako postoji vreme, prikaži i vreme uz naslov
                        if (eventVreme) {
                            return {
                                html: `<div style="color: ${eventTextColor}; background-color: ${eventColor}; font-size: 10px;">${info.event.title} (${eventVreme})</div>`

                            };
                        } else {
                            // Ako nema vremena, samo prikaži naslov
                            return {
                                html: `<div style="color: ${eventTextColor}; background-color: ${eventColor}; font-size: 10px;">${info.event.title}</div>`
                            };
                        }
                    }
                },
            });

            // Init
            calendarEventColorsInit.render();

            // Resize event listener za update kada se menja veličina ekrana
            window.addEventListener('resize', function() {
                calendarEventColorsInit.refetchEvents();
            });

            // Resize calendar when sidebar toggler is clicked
            document.querySelectorAll('.sidebar-control').forEach(function(sidebarToggle) {
                sidebarToggle.addEventListener('click', function() {
                    calendarEventColorsInit.updateSize();
                });
            });
        }

    </script>
{% endblock footerJavascript %}
