<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Izveštaj {{ period }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .card {
            border: 1px solid #ddd;
            margin-bottom: 20px;
            border-radius: 4px;
            padding: 10px;
            page-break-inside: avoid; /* Sprečava razbijanje kartice */
        }
        .card-header {
            background-color: #f8f9fa;
            padding: 10px;
            font-size: 16px;
            font-weight: bold;
            page-break-after: avoid; /* Sprečava razbijanje kartice */
        }
        .card-body {
            padding: 10px;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            margin: -10px;
            page-break-inside: avoid; /* Sprečava razbijanje redova unutar kartice */
        }
        .col-6 {
            flex: 1;
            padding: 10px;
            box-sizing: border-box;
        }
        .bg-light {
            background-color: #f8f9fa;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
            page-break-inside: auto; /* Omogućava prelaz stranice unutar tabele */
            font-size: 12px; /* Smanjuje veličinu fonta za kompaktniji prikaz */
        }

        th, td {
            border: 1px solid #ddd;
            padding: 6px; /* Smanjena vrednost paddinga */
            text-align: left;
            page-break-inside: avoid; /* Sprečava razbijanje redova unutar tabele */
            page-break-after: auto;
        }

        th {
            background-color: #f8f9fa; /* Neutralna boja za zaglavlje */
            color: #333; /* Tamnija boja za tekst zaglavlja */
            font-weight: bold;
        }

        thead {
            display: table-header-group; /* Prikazuje zaglavlje tabele na svakoj novoj stranici */
        }

        tbody {
            display: table-row-group; /* Standardno ponašanje za telo tabele */
        }

        img {
            max-width: 100px; /* Ograničava veličinu slike u tabeli */
            height: auto; /* Čuva proporcije slike */
        }
        .header-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 20px;
        }
        .header-logo img {
            max-width: none; /* Uklanja ograničenje veličine za logotip */
            max-height: 100px; /* Podesite visinu logotipa na željenu vrednost */
        }
        .company-details {
            text-align: left;
        }
    </style>
</head>
<body>
<div class="header-row">
{#    <div class="header-logo">#}
{#        <img src="{{ absolute_url(asset('assets/images/logo/logo1.png')) }}" alt="Logo">#}
{#    </div>#}
    <div class="company-details">
        <div>{{ company.title() }}</div>
        <div>{{ company.grad.ptt }} {{ company.grad.title }}, {{ company.adresa }}</div>
        <div>Tel: {{ company.telefon1 }}</div>
        <div>E-mail: {{ company.email }}</div>
    </div>
</div>
<div class="container">

    <div class="card">
        <div class="card-header">{{ project.title }}: {{ period }}</div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table_morecondensed">
                    <thead>
                    <tr class="table-light">
                        {% if datum is defined %}
                            <th>Datum</th>
                        {% endif %}
                        {% if opis is defined %}
                            <th>Opis izvedenog posla</th>
                        {% endif %}
                        {% if ukupno is defined %}
                            <th>Ukupno</th>
                        {% endif %}
                        {% if ukupnoz is defined %}
                            <th>Ukupno*</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if reports is not empty %}
                        {% for key, value in reports[0] %}
                            <tr>
                                {% if datum is defined %}
                                    <td>
                                        <div class="fw-semibold">
                                            {{ key}} ({{ value | length }})
                                        </div>
{#                                        <div>#}
{#                                            {% if value[0].dan == 1 %}#}
{#                                                <span class="badge bg-secondary text-primary">Praznik</span>#}
{#                                            {% elseif value[0].dan  == 3 %}#}
{#                                                <span class="badge bg-secondary text-primary">Neradni dan</span>#}
{#                                            {% elseif value[0].dan == 5 %}#}
{#                                                <span class="badge bg-secondary text-primary">Praznik i neradni dan</span>#}
{#                                            {% endif %}#}
{#                                        </div>#}
                                    </td>
                                {% endif %}

                                {#                                                        {% if klijent is defined %}#}
                                {#                                                            {% set newClient = [] %}#}
                                {#                                                            <td>#}
                                {#                                                                {% for report in value %}#}
                                {#                                                                    {% if report.klijent |length != 0 %}#}
                                {#                                                                        {% for klijent in report.klijent %}#}
                                {#                                                                            {% if klijent not in newClient %}#}
                                {#                                                                                {{ klijent.title }}<br>#}
                                {#                                                                                {% set newClient = newClient|merge([klijent]) %}#}
                                {#                                                                            {% endif %}#}
                                {#                                                                        {% endfor %}#}
                                {#                                                                    {% else %}#}
                                {#                                                                        /#}
                                {#                                                                    {% endif %}#}
                                {#                                                                {% endfor %}#}
                                {#                                                            </td>#}
                                {#                                                        {% endif %}#}
                                <td>
                                    <table class="table table_morecondensed table-bordered">
                                        <thead class="bg-light">
                                        <tr>
                                            {% if opis is defined %}
                                                <th>Zadatak</th>
                                            {% endif %}
                                            {% if opis is defined %}
                                                <th>Kategorija</th>
                                            {% endif %}
                                            {% if opis is defined %}
                                                <th>Aktivnosti</th>
                                            {% endif %}
                                            {% if opis is defined %}
                                                <th>Obrada podataka*</th>
                                            {% endif %}
                                            {% if start is defined %}
                                                <th>Start</th>
                                            {% endif %}
                                            {% if stop is defined %}
                                                <th>Kraj</th>
                                            {% endif %}
                                            {% if razlika is defined %}
                                                <th>Razlika</th>
                                            {% endif %}
                                            {% if razlikaz is defined %}
                                                <th>Razlika*</th>
                                            {% endif %}

                                            {% if klijent is defined %}
                                                <th>Klijent*</th>
                                            {% endif %}

                                            {% if napomena is defined %}
                                                <th>Napomena</th>
                                            {% endif %}

                                            {% if zaduzeni is defined %}
                                                <th>Izvršioci</th>
                                            {% endif %}

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if reports[2] is not empty %}
                                            {% set prevTaskId = null %}
                                            {% set toggleClass = false %}

                                            {% for stopwatch in reports[2][loop.index0] %}
                                                {% if prevTaskId is not null and prevTaskId != stopwatch.task.id %}
                                                    {% set toggleClass = not toggleClass %}
                                                {% endif %}
                                                {% set prevTaskId = stopwatch.task.id %}

                                                <tr class="{% if toggleClass %}bg-light{% endif %}">

                                                    <td>
                                                        {{ stopwatch.task.title }}
                                                    </td>

                                                    {% if opis is defined %}
                                                        <td>
                                                            {% if stopwatch.category is not null %}
                                                                {{ stopwatch.category.title }}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% for akt in stopwatch.activity %}
                                                                {% if akt.id != constant('App\\Classes\\AppConfig::NOT_IN_LIST_ACTIVITY_ID') %}
                                                                    {{ akt.title }},
                                                                {% endif %}
                                                            {% endfor %}

                                                            {% set sentences = stopwatch.additionalActivity|split('. ') %}

                                                            {% for sentence in sentences %}
                                                                {{ sentence }}{% if not loop.last %},{% endif %}
                                                            {% endfor %}
                                                        </td>
                                                        <td>
                                                            {{ stopwatch.additionalDesc }}
                                                        </td>
                                                    {% endif %}
                                                    {% if start is defined %}
                                                        <td>
                                                            {{ stopwatch.start | date("H:i")}}
                                                        </td>
                                                    {% endif %}
                                                    {% if stop is defined %}
                                                        <td>
                                                            {{ stopwatch.stop | date("H:i")}}
                                                        </td>
                                                    {% endif %}
                                                    {% if razlika is defined %}
                                                        <td>
                                                            {{ stopwatch.hoursReal }}:{{ stopwatch.minutesReal}}<br>
                                                        </td>
                                                    {% endif %}
                                                    {% if razlikaz is defined %}
                                                        <td>
                                                            {{ stopwatch.hours }}:{{ stopwatch.minutes}}<br>
                                                        </td>
                                                    {% endif %}

                                                    {% if klijent is defined %}
                                                        <td>
                                                            {% if stopwatch.client is not null %}{{ stopwatch.client.title }}{% endif %}
                                                        </td>
                                                    {% endif %}

                                                    {% if napomena is defined %}
                                                        <td>
                                                            {% if stopwatch.description is not empty %}
                                                                {{ stopwatch.description }}
                                                            {% endif %}
                                                        </td>
                                                    {% endif %}
                                                    {% if zaduzeni is defined %}
                                                        <td>{{ stopwatch.user.fullName }}</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}

                                        {% endif %}
                                        </tbody>

                                    </table>
                                </td>

                                {% if ukupno is defined %}
                                    <td>
                                        {{ reports[1][loop.index0]['vremeR'] }}
                                        {#                                                                    {% set hoursRealTimePriority = 0 %}#}
                                        {#                                                                    {% set minutesRealTimePriority = 0 %}#}
                                        {#                                                                    {% for report in value %}#}
                                        {#                                                                        {% set hoursRealTimePriority = hoursRealTimePriority + report.time.hoursRealTimePriority %}#}
                                        {#                                                                        {% set minutesRealTimePriority = minutesRealTimePriority + report.time.minutesRealTimePriority %}#}
                                        {#                                                                    {% endfor %}#}
                                        {#                                                                {% if hoursRealTimePriority < 10 %}0{% endif %}{{ hoursRealTimePriority }}:{% if minutesRealTimePriority < 10 %}0{% endif %}{{minutesRealTimePriority}}#}
                                    </td>
                                {% endif %}
                                {% if ukupnoz is defined %}
                                    <td>
                                        {{ reports[1][loop.index0]['vreme'] }}
                                        {#                                                                    {% set hoursTimePriority = 0 %}#}
                                        {#                                                                    {% set minutesTimePriority = 0 %}#}
                                        {#                                                                    {% for report in value %}#}
                                        {#                                                                        {% set hoursTimePriority = hoursTimePriority + report.time.hoursTimePriority %}#}
                                        {#                                                                        {% set minutesTimePriority = minutesTimePriority + report.time.minutesTimePriority %}#}
                                        {#                                                                    {% endfor %}#}
                                        {#                                                                    {% if hoursTimePriority < 10 %}0{% endif %}{{ hoursTimePriority }}:{% if minutesTimePriority < 10 %}0{% endif %}{{minutesTimePriority}}#}
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="9">
                                <div class="text-body">
                                    Nema odrađenih zadataka u zadatom periodu
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
    </div>
    {% if checklist is defined %}
        <div class="card">
            <div class="card-header">{{ project.title }}: {{ period }} - interni zadaci</div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table_morecondensed">
                    <thead>
                    <tr class="table-light">
                        {% if datum is defined %}
                            <th>Datum</th>
                        {% endif %}

                        <th>Zaposleni</th>
                        <th>Zadatak</th>
                        <th>Kategorija</th>

                        {% if opis is defined %}
                            <th>Opis izvedenog posla</th>
                        {% endif %}

                    </tr>
                    </thead>
                    <tbody>

                    {% if intern is not empty %}
                        {% for check in intern %}
                            <tr>
                                {% if datum is defined %}
                                    <td>
                                        <div class="fw-semibold">
                                            {{ check.datumKreiranja | date('d.m.Y.')}}
                                        </div>
                                    </td>
                                {% endif %}
                                <td>{{check.user.fullName }}</td>
                                <td>{{check.task }}</td>
                                <td>{{check.category.title }}</td>
                                {% if opis is defined %}
                                    <td>
                                        <div>
                                            {{ check.finishDesc }}
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
</body>
</html>
