{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Inner content -->
                <div class="content-inner">

                    <!-- Content area -->
                    <div class="content d-flex justify-content-center align-items-center">

                        <!-- Container -->
                        <div class="flex-fill">

                            <!-- Error title -->
                            <div class="text-center mb-4">
                                <img src="{{ assets('images/error_bg.svg') }}" class="img-fluid mb-3" height="230" alt="">
                                <h1 class="display-3 fw-semibold lh-1 mb-3">Greška</h1>
                                <h6 class="w-md-25 mx-md-auto">Ups, došlo je do greške. <br> Server je naišao na internu grešku i nije mogao da završi vaš zahtev.</h6>
                            </div>
                            <!-- /error title -->


                            <!-- Error content -->
                            <div class="text-center">
                                <a href="{{ path('app_home') }}" class="btn btn-primary">
                                    <i class="ph-house me-2"></i>
                                    Povratak na kontrolnu tablu
                                </a>
                            </div>
                            <!-- /error wrapper -->

                        </div>
                        <!-- /container -->

                    </div>
                    <!-- /content area -->


                    <!-- Footer -->
                    {% include 'includes/footer.html.twig' %}
                    <!-- /footer -->

                </div>
                <!-- /inner content -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /main content -->

        {# {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }} #}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}

{% endblock includeJavascript %}
