{% extends 'layout.html.twig' %}
{% block content %}
    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Content area -->
                <div class="content d-flex justify-content-center align-items-center">

                    <!-- Reset form -->
                    {{ form_start(requestForm, {'attr': {'class' : 'login-form needs-validation', 'novalidation': 'novalidation' }}) }}
                        <div class="card mb-0">
                            <div class="card-body">
                                    <div class="text-center mb-3">
                                        <div class="d-inline-flex align-items-center justify-content-center mb-4 mt-2">
                                            <img src="{{ asset('assets/images/logo/epars_login.png') }}" class="h-250px" alt="">
                                        </div>
                                        <h5 class="mb-0">Resetujte Vašu lozinku</h5>
                                        <span class="d-block text-muted">Unesite Vašu email adresu i mi ćemo Vam poslati link za reset lozinke.</span>
                                    </div>
                                    <div class="mb-3">
                                        {{ form_label(requestForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                                        <div class="form-control-feedback form-control-feedback-start">
                                            {{ form_widget(requestForm.email, {attr: { class: 'form-control required'}}) }}
                                            <div class="invalid-feedback">Morate uneti ispravan email</div>
                                            <div class="form-control-feedback-icon">
                                                <i class="ph-user-circle text-muted"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary w-100">Pošaljite zahtev</button>
                                    </div>
                            </div>
                        </div>
                    {{ form_end(requestForm) }}
                    <!-- /reset form -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->


{% endblock content %}

