{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                               Komentari
                            </h4>
                        </div>
                    </div>

                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Lista komentara</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive card">
                                <table class="table table-bordered table-hover table-responsive table-sm">
                                    <thead class="bg-light text-primary">
                                    <tr>
                                        <th>Komentar</th>
                                        <th>Zadatak</th>
                                        <th>Kreirao</th>
                                        <th  {% if pagination.isSorted('[c.created]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Kreiran ', ['c.created']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.created' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.created' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th  {% if pagination.isSorted('[c.updated]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Izmenjen ', ['c.updated']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.updated' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.updated' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th  {% if pagination.isSorted('[c.isSuspended]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Status ', ['c.isSuspended']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.isSuspended' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.isSuspended' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>

                                        <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for comment in pagination %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('app_comment_view', {id:comment.id}) }}" class="text-body">
                                                    {{ comment.comment | slice(0, 20) ~ (comment.comment | length > 20 ? '...' : '') }}
                                                </a>
                                            </td>
                                            {% if comment.task is null %}
                                                    <td>
                                                        <a href="{{ path('app_checklist_view', {id:comment.managerChecklist.id}) }}" class="fw-semibold">
                                                            Interni ({{ comment.managerChecklist.user.fullName }})
                                                        </a>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <a href="{{ path('app_task_view', {id:comment.task.id}) }}" class="fw-semibold">
                                                            {{ comment.task.title }}
                                                        </a>
                                                    </td>
                                            {% endif %}
                                            <td>
                                                <a href="" class="fw-semibold">
                                                    {{ comment.user.fullName }}
                                                </a>
                                            </td>

                                            <td>
                                                {% if comment.created is not null %}
                                                    <div class="d-inline-flex align-items-center">
                                                        <i class="ph-calendar me-2"></i>
                                                        {{ comment.created | date("d.m.Y")}}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if comment.updated is not null %}
                                                    <div class="d-inline-flex align-items-center">
                                                        <i class="ph-calendar me-2"></i>
                                                        {{ comment.updated | date("d.m.Y")}}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if comment.isSuspended %}
                                                    <span class="badge bg-yellow text-primary">Obrisan</span>
                                                {% else %}
                                                    <span class="badge bg-primary text-white">Objavljen</span>
                                                {% endif %}
                                            </td>
                                            {% if comment.task is null %}
                                                <td class="text-center">
                                                    <div class="dropdown">
                                                        <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                            <i class="ph-gear"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <a href="{{ path('app_comment_view', {id:comment.id}) }}" class="dropdown-item">
                                                                <i class="ph-eye me-2"></i>
                                                                Vidite
                                                            </a>
                                                            <a href="{{ path('app_comment_edit_int', {id:comment.id}) }}" class="dropdown-item">
                                                                <i class="ph-note-pencil me-2"></i>
                                                                Izmenite
                                                            </a>

                                                            {% if comment.isSuspended == 0 %}
                                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_delete_comment{{ comment.id }}" class="dropdown-item">
                                                                    <i class="ph-trash me-2"></i>
                                                                    Obrišite
                                                                </a>
                                                            {% endif  %}
                                                        </div>
                                                    </div>
                                                    <div id="modal_delete_comment{{ comment.id }}" class="modal fade" tabindex="-1">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content text-start">
                                                                <div class="modal-header bg-danger text-white border-0">
                                                                    <h6 class="modal-title">Potvrda</h6>
                                                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                                                </div>

                                                                <div class="modal-body">
                                                                    <p>Da li ste sigurni da želite da obrišete ovaj komentar?</p>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                                                                    <a href="{{ path('app_comment_admin_delete', {id: comment.id} ) }}" id="link-stop" class="btn btn-danger"><i class="ph-trash me-2"></i> Obrišite</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            {% else %}
                                                <td class="text-center">
                                                    <div class="dropdown">
                                                        <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                            <i class="ph-gear"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <a href="{{ path('app_comment_view', {id:comment.id}) }}" class="dropdown-item">
                                                                <i class="ph-eye me-2"></i>
                                                                Vidite
                                                            </a>
                                                            <a href="{{ path('app_comment_edit', {id:comment.id}) }}" class="dropdown-item">
                                                                <i class="ph-note-pencil me-2"></i>
                                                                Izmenite
                                                            </a>

                                                            {% if comment.isSuspended == 0 %}
                                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_delete_comment{{ comment.id }}" class="dropdown-item">
                                                                    <i class="ph-trash me-2"></i>
                                                                    Obrišite
                                                                </a>
                                                            {% endif  %}
                                                        </div>
                                                    </div>
                                                    <div id="modal_delete_comment{{ comment.id }}" class="modal fade" tabindex="-1">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content text-start">
                                                                <div class="modal-header bg-danger text-white border-0">
                                                                    <h6 class="modal-title">Potvrda</h6>
                                                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                                                </div>

                                                                <div class="modal-body">
                                                                    <p>Da li ste sigurni da želite da obrišete ovaj komentar?</p>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                                                                    <a href="{{ path('app_comment_admin_delete', {id: comment.id} ) }}" id="link-stop" class="btn btn-danger"><i class="ph-trash me-2"></i> Obrišite</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {# {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }} #}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/sweet_alert.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile_tabbed.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/echarts/bars/tornado_negative_stack.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/balance_stats.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/available_hours.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/media/glightbox.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/task_manager_detailed.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/extra_sweetalert.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>

    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}
