{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}
        <style>
            .small-input {
                width: 100%; /* Custom width for input fields */
                margin-bottom: 5px; /* Spacing between inputs */
            }
        </style>
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Novi plan rada
                            </h4>
                        </div>
                    </div>
                </div>

                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <div class="card">
                        <div class="card-header d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#collapsed_item_filter" aria-expanded="false" type="button">
                            <h6 class="collapsed mb-0">
                                Dostupnost
                            </h6>
                            <div class="d-inline-flex ms-auto">
                                <span id="brojac" class="badge bg-yellow text-primary rounded-pill fw-semibold">0/{{ users | length }} </span>
                            </div>
                        </div>
                        <div id="collapsed_item_filter" class="accordion-collapse collapse show" data-bs-parent="#accordion_collapsed" style="">
                            <div class="card-body">
                                {% set noUsers = 7 %}
                                {% if users|length <= noUsers %}
                                    {% set noUsers = users|length %}
                                {% endif %}
                                {% set noCars = 3 %}
                                {% if cars|length <= noCars %}
                                    {% set noCars = cars|length %}
                                {% endif %}
                                {% set noTools = 7 %}
                                {% if tools|length <= noTools %}
                                    {% set noTools = tools|length %}
                                {% endif %}
                                {% if noUsers > 0 %}
                                    <div class="row">
                                    <div class="col-sm-6 col-lg-12">
                                        <div class="card">
                                            <table class="table table-bordered table-responsive table_morecondensed">
                                                <thead class="bg-light text-primary">
                                                <tr>
                                                    <th colspan="{{ noUsers }}">Zaposleni <i class="ph-info me-2" data-bs-popup="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Nakon odabira u planu, zaposleni u listi će promeniti boju." data-bs-original-title="Dostupni zaposleni"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for chunk in users|batch(noUsers, '') %}
                                                    <tr>
                                                        {% for member in chunk %}
                                                            <td class="zaposleni1">
                                                                {% if member is iterable %}
                                                                    <div class="list-group-item hstack gap-3 zaposleni">
                                                                        <div class="flex-fill">
                                                                            <div class="fw-semibold">{{ member.user.fullName }}
                                                                                {% if member.car is not null %}
                                                                                    <i class="ph-car me-2" data-bs-popup="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="{{ member.car.plate }}" data-bs-original-title="Zaduženo vozilo"></i>
                                                                                {% endif %}
                                                                                {% if member.oprema is not empty %}
                                                                                    <i class="ph-wrench me-2" data-bs-popup="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="{% for alat in member.oprema %}{{ alat }}{% if not loop.last %}, {% endif %}{% endfor %}" data-bs-original-title="Zadužena oprema"></i>
                                                                                {% endif %}
                                                                                {% if member.vreme is not empty %}
                                                                                    <i class="ph-coffee me-2" data-bs-popup="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="{{ member.vreme }}" data-bs-original-title="Nedostupan"></i>
                                                                                {% endif %}
                                                                            </div>
                                                                            <span class="sakriveno d-none">{{ member.id }}</span>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="row">
                                    {% if noTools > 0 %}
                                        <div class="col-sm-6 col-lg-8">
                                        <div class="card">
                                            <table class="table table-bordered table-responsive table_morecondensed">
                                                <thead class="bg-light text-primary">
                                                <tr>
                                                    <th colspan="{{ noTools }}">Oprema <i class="ph-info me-2" data-bs-popup="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Nakon odabira u planu, oprema u listi će promeniti boju." data-bs-original-title="Dostupna oprema"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for chunk in tools|batch(noTools, '') %}
                                                    <tr>
                                                        {% for tool in chunk %}
                                                            <td class="tool1">
                                                                {% if tool != '' %}
                                                                    <div class="list-group-item hstack gap-3 tool">
                                                                        <div class="flex-fill">
                                                                            <div class="fw-semibold">{{ tool.title }}</div>
                                                                            <span class="sakrivenoTool d-none">{{ tool.id }}</span>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if noCars > 0 %}
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="card">
                                            <table class="table table-bordered table-responsive table_morecondensed">
                                                <thead class="bg-light text-primary">
                                                <tr>
                                                    <th colspan="{{ noCars }}">Vozila <i class="ph-info me-2" data-bs-popup="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Nakon odabira u planu, vozilo u listi će promeniti boju." data-bs-original-title="Dostupna vozila"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for chunk in cars|batch(noCars, '') %}
                                                    <tr>
                                                        {% for car in chunk %}
                                                            <td class="car1">
                                                                {% if car != '' %}
                                                                    <div class="list-group-item hstack gap-3 car">
                                                                        <div class="flex-fill">
                                                                            <div class="fw-semibold">{{ car.plate }}</div>
                                                                            <span class="sakrivenoCar d-none">{{ car.id }}</span>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">
                                Dodavanje plana - {{ datum }}
                            </h6>
                        </div>
                        <form name="task_quick_form" method="post" action="{{ path('app_quick_tasks_form') }}" class="form-validate-jquery" novalidation="novalidation" enctype="multipart/form-data" id="task_quick_form">
                            <div class="card-body">

                                <input type="text" hidden="hidden" id="task_form_datum" name="task_quick_form_datum" value="{{ datum }}"/>

                                <div class="card">
                                    <ul class="nav nav-tabs nav-tabs-underline nav-justified mb-0" role="tablist">
                                        <li class="nav-item" role="presentation"><a href="#tab-desc" class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab">Zadaci</a></li>
                                        <li class="nav-item" role="presentation"><a href="#tab-spec" class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">Interni zadaci</a></li>
                                    </ul>

                                    <div class="tab-content card-body">
                                        <div class="tab-pane fade active show" id="tab-desc" role="tabpanel">
                                            <div class="card">

                                                    <table class="table table-hover table-bordered table_morecondensed">
                                                        <tbody id="tbody"></tbody>
                                                    </table>

                                                <div class="card-footer d-flex justify-content-between align-items-center bg-white">
                                                    <div class="d-flex align-items-center"><a class="btn btn-primary" id="addBtn"><i class="ph-plus me-2"></i> Dodajte</a></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="tab-spec" role="tabpanel">
                                            <div class="card">
                                                <table class="table table-hover table-bordered table_morecondensed">
                                                    <tbody id="tbodyI"></tbody>
                                                </table>
                                                <div class="card-footer d-flex justify-content-between align-items-center bg-white">
                                                    <div class="d-flex align-items-center"><a class="btn btn-primary" id="addBtnI"><i class="ph-plus me-2"></i> Dodajte</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /wizard with validation -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->


    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    {#    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>#}
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>


    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>
    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

{% endblock includeJavascript %}

{% block footerJavascript %}
    <script>
        $(document).ready(function() {

            function updateUniqueUserIds() {

                $('.zaposleni').removeClass('disabled-div');
                $('.zaposleni1').removeClass('bg-dark bg-opacity-25');

                var uniqueUserIds = {}; // Objekat za praćenje jedinstvenih korisničkih ID-jeva

                // Iteriramo kroz sva polja za korisnike i dodajemo ID-jeve u objekat
                $('[id^=task_form_users]').each(function() {
                    var selectedUserIds = $(this).val();
                    if (selectedUserIds) {
                        selectedUserIds.forEach(function(selectedUserId) {
                            if (selectedUserId) { // Proveravamo da li je vrednost različita od '---'
                                uniqueUserIds[selectedUserId] = true;

                                    $('.sakriveno').each(function() {
                                        if ($(this).text() === selectedUserId) {
                                            $(this).closest('.zaposleni').addClass('disabled-div');
                                            $(this).closest('.zaposleni1').addClass('bg-dark bg-opacity-25');
                                        }
                                    });

                            }
                        });
                    }
                });

                // Pretvaramo objekat u niz jedinstvenih ID-jeva
                var uniqueIdsArray = Object.keys(uniqueUserIds);

                var uniqueCount = Object.keys(uniqueUserIds).length;
                var ratio = uniqueCount + "/" + {{ users | length }};
                $('#brojac').text(ratio); // Ažuriramo tekst u elementu sa id="brojac"

            }

            // Dodajemo događaj koji će pozvati funkciju updateUniqueUserIds() na promenu bilo kog polja za korisnike
            $(document).on('change', '[id^=task_form_users]', function() {
                updateUniqueUserIds();
            });

            function updateSelectedTools() {

                $('.tool').removeClass('disabled-div');
                $('.tool1').removeClass('bg-dark bg-opacity-25');

                var uniqueToolsIds = {};

                $('[id^=task_form_oprema]').each(function() {
                    var selectedToolIds = $(this).val();
                    if (selectedToolIds) {
                        selectedToolIds.forEach(function(selectedToolId) {
                            if (selectedToolId) { // Proveravamo da li je vrednost različita od '---'
                                uniqueToolsIds[selectedToolId] = true;

                                $('.sakrivenoTool').each(function() {
                                    if ($(this).text() === selectedToolId) {
                                        $(this).closest('.tool').addClass('disabled-div');
                                        $(this).closest('.tool1').addClass('bg-dark bg-opacity-25');
                                    }
                                });

                            }
                        });
                    }
                });
            }

            $(document).on('change', '[id^=task_form_oprema]', function() {
                updateSelectedTools();
            });


            function updateSelectedCars() {
                var selectedCarsIds = {};
                // Uklanjamo klasu "live" sa svih korisnika
                $('.car').removeClass('disabled-div');
                $('.car1').removeClass('bg-dark bg-opacity-25');

                // Iteriramo kroz sve select elemente za "geo" i dodajemo klasu "live" korisnicima sa odabranim ID-jem
                $('[id^=task_form_vozilo]').each(function() {
                    var selectedCarId = $(this).val();
                    if (selectedCarId) {
                        $('.sakrivenoCar').each(function() {
                            if ($(this).text() === selectedCarId) {
                                $(this).closest('.car').addClass('disabled-div');
                                $(this).closest('.car1').addClass('bg-dark bg-opacity-25');
                            }
                        });
                    }
                });
            }

            $(document).on('change', '[id^=task_form_vozilo]', function() {
                updateSelectedCars();
            });


            var rowIdx = 0;
            var rowIdxI = 0;

            $('#addBtn').on('click', function (e) {
                e.preventDefault();
                let currentRowIdx = ++rowIdx; // Čuvamo trenutnu vrednost rowIdx
                $('#tbody').append(`
                <tr id="zadatak_${currentRowIdx}">
                    <td>
                    <div class="row">
                        <div class="col-lg-2 quick-form-media">
                            <div class="mb-1">
                                <label class="form-label" for="task_form_projekat_${currentRowIdx}">Projekat:*</label>
                                <select id="task_form_projekat_${currentRowIdx}" name="zadatak[${currentRowIdx}][projekat]" class="form-control select small-input required">
                                <option value=''>---</option>
                                    {% for project in projects %}
                                    <option value="{{ project.id }}">{{ project.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-2 quick-form-media">
                            <div class="mb-1">
                                   <label class="form-label" for="task_form_kategorija_${currentRowIdx}">Kategorija:*</label>
                                   <select id="task_form_kategorija_${currentRowIdx}" name="zadatak[${currentRowIdx}][category]" class="form-control select small-input required">
                                        <option value=''>---</option>
                                        {% for cat in categories %}
                                            <option value="{{ cat.id }}">{{ cat.title }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>

                        <div class="col-lg-3 quick-form-media">
                        <div class="mb-1">
                        <label class="form-label" for="task_form_users_${currentRowIdx}">Zaposleni:*</label>
                        <select id="task_form_users_${currentRowIdx}" name="zadatak[${currentRowIdx}][users][]" class="form-control select small-input" multiple required>
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.ime }}</option>
                        {% endfor %}
                        </select>
                        </div>
                        </div>

                        <div class="col-lg-2 quick-form-media">
                        <div class="mb-1">
                        <label class="form-label" for="task_form_primarni_${currentRowIdx}">Primarni dnevnik:*</label>
                        <select id="task_form_primarni_${currentRowIdx}" name="zadatak[${currentRowIdx}][primary]" class="form-control small-input" required>
                        <option value=''>---</option>
                        </select>
                        </div>
                        </div>

                        <div class="col-lg-3 quick-form-media">
                        <div class="mb-1">
                        <label class="form-label" for="task_form_aktivnosti_${currentRowIdx}">Aktivnosti:</label>
                        <select id="task_form_aktivnosti_${currentRowIdx}" name="zadatak[${currentRowIdx}][activity][]" class="form-control select small-input" multiple>
                        {% for act in activities %}
                        <option value="{{ act.id }}">{{ act.title }}</option>
                        {% endfor %}
                        </select>
                        </div>
                        </div>

                        <div class="col-lg-3 quick-form-media {% if tools|length == 0 %} d-none {% endif %}">
                        <div class="mb-1">
                        <label class="form-label" for="task_form_oprema_${currentRowIdx}">Oprema:</label>
                        <select id="task_form_oprema_${currentRowIdx}" name="zadatak[${currentRowIdx}][tools][]" class="form-control select small-input" multiple>
                        {% for tool in tools %}
                        <option value="{{ tool.id }}">{{ tool.title }}</option>
                        {% endfor %}
                        </select>
                        </div>
                        </div>

                        <div class="col-lg-2 quick-form-media {% if cars|length == 0 %} d-none {% endif %}">
                        <div class="mb-1">
                        <label class="form-label" for="task_form_vozilo_${currentRowIdx}">Vozilo:</label>
                        <select id="task_form_vozilo_${currentRowIdx}" name="zadatak[${currentRowIdx}][car]" class="form-control select small-input">
                        <option value=''>---</option>
                        {% for car in cars %}
                        <option value="{{ car.id }}">{{ car.carName }}</option>
                        {% endfor %}
                        </select>
                        </div>
                        </div>

                        <div class="col-lg-2 quick-form-media {% if cars|length == 0 %} d-none {% endif %}">
                        <div class="mb-1">
                        <label class="form-label" for="task_form_vozac_${currentRowIdx}">Vozač:</label>
                        <select id="task_form_vozac_${currentRowIdx}" name="zadatak[${currentRowIdx}][driver]" class="form-control select small-input">
                        <option value=''>---</option>
                        </select>
                        </div>
                        </div>

                        <div class="col-lg-3 quick-form-media">
                        <div class="mb-1">
                        <label class="form-label" for="task_form_desc_${currentRowIdx}">Napomena:</label>
                        <textarea id="task_form_desc_${currentRowIdx}" name="zadatak[${currentRowIdx}][desc]" class="form-control small-input" rows="1"></textarea>
                        </div>
                        </div>

                        <div class="col-lg-1 quick-form-media">
                        <div class="mb-1">
                        <label class="form-label" for="task_form_vreme_${currentRowIdx}">Vreme:</label>
                        <input id="task_form_vreme_${currentRowIdx}" name="zadatak[${currentRowIdx}][vreme]" class="form-control form-control-sm project1" type="time">
                        </div>
                        </div>

                        <div class="col-lg-1 quick-form-media">
                        <div class="mb-1">
                        <label class="form-label" for="task_form_naplativ_${currentRowIdx}">Naplativost:</label>
                        <div class="input-group">
                            <label class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="task_form_naplativ_${currentRowIdx}" name="zadatak[${currentRowIdx}][naplativ]" checked value="1">
                                <span class="form-check-label">Naplativ</span>
                            </label>
                        </div>
                        </div>
                        </div>
                    </div>
                    </td>
                    <td><a class="btn btn-danger remove mt-2" id="removeBtn"><i class="ph-trash"></i></a></td>
                </tr>
            `);

                // Inicijalizacija Select2 za novi element sa prilagođenom širinom
                $(`#task_form_projekat_${currentRowIdx},
                #task_form_kategorija_${currentRowIdx},
                #task_form_users_${currentRowIdx},
                #task_form_primarni_${currentRowIdx},
                #task_form_aktivnosti_${currentRowIdx},
                #task_form_oprema_${currentRowIdx},
                #task_form_vozilo_${currentRowIdx},
                #task_form_vozac_${currentRowIdx}`).select2({
                    width: '100%'
                });

                function updatePrimarySelect(currentRowIdx) {
                    $(`#task_form_users_${currentRowIdx}`).on('change', function () {
                        var selectedUsers = $(this).val();
                        var primarySelect = $(`#task_form_primarni_${currentRowIdx}`);
                        primarySelect.empty();
                        primarySelect.append(`<option value=''>---</option>`);
                        selectedUsers.forEach(function (userId) {
                            var userOption = $(`#task_form_users_${currentRowIdx} option[value="${userId}"]`).text();
                            primarySelect.append(`<option value="${userId}">${userOption}</option>`);
                        });
                    });
                }

                function updateVozacSelect(currentRowIdx) {
                    $(`#task_form_users_${currentRowIdx}, #task_form_vozilo_${currentRowIdx}`).on('change', function () {
                        var selectedVozilo = $(`#task_form_vozilo_${currentRowIdx}`).val();
                        var primarySelect = $(`#task_form_vozac_${currentRowIdx}`);
                        primarySelect.empty();
                        primarySelect.append(`<option value=''>---</option>`);
                        if (selectedVozilo) {
                            primarySelect.addClass('required');
                            var selectedUsers = $(`#task_form_users_${currentRowIdx}`).val();
                            selectedUsers.forEach(function (userId) {
                                var userOption = $(`#task_form_users_${currentRowIdx} option[value="${userId}"]`).text();
                                primarySelect.append(`<option value="${userId}">${userOption}</option>`);
                            });
                            // Postavi labelu sa zvezdicom
                            $(`label[for="task_form_vozac_${currentRowIdx}"]`).text('Vozač:*');
                        } else {
                            primarySelect.removeClass('required');
                            // Postavi labelu bez zvezdice
                            $(`label[for="task_form_vozac_${currentRowIdx}"]`).text('Vozač:');
                        }
                    });
                }


                updatePrimarySelect(currentRowIdx);
                updateVozacSelect(currentRowIdx);

            });

            $('#tbody').on('click', '.remove', function (e) {
                e.preventDefault();
                $(this).closest('tr').remove();
                // rowIdx--;
                updateUniqueUserIds();
                updateSelectedTools();
                updateSelectedCars();
            });

            $('#addBtnI').on('click', function (e) {
                e.preventDefault();
                let currentRowIdxI = ++rowIdxI; // Čuvamo trenutnu vrednost rowIdx
                $('#tbodyI').append(`
                <tr id="zadatakI_${currentRowIdxI}">
                    <td>
                    <div class="row">
                        <div class="col-lg-2 quick-form-media">
                            <div class="mb-1">
                                <label class="form-label" for="task_form_projekat_${currentRowIdxI}">Projekat:*</label>
                                <select id="task_form_projekatI_${currentRowIdxI}" name="zadatakI[${currentRowIdxI}][projekat]" class="form-control select small-input required">
                                <option value=''>---</option>
                                    {% for project in projects %}
                                    <option value="{{ project.id }}">{{ project.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-2 quick-form-media">
                            <div class="mb-1">
                                   <label class="form-label" for="task_form_kategorija_${currentRowIdxI}">Kategorija:*</label>
                                   <select id="task_form_kategorijaI_${currentRowIdxI}" name="zadatakI[${currentRowIdxI}][category]" class="form-control select small-input required">
                                        <option value=''>---</option>
                                        {% for cat in categories %}
                                            <option value="{{ cat.id }}">{{ cat.title }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>

                        <div class="col-lg-3 quick-form-media">
                        <div class="mb-1">
                        <label class="form-label" for="task_form_users_${currentRowIdxI}">Zaposleni:*</label>
                        <select id="task_form_usersI_${currentRowIdxI}" name="zadatakI[${currentRowIdxI}][users][]" class="form-control select small-input" multiple required>
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.ime }}</option>
                        {% endfor %}
                        </select>
                        </div>
                        </div>


                        <div class="col-lg-3 quick-form-media">
                        <div class="mb-1">
                        <label class="form-label" for="task_form_desc_${currentRowIdxI}">Zadatak:*</label>
                        <textarea id="task_form_descI_${currentRowIdxI}" name="zadatakI[${currentRowIdxI}][desc]" class="form-control small-input required" rows="1"></textarea>
                        </div>
                        </div>

                        <div class="col-lg-2 quick-form-media">
                        <div class="mb-1">
                        <label class="form-label" for="task_form_vreme_${currentRowIdxI}">Vreme:</label>
                        <input id="task_form_vremeI_${currentRowIdxI}" name="zadatakI[${currentRowIdxI}][vreme]" class="form-control form-control-sm project1" type="time">
                        </div>
                        </div>
                    </div>
                    </td>
                    <td class="text-center"><a class="btn btn-danger removeI mt-2" id="removeBtn"><i class="ph-trash"></i></a></td>
                </tr>
            `);

                // Inicijalizacija Select2 za novi element sa prilagođenom širinom
                $(`#task_form_projekatI_${currentRowIdxI},
                #task_form_kategorijaI_${currentRowIdxI},
                #task_form_usersI_${currentRowIdxI}`).select2({
                    width: '100%'
                });
            });

            $('#tbodyI').on('click', '.removeI', function (e) {
                e.preventDefault();
                $(this).closest('tr').remove();
                // rowIdxI--;
                updateUniqueUserIds();
                updateSelectedTools();
                updateSelectedCars();
            });
        });
    </script>
{% endblock footerJavascript %}


