{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                               Plan rada
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Lista planova</h5>
                            <div class="my-auto ms-auto">
                                <a href="{{ path('app_quick_tasks_form_date') }}" class="btn btn-primary"><i class="ph-plus me-2"></i> Dodajte</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card">
                                <table class="table table-bordered table-hover table-responsive table-sm">
                                    <thead>
                                    <tr class="bg-light text-primary">
                                        <th {% if pagination.isSorted('[f.datum]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Datum ', ['f.datum']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'f.datum' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'f.datum' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th>Status</th>
                                        <th>Broj zadataka</th>
                                        <th>Broj zamena</th>
                                        <th  {% if pagination.isSorted('[f.created]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Kreiran ', ['f.created']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'f.created' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'f.created' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th {% if pagination.isSorted('[f.updated]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Poslednja izmena ', ['f.updated']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'f.updated' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'f.updated' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in pagination %}
                                        <tr>
                                            <td>
                                                <div class="d-inline-flex align-items-center">
                                                    <i class="ph-calendar me-2"></i>
                                                    {{ task.datum | date("d.m.Y")}}
                                                </div>
                                            </td>
                                            <td>
                                                {% if task.status == constant('App\\Classes\\Data\\FastTaskData::OPEN') %}
                                                    <span class="badge bg-secondary text-primary">Kreiran</span>
                                                {% elseif task.status == constant('App\\Classes\\Data\\FastTaskData::SAVED') %}
                                                    <span class="badge bg-success text-white">Sačuvan</span>
                                                {% elseif  task.status == constant('App\\Classes\\Data\\FastTaskData::EDIT') %}
                                                    <span class="badge bg-yellow text-primary">Izmenjen</span>
                                                {% elseif  task.status == constant('App\\Classes\\Data\\FastTaskData::FINAL') %}
                                                    <span class="badge bg-primary text-white">Finaliziran</span>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <span class="badge bg-yellow text-primary align-self-center rounded-pill ms-auto">{{ task.noTasks }}</span>
                                            </td>
                                            <td class="text-center">
                                                <span class="badge bg-yellow text-primary align-self-center rounded-pill ms-auto">{{ task.noSubs }}</span>
                                            </td>
                                            <td>
                                                <div class="d-inline-flex align-items-center">
                                                    <i class="ph-calendar me-2"></i>
                                                    {{ task.created | date("d.m.Y")}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-inline-flex align-items-center">
                                                    <i class="ph-calendar me-2"></i>
                                                    {{ task.updated | date("d.m.Y")}}
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                        <i class="ph-gear"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="{{ path('app_quick_tasks_view', { id: task.id}) }}" class="dropdown-item"><i class="ph-eye me-2"></i> Vidite</a>
                                                        {% if task.status != constant('App\\Classes\\Data\\FastTaskData::FINAL') %}
                                                            <a href="{{ path('app_quick_task_edit', { id: task.id}) }}" class="dropdown-item"><i class="ph-note-pencil me-2"></i> Izmenite</a>
                                                        {% endif %}
                                                        {% if task.status == constant('App\\Classes\\Data\\FastTaskData::OPEN') %}
                                                            <a href="" data-bs-toggle="modal" data-bs-target="#modal_delete_task{{ task.id }}" class="dropdown-item"><i class="ph-trash me-2"></i> Obrišite</a>
                                                        {% endif %}
                                                        {% if task.status != constant('App\\Classes\\Data\\FastTaskData::OPEN') and task.status != constant('App\\Classes\\Data\\FastTaskData::FINAL' ) %}
                                                            <a href="{{ path('app_email_timetable', { id: task.id}) }}" class="dropdown-item"><i class="ph-envelope me-2"></i> Pošaljite plan</a>
                                                        {% endif %}
                                                    </div>
                                                    {#                                            <!-- delete task modal -->#}
                                                    <div id="modal_delete_task{{ task.id }}" class="modal fade" tabindex="-1">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header bg-danger text-white border-0">
                                                                    <h6 class="modal-title">Potvrda</h6>
                                                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                                                </div>

                                                                <div class="modal-body">
                                                                    <p>Da li ste sigurni da želite da obrišete ovaj plan?</p>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                                                                    <a href="{{ path('app_quick_tasks_delete', {id: task.id} ) }}" id="link-stop" class="btn btn-danger"><i class="ph-trash me-2"></i> Obrišite</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /delete task modal -->
                                                    {#                                            <!-- close task modal -->#}
                                                    {#                                            <div id="modal_close_task{{ task.task.id }}" class="modal fade" tabindex="-1">#}
                                                    {#                                                <div class="modal-dialog">#}
                                                    {#                                                    <div class="modal-content">#}
                                                    {#                                                        <div class="modal-header bg-primary text-white border-0">#}
                                                    {#                                                            <h6 class="modal-title">Potvrda</h6>#}
                                                    {#                                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>#}
                                                    {#                                                        </div>#}

                                                    {#                                                        <div class="modal-body">#}
                                                    {#                                                            <p>Da li ste sigurni da želite da zatvorite otvorene dnevnike?</p>#}
                                                    {#                                                        </div>#}

                                                    {#                                                        <div class="modal-footer">#}
                                                    {#                                                            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>#}
                                                    {#                                                            <a href="{{ path('app_task_close',{id: task.task.id} ) }}" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</a>#}
                                                    {#                                                        </div>#}
                                                    {#                                                    </div>#}
                                                    {#                                                </div>#}
                                                    {#                                            </div>#}
                                                    {#                                            <!-- /close task modal -->#}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>

                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/ui/fab.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/ui/prism.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/task_manager_detailed.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/components_modals.js') }}"></script>
{% endblock includeJavascript %}
