{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                               Kategorije
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-lg-flex py-lg-0">
                            <h5 class="py-lg-3 mb-0">Lista kategorija</h5>
                            <div class="mt-1 my-lg-auto ms-lg-auto">
                                <a href="{{ path('app_category_form') }}" class="btn btn-primary"><i class="ph-plus me-2"></i> Dodajte</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive ">
                                <table class="table table-bordered table-hover table-responsive">
                                    <thead>
                                    <tr>
                                        <th {% if pagination.isSorted('[c.id]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, '# ID ', ['c.id']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.id' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.id' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th  {% if pagination.isSorted('[c.title]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Naziv ', ['c.title']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.title' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.title' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th  {% if pagination.isSorted('[c.isTaskCategory]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Kategorija zadatka ', ['c.TaskCategory']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.TaskCategory' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.TaskCategory' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th  {% if pagination.isSorted('[c.isSuspended]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Status ', ['c.isSuspended']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.isSuspended' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.isSuspended' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th class="text-center text-muted" style="width: 30px;"><i class="ph-check"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for category in pagination %}
                                        <tr>
                                            <td>{{ category.id }}</td>
                                            <td><div class="fw-semibold"><a href="{{ path('app_category_view', { id: category.id}) }}">{{ category.title }}</a></div></td>
                                            <td>
                                                {% if category.isTaskCategory %}
                                                    <i class="ph-check-circle"></i>
                                                {% else %}
                                                    <i class="ph-minus-circle"></i>
                                                {% endif %}
                                            </td>
                                            <td>{{ category.badgeByStatus | raw }}</td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                        <i class="ph-gear"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="{{ path('app_category_view', { id: category.id}) }}" class="dropdown-item"><i class="ph-eye me-2"></i> Vidite</a>
                                                        <a href="{{ path('app_category_form', { id: category.id}) }}" class="dropdown-item"><i class="ph-note-pencil me-2"></i> Izmenite</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

{% endblock includeJavascript %}
