{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::headerKadrovska' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebarKadrovska', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                {{ company.title }}
                            </h4>
                        </div>
                    </div>
                    {{ render(controller('App\\Controller\\WidgetController::companyProfilNavigationKadrovska', { company: company } )) }}
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <!-- Inner container -->
                    <div class="d-lg-flex align-items-lg-start">

                        <!-- Right content -->
                        <div class="tab-content flex-fill">
                            <div class="tab-pane fade active show">

                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h5 class="mb-0">Pregled aktivnosti zaposlenih</h5>
                                    </div>
                                    <form method="get" action="{{ path('app_kadrovska_company_employees_addon', {id:company.id}) }}" class="form-validate-jquery" novalidation="novalidation">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="user">Zaposleni:</label>
                                                        <select id="user" name="user" class="form-control select">
                                                            <option value="">--Izaberite zaposlenog--</option>
                                                            {% for user in users %}
                                                                <option value="{{ user.id }}">{{ user.fullName }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label class="form-label required" for="addon">Tip aktivnosti:</label>
                                                        <select id="addon" name="addon" class="form-control select">
                                                            <option value="">--Izaberite tip aktivnosti--</option>
                                                            {% for key, value in addons %}
                                                                <option value="{{ key }}">{{ value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="period">Period:</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i class="ph-calendar"></i></span>
                                                            <input type="text" class="form-control daterange-locale-sr" id="period" name="period">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="text-end">
                                                <button type="button" class="btn btn-primary"
                                                        onclick="window.location.href = this.closest('form').action;">
                                                    <i class="ph-arrow-counter-clockwise me-2"></i> Reset
                                                </button>
                                                <button type="submit" class="btn btn-primary"><i class="ph-gear-six me-2"></i> Prikažite</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card-body">
                                        <div class="table-responsive card">
                                        <table class="table table-bordered table-hover table-responsive table-sm">
                                            <thead class="bg-light text-primary">
                                            <tr>
                                                <th{% if pagination.isSorted('[t.id]') %} class="sorted"{% endif %}>
                                                    {{ knp_pagination_sortable(pagination, '# ID ', ['t.id']) }}
                                                    {% if pagination.getDirection() == 'desc' and pagination.getSort() == 't.id' %}
                                                        &#8595;
                                                    {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 't.id' %}
                                                        &#8593;
                                                    {% else %}
                                                        &#8597;
                                                    {% endif %}
                                                </th>
                                                <th>Zaposleni</th>
                                                <th{% if pagination.isSorted('[t.datum]') %} class="sorted"{% endif %}>
                                                    {{ knp_pagination_sortable(pagination, 'Datum ', ['t.datum']) }}
                                                    {% if pagination.getDirection() == 'desc' and pagination.getSort() == 't.datum' %}
                                                        &#8595;
                                                    {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 't.datum' %}
                                                        &#8593;
                                                    {% else %}
                                                        &#8597;
                                                    {% endif %}
                                                </th>
                                                <th{% if pagination.isSorted('[t.type]') %} class="sorted"{% endif %}>
                                                    {{ knp_pagination_sortable(pagination, 'Tip ', ['t.type']) }}
                                                    {% if pagination.getDirection() == 'desc' and pagination.getSort() == 't.type' %}
                                                        &#8595;
                                                    {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 't.type' %}
                                                        &#8593;
                                                    {% else %}
                                                        &#8597;
                                                    {% endif %}
                                                </th>
                                                <th{% if pagination.isSorted('[t.isSuspended]') %} class="sorted"{% endif %}>
                                                    {{ knp_pagination_sortable(pagination, 'Status ', ['t.isSuspended']) }}
                                                    {% if pagination.getDirection() == 'desc' and pagination.getSort() == 't.isSuspended' %}
                                                        &#8595;
                                                    {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 't.isSuspended' %}
                                                        &#8593;
                                                    {% else %}
                                                        &#8597;
                                                    {% endif %}
                                                </th>
                                                <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for addon in pagination %}
                                                <tr>
                                                    <td>{{ addon.id }}</td>
                                                    <td><div class="fw-semibold"><a href="{{ path('app_employee_profile_view_kadrovska', { id: addon.user.id}) }}">{{ addon.user.fullName }}</a></div></td>
                                                    <td>
                                                        <div class="d-inline-flex align-items-center">
                                                            <i class="ph-calendar me-2"></i>
                                                            {{ addon.datum | date("d.m.Y.")}}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {% if addon.type == 1 %}
                                                            <span class="badge bg-secondary text-primary">Lekarski pregled</span>
                                                        {% elseif addon.type == 2 %}
                                                            <span class="badge bg-yellow text-primary">Evaluacija</span>
                                                        {% elseif addon.type == 3 %}
                                                            <span class="badge bg-purple text-white">Edukacija</span>
                                                        {% elseif addon.type == 4 %}
                                                            <span class="badge bg-primary text-white">Stimulacija</span>
                                                        {% elseif addon.type == 5 %}
                                                            <span class="badge bg-primary text-white">Destimulacija</span>
                                                        {% endif %}
                                                    </td>

                                                    <td>
                                                        {% if addon.isSuspended %}
                                                            <span class="badge bg-yellow text-primary">Obrisan</span>
                                                        {% else %}
                                                            <span class="badge bg-secondary text-primary">Aktivan</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="dropdown">
                                                            <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                                <i class="ph-gear"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a href="{{ path('app_employee_addon_view_kadrovska', { id: addon.id}) }}" class="dropdown-item"><i class="ph-eye me-2"></i> Vidite</a>
                                                                <a href="{{ path('app_employee_addon_create_kadrovska', {user:addon.user.id, id:addon.id}) }}" class="dropdown-item"><i class="ph-note-pencil me-2"></i> Izmenite</a>
                                                                <a href="{{ path('app_employee_addon_delete_kadrovska', { id: addon.id}) }}" class="dropdown-item"><i class="ph-trash me-2"></i> Obrišite</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="navigation float-end">
                                            {{ knp_pagination_render(pagination) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /right content -->

                    </div>
                    <!-- /inner container -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include '_kadrovska/includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

    </div>
    {% include '_kadrovska/includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/sweet_alert.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile_tabbed.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/echarts/bars/tornado_negative_stack.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/balance_stats.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/available_hours.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/extra_sweetalert.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>

    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}
