{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header page-header-light shadow d-none d-sm-block">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                {{ task.project.title | default ('Zadatak bez projekta') }}: {{ task.title }}
                            </h4>

                            <a href="#page_header" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        <div class="collapse d-lg-block my-lg-auto ms-lg-auto" id="page_header">
                            <div class="d-sm-flex align-items-center mb-3 mb-lg-0 ms-lg-3">
                                <div class="vr d-none d-sm-block flex-shrink-0 my-2 mx-3"></div>
                                <div class="d-inline-flex mt-3 mt-sm-0">
                                    <a href="{{ path('app_task_form') }}" class="btn btn-outline-primary btn-icon w-32px h-32px rounded-pill ms-3">
                                        <i class="ph-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="page-header-content d-lg-flex border-top">
                        <div class="d-flex">
                            {% if task.project is null %}
                                <div class="breadcrumb py-2">
                                    <a href="{{ path('app_home') }}" class="breadcrumb-item"><i class="ph-house"></i></a>
                                    <a href="{{ path('app_tasks') }}" class="breadcrumb-item">Zadaci</a>
                                    <a href="{{ path('app_task_view', {id: task.id} ) }}" class="breadcrumb-item">{{ task.title }}</a>
                                    <span class="breadcrumb-item active">Dnevnik: {{ taskLog.user.getFullName() }}</span>
                                </div>
                            {% else %}
                                <div class="breadcrumb py-2">
                                    <a href="{{ path('app_home') }}" class="breadcrumb-item"><i class="ph-house"></i></a>
                                    <a href="{{ path('app_projects') }}" class="breadcrumb-item">Projekti</a>
                                    <a href="{{ path('app_project_profile_view', {id: task.project.id} ) }}" class="breadcrumb-item">Informacije</a>
                                    <a href="{{ path('app_project_tasks_view', {id: task.project.id} ) }}" class="breadcrumb-item">Zadaci</a>
                                    {% if app.user in task.getAssignedUsers %}
                                        <a href="{{ path('app_task_view_user', {id: task.id} ) }}" class="breadcrumb-item">{{ task.title }}</a>
                                    {% else %}
                                        <a href="{{ path('app_task_view', {id: task.id} ) }}" class="breadcrumb-item">{{ task.title }}</a>
                                    {% endif %}


                                    <span class="breadcrumb-item active">Dnevnik: {{ taskLog.user.getFullName() }}</span>
                                </div>
                            {% endif %}
                            <a href="#breadcrumb_elements" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        {{ render(controller('App\\Controller\\WidgetController::support' )) }}
                    </div>
                    {% if task.project is not null %}
                        {{ render(controller('App\\Controller\\WidgetController::projectProfilNavigation', { project: task.project } )) }}
                    {% endif %}

                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <div class="d-flex align-items-stretch align-items-lg-start flex-column flex-lg-row">

                        <!-- Left content -->
                        <div class="flex-1 order-2 order-lg-1">

                            <div class="card">
                                <div class="card-header d-lg-flex py-lg-0">
                                    <h5 class="py-lg-3 mb-0">#{{ task.id }}: {{task.title }} - {{ taskLog.user.getFullName() }}</h5>
                                    {% if not task.isDeleted %}
                                        <div class="mt-1 my-lg-auto ms-lg-auto">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_form_vertical"><i class="ph-plus me-2"></i> Dodajte</button>
                                        </div>
                                    {% endif %}
                                </div>

                                {{ render(controller('App\\Controller\\StopwatchController::add', { taskLog: taskLog.id, id:0 } )) }}

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-12 col-sm-12">
                                            <div class="card">
                                                {% if stopwatchesActive is empty %}
                                                    <div class="card-body">

                                                    <div class="mt-2">
                                                        <h6 class="mb-1">Ne postoji vremenskih zapisa za ovaj dnevnik.</h6>
                                                    </div>

                                                </div>
                                                {% else %}
                                                    <div class="card-body">
                                                        <div class="fw-bold border-bottom pb-2 mb-3">Vreme</div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="mb-3">
                                                                    <div class="d-flex list-group-item align-items-start">
                                                                        <div class="me-2">
                                                                            <i class="ph-timer"></i>
                                                                        </div>

                                                                        <div class="flex-fill overflow-hidden">
                                                                            <div class="fw-semibold text-truncate text-body">
                                                                                Zaokruženo
                                                                            </div>
                                                                        </div>

                                                                        <div class="ms-3">
                                                                            <span class="badge bg-warning bg-opacity-20 text-warning me-2">{{ time.hours }}:{{ time.minutes }}h</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="mb-3">
                                                                    <div class="d-flex list-group-item align-items-start">
                                                                        <div class="me-2">
                                                                            <i class="ph-timer"></i>
                                                                        </div>

                                                                        <div class="flex-fill overflow-hidden">
                                                                            <div class="fw-semibold text-truncate text-body">
                                                                                Bez zaokruživanja
                                                                            </div>

                                                                        </div>

                                                                        <div class="ms-3">
                                                                            <span class="badge bg-danger bg-opacity-20 text-danger me-2">{{ time.hoursR }}:{{ time.minutesR }}h</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Odrađene aktivnosti</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    <ul class="list mb-0">
                                                                        {% set newActivity = [] %}
                                                                        {% for stopwatch in stopwatchesActive %}
                                                                            {% if stopwatch.activity is not empty %}
                                                                                {% for activity in stopwatch.activity %}
                                                                                    {% if activity not in newActivity %}
                                                                                        <li>{{ activity.title }}</li>
                                                                                        {% set newActivity = newActivity|merge([activity]) %}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                Nema odrađenih aktivnosti.
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Dodatni opis</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    {% for stopwatch in stopwatchesActive %}
                                                                        {% if stopwatch.description is not null %}
                                                                            {{ stopwatch.description | raw }}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Slike</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">

                                                                        {% for stopwatch in stopwatchesActive %}
                                                                            {% for image in stopwatch.images %}
                                                                                <div class="col-xl-1 col-sm-2">
                                                                                    <div class="card">
                                                                                        <div class="card-img-actions">
                                                                                            <img class="card-img img-fluid" src="{{ asset(image.thumbnail100) }}" alt="">
                                                                                            <div class="card-img-actions-overlay card-img">
                                                                                                <a href="{{ asset(image.thumbnail1024) }}" class="btn btn-outline-white btn-icon rounded-pill" data-bs-popup="lightbox" data-gallery="gallery1">
                                                                                                    <i class="ph-magnifying-glass-plus"></i>
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            {% endfor %}
                                                                        {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Dokumenta</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    {% for stopwatch in stopwatchesActive %}
                                                                    {% for pdf in stopwatch.pdfs %}
                                                                    <div class="d-flex align-items-start mb-3">
                                                                    <div class="me-2">
                                                                    <i class="ph-file-pdf"></i>
                                                                    </div>

                                                                    <div class="flex-fill overflow-hidden">
                                                                    <div class="fw-semibold text-truncate">{{ pdf.title }}</div>
                                                                    </div>

                                                                    <div class="ms-3">
                                                                    <a href="{{ asset(pdf.path) }}" download class="text-body">
                                                                    <i class="ph-download-simple"></i>
                                                                    </a>
                                                                    </div>
                                                                    </div>
                                                                    {% endfor %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header d-lg-flex py-lg-0">
                                    <h5 class="py-lg-3 mb-0">Vremenski zapisi</h5>
                                </div>

                                <div class="card-body">
                                    <div class="accordion" id="accordion_collapsed">
                                        {% for stopwatch in stopwatches %}
                                            <div class="accordion-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsed_item{{ loop.index }}">
                                                            {% if stopwatch.deleted %}
                                                                #{{ loop.index }}: {{ stopwatch.created | date("d.m.Y H:i:s")}} - {{ stopwatch.deletedBy.getFullName() }} <span class="badge bg-warning bg-opacity-20 text-warning mx-2">Obrisan</span>
                                                            {% elseif not stopwatch.deleted and stopwatch.edited %}
                                                                #{{ loop.index }}: {{ stopwatch.created | date("d.m.Y H:i:s")}} - {{ stopwatch.editedBy.getFullName() }} <span class="badge bg-info bg-opacity-20 text-info mx-2">Manuelno</span>
                                                            {% elseif stopwatch.manually and not stopwatch.deleted %}
                                                                #{{ loop.index }}: {{ stopwatch.created | date("d.m.Y H:i:s")}} <span class="badge bg-danger bg-opacity-20 text-danger mx-2">Naknadno zatvoren</span> *Predlažemo da ovaj vremenski zapis obrišete kako ne bi uticao na izveštaj i kreirate novi ručno.
                                                            {% else %}
                                                                #{{ loop.index }}: {{ stopwatch.created | date("d.m.Y H:i:s")}} <span class="badge bg-success bg-opacity-20 text-success mx-2">Automatsko</span>
                                                            {% endif %}
                                                        </button>
                                                    </h2>
                                                    <div id="collapsed_item{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordion_collapsed">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-xl-12 col-sm-12">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Vreme</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-4">
                                                                                    <div class="mb-3">
                                                                                        <div class="d-flex list-group-item align-items-start">
                                                                                            <div class="me-2">
                                                                                                <i class="ph-timer"></i>
                                                                                            </div>

                                                                                            <div class="flex-fill overflow-hidden">
                                                                                                <div class="fw-semibold text-truncate text-body">
                                                                                                    Zaokruženo
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="ms-3">
                                                                                                <span class="badge bg-warning bg-opacity-20 text-warning me-2">{{ stopwatch.hours }}:{{ stopwatch.minutes }}h</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-lg-4">
                                                                                    <div class="mb-3">
                                                                                        <div class="d-flex list-group-item align-items-start">
                                                                                            <div class="me-2">
                                                                                                <i class="ph-timer"></i>
                                                                                            </div>

                                                                                            <div class="flex-fill overflow-hidden">
                                                                                                <div class="fw-semibold text-truncate text-body">
                                                                                                    Bez zaokruživanja
                                                                                                </div>

                                                                                            </div>

                                                                                            <div class="ms-3">
                                                                                                <span class="badge bg-danger bg-opacity-20 text-danger me-2">{{ stopwatch.hoursReal }}:{{ stopwatch.minutesReal }}h</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Odrađene aktivnosti</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-3">
                                                                                        <ul class="list mb-0">
                                                                                                {% if stopwatch.activity is not empty %}
                                                                                                    {% for activity in stopwatch.activity %}
                                                                                                        <li>{{ activity.title }}</li>
                                                                                                    {% endfor %}
                                                                                                {% else %}
                                                                                                    Nema odrađenih aktivnosti.
                                                                                                {% endif %}
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Dodatni opis</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-3">

                                                                                            {% if stopwatch.description is not null %}
                                                                                                {{ stopwatch.description | raw }}
                                                                                            {% else %}
                                                                                                Nema dodatnog opisa.
                                                                                            {% endif %}

                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Slike</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-3">


                                                                                            {% for image in stopwatch.images %}
                                                                                                <div class="col-xl-1 col-sm-2">
                                                                                                    <div class="card">
                                                                                                        <div class="card-img-actions">
                                                                                                            <img class="card-img img-fluid" src="{{ asset(image.thumbnail100) }}" alt="">
                                                                                                            <div class="card-img-actions-overlay card-img">
                                                                                                                <a href="{{ asset(image.thumbnail1024) }}" class="btn btn-outline-white btn-icon rounded-pill" data-bs-popup="lightbox" data-gallery="gallery1">
                                                                                                                    <i class="ph-magnifying-glass-plus"></i>
                                                                                                                </a>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            {% endfor %}

                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Dokumenta</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-3">

                                                                                            {% for pdf in stopwatch.pdfs %}
                                                                                                <div class="d-flex align-items-start mb-3">
                                                                                                    <div class="me-2">
                                                                                                        <i class="ph-file-pdf"></i>
                                                                                                    </div>

                                                                                                    <div class="flex-fill overflow-hidden">
                                                                                                        <div class="fw-semibold text-truncate">{{ pdf.title }}</div>
                                                                                                    </div>

                                                                                                    <div class="ms-3">
                                                                                                        <a href="{{ asset(pdf.path) }}" download class="text-body">
                                                                                                            <i class="ph-download-simple"></i>
                                                                                                        </a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            {% endfor %}

                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="card-footer d-flex justify-content-between align-items-center">
                                                                            <div class="d-flex align-items-center">
                                                                            </div>
                                                                            {% if not stopwatch.deleted %}
                                                                                <div class="d-inline-flex mb-0">
                                                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal_{{ loop.index }}" class="text-body ms-2"><i class="ph-trash"></i></a>
                                                                                </div>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /left content -->

                    </div>

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>


    {% include 'includes/notification.html.twig' %}
    <!-- Vertical form modal -->

    {% for stopwatch in stopwatches %}
        <div id="modal_{{ loop.index }}" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white border-0">
                    <h6 class="modal-title">Potvrda</h6>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <p>Da li ste sigurni da želite da obrišete ovaj vremenski zapis?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                    <a href="{{ path('app_stopwatch_delete', {id: stopwatch.id} ) }}" id="link-stop" class="btn btn-danger"><i class="ph-trash me-2"></i> Obrišite</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- /vertical form modal -->
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>#}

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/sweet_alert.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile_tabbed.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/echarts/bars/tornado_negative_stack.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/balance_stats.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/available_hours.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/media/glightbox.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/extra_sweetalert.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/task_manager_detailed.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>


    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}
    <script src="{{ asset('assets/demo/pages/components_modals.js') }}"></script>

{% endblock includeJavascript %}

