{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                #{{ task.id }}: {{task.title }}
                            </h4>
                        </div>
                    </div>
                    {{ render(controller('App\\Controller\\WidgetController::projectProfilNavigation', { project: task.project } )) }}
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <div class="d-flex align-items-stretch align-items-lg-start flex-column flex-lg-row">

                        <!-- Left content -->
                        <div class="flex-1 order-2 order-lg-1">

                            <div class="card">
                            <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">#{{ task.id }}: {{task.title }} - {{ taskLog.user.getFullName() }}</h5>
                                    {% set difference = date()|date_modify(constant('App\\Classes\\AppConfig::TIME_DIFFERENCE')) %}
                                    {% if not task.isDeleted %}
                                        {% if is_granted('ROLE_EMPLOYEE') and not task.isDeleted and task.created > difference %}
                                            <div class="my-auto ms-auto">
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_form_vertical"><i class="ph-plus me-2"></i> Dodajte</button>
                                            </div>
                                        {% endif %}
                                        {% if not is_granted('ROLE_EMPLOYEE') %}
                                            <div class="my-auto ms-auto">
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_form_vertical"><i class="ph-plus me-2"></i> Dodajte</button>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>

                                {{ render(controller('App\\Controller\\StopwatchController::add', { taskLog: taskLog.id, id:0 } )) }}

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-12 col-sm-12">
                                            <div class="card">
                                                {% if stopwatchesActive is empty %}
                                                    <div class="card-body">
                                                        <div class="alert alert-info fade show">
                                                            <span class="fw-semibold">Trenutno ne postoje vremenski zapisi za ovaj dnevnik.</span> Moguće je da je merenje u toku ili da još nije započeto.
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="card-body">
                                                        <div class="fw-bold border-bottom pb-2 mb-3">Vreme</div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="mb-3">
                                                                    <div class="d-flex list-group-item align-items-start">
                                                                        <div class="me-2">
                                                                            <i class="ph-timer"></i>
                                                                        </div>

                                                                        <div class="flex-fill overflow-hidden">
                                                                            <div class="fw-semibold text-truncate text-body">
                                                                                Zaokruženo
                                                                            </div>
                                                                        </div>

                                                                        <div class="ms-3">
                                                                            <span class="badge bg-secondary text-primary me-2">{{ time.hours }}:{{ time.minutes }}h</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="mb-3">
                                                                    <div class="d-flex list-group-item align-items-start">
                                                                        <div class="me-2">
                                                                            <i class="ph-timer"></i>
                                                                        </div>

                                                                        <div class="flex-fill overflow-hidden">
                                                                            <div class="fw-semibold text-truncate text-body">
                                                                                Bez zaokruživanja
                                                                            </div>

                                                                        </div>

                                                                        <div class="ms-3">
                                                                            <span class="badge bg-yellow text-primary me-2">{{ time.hoursR }}:{{ time.minutesR }}h</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Početak i kraj merenja</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    {% for stopwatch in stopwatchesActive %}
                                                                        <i class="ph-timer me-2"></i>{{ stopwatch.start | date ('d.m.Y H:i') }} - {{ stopwatch.stop | date ('d.m.Y H:i') }}<br>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Odrađene aktivnosti</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    {% set newActivity = [] %}
                                                                    {% for stopwatch in stopwatchesActive %}
                                                                        {% set activityExists = false %}
                                                                        {% if stopwatch.activity is not empty %}
                                                                            {% for activity in stopwatch.activity %}
                                                                                {% if activity.id != constant('App\\Classes\\AppConfig::NEMA_U_LISTI_ID') %}
                                                                                    {% if activity not in newActivity %}
                                                                                        <i class="ph-checks me-2"></i>{{ activity.title }}<br>
                                                                                        {% set newActivity = newActivity|merge([activity]) %}
                                                                                    {% endif %}
                                                                                {% else %}
                                                                                    {% set activityExists = true %}
                                                                                    {% set sentences = stopwatch.additionalActivity|split('. ') %}
                                                                                    {% for sentence in sentences %}
                                                                                        <i class="ph-checks me-2"></i>{{ sentence }}<br>
                                                                                    {% endfor %}
                                                                                {% endif %}
                                                                            {% endfor %}

                                                                            {% if not activityExists and stopwatch.additionalActivity is not empty%}
                                                                                {% set sentences = stopwatch.additionalActivity|split('. ') %}
                                                                                {% for sentence in sentences %}
                                                                                    <i class="ph-checks me-2"></i>{{ sentence }}<br>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                            {#                                                                            {% if stopwatch.additionalActivity is not empty and  %}#}
                                                                        {% endif %}
                                                                        {#                                                                        {{ dump(stopwatch.additionalActivity) }}#}
                                                                        {#                                                                        {% set sentences = stopwatch.additionalActivity|split('. ') %}#}

                                                                        {#                                                                        {% for sentence in sentences %}#}
                                                                        {#                                                                            <i class="ph-checks me-2"></i>{{ sentence }}<br>#}
                                                                        {#                                                                        {% endfor %}#}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Obrada podataka</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    {% for stopwatch in stopwatchesActive %}
                                                                        {% if stopwatch.additionalDesc is not null %}
                                                                            <i class="ph-note-blank me-2"></i>{{ stopwatch.additionalDesc }}<br>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Napomena</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    {% for stopwatch in stopwatchesActive %}
                                                                        {% if stopwatch.description is not null %}
                                                                            <i class="ph-note me-2"></i>{{ stopwatch.description }}<br>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Klijent</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    <i class="ph-factory me-2"></i>{{ task.project.client.first.title }}
                                                                    {% for stopwatch in stopwatchesActive %}
                                                                        {% if stopwatch.client is not empty %}
                                                                            ({{ stopwatch.client.title }})
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Slike</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    <div class="row">
                                                                        {% for stopwatch in stopwatchesActive %}
                                                                            {% for image in stopwatch.images %}
                                                                                <div class="col-2">
                                                                                    <div class="card">
                                                                                        <div class="card-img-actions">
                                                                                            <img class="card-img img-fluid" src="{{ asset(image.thumbnail500) }}" alt="">
                                                                                            <div class="card-img-actions-overlay card-img">
                                                                                                <a href="{{ asset(image.thumbnail1024) }}" class="btn btn-outline-white btn-icon rounded-pill" data-bs-popup="lightbox" data-gallery="gallery1">
                                                                                                    <i class="ph-magnifying-glass-plus"></i>
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            {% endfor %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Dokumenta</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    {% for stopwatch in stopwatchesActive %}
                                                                        {% for pdf in stopwatch.pdfs %}
                                                                            <div class="d-flex align-items-start mb-3">
                                                                                <div class="me-2">
                                                                                    <i class="ph-file-pdf"></i>
                                                                                </div>

                                                                                <div class="flex-fill overflow-hidden">
                                                                                    <div class="fw-semibold text-truncate">{{ pdf.title }}</div>
                                                                                </div>

                                                                                <div class="ms-3">
                                                                                    <a href="{{ asset(pdf.path) }}" download class="text-body">
                                                                                        <i class="ph-download-simple"></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                            <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Vremenski zapisi</h5>
                                </div>

                                <div class="card-body">
                                    <div class="accordion" id="accordion_collapsed">
                                        {% for stopwatch in stopwatches %}
                                            <div class="accordion-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsed_item{{ loop.index }}">
                                                            {% if stopwatch.deleted %}
                                                                {{ stopwatch.start | date ('d.m.Y H:i') }} - {{ stopwatch.stop | date ('d.m.Y H:i') }} - {{ stopwatch.deletedBy.getFullName() }} <span class="badge bg-yellow text-primary mx-2"><i class="ph-trash"></i></span>
                                                            {% elseif not stopwatch.deleted and stopwatch.edited %}
                                                                {{ stopwatch.start | date ('d.m.Y H:i') }} - {{ stopwatch.stop | date ('d.m.Y H:i') }} - {{ stopwatch.editedBy.getFullName() }} <span class="badge bg-secondary text-primary mx-2"><i class="ph-hand"></i></span>
                                                            {% elseif stopwatch.manually and not stopwatch.deleted %}
                                                                {{ stopwatch.start | date ('d.m.Y H:i') }} - {{ stopwatch.stop | date ('d.m.Y H:i') }} <span class="badge bg-danger text-white mx-2"> <i class="ph-door"></i></span> *Predlažemo da ovaj vremenski zapis izmenite kako ne bi uticao na izveštaj.
                                                            {% else %}
                                                                {{ stopwatch.start | date ('d.m.Y H:i') }} - {{ stopwatch.stop | date ('d.m.Y H:i') }} <span class="badge bg-primary text-white mx-2"><i class="ph-monitor"></i></span>
                                                            {% endif %}
                                                        </button>
                                                    </h2>
                                                    <div id="collapsed_item{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordion_collapsed">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-xl-12 col-sm-12">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Početak i kraj merenja</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-4">
                                                                                    <div class="mb-3">
                                                                                        <i class="ph-timer me-2"></i>{{ stopwatch.start | date ('d.m.Y H:i') }} - {{ stopwatch.stop | date ('d.m.Y H:i') }}
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Vreme</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-6">
                                                                                    <div class="mb-3">
                                                                                        <div class="d-flex list-group-item align-items-start">
                                                                                            <div class="me-2">
                                                                                                <i class="ph-timer"></i>
                                                                                            </div>

                                                                                            <div class="flex-fill overflow-hidden">
                                                                                                <div class="fw-semibold text-truncate text-body">
                                                                                                    Zaokruženo
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="ms-3">
                                                                                                <span class="badge bg-secondary text-primary me-2">{{ stopwatch.hours }}:{{ stopwatch.minutes }}h</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-lg-6">
                                                                                    <div class="mb-3">
                                                                                        <div class="d-flex list-group-item align-items-start">
                                                                                            <div class="me-2">
                                                                                                <i class="ph-timer"></i>
                                                                                            </div>

                                                                                            <div class="flex-fill overflow-hidden">
                                                                                                <div class="fw-semibold text-truncate text-body">
                                                                                                    Bez zaokruživanja
                                                                                                </div>

                                                                                            </div>

                                                                                            <div class="ms-3">
                                                                                                <span class="badge bg-yellow text-primary me-2">{{ stopwatch.hoursReal }}:{{ stopwatch.minutesReal }}h</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Odrađene aktivnosti</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-3">
                                                                                        {% set exists = false %}
                                                                                        {% if stopwatch.activity is not empty %}
                                                                                            {% for activity in stopwatch.activity %}
                                                                                                {% if activity.id != constant('App\\Classes\\AppConfig::NEMA_U_LISTI_ID') %}
                                                                                                    <i class="ph-checks me-2"></i>{{ activity.title }}<br>
                                                                                                {% else %}
                                                                                                    {% set exists = true %}
                                                                                                    {% set sentences = stopwatch.additionalActivity|split('. ') %}
                                                                                                    {% for sentence in sentences %}
                                                                                                        <i class="ph-checks me-2"></i>{{ sentence }}<br>
                                                                                                    {% endfor %}
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                            {% if not exists and stopwatch.additionalActivity is not empty%}
                                                                                                {% set sentences = stopwatch.additionalActivity|split('. ') %}
                                                                                                {% for sentence in sentences %}
                                                                                                    <i class="ph-checks me-2"></i>{{ sentence }}<br>
                                                                                                {% endfor %}
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Obrada podataka</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-3">

                                                                                            {% if stopwatch.additionalDesc is not null %}
                                                                                                <i class="ph-note-blank me-2"></i>{{ stopwatch.additionalDesc }}<br>
                                                                                            {% else %}
                                                                                                Nema obrade podataka.
                                                                                            {% endif %}

                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Napomena</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-3">
                                                                                        {% if stopwatch.description is not null %}
                                                                                            <i class="ph-note me-2"></i>{{ stopwatch.description}}
                                                                                        {% else %}
                                                                                            Nema dodatnog opisa.
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Klijent</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-3">
                                                                                        <i class="ph-factory me-2"></i>{{ task.project.client.first.title }}
                                                                                            {% if stopwatch.client is not empty %}
                                                                                                ({{ stopwatch.client.title }})
                                                                                            {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Slike</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-3">
                                                                                        <div class="row">
                                                                                            {% for image in stopwatch.images %}
                                                                                                <div class="col-2">
                                                                                                    <div class="card">
                                                                                                        <div class="card-img-actions">
                                                                                                            <img class="card-img img-fluid" src="{{ asset(image.thumbnail500) }}" alt="">
                                                                                                            <div class="card-img-actions-overlay card-img">
                                                                                                                <a href="{{ asset(image.thumbnail1024) }}" class="btn btn-outline-white btn-icon rounded-pill" data-bs-popup="lightbox" data-gallery="gallery1">
                                                                                                                    <i class="ph-magnifying-glass-plus"></i>
                                                                                                                </a>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            {% endfor %}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="fw-bold border-bottom pb-2 mb-3">Dokumenta</div>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="mb-3">
                                                                                        {% for pdf in stopwatch.pdfs %}
                                                                                            <div class="d-flex align-items-start mb-3">
                                                                                                <div class="me-2">
                                                                                                    <i class="ph-file-pdf"></i>
                                                                                                </div>

                                                                                                <div class="flex-fill overflow-hidden">
                                                                                                    <div class="fw-semibold text-truncate">{{ pdf.title }}</div>
                                                                                                </div>

                                                                                                <div class="ms-3">
                                                                                                    <a href="{{ asset(pdf.path) }}" download class="text-body">
                                                                                                        <i class="ph-download-simple"></i>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        {% endfor %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-footer d-flex justify-content-between align-items-center">
                                                                            <div class="d-flex align-items-center">
                                                                            </div>
                                                                            {% if not stopwatch.deleted %}
                                                                                {% if is_granted('ROLE_EMPLOYEE') and task.datumKreiranja > difference %}
                                                                                    <div class="d-inline-flex mb-0">
                                                                                        <a href="{{ path('app_stopwatch_edit_time_forma', {id:stopwatch.id}) }}" class="text-body ms-2"><i class="ph-clock"></i></a>
                                                                                        <a href="{{ path('app_stopwatch_edit_forma', {id:stopwatch.id}) }}" class="text-body ms-2"><i class="ph-note-pencil"></i></a>
                                                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_{{ loop.index }}" class="text-body ms-2"><i class="ph-trash"></i></a>
                                                                                    </div>
                                                                                {% endif %}
                                                                                {% if not is_granted('ROLE_EMPLOYEE') %}
                                                                                    <div class="d-inline-flex mb-0">
                                                                                        <a href="{{ path('app_stopwatch_edit_time_forma', {id:stopwatch.id}) }}" class="text-body ms-2"><i class="ph-clock"></i></a>
                                                                                        <a href="{{ path('app_stopwatch_edit_forma', {id:stopwatch.id}) }}" class="text-body ms-2"><i class="ph-note-pencil"></i></a>
                                                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_{{ loop.index }}" class="text-body ms-2"><i class="ph-trash"></i></a>
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /left content -->

                    </div>

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>


    {% include 'includes/notification.html.twig' %}
    <!-- Vertical form modal -->

    {% for stopwatch in stopwatches %}
        <div id="modal_{{ loop.index }}" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white border-0">
                    <h6 class="modal-title">Potvrda</h6>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <p>Da li ste sigurni da želite da obrišete ovaj vremenski zapis?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                    <a href="{{ path('app_stopwatch_delete', {id: stopwatch.id} ) }}" id="link-stop" class="btn btn-danger"><i class="ph-trash me-2"></i> Obrišite</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- /vertical form modal -->
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/sweet_alert.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile_tabbed.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/echarts/bars/tornado_negative_stack.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/balance_stats.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/available_hours.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/media/glightbox.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/extra_sweetalert.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/task_manager_detailed.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>


    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}
    <script src="{{ asset('assets/demo/pages/components_modals.js') }}"></script>

{% endblock includeJavascript %}

{% block footerJavascript %}
    <script>
        $(document).ready(function(){
            // Funkcija koja će se izvršiti odmah po učitavanju stranice
            updateAdditionalActivityVisibility();

            // Prilikom promene izbora u selektu aktivnosti
            $('#stopwatch_time_add_form_activity').change(function(){
                // Pozivamo funkciju za ažuriranje vidljivosti dodatnih aktivnosti
                updateAdditionalActivityVisibility();
            });

            // Funkcija za ažuriranje vidljivosti dodatnih aktivnosti
            function updateAdditionalActivityVisibility() {
                // Proveri da li je izabrana aktivnost "Obrada podataka" (vrednost 67)
                if($('#stopwatch_time_add_form_activity').val().includes('{{constant('App\\Classes\\AppConfig::BEZ_OBAVEZE_ID')}}') || $('#stopwatch_time_add_form_activity').val().includes('{{ constant('App\\Classes\\AppConfig::OSTALO_ID') }}')) {
                    // Ako je izabrana aktivnost 67 ili constant('App\\Classes\\AppConfig::OSTALO_ID'), učini polje za unos dodatnih aktivnosti obaveznim
                    $('#stopwatch_time_add_form_description').prop('required', true);
                    // Promeni labelu na "Napomena:*"
                    $('label[for="stopwatch_time_add_form_description"]').text('Napomena:*');
                    $('.nap').text('Detaljnije opišite aktivnost.');
                } else {
                    // Ako nije izabrana aktivnost 67 ili constant('App\\Classes\\AppConfig::OSTALO_ID'), učini polje za unos dodatnih aktivnosti neobaveznim
                    $('#stopwatch_time_add_form_description').prop('required', false);
                    // Ostavi labelu kakva je
                    $('label[for="stopwatch_time_add_form_description"]').text('Napomena:');
                    $('.nap').text('');
                }

                if($('#stopwatch_time_add_form_activity').val().includes('{{constant('App\\Classes\\AppConfig::OBRADA_ID')}}')) {
                    $('#stopwatch_time_add_form_additionalDesc').prop('required', true);
                    $('.obrada').prop('required', false).show();
                } else {
                    $('#stopwatch_time_add_form_additionalDesc').prop('required', false);
                    $('.obrada').prop('required', false).hide();
                }

                // Proveri da li je izabrana aktivnost "Nešto drugo" (vrednost constant('App\\Classes\\AppConfig::OSTALO_ID'))
                if ($('#stopwatch_time_add_form_activity').val().includes('{{constant('App\\Classes\\AppConfig::NEMA_U_LISTI_ID')}}')) {
                    // Ako jeste, učini polje za unos dodatnih aktivnosti obaveznim i vidljivim
                    $('#stopwatch_time_add_form_additionalActivity').prop('required', true).show();
                    $('.dodAkt').prop('required', false).show();
                } else {
                    // Ako nije, učini polje za unos dodatnih aktivnosti neobaveznim i nevidljivim
                    $('#stopwatch_time_add_form_additionalActivity').prop('required', false).hide();
                    $('.dodAkt').prop('required', false).hide();
                }
            }
        });
    </script>
{% endblock footerJavascript %}