{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Content area -->
                <div class="content">
                    {% if  countTasksUnclosed > 0%}
                        <div class="alert alert-danger alert-dismissible fade show">
                            <span class="fw-semibold">Važno!</span> Imate <a href="{{ path('app_tasks_unclosed_logs') }}" class="alert-link">nezatvoren dnevnik</a> u predhodnih 7 dana. Morate prvo njega zatvoriti da bi pokrenuli današnje.
                        </div>
                    {% endif %}

{#                    <div class="alert alert-secondary alert-dismissible fade show">#}
{#                        <span class="fw-semibold">Uputstvo je ažurirano 13.09.2023.</span> Preuzmite i pogledajte šta je <a href="{{ asset('/assets/manual/manual.pdf') }}" class="alert-link" download>novo</a> dodato.#}
{#                    </div>#}

{#                    {% if checklistActive is not empty %}#}
{#                        <div class="col-xl-12">#}
{#                                <div class="card">#}
{#                                    <div class="card-header d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#collapsed_item1" aria-expanded="false" type="button">#}
{#                                        <h5 class="mb-0">Interni zadaci</h5>#}
{#                                        <div class="d-inline-flex ms-auto">#}
{#                                            <span class="badge bg-yellow text-primary rounded-pill fw-semibold">{{ countChecklistActive }}</span>#}
{#                                        </div>#}
{#                                    </div>#}

{#                                    <div id="collapsed_item1" class="accordion-collapse collapse" data-bs-parent="#accordion_collapsed" style="">#}
{#                                        <div class="table-responsive">#}
{#                                            <table class="table table-hover table-bordered table_morecondensed">#}
{#                                                <tbody>#}
{#                                                <tr class="table-light fw-semibold">#}
{#                                                    <td colspan="3">Aktivni</td>#}
{#                                                </tr>#}
{#                                                {% for task in checklistActive | slice(0,5)%}#}
{#                                                    <tr>#}
{#                                                        <td>#}
{#                                                            <div class="d-inline-flex align-items-center">#}
{#                                                                <i class="ph-calendar me-2"></i>#}
{#                                                                {{ task.created | date("d.m.Y")}}#}
{#                                                            </div>#}
{#                                                        </td>#}
{#                                                        <td class="text-center">#}
{#                                                            {% if task.priority == 1 %}#}
{#                                                                <span class="badge bg-danger bg-opacity-20 text-danger">Veoma visok</span>#}
{#                                                            {% elseif task.priority == 2 %}#}
{#                                                                <span class="badge bg-warning bg-opacity-20 text-warning">Visok</span>#}
{#                                                            {% elseif task.priority == 4 %}#}
{#                                                                <span class="badge bg-info bg-opacity-20 text-info">Nizak</span>#}
{#                                                            {% elseif task.priority == 5 %}#}
{#                                                                <span class="badge bg-secondary bg-opacity-20 text-secondary">Veoma nizak</span>#}
{#                                                            {% else %}#}
{#                                                                <span class="badge bg-primary bg-opacity-50 text-white">Normalan</span>#}
{#                                                            {% endif %}#}
{#                                                        </td>#}

{#                                                        <td class="text-center">#}
{#                                                            <a type="button" class="text-body collapsed" data-bs-toggle="collapse" data-bs-target="#collapsed_item{{ task.id }}" aria-expanded="false"><i class="ph-caret-down collapsible-indicator"></i></a>#}
{#                                                        </td>#}

{#                                                    </tr>#}

{#                                                    <tr id="collapsed_item{{ task.id }}" class="accordion-collapse collapse bg-light" data-bs-parent="#accordion_collapsed" style="">#}

{#                                                        <td colspan="2">#}
{#                                                            <a href="{{ path('app_checklist_view', {id: task.id}) }}" class="text-body">#}
{#                                                                {{ task.task | slice(0, 30) ~ (task.task | length > 30 ? '...' : '') }}#}
{#                                                            </a>#}
{#                                                        </td>#}
{#                                                        <td class="text-center">#}
{#                                                            {% if task.status == 0 %}#}
{#                                                                <a href="{{ path('app_checklist_finish', {id: task.id}) }}" class="btn btn-primary">#}
{#                                                                    <i class="ph-check"></i>#}
{#                                                                </a>#}
{#                                                            {% endif %}#}
{#                                                        </td>#}
{#                                                    </tr>#}
{#                                                {% endfor %}#}
{#                                                <tr class="table-light fw-semibold">#}
{#                                                    <td colspan="2"></td>#}
{#                                                    <td class="text-center">#}
{#                                                        <div class="d-inline-flex mb-0">#}
{#                                                            <a href="{{ path('app_checklist_to_do') }}" class="btn-sm btn-primary"> Vidi sve</a>#}
{#                                                        </div>#}
{#                                                    </td>#}
{#                                                </tr>#}

{#                                                </tbody>#}
{#                                            </table>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                    {% endif %}#}

                    {% if settings.isWidgete %}
                        <div class="mb-3">
                            <div class="row row-tile g-0">
                                <div class="col">
                                    <a type="button" href="{{ path('app_projects') }}" class="btn btn-light w-100 flex-column rounded-0 rounded-top-start py-2">
                                        <i class="ph-folders bg-secondary  text-primary lh-1 rounded-pill p-2 ph-2x"></i>
                                        <h5 class="mb-0">&nbsp;
                                        </h5>
                                        <div class="fw-semibold">
                                            Projekti
                                        </div>
                                    </a>
                                    <a type="button" href="{{ path('app_tasks') }}" class="btn btn-light w-100 flex-column rounded-0 rounded-bottom-start py-2">
                                        <i class="ph-list-bullets bg-secondary  text-primary lh-1 rounded-pill p-2 ph-2x"></i>
                                        <h5 class="mb-0">{{ countTasksActiveByUser }}</h5>
                                        <div class="fw-semibold">
                                            Broj zadataka
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a type="button" href="{{ path('app_checklist_to_do') }}" class="btn btn-light w-100 flex-column rounded-0 rounded-top-end py-2">
                                        <i class="ph-list-bullets bg-secondary  text-primary lh-1 rounded-pill p-2 ph-2x"></i>
                                        <h5 class="mb-0">{{ checklistActive }}</h5>
                                        <div class="fw-semibold">
                                            Broj internih zadataka
                                        </div>
                                    </a>
                                    {% if calendar %}
                                        <a type="button" href="{{ path('app_employee_calendar_view', {id:user.id}) }}" class="btn btn-light w-100 flex-column rounded-0 rounded-bottom-end py-2">
                                            <i class="ph-calendar bg-secondary  text-primary lh-1 rounded-pill p-2 ph-2x"></i>
                                            <h5 class="mb-0">&nbsp;
                                            </h5>
                                            <div class="fw-semibold">
                                                Kalendar
                                            </div>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row row-tile g-0">
                                <div class="col">
                                    {% if car %}
                                        <a type="button" href="{{ path('app_employee_car_view', {id:user.id}) }}" class="btn btn-light w-100 flex-column rounded-0 rounded-start py-2">
                                            <i class="ph-car bg-secondary  text-primary lh-1 rounded-pill p-2 ph-2x"></i>
                                            <h5 class="mb-0">{{ noCars }}</h5>
                                            <div class="fw-semibold">
                                                Vozila
                                            </div>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    {% if tool %}
                                        <a type="button" href="{{ path('app_employee_tools_view', {id:user.id}) }}" class="btn btn-light w-100 flex-column rounded-0 rounded-end py-2">
                                            <i class="ph-wrench bg-secondary  text-primary lh-1 rounded-pill p-2 ph-2x"></i>
                                            <h5 class="mb-0">{{ noTools }}</h5>
                                            <div class="fw-semibold">
                                                Oprema
                                            </div>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if settings.isPlanToday %}
                        <div class="row ">
                            <div class="col-xl-12">

                                <!-- Marketing campaigns -->
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h5 class="mb-0">Zadaci kreirani za {{ danas | date('d.m.Y') }}</h5>
                                        {#                                    <div class="my-auto ms-auto">#}
                                        {#                                        <a href="{{ path('app_car_tools_details_view') }}" class="btn btn-primary"><i class="ph-gear me-2"></i> Zaduživanje</a>#}
                                        {#                                    </div>#}
                                    </div>
                                    <div class="table-responsive card">
                                        <table class="table table-hover table-bordered table_morecondensed">
                                            <thead class="bg-light">
                                            <tr>
                                                <th>Projekat</th>
                                                <th>Zaposleni</th>
                                                <th class="text-center" style="width: 10px;">
                                                    <i class="ph-dots-three"></i>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if logs is not empty %}
                                                {% for log in logs %}
                                                    {% if log[3] == 1 %}
                                                        <tr>
                                                    {% endif %}
                                                    {% if log[3] == 0 %}
                                                        <tr>
                                                    {% endif %}
                                                    {% if log[3] == 2 %}
                                                        <tr class="bg-secondary">
                                                    {% endif %}
                                                    <td style="width: 40%;">
                                                        <div class="fw-semibold">
                                                            <div class="btn-group">
                                                                <a href="#" class="fw-semibold d-inline-flex align-items-center ">
                                                                    <a href="{{ path('app_project_tasks_view', { id: log[0].task.project.id }) }}" class="fw-semibold d-inline-flex align-items-center">
                                                                        <span>{{ log[0].task.project.title }}{% if log[0].task.time|date('H:i') != '00:00' %} ({{ log[0].task.time|date('H:i') }}){% endif %}</span>
                                                                        {% if log[3] == 0 %}
                                                                            <div class="live p-1 mx-2"></div>
                                                                        {% endif %}
                                                                    </a>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="width: 50%;">
                                                        {% for user in log[0].task.assignedUsers %}
                                                            <div class="fw-semibold">{{ user.getNameWithFirstLetter }}</div>
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('app_task_view_user', { id: log[0].task.id}) }}" class="btn btn-primary"><i class="ph-clipboard"></i></a>
                                                    </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /marketing campaigns -->
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xl-12">

                                <!-- Marketing campaigns -->
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h5 class="mb-0">Interni zadaci kreirani za {{ danas | date('d.m.Y') }}</h5>
{#                                                                            <div class="my-auto ms-auto">#}
{#                                                                                <a href="{{ path('app_car_tools_details_view') }}" class="btn btn-primary"><i class="ph-gear me-2"></i> Zaduživanje</a>#}
{#                                                                            </div>#}
                                    </div>
                                    <div class="table-responsive card">
                                        <table class="table table-hover table-bordered table_morecondensed">
                                            <thead class="bg-light">
                                            <tr>
                                                <th>Projekat</th>
                                                <th>Zaposleni</th>
                                                <th class="text-center" style="width: 10px;">
                                                    <i class="ph-dots-three"></i>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if checklistTomorrow is not empty %}
                                                {% for task in checklistTomorrow %}
                                                    {% if task.project is not null %}
                                                            {% if task.status == constant('App\\Classes\\Data\\TaskStatusData::NIJE_ZAPOCETO') %}
                                                                <tr>
                                                            {% endif %}
                                                            {% if task.status == constant('App\\Classes\\Data\\TaskStatusData::ZAPOCETO') %}
                                                                <tr>
                                                            {% endif %}
                                                            {% if task.status == constant('App\\Classes\\Data\\TaskStatusData::ZAVRSENO') %}
                                                                <tr class="bg-secondary">
                                                            {% endif %}

                                                            <td style="width: 45%;">
                                                                <div class="fw-semibold">
                                                                    <a href="{{ path('app_checklist_view', {id:task.id}) }}">{{ task.project.title }}</a>
                                                                </div>
                                                            </td>
                                                            <td style="width: 45%;">
                                                                <div class="fw-semibold">
                                                                    <div class="btn-group">
                                                                        <a href="{{ path('app_employee_checklist_view', { id: task.user.id }) }}" class="d-inline-flex align-items-center ">
                                                                            {{ task.user.getNameWithFirstLetter }}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="test-center text-primary">
                                                                <a href="{{ path('app_checklist_view', { id: task.id}) }}" class="btn btn-primary"><i class="ph-clipboard"></i></a>
                                                            </td>
                                                            </tr>
                                                        {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="3">
                                                        <div class="fw-semibold">
                                                            Nema kreiranih internih zadataka za danas
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /marketing campaigns -->
                            </div>
                        </div>
                    {% endif %}


{#                    <div class="col-xl-12">#}

{#                            <!-- Marketing campaigns -->#}
{#                            <div class="card">#}
{#                            <div class="card-header d-flex align-items-center">#}
{#                            <h5 class="mb-0">{{ app.user.fullName }}, {{ danas | date('d.m.Y') }}</h5>#}
{#                                    <div class="my-auto ms-auto">#}
{#                                        <a href="{{ path('app_car_tools_details_view') }}" class="btn btn-primary"><i class="ph-gear me-2"></i> Zaduživanje</a>#}
{#                                        <span class="badge bg-yellow rounded-pill">{{ countLogs }}</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="table-responsive card">#}
{#                                    <table class="table table-hover table-bordered table_morecondensed">#}
{#                                        <thead class="bg-light">#}
{#                                        <tr>#}
{#                                            <th>Projekat</th>#}
{#                                            <th>Kolege</th>#}
{#                                            <th class="text-center" style="width: 10px;">#}
{#                                                <i class="ph-dots-three"></i>#}
{#                                            </th>#}
{#                                        </tr>#}
{#                                        </thead>#}
{#                                        <tbody>#}
{#                                        {% if logs is not empty %}#}
{#                                            {% for log in logs %}#}
{#                                                {% if log[2] == 1 %}#}
{#                                                    <tr>#}
{#                                                {% endif %}#}
{#                                                {% if log[2] == 0 %}#}
{#                                                    <tr>#}
{#                                                {% endif %}#}
{#                                                {% if log[2] == 2 %}#}
{#                                                    <tr class="bg-secondary">#}
{#                                                {% endif %}#}
{#                                                <td style="width: 40%;">#}
{#                                                    <div class="fw-semibold">#}
{#                                                        <div class="btn-group">#}
{#                                                            <a href="#" class="fw-semibold link-dark d-inline-flex align-items-center ">#}
{#                                                                <a href="{{ path('app_project_tasks_view', { id: log[0].task.project.id }) }}">{{ log[0].task.project.title }} {% if log[0].task.time|date('H:i') != '00:00' %}#}
{#                                                                        ({{ log[0].task.time|date('H:i') }})#}
{#                                                                    {% endif %}</a>#}
{#                                                                {% if log[2] == 0 %}<div class="live p-1 mx-2"></div>{% endif %}#}
{#                                                            </a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </td>#}
{#                                                <td style="width: 50%;">#}
{#                                                    {% for user in log[0].task.assignedUsers %}#}
{#                                                        <div class="fw-semibold">{{ user.getNameWithFirstLetter }}</div>#}
{#                                                    {% endfor %}#}
{#                                                </td>#}
{#                                                <td>#}
{#                                                    <a href="{{ path('app_task_view_user', { id: log[0].task.id}) }}" class="btn btn-primary"><i class="ph-clipboard"></i></a>#}
{#                                                </td>#}
{#                                                </tr>#}
{#                                            {% endfor %}#}
{#                                        {% endif %}#}
{#                                        </tbody>#}
{#                                    </table>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- /marketing campaigns -->#}
{#                        </div>#}

{#                    <div class="col-xl-12">#}
{#                            <!-- Marketing campaigns -->#}
{#                        <div class="card">#}

{#                            <div class="card-header d-lg-flex py-lg-0">#}
{#                                <h5 class="py-lg-3 mb-0">Raspored za {{ danas | date('d.m.Y') }}</h5>#}
{#                            </div>#}
{#                            <div class="table-responsive card">#}
{#                                <table class="table table-hover table-bordered table_morecondensed">#}
{#                                    <thead class="bg-light">#}
{#                                    <tr>#}
{#                                        <th>Projekat</th>#}
{#                                        <th>Zaposleni</th>#}
{#                                        <th class="text-center" style="width: 10px;">#}
{#                                            <i class="ph-dots-three"></i>#}
{#                                        </th>#}
{#                                    </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{#                                    {% if timetable is not empty %}#}
{#                                        {% for task in timetable %}#}
{#                                            {% if task.task.project is not null %}#}
{#                                                {% if app.user in task.task.assignedUsers %}#}
{#                                                    <tr class="table-active">#}
{#                                                {% else %}#}
{#                                                    <tr>#}
{#                                                {% endif %}#}
{#                                                <td style="width: 45%;">#}
{#                                                    <div class="fw-semibold">#}
{#                                                        {{ task.task.project.title }} {% if task.task.time|date('H:i') != '00:00' %}#}
{#                                                            ({{ task.task.time|date('H:i') }})#}
{#                                                        {% endif %}#}
{#                                                    </div>#}
{#                                                </td>#}
{#                                                <td style="width: 45%;">#}
{#                                                    <div class="fw-semibold">#}
{#                                                        {% for user in task.task.assignedUsers %}#}
{#                                                            {{ user.getNameWithFirstLetter }} <br>#}
{#                                                        {% endfor %}#}
{#                                                    </div>#}
{#                                                </td>#}
{#                                                <td>#}
{#                                                    <a type="button" data-bs-toggle="modal" data-bs-target="#modal_details_task{{ loop.index }}" class="fw-semibold"><i class="ph-info"></i></a>#}
{#                                                </td>#}
{#                                                </tr>#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                        </div>#}
{#                            <!-- /marketing campaigns -->#}
{#                    </div>#}

{#                    <div class="col-xl-12">#}
{#                        <div class="card">#}

{#                            <div class="card-header d-lg-flex py-lg-0">#}
{#                                <h5 class="py-lg-3 mb-0">Raspored za {{ sutra | date('d.m.Y') }}</h5>#}
{#                            </div>#}
{#                            <div class="table-responsive card">#}
{#                                <table class="table table-hover table-bordered table_morecondensed">#}
{#                                    <thead class="bg-light">#}
{#                                    <tr>#}
{#                                        <th>Projekat</th>#}
{#                                        <th>Zaposleni</th>#}
{#                                        <th class="text-center" style="width: 10px;">#}
{#                                            <i class="ph-dots-three"></i>#}
{#                                        </th>#}
{#                                    </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{#                                    {% if tomorrowTimetable is not empty %}#}
{#                                        {% for task in tomorrowTimetable %}#}
{#                                            {% if task.task.project is not null %}#}
{#                                                {% if app.user in task.task.assignedUsers %}#}
{#                                                    <tr class="table-active">#}
{#                                                {% else %}#}
{#                                                    <tr>#}
{#                                                {% endif %}#}
{#                                                <td style="width: 45%;">#}
{#                                                    <div class="fw-semibold">#}
{#                                                        {{ task.task.project.title }} {% if task.task.time|date('H:i') != '00:00' %}#}
{#                                                            ({{ task.task.time|date('H:i') }})#}
{#                                                        {% endif %}#}
{#                                                    </div>#}
{#                                                </td>#}
{#                                                <td style="width: 45%;">#}
{#                                                    <div class="fw-semibold">#}
{#                                                        {% for user in task.task.assignedUsers %}#}
{#                                                            {{ user.getNameWithFirstLetter }} <br>#}
{#                                                        {% endfor %}#}
{#                                                    </div>#}
{#                                                </td>#}
{#                                                    <td>#}
{#                                                        <a type="button" data-bs-toggle="modal" data-bs-target="#modal_details1_task{{ loop.index }}" class="fw-semibold"><i class="ph-info"></i></a>#}
{#                                                    </td>#}
{#                                                </tr>#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}


                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->
        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{#    {% if tomorrowTimetable is not empty %}#}
{#        {% for task in tomorrowTimetable %}#}
{#            {% if task.task.project is not null %}#}
{#                <div id="modal_details1_task{{ loop.index }}" class="modal fade" tabindex="-1">#}
{#                    <div class="modal-dialog">#}
{#                        <div class="modal-content">#}
{#                            <div class="modal-header bg-primary text-white border-0">#}
{#                                <h6 class="modal-title">Detalji zadatka</h6>#}
{#                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>#}
{#                            </div>#}

{#                            <div class="modal-body">#}
{#                                <div class="card">#}
{#                                    <div class="card-body">#}
{#                                        <div class="row p-2">#}
{#                                            <div class="col-4">Projekat:</div>#}
{#                                            <div class="col-8">{{ task.task.title }}</div>#}
{#                                        </div>#}
{#                                        <div class="row p-2 bg-light">#}
{#                                            <div class="col-4">Zaposleni:</div>#}
{#                                            <div class="col-8">#}
{#                                                {% for user in task.task.assignedUsers %}#}
{#                                                    {{ user.getNameWithFirstLetter }} <br>#}
{#                                                {% endfor %}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="row p-2">#}
{#                                            <div class="col-4">Aktivnosti:</div>#}
{#                                            <div class="col-8">#}
{#                                                {% for akt in task.task.activity %}#}
{#                                                    {{ akt.title }} <br>#}
{#                                                {% endfor %}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        #}{#                                    <div class="row p-2 bg-light">#}
{#                                        #}{#                                        <div class="col-4">Oprema:</div>#}
{#                                        #}{#                                        <div class="col-8">#}
{#                                        #}{#                                            {% for opt in task.task.oprema %}#}
{#                                        #}{#                                                {{ opt.title }} <br>#}
{#                                        #}{#                                            {% endfor %}#}
{#                                        #}{#                                        </div>#}
{#                                        #}{#                                    </div>#}
{#                                        #}{#                                    <div class="row p-2">#}
{#                                        #}{#                                        <div class="col-4">Vozilo:</div>#}
{#                                        #}{#                                        <div class="col-8">#}
{#                                        #}{#                                            {% if task.car is not empty %}#}
{#                                        #}{#                                                {{ task.car[0].plate }}#}
{#                                        #}{#                                            {% endif %}#}
{#                                        #}{#                                        </div>#}
{#                                        #}{#                                    </div>#}
{#                                        <div class="row p-2 bg-light">#}
{#                                            <div class="col-4">Vreme:</div>#}
{#                                            <div class="col-8">#}
{#                                                {% if task.task.time is not null %}#}
{#                                                    {% if task.task.time|date('H:i') != '00:00' %}#}
{#                                                        {{ task.task.time|date('H:i') }}#}
{#                                                    {% else %}#}
{#                                                        Vreme nije zadato#}
{#                                                    {% endif %}#}
{#                                                {% endif %}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="row p-2">#}
{#                                            <div class="col-4">Napomena:</div>#}
{#                                            <div class="col-8">{{ task.task.description }}</div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

{#                            <div class="modal-footer">#}
{#                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="ph-x me-2"></i> Zatvorite</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    {% endif %}#}
    {% if timetable is not empty %}
        {% for task in timetable %}
            <div id="modal_details_task{{ loop.index }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white border-0">
                            <h6 class="modal-title">Detalji zadatka</h6>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row p-2">
                                        <div class="col-4">Projekat:</div>
                                        <div class="col-8">{{ task.task.title }}</div>
                                    </div>
                                    <div class="row p-2 bg-light">
                                        <div class="col-4">Zaposleni:</div>
                                        <div class="col-8">
                                            {% for user in task.task.assignedUsers %}
                                                {{ user.getNameWithFirstLetter }} <br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-4">Aktivnosti:</div>
                                        <div class="col-8">
                                            {% for akt in task.task.activity %}
                                                {{ akt.title }} <br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% if tool %}
                                        <div class="row p-2 bg-light">
                                            <div class="col-4">Oprema:</div>
                                            <div class="col-8">
                                                {% for opt in task.task.oprema %}
                                                    {{ opt.title }} <br>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if car %}
                                        <div class="row p-2">
                                            <div class="col-4">Vozilo:</div>
                                            <div class="col-8">
                                                {% if task.car is not empty %}
                                                    {{ task.car[0].plate }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row p-2 bg-light">
                                        <div class="col-4">Vreme:</div>
                                        <div class="col-8">
                                            {% if task.task.time is not null %}
                                                {% if task.task.time|date('H:i') != '00:00' %}
                                                    {{ task.task.time|date('H:i') }}
                                                {% else %}
                                                    Vreme nije zadato
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col-4">Napomena:</div>
                                        <div class="col-8">{{ task.task.description }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="ph-x me-2"></i> Zatvorite</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}
    <script src="{{ asset('assets/demo/pages/dashboard.js') }}"></script>

{% endblock includeJavascript %}