{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                               Vozila
                            </h4>
                        </div>
                    </div>

                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Arhiva vozila</h5>
                        </div>
                        <div class="card-body">
                            <div class="accordion" id="accordion_collapsed">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsed_item_filter" aria-expanded="false">
                                            Filter
                                        </button>
                                    </h2>
                                    <div id="collapsed_item_filter" class="accordion-collapse collapse" data-bs-parent="#accordion_collapsed" style="">
                                        <form method="get" action="{{ path('app_cars') }}" class="form-validate-jquery" novalidation="novalidation">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="naziv">Brend:</label>
                                                            <input id="naziv" name="naziv" class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="registracija">Registracija:</label>
                                                            <input id="registracija" name="registracija" class="form-control" type="text">
                                                            <span class="form-text">Unesite format koji ste koristili pri kreiranju novog vozila</span>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="text-end">
                                                    <button type="submit" class="btn btn-primary"><i class="ph-gear-six me-2"></i> Prikažite</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive card">
                                <table class="table table-bordered table-hover table-responsive card-sm">
                                    <thead class="bg-light text-primary">
                                    <tr>

                                        <th>Registracija</th>
                                        <th>Dostupnost</th>
                                        <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set currentDate = date()|date("Y-m-d") %}
                                    {% for car in pagination %}
                                        {% set nextRegistrationDate = car.datumNaredneRegistracije|date("Y-m-d") %}
                                        {% set difference = nextRegistrationDate|date_modify('-30 days') %}
                                        {% set difference = difference|date("Y-m-d") %}
                                        <tr>
                                            <td><a href="{{ path('app_car_view', {id:car.id}) }}" class="fw-semibold">{{ car.plate }}</a></td>
                                            <td>
                                                {% if car.isSuspended == false %}
                                                    {% if car.isReserved %}
                                                        <span class="badge bg-primary text-white">Zaduženo</span>
                                                    {% else %}
                                                        <span class="badge bg-secondary text-primary">Slobodno</span>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <a type="button" class="text-body collapsed" data-bs-toggle="collapse" data-bs-target="#collapsed_item{{ car.id }}" aria-expanded="false"><i class="ph-caret-down collapsible-indicator"></i></a>
                                            </td>
                                        </tr>
                                        <tr id="collapsed_item{{ car.id }}" class="accordion-collapse collapse bg-light" data-bs-parent="#accordion_collapsed" style="">
                                            <td>
                                                {% for res in car.carReservations %}
                                                    {% if res.finished is null %}
                                                        {{ res.driver.fullName }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                <div class="d-inline-flex align-items-center">
                                                    {% if car.carReservations.last %}
                                                        {% if car.carReservations.last.fuelStop is not null %}
                                                            {% if car.carReservations.last.fuelStop <= constant('App\\Classes\\Data\\FuelData::CETVRT') %}
                                                                {% if car.carReservations.last.fuelStop == constant('App\\Classes\\Data\\FuelData::PRAZNO') %}
                                                                    <span class="badge bg-yellow text-primary">Prazan</span>
                                                                {% endif %}
                                                                {% if car.carReservations.last.fuelStop == constant('App\\Classes\\Data\\FuelData::CETVRT') %}
                                                                    <span class="badge bg-yellow text-primary">1/4</span>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if car.carReservations.last.fuelStop == constant('App\\Classes\\Data\\FuelData::POLA') %}
                                                                    <span class="badge bg-secondary text-primary">1/2</span>
                                                                {% endif %}
                                                                {% if car.carReservations.last.fuelStop == constant('App\\Classes\\Data\\FuelData::TRI_CETVRTI') %}
                                                                    <span class="badge bg-secondary text-primary">3/4</span>
                                                                {% endif %}
                                                                {% if car.carReservations.last.fuelStop == constant('App\\Classes\\Data\\FuelData::PUN') %}
                                                                    <span class="badge bg-secondary text-primary">Pun</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% else %}
                                                            {% if car.carReservations.last.fuelStart <= constant('App\\Classes\\Data\\FuelData::CETVRT') %}
                                                                {% if car.carReservations.last.fuelStart == constant('App\\Classes\\Data\\FuelData::PRAZNO') %}
                                                                    <span class="badge bg-yellow text-primary">Prazan</span>
                                                                {% endif %}
                                                                {% if car.carReservations.last.fuelStart == constant('App\\Classes\\Data\\FuelData::CETVRT') %}
                                                                    <span class="badge bg-yellow text-primary">1/4</span>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if car.carReservations.last.fuelStart == constant('App\\Classes\\Data\\FuelData::POLA') %}
                                                                    <span class="badge bg-secondary text-primary">1/2</span>
                                                                {% endif %}
                                                                {% if car.carReservations.last.fuelStart == constant('App\\Classes\\Data\\FuelData::TRI_CETVRTI') %}
                                                                    <span class="badge bg-secondary text-primary">3/4</span>
                                                                {% endif %}
                                                                {% if car.carReservations.last.fuelStart == constant('App\\Classes\\Data\\FuelData::PUN') %}
                                                                    <span class="badge bg-secondary text-primary">Pun</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}

                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                        <i class="ph-gear"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="{{ path('app_car_view', { id: car.id}) }}" class="dropdown-item"><i class="ph-eye me-2"></i> Vidite</a>
                                                        {% if car.isSuspended %}
                                                            <a href="{{ path('app_car_activate', { id: car.id, type:1}) }}" class="dropdown-item"><i class="ph-check-circle me-2"></i> Aktivirajte</a>
                                                        {% else %}
                                                            {% if car.isReserved %}
                                                                {% for res in car.carReservations %}
                                                                    {% if res.finished is null%}
                                                                        <a href="{{ path('app_car_reservation_stop', { id: res.id, type:1}) }}" class="dropdown-item"><i class="ph-car me-2"></i> Razdužite</a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                <a href="{{ path('app_car_reservation_form', { id: car.id, type:1}) }}" class="dropdown-item"><i class="ph-car me-2"></i> Zadužite</a>
                                                            {% endif %}
                                                            <a href="{{ path('app_car_expense_form', { id: car.id, type:1}) }}" class="dropdown-item"><i class="ph-money me-2"></i> Trošak</a>
                                                            <a href="{{ path('app_car_form', { id: car.id, type:1}) }}" class="dropdown-item"><i class="ph-note-pencil me-2"></i> Izmenite</a>
                                                            <a href="{{ path('app_car_activate', { id: car.id, type:1}) }}" class="dropdown-item"><i class="ph-minus-circle me-2"></i> Deaktivirajte</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

{% endblock includeJavascript %}
