{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                {{ car.carName }}
                            </h4>
                        </div>
                    </div>
                    {{ render(controller('App\\Controller\\WidgetController::carProfilNavigation', { car: car } )) }}
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Lista troškova</h5>
                            <div class="my-auto ms-auto">
                                {% if car.suspended == false %}
                                    <a href="{{ path('app_car_expense_form', { id : car.id }) }}" class="btn btn-primary"><i class="ph-plus"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card">
                                <table class="table table-bordered table-hover table-responsive table_morecondensed">
                                    <thead class="bg-light text-primary">
                                    <tr>
                                        <th>Vozač</th>
                                        <th>Iznos</th>
                                        <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for expense in pagination %}
                                        <tr>
                                            <td>{{ expense.createdBy.fullName }}</td>

                                            <td>{{ expense.price | number_format(2, '.', ',') }}</td>
                                            <td class="text-center">
                                                <a type="button" class="text-body collapsed" data-bs-toggle="collapse" data-bs-target="#collapsed_item{{ expense.id }}" aria-expanded="false"><i class="ph-caret-down collapsible-indicator"></i></a>
                                            </td>
                                        </tr>

                                        <tr id="collapsed_item{{ expense.id }}" class="accordion-collapse collapse bg-light" data-bs-parent="#accordion_collapsed" style="">
                                            <td>
                                                {{ expense.getTypeData }}
                                            </td>
                                            <td>
                                                {% if expense.date is not null %}
                                                    <div class="d-inline-flex align-items-center">
                                                        <i class="ph-calendar me-2"></i>
                                                        {{ expense.date | date("d.m.Y.")}}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                        <i class="ph-gear"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="{{ path('app_car_expense_view', { id: expense.id}) }}" class="dropdown-item"><i class="ph-eye me-2"></i> Vidite</a>
                                                        <a href="{{ path('app_car_expense_edit', { id: expense.id}) }}" class="dropdown-item"><i class="ph-note-pencil me-2"></i> Izmenite</a>
                                                        <a href="{{ path('app_car_expense_delete', {id: expense.id} ) }}" class="dropdown-item"><i class="ph-x me-2"></i> Obrišite</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->


    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

{% endblock includeJavascript %}
