{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                #{{ task.id }}: {{task.title }}
                            </h4>
                        </div>
                    </div>

                    {{ render(controller('App\\Controller\\WidgetController::projectProfilNavigation', { project: task.project } )) }}
                </div>

                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    {% if not form.vars.valid %}
                        {% for child in form.children %}
                            {%for error in child.vars.errors%}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <span class="fw-semibold">{{error.message}}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {%endfor%}
                        {%endfor%}
                    {%endif%}

                    <!-- Wizard with validation -->
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">
                                Izmena osnovnih informacija
                            </h6>
                        </div>
                        {{ form_start(form, {'attr': {'class' : 'form-validate-jquery', 'novalidation': 'novalidation', 'enctype': 'multipart/form-data', 'id': 'task_form' }}) }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.category, 'Kategorija:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.category, {attr: { class: 'form-control select required' }}) }}
                                        <span class="form-text">Kategorizacija pomaže u organizaciji.</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.project, 'Projekat:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.project, {attr: { class: 'form-control select required' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        {{ form_label(form.description, 'Opis:', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.description, {attr: { class: 'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.label, 'Oznaka:', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.label, {attr: { class: 'form-control select' }}) }}
                                        <span class="form-text">Oznaka bliže opisuje projekat. Projekat može imati više oznaka.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row" >
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.repeating, 'Zadatak se ponavlja:', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.repeating, {attr: { class: 'form-control required select repeat' }}) }}
                                        <span class="form-text">Definišete da li se zadatak ponavlja u određenem vremenskom intervalu.</span>
                                    </div>
                                </div>
                            </div>
                            {% if task.repeating == 1 %}
                                <div class="row repeating">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.repeatingInterval, 'Interval ponavljanja:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.repeatingInterval, {attr: { class: 'form-control intrep required select' }}) }}
                                            <span class="form-text">Definišete interval na kada se zadatak ponovo kreira.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 tacanDatum">
                                        <div class="mb-3">
                                            {{ form_label(form.datumPonavljanja, 'Tačan datum ponavljanja:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.datumPonavljanja, {attr: { class: 'form-control datrep required datepicker-date-format-custom-2' }}) }}
                                            <span class="form-text">Tačan datum kada će se zadatak ponovo kreirati.</span>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row hide repeating">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.repeatingInterval, 'Interval ponavljanja:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.repeatingInterval, {attr: { class: 'form-control intrep select' }}) }}
                                            <span class="form-text">Definišete interval na kada se zadatak ponovo kreira.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 hide tacanDatum">
                                        <div class="mb-3">
                                            {{ form_label(form.datumPonavljanja, 'Tačan datum ponavljanja:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.datumPonavljanja, {attr: { class: 'form-control datrep datepicker-date-format-custom-2' }}) }}
                                            <span class="form-text">Tačan datum kada će se zadatak ponovo kreirati.</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="text-end">
                                <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</button>
                            </div>
                        </div>
                        {{ form_end(form) }}

                    </div>
                    <!-- /wizard with validation -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>

    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}

{% block footerJavascript %}

    <script>
        $(function () {
            $(".repeat").change(function(e) {
                e.preventDefault();
                if ($(this).val() == "1") {

                    $('.repeating').removeClass('hide');
                    $('.intrep').addClass('required');
                    // $('.datrep').addClass('required');
                }
                else {
                    $('.repeating').addClass('hide');
                    $('.intrep').val('').removeClass('required');
                    $('.datrep').val('').removeClass('required');
                }
            });

            const dpDateCustomFormatElement2 = document.querySelector('.datepicker-date-format-custom-2');
            if(dpDateCustomFormatElement2) {
                const dpDateCustomFormat2 = new Datepicker(dpDateCustomFormatElement2, {
                    container: '.content-inner',
                    buttonClass: 'btn',
                    prevArrow: document.dir == 'rtl' ? '&rarr;' : '&larr;',
                    nextArrow: document.dir == 'rtl' ? '&larr;' : '&rarr;',
                    format: 'dd.mm.yyyy',
                    todayBtn: true,
                    weekStart: 1,
                    minDate: 'today',
                    daysOfWeekHighlighted: [0,6],
                    language: 'sr-latn',
                    // daysOfWeekDisabled: [0]
                });
            }

            function handleRepeatingIntervalChange() {
                if ($("#task_edit_info_repeatingInterval").val() == "5") {
                    // Ako je izabrana opcija "5", prikaži polje za tačan datum i postavi required
                    $('.tacanDatum').removeClass('hide');
                    $('.datrep').addClass('required');
                } else {
                    // Ako nije, sakrij polje za tačan datum i ukloni required
                    $('.tacanDatum').addClass('hide');
                    $('.datrep').val('').removeClass('required');
                }
            }

            // Poziv funkcije pri učitavanju stranice
            handleRepeatingIntervalChange();

            // Postavljanje promene select elementa
            $("#task_edit_info_repeatingInterval").change(function(e) {
                e.preventDefault();
                // Poziv funkcije prilikom promene select elementa
                handleRepeatingIntervalChange();
            });
        });
    </script>

{% endblock footerJavascript %}