{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                #{{ task.id }}: {{task.title }}
                            </h4>

                            <a href="#page_header" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        <div class="collapse d-lg-block my-lg-auto ms-lg-auto" id="page_header">
                            <div class="d-sm-flex align-items-center mb-3 mb-lg-0 ms-lg-3">
                                <div class="vr d-none d-sm-block flex-shrink-0 my-2 mx-3"></div>
                                <div class="d-inline-flex mt-3 mt-sm-0">
                                    <a href="{{ path('app_task_form') }}" class="btn btn-outline-primary btn-icon w-32px h-32px rounded-pill ms-3">
                                        <i class="ph-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="page-header-content d-lg-flex border-top">
                        <div class="d-flex">
                            <div class="breadcrumb py-2">
                                <a href="{{ path('app_home') }}" class="breadcrumb-item"><i class="ph-house"></i></a>
                                <a href="{{ path('app_tasks') }}" class="breadcrumb-item">Zadaci</a>
                                <a href="" class="breadcrumb-item">Informacije</a>
                                <a href="{{ path('app_project_profile_view', {id: task.project.id} ) }}" class="breadcrumb-item">{{ task.title }}</a>
                                <span class="breadcrumb-item active">Izmena</span>
                            </div>

                            <a href="#breadcrumb_elements" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        <div class="collapse d-lg-block ms-lg-auto" id="breadcrumb_elements">
                            <div class="d-lg-flex mb-2 mb-lg-0">
                                <a href="#" class="d-flex align-items-center text-body py-2">
                                    <i class="ph-lifebuoy me-2"></i>
                                    Support
                                </a>

                                <div class="dropdown ms-lg-3">
                                    <a href="#" class="d-flex align-items-center text-body dropdown-toggle py-2" data-bs-toggle="dropdown">
                                        <i class="ph-gear me-2"></i>
                                        <span class="flex-1">Settings</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end w-100 w-lg-auto">
                                        <a href="#" class="dropdown-item">
                                            <i class="ph-shield-warning me-2"></i>
                                            Account security
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <i class="ph-chart-bar me-2"></i>
                                            Analytics
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <i class="ph-lock-key me-2"></i>
                                            Privacy
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            <i class="ph-gear me-2"></i>
                                            All settings
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ render(controller('App\\Controller\\WidgetController::projectProfilNavigation', { project: task.project } )) }}
                </div>

                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    {% if not form.vars.valid %}
                        {% for child in form.children %}
                            {%for error in child.vars.errors%}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <span class="fw-semibold">{{error.message}}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {%endfor%}
                        {%endfor%}
                    {%endif%}

                    <!-- Wizard with validation -->
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">
                                Izmena zadatka
                            </h6>
                        </div>
                        {{ form_start(form, {'attr': {'class' : 'form-validate-jquery', 'novalidation': 'novalidation', 'enctype': 'multipart/form-data', 'id': 'task_form' }}) }}
                        <div class="card-body">
                            <div class="fw-bold border-bottom pb-2 mb-3">Osnovne informacije</div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.title, 'Naziv:*', {'label_attr': {'class': 'form-category'}}) }}
                                        {{ form_widget(form.title, {attr: { class: 'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        {{ form_label(form.description, 'Opis:', {'label_attr': {'class': 'form-category'}}) }}
                                        {{ form_widget(form.description, {attr: { class: 'form-control ckeditor_simple1' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.category, 'Kategorija:', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.category, {attr: { class: 'form-control select' }}) }}
                                        <span class="form-text">Kategorizacija pomaže u organizaciji.</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.label, 'Oznaka:', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.label, {attr: { class: 'form-control select' }}) }}
                                        <span class="form-text">Oznaka bliže opisuje projekat. Projekat može imati više oznaka.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="text-end">
                                <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</button>
                            </div>
                        </div>
                        {{ form_end(form) }}

                    </div>
                    <!-- /wizard with validation -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/editors/ckeditor/ckeditor_classic.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/editor_ckeditor_classic.js') }}"></script>
    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}

{% block footerJavascript %}

    <script>
        $(function () {
            $(".round").change(function(e) {
                e.preventDefault();
                if ($(this).val() == "1") {

                    $('.timeRound').removeClass('hide');
                    $('.interval').addClass('required');
                    $('.minent').addClass('required');
                }
                else {
                    $('.timeRound').addClass('hide');
                    $('.interval').val('').removeClass('required');
                    $('.minent').val('').removeClass('required');
                }
            });
        });
    </script>

{% endblock footerJavascript %}