{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                               Zadaci
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Lista vremenskih zapisa za proveru</h5>
                        </div>
                        <div class="card-body">
                            <div class="card">
                                <table class="table table-bordered table-hover table-responsive table-sm">
                                    <thead class="bg-light text-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Zapis</th>
                                        <th>Zadatak</th>
                                        <th>Datum zadatka</th>
                                        <th>Start</th>
                                        <th>Stop</th>
                                        <th>Razlika</th>
                                        <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for time in pagination %}

                                        <tr>
                                            <td>{{ time.task.id }}</td>
                                            <td>
                                                <div class="fw-semibold">
                                                    <a href="{{ path('app_task_log_view', { id: time.taskLog.id}) }}">{{ time.taskLog.user.fullName }}</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="fw-semibold">
                                                    <a href="{{ path('app_task_view', { id: time.task.id}) }}">{{ time.task.title }}</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-inline-flex align-items-center">
                                                    <i class="ph-calendar me-2"></i>
                                                    {{ time.task.datumKreiranja | date("d.m.Y.")}}
                                                </div>
                                            </td>
{#                                            <td>#}
{#                                                <div class="text-body">#}
{#                                                    {% for user in time.task.assignedUsers %}#}
{#                                                        {% if getLogStatusByUser(time.task, user) == 1 %}#}
{#                                                            <div class="btn-group">#}
{#                                                                <a href="{{ path('app_employee_activity_view', { id: user.id }) }}" class="fw-semibold d-inline-flex align-items-center ">#}
{#                                                                    {{ user.fullName }}#}
{#                                                                    <div class="live p-1 mx-2"></div>#}
{#                                                                </a>#}
{#                                                            </div>#}
{#                                                        {% else %}#}
{#                                                            <a href="{{ path('app_employee_activity_view', {id: user.id }) }}" class="fw-semibold d-inline-flex align-items-center ">#}
{#                                                                {{ user.fullName }}#}
{#                                                            </a>#}
{#                                                        {% endif %}<br>#}
{#                                                    {% endfor %}#}
{#                                                </div>#}
{#                                            </td>#}
                                            <td>{{ time.start | date ('d.m.Y. H:i') }}</td>
                                            <td>{{ time.stop | date ('d.m.Y. H:i') }}</td>
                                            <td>{{ time.diff }}</td>

                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                        <i class="ph-gear"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="{{ path('app_stopwatch_check', { id: time.id}) }}" class="dropdown-item"><i class="ph-check me-2"></i> Potvrdite</a>
                                                        <a href="{{ path('app_task_log_view', { id: time.taskLog.id}) }}" class="dropdown-item"><i class="ph-eye me-2"></i> Vidite</a>

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->


    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/ui/fab.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/ui/prism.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/task_manager_detailed.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/components_modals.js') }}"></script>
{% endblock includeJavascript %}
