<!-- Vertical form modal -->
<div id="modal_form_vertical" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Dodavanje vremenskog zapisa</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            {{ form_start(form, {'attr': {'class' : 'form-validate-jquery', 'novalidation': 'novalidation', 'enctype': 'multipart/form-data', 'id': 'task_form' }}) }}
            <div class="card-body">
                <div class="row pb-1 mb-3">

                    <div class="fw-bold border-bottom pb-2 mb-3">Zadate aktivnosti</div>

                    <div class="col-lg-6">
                        <div class="mb-3">
                            {% if task.activity.toArray is not empty %}
                                {% for act in task.activity %}
                                    <i class="ph-checks me-2"></i>{{ act.title }}<br>
                                {% endfor %}
                            {% else %}
                                Nema određenih aktivnosti za ovaj zadatak.
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="fw-bold border-bottom pb-2 mb-3">Utrošeno vreme</div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-category" for="stopwatch_time_add_form_period">Vreme:*</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="ph-calendar"></i></span>
                                <input type="text" class="form-control daterange-locale-sr-stopwatch required" id="stopwatch_time_add_form_period" name="stopwatch_time_add_form_period">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fw-bold border-bottom pb-2 mb-3">Aktivnosti</div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            {{ form_label(form.activity, 'Odrađene aktivnosti:*', {'label_attr': {'class': 'form-category'}}) }}
                            {{ form_widget(form.activity, {attr: { class: 'form-control select' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row dodAkt">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            {{ form_label(form.additionalActivity, 'Aktivnosti kojih nema u listi:*', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.additionalActivity, {attr: { class: 'form-control' }}) }}
                            <span class="form-text">Bitno je da odrađene aktivnosti razdvajate zarezom (,), tačkom (.), tačka i zarez (;). </span>
                        </div>
                    </div>
                </div>
                <div class="row obrada">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            {{ form_label(form.additionalDesc, 'Obrada podataka detalji:*', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.additionalDesc, {attr: { class: 'form-control' }}) }}
                            <span class="form-text">Detaljnije opišite šta je rađeno pri obradi podataka. </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            {{ form_label(form.description, 'Napomena:', {'label_attr': {'class': 'form-label'}}) }}
                    {#                                        {{ form_widget(form.description, {attr: { class: 'form-control ckeditor_simple1' }}) }}#}
                            {{ form_widget(form.description, {attr: { class: 'form-control' }}) }}
                            <span class="form-text nap"></span>
                        </div>
                    </div>
                </div>

                {% if production is defined %}
                    <div class="fw-bold border-bottom pb-2 mb-3 cursor-pointer RADNI" data-bs-toggle="collapse" data-bs-target="#collapse-nalog" aria-expanded="false">Radni nalog</div>
                    <div class="row collapse" id="collapse-nalog">
                        <div class="col-lg-12">
                            <div class="mb-3 card">
                                <table class="table table-bordered table-hover table-responsive table-sm">
                                    <thead class="bg-light text-primary">
                                    <tr class="table-light">
                                        <th style="width: 40%;">Element</th>
                                        <th style="width: 20%;">Trenutno</th>
                                        <th style="width: 30%;">Novo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for progres in production['progres'] %}
                                        {% for element in progres %}
                                            <tr>
                                                <td class="fw-semibold">{{ element['text'] }} ({{ element['productName'] }})</td>
                                                <td>{{ element['kolicinaTren'] }}/{{ element['kolicina'] }}</td>
                                                <td>
                                                    <input type="number" class="form-control" name="element[{{ element['product'] }}][{{ element['id'] }}]" min="0" placeholder="max {{ element['kolicina'] - element['kolicinaTren'] }}" step="0.001" max="{{ element['kolicina'] - element['kolicinaTren'] }}">
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if client is empty %}
                <div class="fw-bold border-bottom pb-2 mb-3 cursor-pointer" data-bs-toggle="collapse" data-bs-target="#collapse-client" aria-expanded="false">Klijent</div>
                <div class="row collapse" id="collapse-client">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            {{ form_label(form.client, 'Klijent:', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.client, {attr: { class: 'form-control select' }}) }}
                            <span class="form-text">Ako se radi o internom projektu, a želite da naglasite da se merenje odnosi na konkretnog klijenta.</span>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if task.isExpenses %}
                    <div class="fw-bold border-bottom pb-2 mb-3 cursor-pointer" data-bs-toggle="collapse" data-bs-target="#collapse-expences" aria-expanded="false">Trošak</div>
                    <div class="row collapse" id="collapse-expences">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                {{ form_label(form.expencesPrice, 'Trošak:', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.expencesPrice, {attr: { class: 'form-control ' }}) }}
                                <span class="form-text">Unesite vrednost troška.</span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                {{ form_label(form.expencesDesc, 'Opis troška:', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.expencesDesc, {attr: { class: 'form-control ' }}) }}
                                <span class="form-text">Opišite trošak koji ste imali.</span>
                            </div>
                        </div>

                    </div>
                {% endif %}

                <div class="fw-bold border-bottom pb-2 mb-3 cursor-pointer" data-bs-toggle="collapse" data-bs-target="#collapse-pdf" aria-expanded="false">Dokumentacija</div>
                <div class="row collapse" id="collapse-pdf">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            {{ form_label(form.pdf, 'Dokumenta:', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.pdf, {attr: { class: 'form-control file-input' }}) }}
                            <span class="form-text">Format: .pdf. Maksimalna veličina fajla 5MB.</span>
                        </div>
                    </div>
                </div>

                <div class="fw-bold border-bottom pb-2 mb-3 cursor-pointer" data-bs-toggle="collapse" data-bs-target="#collapse-image" aria-expanded="false">Slike</div>
                <div class="row collapse" id="collapse-image">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            {{ form_label(form.image, 'Slike:', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.image, {attr: { class: 'form-control file-input' }}) }}
                            <span class="form-text">Format: png, jpg, gif. Maksimalna veličina fajla 5MB.</span>
                        </div>
                    </div>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<!-- /vertical form modal -->