{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                {{ task.project.title | default ('Zadatak bez projekta') }}: {{ task.title }}
                            </h4>
                        </div>
                    </div>

                    <div class="page-header-content d-lg-flex border-top">
                        <div class="d-flex">
                            {% if task.project is null %}
                                <div class="breadcrumb py-2">
                                    <a href="{{ path('app_home') }}" class="breadcrumb-item"><i class="ph-house"></i></a>
                                    <span class="breadcrumb-item active">Zadaci</span>
                                </div>
                            {% else %}
                                <div class="breadcrumb py-2">
                                    <a href="{{ path('app_home') }}" class="breadcrumb-item"><i class="ph-house"></i></a>
                                    <a href="{{ path('app_projects') }}" class="breadcrumb-item">Projekti</a>
                                    <a href="{{ path('app_project_profile_view', {id: task.project.id} ) }}" class="breadcrumb-item">Informacije</a>
                                    <a href="{{ path('app_project_tasks_view', {id: task.project.id} ) }}" class="breadcrumb-item">Zadaci</a>
                                    <span class="breadcrumb-item active">{{task.title }}</span>
                                </div>
                            {% endif %}
                            <a href="#breadcrumb_elements" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        {{ render(controller('App\\Controller\\WidgetController::support' )) }}
                    </div>
                    {% if task.project is not null %}
                        {{ render(controller('App\\Controller\\WidgetController::projectProfilNavigation', { project: task.project } )) }}
                    {% endif %}

                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <div class="d-flex align-items-stretch align-items-lg-start flex-column flex-lg-row">

                        <!-- Left content -->
                        <div class="flex-1 order-2 order-lg-1">
                            {% if not is_granted('ROLE_EMPLOYEE') %}
                                <div class="row">
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-header d-flex">
                                                <h5 class="mb-0">
                                                    <i class="ph-timer me-2"></i>
                                                    Vreme
                                                </h5>
                                            </div>

                                            <div class="list-group list-group-borderless py-2">
                                                <div class="d-flex list-group-item align-items-start">
                                                    <div class="me-2">
                                                        <i class="ph-timer"></i>
                                                    </div>

                                                    <div class="flex-fill overflow-hidden">
                                                        <div class="fw-semibold text-truncate text-body">
                                                            Zaokruženo
                                                        </div>
                                                    </div>

                                                    <div class="ms-3">
                                                        <span class="badge bg-warning bg-opacity-20 text-warning me-2">{{ time.hoursTimePriority }}:{{ time.minutesTimePriority }}h</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex list-group-item align-items-start">
                                                    <div class="me-2">
                                                        <i class="ph-timer"></i>
                                                    </div>

                                                    <div class="flex-fill overflow-hidden">
                                                        <div class="fw-semibold text-truncate text-body">
                                                            Bez zaokruživanja
                                                        </div>

                                                    </div>

                                                    <div class="ms-3">
                                                        <span class="badge bg-danger bg-opacity-20 text-danger me-2">{{ time.hoursRealTimePriority }}:{{ time.minutesRealTimePriority }}h</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-header d-flex">
                                                <h5 class="mb-0">
                                                    <i class="ph-users-three me-2"></i>
                                                    Zaduženi korisnici
                                                    {% if status == constant('App\\Classes\\Data\\TaskStatusData::NIJE_ZAPOCETO') and not task.isDeleted %}
                                                        <a href="{{ path('app_task_reassign', {id: task.id} ) }}"><i class="ph-note-pencil"></i></a>
                                                    {% endif %}
                                                </h5>
                                            </div>

                                            <div class="list-group list-group-borderless py-2">
                                                {% for log in taskLogs %}
                                                    <div class="d-flex list-group-item align-items-start">
                                                        <div class="me-2">
                                                            <i class="ph-clipboard"></i>
                                                        </div>

                                                        <div class="flex-fill overflow-hidden">
                                                            <div class="fw-semibold text-truncate">
                                                                <a href="{{ path('app_task_log_view',{id: log.log.id} ) }}" class="text-body">
                                                                    {{ log.log.user.getFullName }}
                                                                </a>
                                                            </div>
                                                            {% if log.lastEdit is not null  %}
                                                                <ul class="list-inline list-inline-bullet fs-sm text-muted mb-0">
                                                                    <li class="list-inline-item">Izmena: {{ log.lastEdit.updated | date("d.m.Y H:i:s")}}</li>
                                                                </ul>
                                                            {% endif %}
                                                        </div>

                                                        <div class="ms-3">
                                                            {% if log.count > 0  %}
                                                                <span class="badge bg-primary align-self-center rounded-pill ms-auto">{{ log.count }}</span>
                                                            {% else %}
                                                                <span class="badge bg-warning align-self-center rounded-pill ms-auto">{{ log.count }}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-header d-flex">
                                                <h5 class="mb-0">
                                                    <i class="ph-files me-2"></i>
                                                    Dokumenta
                                                    {% if not task.isDeleted %}
                                                        {% if not is_granted('ROLE_EMPLOYEE') or task.createdBy == app.user %}
                                                            <a href="{{ path('app_task_add_docs', {id: task.id} ) }}"><i class="ph-plus-circle"></i></a>
                                                        {% endif %}
                                                    {% endif %}
                                                </h5>
                                            </div>

                                            <div class="list-group list-group-borderless py-2">
                                                {% if pdfs is empty %}
                                                    <div class="d-flex align-items-start mb-3">
                                                        <div class="list-group-item">
                                                            <div class="fw-semibold text-truncate">Nema dokumenata</div>
                                                        </div>

                                                    </div>
                                                {% else %}
                                                    {% for pdf in pdfs %}
                                                        <div class="d-flex list-group-item align-items-start">
                                                            <div class="me-2">
                                                                <i class="ph-file-pdf"></i>
                                                            </div>
                                                            <div class="flex-fill overflow-hidden">
                                                                <div class="fw-semibold text-truncate">{{ pdf.title }}</div>
                                                            </div>
                                                            <div class="ms-3">
                                                                <a href="{{ asset(pdf.path) }}" download class="text-body">
                                                                    <i class="ph-download-simple"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="card">
                                <div class="card-header d-lg-flex py-lg-0">
                                    <h5 class="py-lg-3 mb-0">#{{ task.id }}: {{task.title }}
                                        {% if not task.isDeleted %}
                                            {% if not is_granted('ROLE_EMPLOYEE') or task.createdBy == app.user %}
                                                <a href="{{ path('app_task_edit_info', {id: task.id} ) }}"><i class="ph-note-pencil"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    </h5>
                                    {% if status == constant('App\\Classes\\Data\\TaskStatusData::ZAPOCETO') %}
                                        <div class="mt-1 my-lg-auto ms-lg-auto">
                                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal_close_task"><i class="ph-x me-2"></i>Zatvorite</button>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="card">
                                                <div class="card-header d-lg-flex py-lg-0">
                                                    <h6 class="py-lg-3 mb-0">Informacije o zadatku</h6>
                                                </div>
                                                <div class="card-body">
                                                    <div class="fw-bold border-bottom pb-2 mb-3">Datum i vreme zadatka</div>
                                                    <div class="row">
                                                        <div class="col-lg-6 ">
                                                            <div class="mb-3">
                                                            <div class="d-inline-flex align-items-center">
                                                                <i class="ph-calendar me-2"></i>
                                                                {{ task.time | date("d.m.Y H:i")}}
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>

                                                    <div class="fw-bold border-bottom pb-2 mb-3">Zaduženi</div>
                                                    <div class="row">
                                                        <div class="col-lg-6 ">
                                                            <div class="mb-3">
                                                            {% for user in task.assignedUsers %}
                                                                <li>{{ user.getFullName }}</li>
                                                            {% endfor %}
                                                        </div>
                                                        </div>
                                                    </div>

                                                    <div class="fw-bold border-bottom pb-2 mb-3">Aktivnosti</div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="mb-3">
                                                            {% for activity in task.activity %}
                                                                <li>{{ activity.title }}</li>
                                                            {% endfor %}
                                                        </div>
                                                        </div>
                                                    </div>

                                                    <div class="fw-bold border-bottom pb-2 mb-3">Napomena</div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="mb-3">
                                                            {% if task.description is not null %}
                                                                {{ task.description | raw }}
                                                            {% else %}
                                                                Nema posebne napomene za ovaj zadatak.
                                                            {% endif %}
                                                        </div>
                                                        </div>
                                                    </div>

                                                    <div class="fw-bold border-bottom pb-2 mb-3">Oprema</div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="mb-3">
                                                                {% if task.oprema is not empty %}
                                                                    {% for oprema in task.oprema %}
                                                                        <li>{{ oprema.title }}</li>
                                                                    {% endfor %}
                                                                {% else %}
                                                                    Nema dodeljene opreme za ovaj zadatak.
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="fw-bold border-bottom pb-2 mb-3">Vozilo</div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="mb-3">
                                                            {% if car is not null %}
                                                                {{ car.carName }}
                                                            {% else %}
                                                                Nema dodeljenog vozila za ovaj zadatak.
                                                            {% endif %}
                                                        </div>
                                                        </div>
                                                    </div>

                                                    <div class="fw-bold border-bottom pb-2 mb-3">Slike</div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="mb-3">
                                                                {% if images is not empty %}
                                                                    {% for image in images %}
                                                                        <div class="col-xl-1 col-sm-2">
                                                                            <div class="card">
                                                                                <div class="card-img-actions">
                                                                                    <img class="card-img img-fluid" src="{{ asset(image.thumbnail100) }}" alt="">
                                                                                    <div class="card-img-actions-overlay card-img">
                                                                                        <a href="{{ asset(image.thumbnail1024) }}" class="btn btn-outline-white btn-icon rounded-pill" data-bs-popup="lightbox" data-gallery="gallery1">
                                                                                            <i class="ph-magnifying-glass-plus"></i>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                {% else %}
                                                                    Nema dodatih slika za ovaj zadatak.
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="card">
                                                <div class="card-header d-lg-flex py-lg-0">
                                                    <h6 class="py-lg-3 mb-0">Primarni dnevnik: {{ taskLog.user.fullName}}</h6>
                                                </div>
                                                {% if stopwatchesActive is empty %}
                                                    <div class="card-body">

                                                        <div class="mt-2">
                                                            <h6 class="mb-1">Ne postoji vremenskih zapisa za ovaj dnevnik.</h6>
                                                        </div>

                                                    </div>
                                                {% else %}
                                                    <div class="card-body">
                                                        <div class="fw-bold border-bottom pb-2 mb-3">Vreme</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    <div class="d-flex list-group-item align-items-start">
                                                                        <div class="me-2">
                                                                            <i class="ph-timer"></i>
                                                                        </div>

                                                                        <div class="flex-fill overflow-hidden">
                                                                            <div class="fw-semibold text-truncate text-body">
                                                                                Zaokruženo
                                                                            </div>
                                                                        </div>

                                                                        <div class="ms-3">
                                                                            <span class="badge bg-warning bg-opacity-20 text-warning me-2">{{ time1.hours }}:{{ time1.minutes }}h</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    <div class="d-flex list-group-item align-items-start">
                                                                        <div class="me-2">
                                                                            <i class="ph-timer"></i>
                                                                        </div>

                                                                        <div class="flex-fill overflow-hidden">
                                                                            <div class="fw-semibold text-truncate text-body">
                                                                                Bez zaokruživanja
                                                                            </div>

                                                                        </div>

                                                                        <div class="ms-3">
                                                                            <span class="badge bg-danger bg-opacity-20 text-danger me-2">{{ time1.hoursR }}:{{ time1.minutesR }}h</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Odrađene aktivnosti</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    <ul class="list mb-0">
                                                                        {% set newActivity = [] %}
                                                                        {% for stopwatch in stopwatchesActive %}
                                                                            {% if stopwatch.activity is not empty %}
                                                                                {% for activity in stopwatch.activity %}
                                                                                    {% if activity not in newActivity %}
                                                                                        <li>{{ activity.title }}</li>
                                                                                        {% set newActivity = newActivity|merge([activity]) %}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                Nema odrađenih aktivnosti.
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Dodatni opis</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    {% for stopwatch in stopwatchesActive %}
                                                                        {% if stopwatch.description is not null %}
                                                                            {{ stopwatch.description | raw }}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Slike</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">

                                                                    {% for stopwatch in stopwatchesActive %}
                                                                        {% for image in stopwatch.images %}
                                                                            <div class="col-xl-1 col-sm-2">
                                                                                <div class="card">
                                                                                    <div class="card-img-actions">
                                                                                        <img class="card-img img-fluid" src="{{ asset(image.thumbnail100) }}" alt="">
                                                                                        <div class="card-img-actions-overlay card-img">
                                                                                            <a href="{{ asset(image.thumbnail1024) }}" class="btn btn-outline-white btn-icon rounded-pill" data-bs-popup="lightbox" data-gallery="gallery1">
                                                                                                <i class="ph-magnifying-glass-plus"></i>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fw-bold border-bottom pb-2 mb-3">Dokumenta</div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="mb-3">
                                                                    {% for stopwatch in stopwatchesActive %}
                                                                        {% for pdf in stopwatch.pdfs %}
                                                                            <div class="d-flex align-items-start mb-3">
                                                                                <div class="me-2">
                                                                                    <i class="ph-file-pdf"></i>
                                                                                </div>

                                                                                <div class="flex-fill overflow-hidden">
                                                                                    <div class="fw-semibold text-truncate">{{ pdf.title }}</div>
                                                                                </div>

                                                                                <div class="ms-3">
                                                                                    <a href="{{ asset(pdf.path) }}" download class="text-body">
                                                                                        <i class="ph-download-simple"></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    {% if not task.isDeleted %}
                                        <div class="d-flex align-items-center">
                                            <i class="ph-lightbulb me-2"></i>
                                            {% if status == constant('App\\Classes\\Data\\TaskStatusData::NIJE_ZAPOCETO') %}
                                                <span class="badge bg-info">Nije startovan</span>
                                            {% elseif status == constant('App\\Classes\\Data\\TaskStatusData::ZAPOCETO') %}
                                                <span class="badge bg-success">Otvoren</span>
                                            {% else %}
                                                <span class="badge bg-danger">Zatvoren</span>
                                            {% endif %}
                                        </div>

                                        <div class="d-inline-flex mb-0">
                                            {% if not is_granted('ROLE_EMPLOYEE') or task.createdBy == app.user %}
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_delete_task" class="text-body ms-2">
                                                    <i class="ph-trash"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="d-flex align-items-center">
                                        </div>
                                        <div class="d-inline-flex mb-0">
                                            <span class="badge bg-warning bg-opacity-20 text-warning mx-2">Obrisan</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Komentari</h5>
                                </div>

                                <div class="card-body">
                                    {% if comments is empty %}
                                        <div class="d-flex flex-column flex-lg-row mb-3">
                                            <div class="me-lg-3 mb-2 mb-lg-0">
                                                Nema komentara
                                            </div>
                                        </div>
                                    {% else %}
                                        {% for comment in comments %}
                                            <div class="d-flex flex-column flex-lg-row mb-3">
                                                <div class="me-lg-3 mb-2 mb-lg-0">
                                                    <a href="{{ path('app_employee_profile_view', { id: comment.user.id}) }}"><img src="{{ asset(comment.user.image.getThumbnail100()) }}" class="rounded-circle" width="40" height="40" alt=""></a>
                                                </div>

                                                <div class="flex-fill">
                                                    <a href="{{ path('app_employee_profile_view', { id: comment.user.id}) }}" class="fw-semibold">{{ comment.user.getFullName() }}</a>
                                                    <span class="fs-sm text-muted ms-3">{{ comment.created | date("d.m.Y H:i:s")}}</span>

                                                    <p>{{ comment.comment }}</p>
                                                    {% if not is_granted('ROLE_EMPLOYEE') or comment.user == app.user %}
                                                        <ul class="list-inline mb-0">
                                                            <li class="list-inline-item">
                                                                <a href="{{ path('app_comment_edit', { id: comment.id}) }}">Izmenite</a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_delete_comment{{ comment.id }}">Obrišite</a>
                                                            </li>
                                                        </ul>
                                                        <!-- delete note modal -->
                                                        <div id="modal_delete_comment{{ comment.id }}" class="modal fade" tabindex="-1">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header bg-danger text-white border-0">
                                                                        <h6 class="modal-title">Potvrda</h6>
                                                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                                                    </div>

                                                                    <div class="modal-body">
                                                                        <p>Da li ste sigurni da želite da obrišete ovaj komentar?</p>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                                                                        <a href="{{ path('app_comment_delete', {id: comment.id} ) }}" id="link-stop" class="btn btn-danger"><i class="ph-trash me-2"></i>Obrišite</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /delete note modal -->
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center"></div>
                                        <div class="d-inline-flex mb-0">
                                            {% if not is_granted('ROLE_EMPLOYEE') or app.user in task.assignedUsers%}
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_form_comment"><i class="ph-plus me-2"></i> Dodajte</button>
                                            {% else %}
                                                <button type="button" class="btn btn-primary" disabled data-bs-toggle="modal" data-bs-target="#modal_form_comment"><i class="ph-plus me-2"></i> Dodajte</button>
                                            {% endif %}
                                        </div>
                                        {{ render(controller('App\\Controller\\CommentController::form', { task: task.id } )) }}
                                </div>
                            </div>
                        </div>
                        <!-- /left content -->
                    </div>

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
    <div id="modal_close_task" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white border-0">
                    <h6 class="modal-title">Potvrda</h6>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <p>Da li ste sigurni da želite da zatvorite otvorene dnevnike?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                    <a href="{{ path('app_task_close',{id: task.id} ) }}" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /close task modal -->
    <!-- Vertical form modal -->
    <div id="modal_form_vertical" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white border-0">
                    <h6 class="modal-title">Potvrda</h6>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <p>Da li ste sigurni da želite da zaustavite merenje vremena?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                    <a href="#" id="link-stop" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /vertical form modal -->
    <!-- delete task modal -->
    <div id="modal_delete_task" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white border-0">
                    <h6 class="modal-title">Potvrda</h6>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <p>Da li ste sigurni da želite da obrišete ovaj zadatak?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                    <a href="{{ path('app_task_delete', {id: task.id} ) }}" id="link-stop" class="btn btn-danger"><i class="ph-trash me-2"></i> Obrišite</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>#}

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/sweet_alert.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile_tabbed.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/echarts/bars/tornado_negative_stack.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/balance_stats.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/available_hours.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/media/glightbox.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/extra_sweetalert.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>


    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}
    <script src="{{ asset('assets/demo/pages/components_modals.js') }}"></script>

{% endblock includeJavascript %}

{% block footerJavascript %}
    <script type="text/javascript">

    </script>
{% endblock footerJavascript %}
