{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'includes/header.html.twig' %}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                {{ task.project.title | default ('Zadatak bez projekta') }}: {{ task.title }}
                            </h4>

                            <a href="#page_header" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        <div class="collapse d-lg-block my-lg-auto ms-lg-auto" id="page_header">
                            <div class="d-sm-flex align-items-center mb-3 mb-lg-0 ms-lg-3">
                                <div class="vr d-none d-sm-block flex-shrink-0 my-2 mx-3"></div>
                                <div class="d-inline-flex mt-3 mt-sm-0">
                                    <a href="{{ path('app_task_form') }}" class="btn btn-outline-primary btn-icon w-32px h-32px rounded-pill ms-3">
                                        <i class="ph-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="page-header-content d-lg-flex border-top">
                        <div class="d-flex">
                            {% if task.project is null %}
                                <div class="breadcrumb py-2">
                                    <a href="{{ path('app_home') }}" class="breadcrumb-item"><i class="ph-house"></i></a>
                                    <span class="breadcrumb-item active">Zadaci</span>
                                </div>
                            {% else %}
                                <div class="breadcrumb py-2">
                                    <a href="{{ path('app_home') }}" class="breadcrumb-item"><i class="ph-house"></i></a>
                                    <a href="{{ path('app_projects') }}" class="breadcrumb-item">Projekti</a>
                                    <a href="{{ path('app_project_profile_view', {id: task.project.id} ) }}" class="breadcrumb-item">Informacije</a>
                                    <a href="{{ path('app_project_tasks_view', {id: task.project.id} ) }}" class="breadcrumb-item">Zadaci</a>
                                    <span class="breadcrumb-item active">{{task.title }}</span>
                                </div>
                            {% endif %}
                            <a href="#breadcrumb_elements" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        <div class="collapse d-lg-block ms-lg-auto" id="breadcrumb_elements">
                            <div class="d-lg-flex mb-2 mb-lg-0">
                                <a href="#" class="d-flex align-items-center text-body py-2">
                                    <i class="ph-lifebuoy me-2"></i>
                                    Support
                                </a>

                                <div class="dropdown ms-lg-3">
                                    <a href="#" class="d-flex align-items-center text-body dropdown-toggle py-2" data-bs-toggle="dropdown">
                                        <i class="ph-gear me-2"></i>
                                        <span class="flex-1">Settings</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end w-100 w-lg-auto">
                                        <a href="#" class="dropdown-item">
                                            <i class="ph-shield-warning me-2"></i>
                                            Account security
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <i class="ph-chart-bar me-2"></i>
                                            Analytics
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <i class="ph-lock-key me-2"></i>
                                            Privacy
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            <i class="ph-gear me-2"></i>
                                            All settings
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if task.project is not null %}
                        {{ render(controller('App\\Controller\\WidgetController::projectProfilNavigation', { project: task.project } )) }}
                    {% endif %}

                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <div class="d-flex align-items-stretch align-items-lg-start flex-column flex-lg-row">

                        <!-- Left content -->
                        <div class="flex-1 order-2 order-lg-1">
                            {% if not is_granted('ROLE_EMPLOYEE') %}
                                <div class="row">
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-header d-flex">
                                                <h5 class="mb-0">
                                                    <i class="ph-timer me-2"></i>
                                                    Vreme
                                                </h5>
                                            </div>

                                            <div class="list-group list-group-borderless py-2">

                                                <div class="d-flex list-group-item align-items-start">
                                                    <div class="me-2">
                                                        <i class="ph-timer"></i>
                                                    </div>

                                                    <div class="flex-fill overflow-hidden">
                                                        <div class="fw-semibold text-truncate text-body">
                                                            Vreme iz prioritetnog dnevnika
                                                        </div>
                                                        <ul class="list-inline list-inline-bullet fs-sm text-muted mb-0">
                                                            <li class="list-inline-item">{{ time.priority }}</li>
                                                        </ul>
                                                    </div>

                                                    <div class="ms-3">
                                                        <span class="badge bg-warning bg-opacity-20 text-warning me-2">{{ time.hoursTimePriority }}:{{ time.minutesTimePriority }}h</span>
                                                        <span class="badge bg-danger bg-opacity-20 text-danger me-2">{{ time.hoursRealTimePriority }}:{{ time.minutesRealTimePriority }}h</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex list-group-item align-items-start">
                                                    <div class="me-2">
                                                        <i class="ph-timer"></i>
                                                    </div>

                                                    <div class="flex-fill overflow-hidden">
                                                        <div class="fw-semibold text-truncate text-body">
                                                            Ukupno vreme zadatku
                                                        </div>

                                                    </div>

                                                    <div class="ms-3">
                                                        <span class="badge bg-warning bg-opacity-20 text-warning me-2">{{ time.hours }}:{{ time.minutes }}h</span>
                                                        <span class="badge bg-danger bg-opacity-20 text-danger me-2">{{ time.hoursReal }}:{{ time.minutesReal }}h</span>
                                                    </div>
                                                </div>
                                                {#                                            <div class="sidebar-section-body">#}
                                                {#                                                <div class="d-flex justify-content-center text-center">#}
                                                {#                                                    <div id="time-elapsed"></div>#}
                                                {#                                                    <div>#}
                                                {#                                                        <span class="display-6 lh-1 m-0">00</span>#}
                                                {#                                                        <div class="mt-2">sati</div>#}
                                                {#                                                    </div>#}
                                                {#                                                    <div class="mx-1 my-2">:</div>#}
                                                {#                                                    <div>#}
                                                {#                                                        <span class="display-6 lh-1 m-0">00</span>#}
                                                {#                                                        <div class="mt-2">minuta</div>#}
                                                {#                                                    </div>#}
                                                {#                                                </div>#}
                                                {#                                            </div>#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-header d-flex">
                                                <h5 class="mb-0">
                                                    <i class="ph-users-three me-2"></i>
                                                    Zaduženi korisnici
                                                    {% if status == constant('App\\Classes\\Data\\TaskStatusData::NIJE_ZAPOCETO') and not task.isDeleted %}
                                                        <a href="{{ path('app_task_reassign', {id: task.id} ) }}"><i class="ph-note-pencil"></i></a>
                                                    {% endif %}
                                                </h5>
                                            </div>

                                            <div class="list-group list-group-borderless py-2">
                                                {% for log in taskLogs %}
                                                    <div class="d-flex list-group-item align-items-start">
                                                        <div class="me-2">
                                                            <i class="ph-clipboard"></i>
                                                        </div>

                                                        <div class="flex-fill overflow-hidden">
                                                            <div class="fw-semibold text-truncate">
                                                                <a href="{{ path('app_task_log_view',{id: log.log.id} ) }}" class="text-body">
                                                                    {{ log.log.user.getFullName }}
                                                                </a>
                                                            </div>
                                                            {% if log.lastEdit is not null  %}
                                                                <ul class="list-inline list-inline-bullet fs-sm text-muted mb-0">
                                                                    <li class="list-inline-item">Izmena: {{ log.lastEdit.updated | date("d.m.Y H:i:s")}}</li>
                                                                </ul>
                                                            {% endif %}
                                                        </div>

                                                        <div class="ms-3">
                                                            {% if log.count > 0  %}
                                                                <span class="badge bg-primary align-self-center rounded-pill ms-auto">{{ log.count }}</span>
                                                            {% else %}
                                                                <span class="badge bg-warning align-self-center rounded-pill ms-auto">{{ log.count }}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-4">
                                        <div class="card">
                                            <div class="card-header d-flex">
                                                <h5 class="mb-0">
                                                    <i class="ph-files me-2"></i>
                                                    Dokumenta
                                                </h5>
                                            </div>

                                            <div class="list-group list-group-borderless py-2">
                                                {% if pdfs is empty %}
                                                    <div class="d-flex align-items-start mb-3">
                                                        <div class="list-group-item">
                                                            <div class="fw-semibold text-truncate">Nema dokumenata</div>
                                                        </div>

                                                    </div>
                                                {% else %}
                                                    {% for pdf in pdfs %}
                                                        <div class="d-flex list-group-item align-items-start">
                                                            <div class="me-2">
                                                                <i class="ph-file-pdf"></i>
                                                            </div>
                                                            <div class="flex-fill overflow-hidden">
                                                                <div class="fw-semibold text-truncate">{{ pdf.title }}</div>
                                                            </div>
                                                            <div class="ms-3">
                                                                <a href="{{ asset(pdf.path) }}" download class="text-body">
                                                                    <i class="ph-download-simple"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            {% endif %}
                            <div class="card">
                                <div class="card-header d-lg-flex py-lg-0">
                                    <h5 class="py-lg-3 mb-0">#{{ task.id }}: {{task.title }}
                                        {% if not task.isDeleted %}
                                            {% if not is_granted('ROLE_EMPLOYEE') or task.createdBy == app.user %}
                                                <a href="{{ path('app_task_edit_info', {id: task.id} ) }}"><i class="ph-note-pencil"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    </h5>
                                    {% if status == constant('App\\Classes\\Data\\TaskStatusData::ZAPOCETO') %}
                                        <div class="mt-1 my-lg-auto ms-lg-auto">
                                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal_close_task"><i class="ph-x me-2"></i>Zatvorite</button>
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- close task modal -->
                                <div id="modal_close_task" class="modal fade" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary text-white border-0">
                                                <h6 class="modal-title">Potvrda</h6>
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                            </div>

                                            <div class="modal-body">
                                                <p>Da li ste sigurni da želite da zatvorite otvorene dnevnike?</p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                                                <a href="{{ path('app_task_close',{id: task.id} ) }}" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /close task modal -->

                                <!-- Vertical form modal -->
                                <div id="modal_form_vertical" class="modal fade" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary text-white border-0">
                                                <h6 class="modal-title">Potvrda</h6>
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                            </div>

                                            <div class="modal-body">
                                                <p>Da li ste sigurni da želite da zaustavite merenje vremena?</p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                                                <a href="#" id="link-stop" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /vertical form modal -->

                                <!-- delete task modal -->
                                <div id="modal_delete_task" class="modal fade" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-danger text-white border-0">
                                                <h6 class="modal-title">Potvrda</h6>
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                            </div>

                                            <div class="modal-body">
                                                <p>Da li ste sigurni da želite da obrišete ovaj zadatak?</p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                                                <a href="{{ path('app_task_delete', {id: task.id} ) }}" id="link-stop" class="btn btn-danger"><i class="ph-trash me-2"></i> Obrišite</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /delete task modal -->


                                <div class="card-body">
                                    <div class="mb-4">
                                        <h6>Oznake</h6>
                                        {% for label in task.label %}
                                            {{ label.label | raw }}
                                        {% endfor %}
                                    </div>
                                    <div class="mb-4">
                                        <h6>Kategorija</h6>
                                        {{ task.category.title | default('') }}
                                    </div>
                                    <div class="mb-4">
                                        <h6>Opis</h6>
                                        {{ task.description | raw }}
                                    </div>

                                    <div class="mb-4">
                                        <h6>Oprema</h6>
                                    </div>

                                    <div class="mb-4">
                                        <h6>Vozila</h6>
                                    </div>

                                    <div class="mb-4">
                                        <h6>Slike</h6>
                                        <div class="row">
                                            {% for image in images %}
                                                <div class="col-xl-1 col-sm-2">
                                                    <div class="card">
                                                        <div class="card-img-actions">
                                                            <img class="card-img img-fluid" src="{{ asset(image.thumbnail100) }}" alt="">
                                                            <div class="card-img-actions-overlay card-img">
                                                                <a href="{{ asset(image.thumbnail1024) }}" class="btn btn-outline-white btn-icon rounded-pill" data-bs-popup="lightbox" data-gallery="gallery1">
                                                                    <i class="ph-magnifying-glass-plus"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>

                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    {% if not task.isDeleted %}
                                        <div class="d-flex align-items-center">
                                            <i class="ph-lightbulb me-2"></i>
                                            {% if status == constant('App\\Classes\\Data\\TaskStatusData::NIJE_ZAPOCETO') %}
                                                <span class="badge bg-info">Nije startovan</span>
                                            {% elseif status == constant('App\\Classes\\Data\\TaskStatusData::ZAPOCETO') %}
                                                <span class="badge bg-success">Otvoren</span>
                                            {% else %}
                                                <span class="badge bg-danger">Zatvoren</span>
                                            {% endif %}
                                        </div>

                                        <div class="d-inline-flex mb-0">
                                            {% if not is_granted('ROLE_EMPLOYEE') or task.createdBy == app.user %}
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_delete_task" class="text-body ms-2">
                                                    <i class="ph-trash"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="d-flex align-items-center">
                                        </div>
                                        <div class="d-inline-flex mb-0">
                                            <span class="badge bg-warning bg-opacity-20 text-warning mx-2">Obrisan</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- /left content -->



{#                        <!-- Right sidebar component User -->#}
{#                        <div class="sidebar sidebar-component sidebar-collapsed bg-transparent shadow-none order-1 order-lg-2 ms-lg-3 mb-3">#}

{#                            <!-- Sidebar content -->#}
{#                            <div class="sidebar-content">#}
{#                                <div class="card">#}
{#                                    <div class="card-header d-flex">#}
{#                                        <h5 class="mb-0">#}
{#                                            <i class="ph-folder me-2"></i>#}
{#                                            Downloaded files#}
{#                                        </h5>#}

{#                                        <div class="ms-auto">#}
{#                                            <span class="text-muted">(93)</span>#}
{#                                        </div>#}
{#                                    </div>#}

{#                                    <div class="list-group list-group-borderless py-2">#}
{#                                        <a href="#" class="list-group-item list-group-item-action">#}
{#                                            <i class="ph-file-pdf me-3"></i>#}
{#                                            Hello_exotic_staunch.pdf <span class="badge bg-success ms-auto">New</span>#}
{#                                        </a>#}

{#                                        <a href="#" class="list-group-item list-group-item-action">#}
{#                                            <i class="ph-file-doc me-3"></i>#}
{#                                            That_well_ecstatically.docx#}
{#                                        </a>#}

{#                                        <a href="#" class="list-group-item list-group-item-action">#}
{#                                            <i class="ph-file-csv me-3"></i>#}
{#                                            Shared_coast_concurrent.csv#}
{#                                            <span class="badge badge-secondary ml-auto">Draft</span>#}
{#                                        </a>#}

{#                                        <a href="#" class="list-group-item list-group-item-action">#}
{#                                            <i class="ph-file-doc me-3"></i>#}
{#                                            Into_intrepid_belated.docx#}
{#                                        </a>#}

{#                                        <a href="#" class="list-group-item list-group-item-action">#}
{#                                            <i class="ph-arrow-right me-3"></i>#}
{#                                            Show all files (93)#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- dnevnici -->#}
{#                                <div class="card">#}
{#                                    <div class="sidebar-section-header border-bottom">#}
{#                                        <span class="fw-semibold">Zaduženi korisnici</span>#}
{#                                        {% if status == constant('App\\Classes\\Data\\TaskStatusData::NIJE_ZAPOCETO') and not task.isDeleted %}#}
{#                                            <a href="{{ path('app_task_reassign', {id: task.id} ) }}"> <i class="ph-note-pencil mx-1"></i></a>#}
{#                                        {% endif %}#}
{#                                    </div>#}

{#                                    <div class="sidebar-section-body">#}
{#                                        {% for log in taskLogs %}#}
{#                                            <div class="d-flex align-items-start mb-3">#}
{#                                            <div class="me-2">#}
{#                                                <i class="ph-clipboard"></i>#}
{#                                            </div>#}

{#                                            <div class="flex-fill overflow-hidden">#}
{#                                                <div class="fw-semibold text-truncate">#}
{#                                                    <a href="{{ path('app_task_log_view',{id: log.log.id} ) }}" class="text-body">#}
{#                                                        {{ log.log.user.getFullName }}#}
{#                                                    </a>#}
{#                                                </div>#}
{#                                            {% if log.lastEdit is not null  %}#}
{#                                                <ul class="list-inline list-inline-bullet fs-sm text-muted mb-0">#}
{#                                                    <li class="list-inline-item">Izmena: {{ log.lastEdit.updated | date("d.m.Y H:i:s")}}</li>#}
{#                                                </ul>#}
{#                                            {% endif %}#}
{#                                            </div>#}

{#                                            <div class="ms-3">#}
{#                                                {% if log.count > 0  %}#}
{#                                                    <span class="badge bg-primary align-self-center rounded-pill ms-auto">{{ log.count }}</span>#}
{#                                                {% else %}#}
{#                                                    <span class="badge bg-warning align-self-center rounded-pill ms-auto">{{ log.count }}</span>#}
{#                                                {% endif %}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        {% endfor %}#}
{#                                    </div>#}

{#                                </div>#}
{#                                <!-- /dnevnici -->#}

{#                                {% if not task.isDeleted %}#}
{#                                    <!-- Attached files -->#}
{#                                    <div class="card">#}
{#                                        <div class="sidebar-section-header border-bottom">#}
{#                                            <span class="fw-semibold">Dokumenta</span>#}
{#                                        </div>#}

{#                                        <div class="sidebar-section-body">#}
{#                                            {% if pdfs is empty %}#}
{#                                                <div class="d-flex align-items-start mb-3">#}

{#                                                    <div class="flex-fill overflow-hidden">#}
{#                                                        <div class="fw-semibold text-truncate">Nema dokumenata</div>#}
{#                                                    </div>#}

{#                                                </div>#}
{#                                            {% else %}#}
{#                                                {% for pdf in pdfs %}#}
{#                                                    <div class="d-flex align-items-start mb-3">#}
{#                                                        <div class="me-2">#}
{#                                                            <i class="ph-file-pdf"></i>#}
{#                                                        </div>#}

{#                                                        <div class="flex-fill overflow-hidden">#}
{#                                                            <div class="fw-semibold text-truncate">{{ pdf.title }}</div>#}
{#                                                        </div>#}

{#                                                        <div class="ms-3">#}
{#                                                            <a href="{{ asset(pdf.path) }}" download class="text-body">#}
{#                                                                <i class="ph-download-simple"></i>#}
{#                                                            </a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                {% endfor %}#}
{#                                            {% endif %}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <!-- /attached files -->#}
{#                                {% endif %}#}
{#                            </div>#}
{#                            <!-- /sidebar content -->#}

{#                        </div>#}
{#                        <!-- /right sidebar component user -->#}

                    </div>

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>#}

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/sweet_alert.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile_tabbed.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/echarts/bars/tornado_negative_stack.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/balance_stats.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/available_hours.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/media/glightbox.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/extra_sweetalert.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>


    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}
    <script src="{{ asset('assets/demo/pages/components_modals.js') }}"></script>

{% endblock includeJavascript %}

{% block footerJavascript %}
    <script type="text/javascript">

    </script>
{% endblock footerJavascript %}
