
<div id="modal_car" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Razduživanje vozila</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            {{ form_start(form, {'attr': {'class' : 'form-validate-jquery', 'novalidation': 'novalidation', 'enctype': 'multipart/form-data' }}) }}
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            {{ form_label(form.kmStop, 'Krajnja kilometraža:*', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.kmStop, {attr: { class: 'form-control required' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            {{ form_label(form.fuelStop, 'Nivo goriva:*', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.fuelStop, {attr: { class: 'form-control select required' }}) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            {{ form_label(form.cleanStop, 'Nivo čistoće:*', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.cleanStop, {attr: { class: 'form-control select required' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            {{ form_label(form.descStop, 'Napomena:', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.descStop, {attr: { class: 'form-control' }}) }}
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>