{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Rezultati pretrage
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="content">
                            {% if pagination.totalItemCount > 0 %}
                                <div class="card">
                                    <div class="card-header d-sm-flex align-items-sm-center py-sm-0">
                                        <h5 class="py-sm-2 my-sm-1">Projekti</h5>
                                        <div class="d-inline-flex ms-auto">
                                            <span class="badge bg-yellow text-primary rounded-pill accordion-button fw-semibold">{{ pagination.totalItemCount }}</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive ">
                                            <table class="table table-bordered table-hover table-responsive">
                                                <thead>
                                                <tr>
                                                    <th>Projekat</th>
                                                    <th>Klijent</th>
                                                    <th>Status</th>
                                                    <th class="text-center text-muted" style="width: 30px;"><i class="ph-check"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for project in pagination %}
                                                    <tr>

                                                        <td>
                                                            <div class="fw-semibold">
                                                                <a href="{{ path('app_project_profile_view', { id: project.id}) }}">{{ project.title }}</a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="fw-semibold">
                                                                {{ project.client.first.title }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            {% if project.isSuspended%}
                                                                <span class="badge bg-yellow text-primary">Deaktiviran</span>
                                                            {% else %}
                                                                <span class="badge bg-secondary text-primary">Aktivan</span>
                                                            {% endif %}
                                                        </td>

                                                        <td class="text-center">
                                                            <a href="{{ path('app_project_profile_view', {id: project.id}) }}" class="btn btn-primary">
                                                                <i class="ph-eye me-2"></i>
                                                                Vidite
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="navigation float-end">
                                            {{ knp_pagination_render(pagination) }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="card">
                                    <div class="card-header d-sm-flex align-items-sm-center py-sm-0">
                                        <h5 class="py-sm-2 my-sm-1">Projekti</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="alert alert-info fade show">
                                            <span class="fw-semibold">Nije pronađen nijedan rezultat među projektima na kojima ste Vi raspoređeni.</span>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="navigation float-end">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                </div>
                <!-- /content area -->


                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

{% endblock includeJavascript %}
