{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::headerKadrovska' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebarKadrovska', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Radna mesta
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Lista radnih mesta</h5>
                            <div class="my-auto ms-auto">
                                <a href="{{ path('app_position_kadrovska_form') }}" class="btn btn-primary"><i class="ph-plus me-2"></i> Dodajte</a>
                            </div>
                        </div>
                        <form method="get" action="{{ path('app_positions_kadrovska') }}" class="form-validate-jquery" novalidation="novalidation">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="naziv">Naziv:</label>
                                                <input id="naziv" name="naziv" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                      <div class="text-end">
                                    <button type="button" class="btn btn-primary"
                                            onclick="window.location.href = this.closest('form').action;">
                                        <i class="ph-arrow-counter-clockwise me-2"></i> Reset
                                    </button>
                                    <button type="submit" class="btn btn-primary"><i class="ph-gear-six me-2"></i> Prikažite</button>
                                </div>
                            </div>
                        </form>
                        <div class="card-body">
                            <div class="card">
                                <table class="table table-bordered table-hover table-responsive table-sm">
                                    <thead class="bg-light text-primary">
                                    <tr>
                                        <th{% if pagination.isSorted('[c.title]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Naziv ', ['c.title']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.title' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.title' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th  {% if pagination.isSorted('[c.isSuspended]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Status ', ['c.isSuspended']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'c.isSuspended' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'c.isSuspended' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for position in pagination %}
                                        <tr>
                                            <td><div class="fw-semibold"><a href="{{ path('app_position_kadrovska_view', { id: position.id}) }}">{{ position.title }}</a></div></td>
                                            <td>{{ position.badgeByStatus | raw }}</td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                        <i class="ph-gear"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="{{ path('app_position_kadrovska_view', { id: position.id}) }}" class="dropdown-item"><i class="ph-eye me-2"></i> Vidite</a>
                                                        <a href="{{ path('app_position_kadrovska_form', { id: position.id}) }}" class="dropdown-item"><i class="ph-note-pencil me-2"></i> Izmenite</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->


        </div>
        <!-- /main content -->


    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

{% endblock includeJavascript %}

