{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::headerUserKadrovska' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebarKadrovska', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                {{ user.getFullName() }}
                            </h4>
                        </div>
                    </div>

                    {{ render(controller('App\\Controller\\WidgetController::userProfilNavigationKadrovska', { user: user } )) }}

                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <!-- Inner container -->
                    <div class="d-lg-flex align-items-lg-start">

                        <!-- Left sidebar component -->
                        {{ render(controller('App\\Controller\\WidgetController::userProfilSidebarKadrovska', { user: user } )) }}
                        <!-- /left sidebar component -->

                        <!-- Right content -->
                        <div class="tab-content flex-fill">
                            <div class="tab-pane fade active show">
                                {% if user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_SUPER_ADMIN') or user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_ADMIN') %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Lični i kontakt podaci <a href="{{ path('app_kadrovska_user_edit_info_form', {id: user.id}) }}"><i class="ph-note-pencil"></i></a></h5>
                                                <div class="card-body">
                                                    <div class="row p-2">
                                                        <div class="col-4">Ime i prezime:</div>
                                                        <div class="col-8">{{ user.fullName() }}</div>
                                                    </div>
                                                    <div class="row p-2 bg-light">
                                                        <div class="col-4">Datum rođenja:</div>
                                                        <div class="col-8">{{ user.datumRodjenja | date("d.m.Y.")}}</div>
                                                    </div>
                                                    <div class="row p-2">
                                                        <div class="col-4">Pol:</div>
                                                        <div class="col-8">{{ user.getPolData()}}</div>
                                                    </div>
                                                </div>
                                        </div>

                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Login podaci <a href="{{ path('app_kadrovska_user_edit_account_form', {id: user.id}) }}"><i class="ph-note-pencil"></i></a></h5>
                                            <div class="card-body">
                                                <div class="row p-2">
                                                    <div class="col-4">Email:</div>
                                                    <div class="col-8">{{ user.email }}</div>
                                                </div>
                                                <div class="row p-2 bg-light">
                                                    <div class="col-4">Tip korisnika:</div>
                                                    <div class="col-8">{{ user.badgeByUserType | raw }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Lični i kontakt podaci <a href="{{ path('app_kadrovska_user_edit_info_form', {id: user.id}) }}"><i class="ph-note-pencil"></i></a></h5>
                                            <div class="card-body">
                                                <div class="row p-2">
                                                    <div class="col-4">Ime i prezime:</div>
                                                    <div class="col-8">{{ user.fullName() }}</div>
                                                </div>
                                                <div class="row p-2 bg-light">
                                                    <div class="col-4">Datum rođenja:</div>
                                                    <div class="col-8">{{ user.datumRodjenja | date("d.m.Y.")}}</div>
                                                </div>
                                                <div class="row p-2">
                                                    <div class="col-4">Pol:</div>
                                                    <div class="col-8">{{ user.getPolData()}}</div>
                                                </div>
                                                <div class="row p-2 bg-light">
                                                    <div class="col-4">JMBG:</div>
                                                    <div class="col-8">{{ user.jmbg}}</div>
                                                </div>
                                                <div class="row p-2">
                                                    <div class="col-4" >Grad:</div>
                                                    <div class="col-8">{{ user.grad.getFormTitle() }}</div>
                                                </div>
                                                <div class="row p-2 bg-light">
                                                    <div class="col-4">Adresa:</div>
                                                    <div class="col-8">{{ user.adresa }}</div>
                                                </div>
                                                <div class="row p-2">
                                                    <div class="col-4">Telefon:</div>
                                                    <div class="col-8">{{ user.telefon1 }}</div>
                                                </div>
                                                <div class="row p-2 bg-light">
                                                    <div class="col-4">Slava:</div>
                                                    <div class="col-8">
                                                        {% if user.slava is not null %}
                                                            {{ user.slava | date("d.m.")}}
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Login podaci <a href="{{ path('app_kadrovska_user_edit_account_form', {id: user.id}) }}"><i class="ph-note-pencil"></i></a></h5>
                                            <div class="card-body">
                                                <div class="row p-2">
                                                    <div class="col-4">Email:</div>
                                                    <div class="col-8">{{ user.email }}</div>
                                                </div>
                                                <div class="row p-2 bg-light">
                                                    <div class="col-4">Tip korisnika:</div>
                                                    <div class="col-8">{{ user.badgeByUserType | raw }}</div>
                                                </div>
                                                <div class="row p-2">
                                                    <div class="col-4">Vrsta zaposlenja:</div>
                                                    <div class="col-8">{{ user.vrstaZaposlenjaData }}</div>
                                                </div>
                                                <div class="row p-2  bg-light">
                                                    <div class="col-4">Početak ugovora:</div>
                                                    <div class="col-8">
                                                        {% if user.pocetakUgovora is not null %}
                                                            {{ user.pocetakUgovora | date("d.m.Y.") }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row p-2">
                                                    <div class="col-4">Kraj ugovora:</div>
                                                    <div class="col-8">
                                                        {% if user.krajUgovora is not null %}
                                                            {{ user.krajUgovora | date("d.m.Y.") }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row p-2 bg-light">
                                                    <div class="col-4">Nivo obrazovanja:</div>
                                                    <div class="col-8">{{ user.getObrazovanje() }}</div>
                                                </div>
                                                <div class="row p-2">
                                                    <div class="col-4">Zvanje:</div>
                                                    <div class="col-8">{% if user.zvanje is not null %}
                                                        {{ user.zvanje.title }}
                                                    {% endif %}</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                {% endif %}
                                {% if user.editBy is not null %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Poslednja verzija</h5>
                                        </div>

                                        <div class="card-body">
                                            <div class="row p-2">
                                                <div class="col-4">Izmenio:</div>
                                                <div class="col-8">{{ user.editBy.getFullName() | default('/') }}</div>
                                            </div>
                                            <div class="row p-2 bg-light">
                                                <div class="col-4">Vreme:</div>
                                                <div class="col-8">{{ user.updated | date("d.m.Y") }} u {{ user.updated | date("H:i:s") }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- /right content -->

                    </div>
                    <!-- /inner container -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->


    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/sweet_alert.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile_tabbed.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/echarts/bars/tornado_negative_stack.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/balance_stats.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/available_hours.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/extra_sweetalert.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>

    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}

{#{% block footerJavascript %}#}
{#    <script type="text/javascript">#}
{#        $(document).ready(function() {#}
{#            var options = {#}
{#                // target:        '#output1',   // target element(s) to be updated with server response#}
{#                success:       editInfoResponse,  // post-submit callback#}
{#                //         // target:        '#error',#}
{#                //         // other available options:#}
{#                //         //url:       url         // override for form's 'action' attribute#}
{#                //         // type:      'post',        // 'get' or 'post', override for form's 'method' attribute#}
{#                        dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)#}
{#                //         //clearForm: true        // clear all form fields after successful submit#}
{#                        resetForm: true,        // reset the form after successful submit#}
{#                //         success:   editInfoResponse#}
{#                //         // $.ajax options can be used here too, for example:#}
{#                //         //timeout:   3000#}
{#            };#}

{#            // bind form using 'ajaxForm'#}
{#            $('#infoForma').ajaxForm(options);#}
{#        });#}
{#        // function showResponse(responseText, statusText, xhr, $form)  {#}
{#        //     // for normal html responses, the first argument to the success callback#}
{#        //     // is the XMLHttpRequest object's responseText property#}
{#        //#}
{#        //     // if the ajaxForm method was passed an Options Object with the dataType#}
{#        //     // property set to 'xml' then the first argument to the success callback#}
{#        //     // is the XMLHttpRequest object's responseXML property#}
{#        //#}
{#        //     // if the ajaxForm method was passed an Options Object with the dataType#}
{#        //     // property set to 'json' then the first argument to the success callback#}
{#        //     // is the json data object returned by the server#}
{#        //#}
{#        //     alert('status: ' + statusText + '\n\nresponseText: \n' + responseText +#}
{#        //         '\n\nThe output div should have already been updated with the responseText.');#}
{#        // }#}
{#        // $(function () {#}
{#        //     var options = {#}
{#        //         // target:        '#error',#}
{#        //         // other available options:#}
{#        //         //url:       url         // override for form's 'action' attribute#}
{#        //         // type:      'post',        // 'get' or 'post', override for form's 'method' attribute#}
{#        //         dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)#}
{#        //         //clearForm: true        // clear all form fields after successful submit#}
{#        //         resetForm: true,        // reset the form after successful submit#}
{#        //         success:   editInfoResponse#}
{#        //         // $.ajax options can be used here too, for example:#}
{#        //         //timeout:   3000#}
{#        //     };#}
{#        //     // bind form using ajaxForm#}
{#        //     $('#infoForma').submit(function() {#}
{#        //         // inside event callbacks 'this' is the DOM element so we first#}
{#        //         // wrap it in a jQuery object and then invoke ajaxSubmit#}
{#        //         $(this).ajaxSubmit(options);#}
{#        //#}
{#        //         // !!! Important !!!#}
{#        //         // always return false to prevent standard browser submit and page navigation#}
{#        //         return false;#}
{#        //     });#}
{#        // });#}
{#        //#}
{#        function editInfoResponse(data) {#}
{#            // 'data' is the json object returned from the server#}

{#            if (data.success === 1) {#}
{#                swal({#}
{#                    type: 'success',#}
{#                    title: 'Correct!',#}
{#                    html: 'All safe! Here is the answer from the tool:'#}
{#                })#}
{#            }#}
{#            else {#}
{#                var error = data.error_msg.toString();#}
{#                swal({#}
{#                    type: 'error',#}
{#                    title: 'Correct!',#}
{#                    html: 'All safe! Here is the answer from the tool:'#}
{#                })#}
{#            }#}

{#        }#}

{#    </script>#}
{#{% endblock footerJavascript %}#}
