{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Korisnici
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Kontakti korisnika</h5>
                        </div>

                        <div class="card-body">
                            <div class="accordion" id="accordion_collapsed">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsed_item_filter" aria-expanded="false">
                                            Filter
                                        </button>
                                    </h2>
                                    <div id="collapsed_item_filter" class="accordion-collapse collapse" data-bs-parent="#accordion_collapsed" style="">
                                        <form method="get" action="{{ path('app_users_contacts') }}" class="form-validate-jquery" novalidation="novalidation">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="ime">Ime:</label>
                                                            <input id="ime" name="ime" class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="prezime">Prezime:</label>
                                                                <input id="prezime" name="prezime" class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="text-end">
                                                    <button type="submit" class="btn btn-primary"><i class="ph-gear-six me-2"></i> Prikažite</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card-body">

                            <div class="table-responsive card">
                                <table class="table table-bordered table-hover table-responsive table_morecondensed">
                                    <thead class="bg-light text-primary">
                                    <tr>
                                        <th>Korisnik</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in pagination %}
                                        <tr>
                                            <td>
                                                <div>
                                                    <a href="#test{{ user.id }}" class="list-group-item list-group-item-action hstack gap-3 collapsed" data-bs-toggle="collapse">

                                                        <img src="{{ asset(user.image.getThumbnail100()) }}" class="w-40px h-40px rounded-pill" alt="">

                                                        <div class="flex-fill">
                                                            <div class="fw-semibold">{{ user.fullName }}</div>
                                                            <span class="text-muted">{{ user.getBadgeByUserType() | raw}}</span>
                                                        </div>

                                                        <div class="align-self-center ms-3">
                                                            <i class="ph-caret-down collapsible-indicator"></i>
                                                        </div>
                                                    </a>

                                                    <div class="collapse" id="test{{ user.id }}">
                                                        <div class="p-3">
                                                            <ul class="list list-unstyled mb-0">
                                                                <li ><i class="ph-map-pin me-2"></i>{{ user.grad.title }}</li>
                                                                <li ><a href="tel:{{ user.getTelefon1 }}"><i class="ph-phone me-2"></i>{{ user.telefon1 }}</a></li>
                                                                {% if user.getTelefon2 is not empty %}
                                                                    <li><a href="tel:{{ user.getTelefon2 }}"><i class="ph-phone me-2"></i>{{ user.telefon2 }}</a></li>
                                                                {% endif %}
                                                                <li ><a href="mailto:{{ user.getEmail }}"><i class="ph-at me-2"></i>{{ user.email }}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

{% endblock includeJavascript %}
