{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::headerUser' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                {{ client.title | upper}}
                            </h4>

                            <a href="#page_header" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        <div class="collapse d-lg-block my-lg-auto ms-lg-auto" id="page_header">
                            <div class="d-sm-flex align-items-center mb-3 mb-lg-0 ms-lg-3">
                                <div class="vr d-none d-sm-block flex-shrink-0 my-2 mx-3"></div>
                                <div class="d-inline-flex mt-3 mt-sm-0">
                                    <a href="{{ path('app_client_form') }}" class="btn btn-outline-primary btn-icon w-32px h-32px rounded-pill ms-3">
                                        <i class="ph-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="page-header-content d-lg-flex border-top">
                        <div class="d-flex">
                            <div class="breadcrumb py-2">
                                <a href="{{ path('app_home') }}" class="breadcrumb-item"><i class="ph-house"></i></a>
                                <a href="{{ path('app_clients') }}" class="breadcrumb-item">Klijenti</a>
                                <a href="{{ path('app_client_profile_view', {id: client.id} ) }}" class="breadcrumb-item">Profil</a>
                                <span class="breadcrumb-item active">Vozila</span>
                            </div>

                            <a href="#breadcrumb_elements" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        {{ render(controller('App\\Controller\\WidgetController::support' )) }}
                    </div>

                    {{ render(controller('App\\Controller\\WidgetController::clientProfilNavigation', { client: client} )) }}

                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <!-- Inner container -->
                    <div class="d-lg-flex align-items-lg-start">

                        <div class="sidebar sidebar-component sidebar-expand-lg sidebar-expand-sm sidebar-expand-md sidebar-expand-xl sidebar-expand-xxl sidebar-mobile-expanded bg-transparent shadow-none me-lg-3">

                        <!-- Sidebar content -->
                            <div class="sidebar-content">
                                <!-- Navigation -->
                                <div class="card">
                                    <div class="sidebar-section-body text-center">
                                        <div class="card-img-actions d-inline-block mb-3">
                                            <img class="img-fluid rounded-circle" src="{{ asset(client.image.thumbnail500) }}" width="150" height="150" alt="{{ client.title }}">
                                        </div>
                                        <h6 class="mb-0">{{ client.title | upper }}</h6>
                                    </div>
                                    <ul class="nav nav-sidebar">
                                        <li class="nav-item">
                                            <a href="{{ path('app_client_profile_view', { id: client.id}) }}" class="nav-link" >
                                                <i class="ph-user me-2"></i>
                                                Profil
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{ path('app_client_activity_view', { id: client.id}) }}" class="nav-link">
                                                <i class="ph-activity me-2"></i>
                                                Aktivnosti
                                                <span class="badge bg-secondary rounded-pill ms-auto">29</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{ path('app_client_calendar_view', { id: client.id}) }}" class="nav-link">
                                                <i class="ph-calendar me-2"></i>Raspored
                                                <span class="fs-sm fw-normal text-muted ms-auto">02:56pm</span>
                                            </a>
                                        </li>
                                        <li class="nav-item-divider"></li>
                                        <li class="nav-item">
                                            {#                    <a href="{{ path('app_logout') }}" class="nav-link" data-bs-toggle="tab">#}
                                            {#                        <i class="ph-sign-out me-2"></i>Odjavite se#}
                                            {#                    </a>#}
                                            <a href="{{ path('app_client_settings_form', { id: client.id}) }}" class="nav-link">
                                                <i class="ph-lightbulb me-2"></i>Status
                                                <span class="ms-auto">{{ client.badgeByStatus | raw }}</span>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                                <!-- /navigation -->
                            </div>
                            <!-- /sidebar content -->
                        </div>

                        <!-- Right content -->
                        <div class="tab-content flex-fill">
                            <div class="tab-pane fade active show">
                                <!-- Available hours -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">Available hours</h5>
                                    </div>

                                    <div class="card-body">
                                        <div class="chart-container">
                                            <div class="chart has-fixed-height" id="available_hours"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /available hours -->


                                <!-- Schedule -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">My schedule</h5>
                                    </div>

                                    <div class="card-body">
                                        <div class="my-schedule"></div>
                                    </div>
                                </div>
                                <!-- /schedule -->
                            </div>
                        </div>
                        <!-- /right content -->

                    </div>
                    <!-- /inner container -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->
        {# {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }} #}

    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    {#    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>#}
    {#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>#}
    {#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>#}
    {#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>#}
    {#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>#}
    {#    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>#}

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/sweet_alert.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile_tabbed.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/echarts/bars/tornado_negative_stack.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/balance_stats.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/available_hours.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/extra_sweetalert.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>

    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}