{% if is_granted('ROLE_EMPLOYEE') %}

    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- Sidebar header -->
            <div class="sidebar-section">
                <div class="sidebar-section-body d-flex justify-content-center">
                    <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Navigacija</h5>

                    <div>
                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                            <i class="ph-arrows-left-right"></i>
                        </button>

                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                            <i class="ph-x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /sidebar header -->

            <!-- Main navigation -->
            <div class="sidebar-section">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Main -->
                    <li class="nav-item-header pt-0">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Glavno</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_kadrovska_home') }}" class="nav-link {{ current_route == 'app_kadrovska_home' ? 'active' : '' }}">
                            <i class="ph-house"></i>
                            <span>Kontrolna tabla</span>
                        </a>
                    </li>
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Firma</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_kadrovska_company_view', {id:user.company.id}) }}" class="nav-link {{ current_route == 'app_kadrovska_company_view' ? 'active' : '' }}">
                            <i class="ph-factory"></i>
                            <span>Profil</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_kadrovska_company_employees', {id:user.company.id}) }}" class="nav-link {{ current_route == 'app_kadrovska_company_employees' ? 'active' : '' }}">
                            <i class="ph-users"></i>
                            <span>Zaposleni</span>
                            <div class="d-flex ms-auto">
                                <span class="badge bg-info bg-opacity-50 rounded-pill ms-2">{{ countEmployees['expiresInLessThan15Days'] }}</span>
                                <span class="badge bg-warning bg-opacity-50 rounded-pill ms-2">{{ countEmployees['expiresToday'] }}</span>
                                <span class="badge bg-danger bg-opacity-50 rounded-pill ms-2">{{ countEmployees['expiredUsers'] }}</span>
                                <span class="badge bg-secondary rounded-pill ms-2">{{ countEmployees['totalUsers'] }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_kadrovska_company_employees_calendar', {id:user.company.id}) }}" class="nav-link {{ current_route == 'app_kadrovska_company_employees_calendar' ? 'active' : '' }}">
                            <i class="ph-calendar"></i>
                            <span>Kalendar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_kadrovska_company_employees_addon', {id:user.company.id}) }}" class="nav-link {{ current_route == 'app_kadrovska_company_employees_addon' ? 'active' : '' }}">
                            <i class="ph-activity"></i>
                            <span>Aktivnosti</span>
                            <span class="badge bg-secondary align-self-center rounded-pill ms-auto">{{ countAddons }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_kadrovska_company_employees_archive', {id:user.company.id}) }}" class="nav-link {{ current_route == 'app_kadrovska_company_employees_archive' ? 'active' : '' }}">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countEmployeesArchive }}</span>
                        </a>
                    </li>
                    <!-- /page kits -->

                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>

{% else %}
    <!-- Main sidebar admin -->
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- Sidebar header -->
            <div class="sidebar-section">
                <div class="sidebar-section-body d-flex justify-content-between align-items-center">
                    <h5 class="sidebar-resize-hide my-auto">Navigacija</h5>

                    <div>
                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                            <i class="ph-arrows-left-right"></i>
                        </button>

                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                            <i class="ph-x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /sidebar header -->

            <!-- Main navigation -->
            <div class="sidebar-section">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Main -->
                    <li class="nav-item-header pt-0">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Glavno</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_kadrovska_home') }}" class="nav-link {{ current_route == 'app_kadrovska_home' ? 'active' : '' }}">
                            <i class="ph-house"></i>
                            <span>Kontrolna tabla</span>
                        </a>
                    </li>

                    <!-- Klijenti -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Kompanije</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_kadrovska_companies') }}" class="nav-link {{ current_route == 'app_kadrovska_companies' ? 'active' : '' }}">
                            <i class="ph-factory"></i>
                            <span>Lista</span>
                            <span class="badge bg-secondary align-self-center rounded-pill ms-auto">{{ countCompanies }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_kadrovska_companies_archive') }}" class="nav-link {{ current_route == 'app_kadrovska_companies_archive' ? 'active' : '' }}">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCompaniesArchive }}</span>
                        </a>
                    </li>

                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                        <!-- Korisnici -->
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Korisnici sistema</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_kadrovska_users') }}" class="nav-link {{ current_route == 'app_kadrovska_users' ? 'active' : '' }}">
                                <i class="ph-users"></i>
                                <span>Lista</span>
                                <span class="badge bg-secondary align-self-center rounded-pill ms-auto">{{ countUsers }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_kadrovska_users_archive') }}" class="nav-link {{ current_route == 'app_kadrovska_users_archive' ? 'active' : '' }}">
                                <i class="ph-archive"></i>
                                <span>Arhiva</span>
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countUsersArchive }}</span>
                            </a>
                        </li>
                    {% endif %}

                    <!-- Zaposleni -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Zaposleni</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('app_employees_kadrovska') }}" class="nav-link {{ current_route == 'app_employees_kadrovska' ? 'active' : '' }}">
                            <i class="ph-users"></i>
                            <span>Lista</span>
                            <div class="d-flex ms-auto">
                                <span class="badge bg-info bg-opacity-50 rounded-pill ms-2">{{ countEmployees['expiresInLessThan15Days'] }}</span>
                                <span class="badge bg-warning bg-opacity-50 rounded-pill ms-2">{{ countEmployees['expiresToday'] }}</span>
                                <span class="badge bg-danger bg-opacity-50 rounded-pill ms-2">{{ countEmployees['expiredUsers'] }}</span>
                                <span class="badge bg-secondary rounded-pill ms-2">{{ countEmployees['totalUsers'] }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employees_archive_kadrovska') }}" class="nav-link {{ current_route == 'app_employees_archive_kadrovska' ? 'active' : '' }}">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCompaniesArchive }}</span>
                        </a>
                    </li>

                    <li class="nav-item nav-item-submenu {{ current_route starts with 'app_' and current_route matches '/app_(positions_kadrovska)/' ? 'nav-item-open' : '' }}">
                        <a href="#" class="nav-link {{ current_route starts with 'app_' and current_route matches '/app_(positions_kadrovska)/' ? 'nav-item-open' : '' }}">Katalog</a>
                        <ul class="nav-group-sub collapse {{ current_route starts with 'app_' and current_route matches '/app_(positions_kadrovska)/' ? 'show' : '' }}">
                            <li class="nav-item"><a href="{{ path('app_positions_kadrovska') }}" class="nav-link {{ current_route == 'app_positions_kadrovska' ? 'active' : '' }}">Radna mesta</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
    <!-- /main sidebar -->

{% endif %}







