<!-- Left sidebar component -->
<div class="sidebar sidebar-component sidebar-expand-lg sidebar-expand-sm sidebar-expand-md sidebar-expand-xl sidebar-expand-xxl sidebar-mobile-expanded bg-transparent shadow-none me-lg-3">


    <!-- Sidebar content -->
    <div class="sidebar-content">

        <!-- Navigation -->
        <div class="card">
            <div class="sidebar-section-body text-center">
                <div class="card-img-actions d-inline-block mb-3">
                    <img class="img-fluid rounded-circle" src="{{ asset(user.image.thumbnail500) }}" width="150" height="150" alt="{{ user.fullName }}">
                    <div class="card-img-actions-overlay card-img rounded-circle">
                        <a href="{{ path('app_kadrovska_user_edit_image_form', {id: user.id}) }}" class="btn btn-outline-white btn-icon rounded-pill">
                            <i class="ph-note-pencil"></i>
                        </a>
                    </div>
                </div>
                <h6 class="mb-0">{{ user.fullName }}</h6>
                <span class="text-muted">{{ user.badgeByUserType | raw }}</span>
            </div>
            <ul class="nav nav-sidebar">
                <li class="nav-item">
                    <a href="{{ path('app_kadrovska_user_profile_view', { id: user.id}) }}" class="nav-link" >
                        <i class="ph-user me-2"></i>
                        Profil
                    </a>
                </li>
                <li class="nav-item-divider"></li>
                <li class="nav-item">
{#                    <a href="{{ path('app_logout') }}" class="nav-link" data-bs-toggle="tab">#}
{#                        <i class="ph-sign-out me-2"></i>Odjavite se#}
{#                    </a>#}
                    <a href="{{ path('app_kadrovska_user_settings_form', { id: user.id}) }}" class="nav-link">
                        <i class="ph-lightbulb me-2"></i>Status
                        <span class="ms-auto">{{ user.badgeByStatus | raw }}</span>
                    </a>

                </li>
            </ul>
        </div>
        <!-- /navigation -->

    </div>
    <!-- /sidebar content -->

</div>





