{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}
        <!-- Main content -->

        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Gradovi
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    {% if not form.vars.valid %}
                        {% for child in form.children %}
                            {%for error in child.vars.errors%}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <span class="fw-semibold">{{error.message}}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {%endfor%}
                        {%endfor%}
                    {%endif%}
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">
                                 {% if city.id is not null %}
                                        Izmena grada
                                    {% else %}
                                        Dodavanje grada
                                    {% endif %}
                                    </h6>
                        </div>
                        {{ form_start(form, {'attr': {'class' : 'form-validate-jquery', 'novalidation': 'novalidation', 'enctype': 'multipart/form-data' }}) }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.title, 'Naziv:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.title, {attr: { class: 'form-control required' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.ptt, 'PTT broj:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.ptt, {attr: { class: 'form-control required' }}) }}
                                        <span class="form-text">Format: 11000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.drzava, 'Država:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.drzava, {attr: { class: 'form-control select required country' }}) }}
                                    </div>
                                </div>
                            </div>
                            {% if city.drzava is not null and city.drzava.id == '206' %}
                                <div class="row COUNTRY_SERBIA">
                                    {% else %}
                                <div class="row hide COUNTRY_SERBIA">
                                    {% endif %}
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label required" for="city_form_region_other">Region:*</label>
                                            <select id="city_form_region_other" name="region_other" class="form-control select countryInput">
                                                <option value=''>Izaberite region</option>
                                                {% for region in regions %}
                                                    {% if city.region == region %}
                                                        <option value="{{ region }}" selected>{{ region }}</option>
                                                    {% else %}
                                                        <option value="{{ region }}">{{ region }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label required" for="city_form_municipality_other">Opština:*</label>
                                            <select id="city_form_municipality_other" name="municipality_other" class="form-control select countryInput">
                                                <option value=''>Izaberite opštinu</option>
                                                {% for municipality in municipalities %}
                                                    {% if city.municipality == municipality %}
                                                        <option value="{{ municipality }}" selected>{{ municipality }}</option>
                                                    {% else %}
                                                        <option value="{{ municipality }}">{{ municipality }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                    {% if city.drzava is not null and city.drzava.id == '206' %}
                                <div class="row hide COUNTRY_OTHER">
                                    {% else %}
                                    <div class="row COUNTRY_OTHER">
                                        {% endif %}
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                {{ form_label(form.region, 'Region*:', {'label_attr': {'class': 'form-label'}}) }}
                                                {{ form_widget(form.region, {attr: { class: 'form-control required countryOtherInput' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                {{ form_label(form.municipality, 'Opština*:', {'label_attr': {'class': 'form-label'}}) }}
                                                {{ form_widget(form.municipality, {attr: { class: 'form-control required countryOtherInput' }}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</button>
                                    </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                                                <!-- /wizard with validation -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>
    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}


{% endblock includeJavascript %}

{% block footerJavascript %}

    <script>
        $(function () {
            $(".country").change(function() {
                if ($(this).val() == "206") {
                    $('.COUNTRY_SERBIA').removeClass('hide');
                    $('.COUNTRY_OTHER').addClass('hide');
                    $('.countryInput').addClass('required');
                    $('.countryOtherInput').removeClass('required');
                } else {
                    $('.COUNTRY_SERBIA').addClass('hide');
                    $('.COUNTRY_OTHER').removeClass('hide');
                    $('.countryInput').removeClass('required');
                    $('.countryOtherInput').addClass('required');
                }
            });
        });
    </script>

{% endblock footerJavascript %}