{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::headerUser' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                {{ user.getFullName() }}
                            </h4>
                        </div>
                    </div>

                    <div class="page-header-content d-lg-flex border-top">
                        <div class="d-flex">
                            <div class="breadcrumb py-2">
                                <a href="{{ path('app_home') }}" class="breadcrumb-item"><i class="ph-house"></i></a>
                                <a href="{{ path('app_users') }}" class="breadcrumb-item">Korisnici</a>
                                <a href="{{ path('app_user_profile_view', { id: user.id}) }}" class="breadcrumb-item">Profil</a>
                                <span class="breadcrumb-item active">Aktivnosti</span>
                            </div>

                            <a href="#breadcrumb_elements" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        {{ render(controller('App\\Controller\\WidgetController::support' )) }}
                    </div>

                    {{ render(controller('App\\Controller\\WidgetController::userProfilNavigation', { user: user } )) }}

                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <!-- Inner container -->
                    <div class="d-lg-flex align-items-lg-start">

                        <!-- Left sidebar component -->
                        {{ render(controller('App\\Controller\\WidgetController::userProfilSidebar', { user: user } )) }}
                        <!-- /left sidebar component -->

                        <!-- Right content -->
                        <div class="tab-content flex-fill">
                            <div class="tab-pane fade active show">

                                <!-- Weekly stats -->
                                <div class="card">
                                    <div class="card-header d-sm-flex">
                                        <h5 class="mb-0">Weekly statistics</h5>
                                        <div class="mt-2 mt-sm-0 ms-auto">
										<span>
											<i class="ph-clock-counter-clockwise me-1"></i>
											Updated 2 hours ago
										</span>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="chart-container">
                                            <div class="chart has-fixed-height" id="tornado_negative_stack"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /weekly stats -->


                                <!-- Blog posts -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-header d-sm-flex">
                                                <h5 class="mb-0">Himalayan sunset</h5>
                                                <div class="d-flex d-sm-block mt-1 mt-sm-0 ms-sm-auto">
                                                    <span class="text-muted">49 minutes ago</span>
                                                    <div class="d-inline-flex ms-auto ms-sm-3">
                                                        <div class="dropdown">
                                                            <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                                <i class="ph-gear"></i>
                                                            </a>

                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-lock-key me-2"></i>
                                                                    Hide user posts
                                                                </a>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-prohibit-inset me-2"></i>
                                                                    Block user
                                                                </a>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-user-circle-minus me-2"></i>
                                                                    Unfollow user
                                                                </a>
                                                                <div class="dropdown-divider"></div>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-brackets-curly me-2"></i>
                                                                    Embed post
                                                                </a>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-warning-circle me-2"></i>
                                                                    Report this post
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <div class="card-img-actions mb-3">
                                                    <img class="card-img img-fluid" src="../../../assets/images/demo/cover3.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="blog_single.html" class="btn btn-outline-white btn-icon rounded-pill">
                                                            <i class="ph-link"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <h6 class="mb-3">
                                                    <i class="ph-chats me-2"></i>
                                                    <a href="#">Jason Ansley</a> commented:
                                                </h6>

                                                <blockquote class="blockquote border-start border-width-5 py-2 ps-3 mb-0">
                                                    <p class="mb-2 fs-base">When suspiciously goodness labrador understood rethought yawned grew piously endearingly inarticulate oh goodness jeez trout distinct hence cobra despite taped laughed the much audacious less inside tiger groaned darn stuffily metaphoric unihibitedly inside cobra.</p>
                                                    <footer class="blockquote-footer">Jason, <cite title="Source Title">10:39 am</cite></footer>
                                                </blockquote>
                                            </div>

                                            <div class="card-body d-flex justify-content-between align-items-center pt-0">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item"><a href="#" class="text-body"><i class="ph-eye me-2"></i> 438</a></li>
                                                    <li class="list-inline-item"><a href="#" class="text-body"><i class="ph-chats me-2"></i> 71</a></li>
                                                </ul>

                                                <a href="#" class="d-inline-block">Read post</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-header d-sm-flex">
                                                <h5 class="mb-0">Behind the word mountains</h5>
                                                <div class="d-flex d-sm-block mt-1 mt-sm-0 ms-sm-auto">
                                                    <span class="text-muted">2 hours ago</span>
                                                    <div class="d-inline-flex ms-auto ms-sm-3">
                                                        <div class="dropdown">
                                                            <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                                <i class="ph-gear"></i>
                                                            </a>

                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-lock-key me-2"></i>
                                                                    Hide user posts
                                                                </a>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-prohibit-inset me-2"></i>
                                                                    Block user
                                                                </a>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-user-circle-minus me-2"></i>
                                                                    Unfollow user
                                                                </a>
                                                                <div class="dropdown-divider"></div>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-brackets-curly me-2"></i>
                                                                    Embed post
                                                                </a>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-warning-circle me-2"></i>
                                                                    Report this post
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <div class="card-img-actions mb-3">
                                                    <img class="card-img img-fluid" src="../../../assets/images/demo/cover.jpg" alt="">
                                                    <div class="card-img-actions-overlay card-img">
                                                        <a href="blog_single.html" class="btn btn-outline-white btn-icon rounded-pill">
                                                            <i class="ph-link"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <h6 class="mb-3">
                                                    <i class="ph-chats me-2"></i>
                                                    <a href="#">Tim Smith</a> commented:
                                                </h6>

                                                <blockquote class="blockquote border-start border-width-5 py-2 ps-3 mb-0">
                                                    <p class="mb-2 fs-base">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                                                    <footer class="blockquote-footer">Mark, <cite title="Source Title">12:58 pm</cite></footer>
                                                </blockquote>
                                            </div>

                                            <div class="card-body d-flex justify-content-between align-items-center pt-0">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item"><a href="#" class="text-body"><i class="ph-eye me-2"></i> 589</a></li>
                                                    <li class="list-inline-item"><a href="#" class="text-body"><i class="ph-chats me-2"></i> 54</a></li>
                                                </ul>

                                                <a href="#" class="d-inline-block">Read post</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /blog posts -->


                                <!-- Conversation -->
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h5 class="mb-0">Conversation with James</h5>
                                        <div class="ms-auto">
                                            <div class="dropdown">
                                                <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                    <i class="ph-gear"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="ph-lock-key me-2"></i>
                                                        Hide user posts
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="ph-prohibit-inset me-2"></i>
                                                        Block user
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="ph-user-circle-minus me-2"></i>
                                                        Unfollow user
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="ph-brackets-curly me-2"></i>
                                                        Embed post
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="ph-warning-circle me-2"></i>
                                                        Report this post
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="media-chat-scrollable mb-3">
                                            <div class="media-chat vstack gap-2">
                                                <div class="content-divider justify-content-center text-muted mx-0">Today</div>

                                                <div class="media-chat-item hstack align-items-start gap-3">
                                                    <a href="#" class="d-block status-indicator-container">
                                                        <img src="../../../assets/images/demo/users/face11.jpg" class="w-40px h-40px rounded-pill" alt="">
                                                        <span class="status-indicator bg-success"></span>
                                                    </a>

                                                    <div>
                                                        <div class="media-chat-message">Crud reran and while much withdrew ardent much crab hugely met dizzily that more jeez gent equivalent unsafely far one hesitant so therefore.</div>
                                                        <div class="fs-sm text-muted mt-2">Tue, 10:28 am</div>
                                                    </div>
                                                </div>

                                                <div class="media-chat-item media-chat-item-reverse hstack align-items-start gap-3">
                                                    <a href="#" class="d-block status-indicator-container">
                                                        <img src="../../../assets/images/demo/users/face1.jpg" class="w-40px h-40px rounded-pill" alt="">
                                                        <span class="status-indicator bg-success"></span>
                                                    </a>

                                                    <div>
                                                        <div class="media-chat-message">Thus superb the tapir the wallaby blank frog execrably much since dalmatian by in hot. Uninspiringly arose mounted stared one curt safe</div>
                                                        <div class="fs-sm text-muted mt-2">Tue, 8:12 am</div>
                                                    </div>
                                                </div>


                                                <div class="media-chat-item hstack align-items-start gap-3">
                                                    <a href="#" class="d-block status-indicator-container">
                                                        <img src="../../../assets/images/demo/users/face11.jpg" class="w-40px h-40px rounded-pill" alt="">
                                                        <span class="status-indicator bg-success"></span>
                                                    </a>

                                                    <div>
                                                        <div class="media-chat-message">Tolerantly some understood this stubbornly after snarlingly frog far added insect into snorted more auspiciously heedless drunkenly jeez foolhardy oh.</div>
                                                        <div class="fs-sm text-muted mt-2">Wed, 4:20 pm</div>
                                                    </div>
                                                </div>

                                                <div class="media-chat-item media-chat-item-reverse hstack align-items-start gap-3">
                                                    <a href="#" class="d-block status-indicator-container">
                                                        <img src="../../../assets/images/demo/users/face1.jpg" class="w-40px h-40px rounded-pill" alt="">
                                                        <span class="status-indicator bg-success"></span>
                                                    </a>

                                                    <div>
                                                        <div class="media-chat-message">Satisfactorily strenuously while sleazily dear frustratingly insect menially some shook far sardonic badger telepathic much jeepers immature much hey.</div>
                                                        <div class="fs-sm text-muted mt-2">
                                                            <i class="ph-checks text-primary me-1"></i>
                                                            2 hours ago
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="media-chat-item hstack align-items-start gap-3">
                                                    <a href="#" class="d-block status-indicator-container">
                                                        <img src="../../../assets/images/demo/users/face11.jpg" class="w-40px h-40px rounded-pill" alt="">
                                                        <span class="status-indicator bg-success"></span>
                                                    </a>

                                                    <div class="align-self-center">
                                                        <span class="fw-semibold">Victoria</span> is typing
                                                        <div class="typing-indicator">
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-control form-control-content mb-3" contenteditable data-placeholder="Type message here and hit enter..."></div>

                                        <div class="d-flex align-items-center">
                                            <div>
                                                <a href="#" class="btn btn-light btn-icon border-transparent rounded-pill btn-sm me-1" data-bs-popup="tooltip" title="Formatting">
                                                    <i class="ph-text-aa"></i>
                                                </a>
                                                <a href="#" class="btn btn-light btn-icon border-transparent rounded-pill btn-sm me-1" data-bs-popup="tooltip" title="Emoji">
                                                    <i class="ph-smiley"></i>
                                                </a>
                                                <a href="#" class="btn btn-light btn-icon border-transparent rounded-pill btn-sm me-1" data-bs-popup="tooltip" title="Send file">
                                                    <i class="ph-paperclip"></i>
                                                </a>
                                            </div>

                                            <button type="button" class="btn btn-primary ms-auto">
                                                Send
                                                <i class="ph-paper-plane-tilt ms-2"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /conversation -->


                                <!-- Video posts -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-header d-sm-flex">
                                                <h5 class="mb-0">Peru mountains</h5>
                                                <div class="d-flex d-sm-block mt-1 mt-sm-0 ms-sm-auto">
                                                    <span class="text-muted">Today, 8:39 am</span>
                                                    <div class="d-inline-flex ms-auto ms-sm-3">
                                                        <div class="dropdown">
                                                            <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                                <i class="ph-gear"></i>
                                                            </a>

                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-lock-key me-2"></i>
                                                                    Hide user posts
                                                                </a>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-prohibit-inset me-2"></i>
                                                                    Block user
                                                                </a>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-user-circle-minus me-2"></i>
                                                                    Unfollow user
                                                                </a>
                                                                <div class="dropdown-divider"></div>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-brackets-curly me-2"></i>
                                                                    Embed post
                                                                </a>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-warning-circle me-2"></i>
                                                                    Report this post
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <p class="mb-3">Cutting much goodness more from sympathetic unwittingly under wow affluent luckily or distinctly demonstrable strewed lewd outside coaxingly and after and rational alas this fitted. Hippopotamus noticeably oh bridled more until dutiful.</p>

                                                <div class="ratio ratio-16x9">
                                                    <iframe class="rounded" allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/126945693?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-header d-sm-flex">
                                                <h5 class="mb-0">Woodturner master</h5>
                                                <div class="d-flex d-sm-block mt-1 mt-sm-0 ms-sm-auto">
                                                    <span class="text-muted">Yesterday, 7:52 am</span>
                                                    <div class="d-inline-flex ms-auto ms-sm-3">
                                                        <div class="dropdown">
                                                            <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                                <i class="ph-gear"></i>
                                                            </a>

                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-lock-key me-2"></i>
                                                                    Hide user posts
                                                                </a>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-prohibit-inset me-2"></i>
                                                                    Block user
                                                                </a>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-user-circle-minus me-2"></i>
                                                                    Unfollow user
                                                                </a>
                                                                <div class="dropdown-divider"></div>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-brackets-curly me-2"></i>
                                                                    Embed post
                                                                </a>
                                                                <a href="#" class="dropdown-item">
                                                                    <i class="ph-warning-circle me-2"></i>
                                                                    Report this post
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <p class="mb-3">Bewitchingly amid heard by llama glanced fussily quetzal more that overcame eerie goodness badger woolly where since gosh accurate irrespective that pounded much winked urgent and furtive house gosh one while this more.</p>

                                                <div class="ratio ratio-16x9">
                                                    <iframe class="rounded" allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/126545288?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /video posts -->

                            </div>
                        </div>
                        <!-- /right content -->

                    </div>
                    <!-- /inner container -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->
        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}

    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>#}

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/sweet_alert.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile_tabbed.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/echarts/bars/tornado_negative_stack.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/balance_stats.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/available_hours.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/extra_sweetalert.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>

    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}

{#{% block footerJavascript %}#}
{#    <script type="text/javascript">#}
{#        $(document).ready(function() {#}
{#            var options = {#}
{#                // target:        '#output1',   // target element(s) to be updated with server response#}
{#                success:       editInfoResponse,  // post-submit callback#}
{#                //         // target:        '#error',#}
{#                //         // other available options:#}
{#                //         //url:       url         // override for form's 'action' attribute#}
{#                //         // type:      'post',        // 'get' or 'post', override for form's 'method' attribute#}
{#                        dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)#}
{#                //         //clearForm: true        // clear all form fields after successful submit#}
{#                        resetForm: true,        // reset the form after successful submit#}
{#                //         success:   editInfoResponse#}
{#                //         // $.ajax options can be used here too, for example:#}
{#                //         //timeout:   3000#}
{#            };#}

{#            // bind form using 'ajaxForm'#}
{#            $('#infoForma').ajaxForm(options);#}
{#        });#}
{#        // function showResponse(responseText, statusText, xhr, $form)  {#}
{#        //     // for normal html responses, the first argument to the success callback#}
{#        //     // is the XMLHttpRequest object's responseText property#}
{#        //#}
{#        //     // if the ajaxForm method was passed an Options Object with the dataType#}
{#        //     // property set to 'xml' then the first argument to the success callback#}
{#        //     // is the XMLHttpRequest object's responseXML property#}
{#        //#}
{#        //     // if the ajaxForm method was passed an Options Object with the dataType#}
{#        //     // property set to 'json' then the first argument to the success callback#}
{#        //     // is the json data object returned by the server#}
{#        //#}
{#        //     alert('status: ' + statusText + '\n\nresponseText: \n' + responseText +#}
{#        //         '\n\nThe output div should have already been updated with the responseText.');#}
{#        // }#}
{#        // $(function () {#}
{#        //     var options = {#}
{#        //         // target:        '#error',#}
{#        //         // other available options:#}
{#        //         //url:       url         // override for form's 'action' attribute#}
{#        //         // type:      'post',        // 'get' or 'post', override for form's 'method' attribute#}
{#        //         dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)#}
{#        //         //clearForm: true        // clear all form fields after successful submit#}
{#        //         resetForm: true,        // reset the form after successful submit#}
{#        //         success:   editInfoResponse#}
{#        //         // $.ajax options can be used here too, for example:#}
{#        //         //timeout:   3000#}
{#        //     };#}
{#        //     // bind form using ajaxForm#}
{#        //     $('#infoForma').submit(function() {#}
{#        //         // inside event callbacks 'this' is the DOM element so we first#}
{#        //         // wrap it in a jQuery object and then invoke ajaxSubmit#}
{#        //         $(this).ajaxSubmit(options);#}
{#        //#}
{#        //         // !!! Important !!!#}
{#        //         // always return false to prevent standard browser submit and page navigation#}
{#        //         return false;#}
{#        //     });#}
{#        // });#}
{#        //#}
{#        function editInfoResponse(data) {#}
{#            // 'data' is the json object returned from the server#}

{#            if (data.success === 1) {#}
{#                swal({#}
{#                    type: 'success',#}
{#                    title: 'Correct!',#}
{#                    html: 'All safe! Here is the answer from the tool:'#}
{#                })#}
{#            }#}
{#            else {#}
{#                var error = data.error_msg.toString();#}
{#                swal({#}
{#                    type: 'error',#}
{#                    title: 'Correct!',#}
{#                    html: 'All safe! Here is the answer from the tool:'#}
{#                })#}
{#            }#}

{#        }#}

{#    </script>#}
{#{% endblock footerJavascript %}#}
