<!doctype html>
<html lang="en" dir="ltr">
<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="sr">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-store, private, no-cache, must-revalidate">
    <meta http-equiv="Cache-Control" content="pre-check=0, post-check=0, max-age=0, max-stale=0">
    <meta http-equiv="Pragma" content="public">
    <meta http-equiv="Expires" content="Sat, 26 Jul 1997 05:00:00 GMT">
    <meta http-equiv="Expires" content="0">

    <meta http-equiv="Pragma" content="no-cache">


    <link rel="icon" href="{{ asset('assets/images/logo/favicon/favicon.ico') }}" type="image/x-icon">
    <!-- Ako želite podržati i mobilne uređaje -->
    <link rel="apple-touch-icon" href="{{ asset('assets/images/logo/favicon/apple-touch-icon.png') }}">
    {% block metatags %}

    {% endblock metatags %}

    <title>ePARS</title>

    {% set metaDescription %}ePARS{% endset %}

    {#    <meta property="og:description" content="{{ metaDescription }}"/>#}
    {#    <meta name="description" content="{{ metaDescription }}"/>#}

    {% block customStylesheet %}

        <!-- Global stylesheets -->
        <link href="{{ asset('assets/fonts/inter/inter.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/icons/phosphor/styles.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('full/assets/css/ltr/all.min.css') }}" id="stylesheet" rel="stylesheet" type="text/css">
        <link href="{{ asset('full/assets/css/ltr/custom.css') }}" id="stylesheet" rel="stylesheet" type="text/css">
        <!-- /global stylesheets -->

    {% endblock customStylesheet %}

</head>

<body>

{#{% if is_granted('ROLE_USER') %}#}

{#{% endif %}#}

{% block content %}

{% endblock content %}

{% block includeJavascript %}

    <!-- Core JS files -->
    <script src="{{ asset('assets/js/bootstrap/bootstrap.bundle.min.js')}}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="{{ asset('assets/js/vendor/visualization/d3/d3.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/visualization/d3/d3_tooltip.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_styles.js')}}"></script>

    <script src="{{ asset('assets/js/jquery/jquery.min.js')}}"></script>
    <script src="{{ asset('full/assets/js/app.js')}}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>


{% endblock includeJavascript %}

{% block footerJavascript %}{% endblock footerJavascript %}

{% block modals %}
{% endblock modals %}

</body>
</html>