{% extends 'layout.html.twig' %}
{% block content %}
    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Content area -->
                <div class="content d-flex justify-content-center align-items-center">
{#                    {% if app.user %}#}
{#                        <div class="mb-3">#}
{#                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#                        </div>#}
{#                    {% endif %}#}
                    <!-- Login form -->
                    <form class="login-form needs-validation" action="{{ path('app_login') }}" method="POST" novalidate>
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <div class="d-inline-flex align-items-center justify-content-center mb-4 mt-2">
                                        <img src="{{ asset('assets/images/logo/logo_admin.png') }}" class="h-250px" alt="">
                                    </div>
                                    <h5 class="mb-0">Prijavite se na Vaš nalog</h5>
                                    <span class="d-block text-muted">Unesite Vaše podatke</span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <div class="form-control-feedback form-control-feedback-start">
                                        <input type="email" name="email" class="form-control" placeholder="email@email.com" required value="{{ last_username }}" autofocus>
                                        <div class="invalid-feedback">Morate uneti Vaš email</div>
                                        <div class="form-control-feedback-icon">
                                            <i class="ph-user-circle text-muted"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Lozinka</label>
                                    <div class="form-control-feedback form-control-feedback-start">
                                        <input type="password" name="password" class="form-control" placeholder="•••••••••••" required autocomplete="current-password">
                                        <div class="invalid-feedback">Morate uneti Vašu lozinku</div>
                                        <div class="form-control-feedback-icon">
                                            <i class="ph-lock text-muted"></i>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                                #}

                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary w-100">Prijavite se</button>
                                </div>

                                <div class="text-center">
                                    <a href="login_password_recover.html">Zaboravili ste lozinku?</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- /login form -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->


{% endblock content %}

