{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}
        <!-- Main content -->

        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Sastavnice
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">
                                {% if product.id is not null %}
                                    Izmena elementa
                                {% else %}
                                    Dodavanje elementa
                                {% endif %}
                            </h6>
                        </div>
                        {{ form_start(form, {'attr': {'class' : 'form-validate-jquery', 'novalidation': 'novalidation', 'enctype': 'multipart/form-data' }}) }}
                        <div class="card-body">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.title, 'Naziv:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.title, {attr: { class: 'form-control required' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.productKey, 'Šifra proizvoda:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.productKey, {attr: { class: 'form-control required' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="fw-bold border-bottom pb-2 mb-3">Elementi</div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered table_morecondensed">
                                                <tbody id="tbody">
                                                {% for element in product.sastavnica%}
                                                    <tr id="proizvod_{{loop.index}}">
                                                        <td style="width: 600px;">

                                                            <input value="{{ element.element.id }}" hidden="hidden" name="edit_order_products_form[product][{{loop.index}}][product]">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="mb-3">
                                                                        <label class="form-label required" for="order_form_product_{{loop.index}}">Element:*</label>
                                                                        <select id="order_form_product_{{loop.index}}" name="edit_order_products_form[product][{{loop.index}}][title]" class="form-control disable-input">
                                                                            <option>{{ element.element.title }}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="order_form_product_ppdv_{{loop.index}}">Sastav:*</label>
                                                                        <input id="order_form_product_ppdv_{{loop.index}}" name="edit_order_products_form[product][{{loop.index}}][ppdv]" class="form-control required" value="{{ element.sastav }}"  type="number" min="0.001" step="0.001">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td class="text-center text-muted" style="width: 30px;"><a class="btn-sm remove mt-2" ><i class="ph-trash text-danger"></i></a></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <a class="btn btn-primary" id="addBtn"> <i class="ph-plus me-2"></i> Dodajte</a>
                                    </div>
                                </div>

                                {#                                            <a id="addBtn" class="btn-sm"><i class="ph-plus-circle"></i></a>#}
                            </div>

                            <div class="text-end">
                                <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <!-- /wizard with validation -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>


    </div>

    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    {#    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>#}
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/editors/ckeditor/ckeditor_classic.js') }}"></script>
    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}


{% endblock includeJavascript %}
{% block footerJavascript %}

    <script>
        $(document).ready(function () {

            var rowIdx = {{ product.sastavnica.toArray | length }};
// Pratimo promene u sale_products_form_percentDiscount
//             $('#sale_products_form_percentDiscount').on('input', function() {
//                 var percentDiscount = parseFloat($(this).val());
//
//                 // Ažuriramo sve redove u tabeli
//                 $('#tbody tr').each(function() {
//                     var currentRowIdx = $(this).attr('id').split('_')[1]; // Dobijamo indeks trenutnog reda
//                     var pricePDV = parseFloat($(`#order_form_product_pdv_${currentRowIdx}`).val());
//                     var newPrice = pricePDV - (pricePDV * (percentDiscount / 100));
//
//                     if (newPrice >= parseFloat($(`#order_form_product_cena_${currentRowIdx}`).attr('min'))) {
//                         $(`#order_form_product_cena_${currentRowIdx}`).val(newPrice.toFixed(2));
//                         $(`#order_form_product_percent_${currentRowIdx}`).val(percentDiscount.toFixed(2));
//                     }
//                 });
//             });

            // Dodavanje novog reda
            $('#addBtn').on('click', function(e) {
                e.preventDefault();
                let currentRowIdx = ++rowIdx; // Čuvamo trenutnu vrednost rowIdx
                $('#tbody').append(`
            <tr id="proizvod_${currentRowIdx}">
                <td style="width: 600px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label required" for="order_form_product_${currentRowIdx}">Element:*</label>
                                <select id="order_form_product_${currentRowIdx}" name="edit_order_products_form[product][${currentRowIdx}][product]" class="form-control select-remote-data required">
                                    <option value="">--Izaberite element--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" for="order_form_product_ppdv_${currentRowIdx}">Sastav:*</label>
                                <input id="order_form_product_ppdv_${currentRowIdx}" name="edit_order_products_form[product][${currentRowIdx}][ppdv]" class="form-control required" type="number" min="0.001" step="0.001">
                            </div>
                        </div>
                    </div>
                </td>

                <td class="text-center text-muted" style="width: 30px;"><a class="btn-sm remove mt-2" id="removeBtn"><i class="ph-trash text-danger"></i></a></td>
            </tr>
        `);
                $(`#order_form_product_${currentRowIdx}`).select2({
                    ajax: {
                        url: "{{ path('get_elements_by_name') }}",
                        type: "GET",
                        dataType: 'json',
                        delay: 50,
                        data: function(params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                        processResults: function(data, params) {
                            params.page = params.page || 1;
                            return {
                                results: data.results,
                                pagination: {
                                    more: (params.page * 30) < data.total_count
                                }
                            };
                        },
                        cache: true
                    },
                    escapeMarkup: function(markup) { return markup; },
                    minimumInputLength: 3,
                    templateResult: formatRepo,
                    templateSelection: formatRepoSelection,
                    language: {
                        searching: function() {
                            return "Pretraživanje...";
                        },
                        inputTooShort: function(args) {
                            var remainingChars = args.minimum - args.input.length;
                            return "Molimo vas unesite još " + remainingChars + " znakova";
                        },
                        noResults: function() {
                            return "Nema rezultata";
                        },
                        loadingMore: function() {
                            return "Učitavanje još rezultata...";
                        },
                        errorLoading: function() {
                            return "Greška pri učitavanju rezultata";
                        },
                        maximumSelected: function(args) {
                            return "Možete izabrati samo " + args.maximum + " stavki";
                        }
                    },
                });

                // $(`#order_form_product_${currentRowIdx}`).on('select2:select', function(e) {
                //     var data = e.params.data;
                //     $(`#order_form_product_pdv_${currentRowIdx}`).val(data.pricePDV);
                //     $(`#order_form_product_cena_${currentRowIdx}`).attr('min', data.min);
                //
                //     // Pratite promene u order_form_product_cena_${currentRowIdx}
                //     $(`#order_form_product_cena_${currentRowIdx}`).on('input', function() {
                //         var cena = parseFloat($(this).val());
                //         var popust = ((data.pricePDV - cena) / data.pricePDV) * 100;
                //
                //         if (cena !== 0 && !isNaN(cena)) {
                //             $(`#order_form_product_percent_${currentRowIdx}`).val(popust.toFixed(2));
                //         } else {
                //             $(`#order_form_product_pdv_${currentRowIdx}`).val(parseFloat(data.pricePDV).toFixed(2)); // Vrati na početnu vrednost
                //             $(`#order_form_product_percent_${currentRowIdx}`).val(parseFloat(popust).toFixed(2)); // Vrati na početnu vrednost
                //         }
                //     });
                //
                //     // Ako je vrednost u sale_products_form_percentDiscount veća od nule
                //     var percentDiscount = parseFloat($('#sale_products_form_percentDiscount').val());
                //     if (!isNaN(percentDiscount) && percentDiscount > 0) {
                //         var newPrice = data.pricePDV - (data.pricePDV * (percentDiscount / 100));
                //         if (newPrice >= parseFloat($(`#order_form_product_cena_${currentRowIdx}`).attr('min'))) {
                //             $(`#order_form_product_cena_${currentRowIdx}`).val(newPrice.toFixed(2));
                //             $(`#order_form_product_percent_${currentRowIdx}`).val(percentDiscount.toFixed(2));
                //         }
                //     }
                // });
            });




            $('#tbody').on('click', '.remove', function(e) {
                e.preventDefault();
                $(this).closest('tr').remove();
            });



            function formatRepo(repo) {
                if (repo.loading) return repo.text;

                var markup = '<div class="select2-result-repository clearfix">' +
                    '<div class="select2-result-repository__title">' +
                    repo.text + ' - <strong>#' + repo.sku + '</strong>' +
                    '</div>' +
                    '</div>';

                return markup;
            }


            function formatRepoSelection(repo) {
                return repo.text || repo.id;
            }

        });

    </script>

{% endblock footerJavascript %}