{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Stan: {{ stan.title }}
                            </h4>
                        </div>
                    </div>
                    <div class="page-header-content d-lg-flex border-top">
                        <div class="d-flex">
                            <div class="breadcrumb py-2">

                                <a href="{{ path('app_projekats') }}" class="breadcrumb-item">Projekti elaborati</a>
                                <a href="{{ path('app_projekat_view', {id: stan.sprat.lamela.projekat.id}) }}" class="breadcrumb-item">{{ stan.sprat.lamela.projekat.title }}</a>
                                <a href="{{ path('app_lamela_view', {id: stan.sprat.lamela.id}) }}" class="breadcrumb-item">{{ stan.sprat.lamela.title }}</a>
                                <a href="{{ path('app_sprat_view', {id: stan.sprat.id }) }}" class="breadcrumb-item">{{ stan.sprat.title }}</a>
{#                                <span class="breadcrumb-item active">{{ stan.title }}</span>#}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <div class="d-lg-flex align-items-lg-start">

                        <!-- Right content -->
                        <div class="tab-content flex-fill">
                            <div class="tab-pane fade active show">
                                {#                                {% set spratDays = getDeadlineCounterSprat(sprat.id) %}#}
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="card">
                                            <div class="card-header d-flex align-items-center">
                                                <h5 class="mb-0">{{ stan.title }}
                                                    {#                                                    {% if not is_granted('ROLE_EMPLOYEE') %}#}
                                                    <a href="{{ path('app_stan_edit', {id:stan.id}) }}"><i class="ph-note-pencil"></i></a>
                                                    {#                                                    {% endif %}#}
                                                </h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="row p-2 bg-light">
                                                    <div class="col-4">Naziv:</div>
                                                    <div class="col-8">{{ stan.title() }}</div>
                                                </div>


                                                <div class="row p-2 ">
                                                    <div class="col-4">Napomena:</div>
                                                    <div class="col-8">
                                                        {{ stan.description }}
                                                    </div>
                                                </div>
                                                <div class="row p-2 bg-light">
                                                    <div class="col-4">Kreirano:</div>
                                                    <div class="col-8">
                                                        <div class="d-inline-flex align-items-center">
                                                            <i class="ph-calendar me-2"></i>
                                                            {{ stan.created | date("d.m.Y")}}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="card">

                                            <div class="card-header d-flex align-items-center">
                                                <h5 class="mb-0">Progres
                                                </h5>
                                            </div>
                                            <div class="card-body">

                                                <div class="row p-2 bg-light">
                                                    <div class="col-6">Izmereno prostorija:</div>
                                                    <div class="col-6">
                                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">
                                                    {{ stan.stanje }}
                                                </span>
                                                    </div>
                                                </div>
                                                <div class="row p-2 ">
                                                    <div class="col-6">Realizacija:</div>
                                                    <div class="col-6">
                                                        {% set boja = 'bg-primary'%}
                                                        {% set procenat = stan.percent%}
                                                        {% if procenat < 26 %}
                                                            {% set boja = 'bg-danger'%}
                                                        {% endif %}
                                                        {% if procenat > 25 and procenat < 76 %}
                                                            {% set boja = 'bg-warning'%}
                                                        {% endif %}
                                                        {% if procenat > 75 and procenat < 99 %}
                                                            {% set boja = 'bg-info'%}
                                                        {% endif %}
                                                        {% if procenat == 100 %}
                                                            {% set boja = 'bg-success'%}
                                                        {% endif %}
                                                        <div class="progress">
                                                            <div class="progress-bar {{ boja }}" role="progressbar" style="width: {{ procenat }}%" aria-valuenow="{{ procenat }}" aria-valuemin="0" aria-valuemax="100">
                                                                {% if procenat > 0 %}
                                                                    {{ procenat }}%
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row p-2 bg-light">
                                                    <div class="col-6">Površina izmerena (m<sup>2</sup>):</div>
                                                    <div class="col-6">
                                                        {{ povrsina | number_format(2, '.', '')  }}
                                                    </div>
                                                </div>
                                                <div class="row p-2 ">
                                                    <div class="col-6">Površina po projektu (m<sup>2</sup>):</div>
                                                    <div class="col-6">
                                                        {{ stan.povrsina | number_format(2, '.', '')  }}
                                                    </div>
                                                </div>
                                                <div class="row p-2 bg-light">
                                                    <div class="col-6">Razlika površina (m<sup>2</sup>):</div>
                                                    <div class="col-6">
                                                        {{ (stan.povrsina - povrsina) | number_format(2, '.', '')  }}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="card">
                                            <div class="card-header d-flex align-items-center">
                                                <h5 class="mb-0">Tabelarni prikaz</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="row p-2 ">
                                                    <div>
                                                        <div class="table-responsive card">
                                                            <table class="table table-bordered table-sm">
                                                                <tbody id="tbody">
                                                                <thead class="bg-light text-primary">
                                                                <tr>
                                                                    <th >#</th>
                                                                    <th >Prostorija</th>
                                                                    <th >Površina</th>
                                                                    <th >Struktura</th>
                                                                </tr>
                                                                </thead>


                                                                {# Inicijalizacija sabiranja #}
                                                                {% set ukupnaPovrsina = 0 %}
                                                                {% set ukupnaStruktura = 0 %}

                                                                {% for prostorija in stan.prostorijas %}
                                                                    {% set povrsina = prostorija.povrsina %}
                                                                    {% set struktura = prostorija.code.struktura %}

                                                                    {% set ukupnaPovrsina = ukupnaPovrsina + povrsina %}
                                                                    {% set ukupnaStruktura = ukupnaStruktura + struktura %}

                                                                    <tr class="sub-row">
                                                                        <td>{{ loop.index }}</td>
                                                                        <td>{{ prostorija.code.title }}</td>
                                                                        <td>{{ povrsina|number_format(2, '.', '') }} m<sup>2</sup></td>
                                                                        <td>{{ struktura|number_format(1, '.', '') }}</td>
                                                                    </tr>
                                                                {% endfor %}

                                                                <tr class="sub-row">
                                                                    <td colspan="2">Ukupno:</td>
                                                                    <td>{{ ukupnaPovrsina|number_format(2, '.', '') }} m<sup>2</sup></td>
                                                                    <td>{{ ukupnaStruktura|number_format(1, '.', '') }}</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                        <div class="col-xl-12">

                                        <div class="card">
                                            <div class="card-header d-flex align-items-center">
                                                <h5 class="mb-0">Slike
                                                    <a href="{{ path('app_stan_slika', {id:stan.id}) }}"><i class="ph-note-pencil"></i></a>
                                                </h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    {% for image in stan.image %}
                                                        <div class="col-xl-2">
                                                            <div class="card">
                                                                <div class="card-img-actions mx-1 mt-1">
                                                                    <img class="card-img img-fluid" src="{{ image.thumbnail1024 }}" >
                                                                    <div class="card-img-actions-overlay card-img">
                                                                        <a href="{{ image.thumbnail1024 }}" class="btn btn-outline-white btn-icon rounded-pill" data-bs-popup="lightbox" data-gallery="gallery2">
                                                                            <i class="ph-plus"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h5 class="mb-0">Prostorije</h5>
                                        <div class="my-auto ms-auto">
                                            <a href="{{ path('app_prostorija_create', {id: stan.id}) }}" class="btn btn-primary"><i class="ph-plus me-2"></i> Dodajte</a>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="card">
                                            <table class="table table-bordered table-hover table-responsive table-sm">
                                                <thead class="bg-light text-primary">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Naziv</th>
                                                    <th>Projekat (m<sup>2</sup>)</th>
                                                    <th>Merenje (m<sup>2</sup>)</th>
                                                    <th>Razlika (m<sup>2</sup>)</th>
                                                    <th>Odstupanje</th>
                                                    <th>Za izmenu</th>
                                                    <th>Auto izmena</th>
                                                    <th>Ručna izmena</th>
                                                    <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for prostorija in stan.prostorijas %}
                                                    <tr>
                                                        <td>
                                                            <div class="fw-semibold">
                                                               {{ loop.index }}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="fw-semibold">
                                                                <a href="{{ path('app_prostorija_view', { id: prostorija.id}) }}">{{ prostorija.title }}</a>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            {{ prostorija.povrs | number_format(2, '.', '')  }}
                                                        </td>
                                                        <td class="text-center">
                                                            {{ prostorija.povrsina | number_format(2, '.', '')  }}
                                                        </td>
                                                        <td class="text-center">
                                                            {{ (prostorija.povrs - prostorija.povrsina) | number_format(2, '.', '')  }}
                                                        </td>
                                                        <td class="text-center">
                                                            {{ prostorija.odstupanje }}
                                                        </td>
                                                        <td class="text-center">
                                                            {% if prostorija.isEdit %}
                                                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">
                                                               Da
                                                            </span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center">
                                                            {% if prostorija.isEditAuto %}
                                                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">
                                                               Da
                                                            </span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center">
                                                            {% if prostorija.isEditManual %}
                                                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">
                                                               Da
                                                            </span>
                                                            {% endif %}
                                                        </td>

                                                        <td class="text-center">
                                                            <div class="dropdown">
                                                                <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                                    <i class="ph-gear"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    {% if prostorija.isEdit %}
                                                                        <a href="{{ path('app_prostorija_admin', { id: prostorija.id}) }}" class="dropdown-item"><i class="ph-pencil me-2"></i> Admin izmena</a>
                                                                    {% endif %}
                                                                    {% if prostorija.isPlan %}
                                                                        <a href="{{ path('app_prostorija_plan', { id: prostorija.id }) }}"
                                                                           class="dropdown-item"
                                                                           onclick="return confirm('Da li ste sigurni da želite da označite ovu prostoriju da joj je izmenjen plan u projektu?');">
                                                                            <i class="ph-bookmark-simple me-2"></i> Izmenjen
                                                                        </a>
                                                                    {% endif %}
                                                                    {% if prostorija.unos1 is null %}
                                                                        <a href="{{ path('app_prostorija_form', { id: prostorija.id}) }}" class="dropdown-item"><i class="ph-plus me-2"></i> Unesite merenje</a>
                                                                    {% endif %}
                                                                    <a href="{{ path('app_prostorija_view', { id: prostorija.id}) }}" class="dropdown-item"><i class="ph-eye me-2"></i> Vidite</a>
                                                                    <a href="{{ path('app_prostorija_edit', { id: prostorija.id}) }}" class="dropdown-item"><i class="ph-note-pencil me-2"></i> Izmenite</a>
                                                                    <a href="{{ path('app_prostorija_repeat', { id: prostorija.id }) }}"
                                                                       class="dropdown-item"
                                                                       onclick="return confirm('Da li ste sigurni da želite da označite ovu prostoriju za ponovno merenje?');">
                                                                        <i class="ph-repeat me-2"></i> Ponovite
                                                                    </a>
                                                                    <a href="{{ path('app_prostorija_delete', { id: prostorija.id}) }}" class="dropdown-item"><i class="ph-trash me-2"></i> Obrišite</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <div class="navigation float-end">
                                            {{ knp_pagination_render(pagination) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /right content -->

                    </div>
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->
        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}

    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/sweet_alert.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile_tabbed.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/echarts/bars/tornado_negative_stack.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/balance_stats.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/available_hours.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/media/glightbox.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/task_manager_detailed.js') }}"></script>


    <script src="{{ asset('assets/demo/pages/extra_sweetalert.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>

    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}

