{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}
        <!-- Main content -->

        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                {{ sprat.title }}
                            </h4>
                        </div>
                    </div>
                    <div class="page-header-content d-lg-flex border-top">
                        <div class="d-flex">
                            <div class="breadcrumb py-2">

                                <a href="{{ path('app_projekats') }}" class="breadcrumb-item">Projekti elaborati</a>
                                <a href="{{ path('app_projekat_view', {id: sprat.lamela.projekat.id}) }}" class="breadcrumb-item">{{ sprat.lamela.projekat.title }}</a>
                                <a href="{{ path('app_lamela_view', {id: sprat.lamela.id}) }}" class="breadcrumb-item">{{ sprat.lamela.title }}</a>
{#                                <span class="breadcrumb-item active">{{ sprat.title }}</span>#}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                    <!-- Inner container -->
                    <div class="d-lg-flex align-items-lg-start">

                        <!-- Right content -->
                        <div class="tab-content flex-fill">
                            <div class="tab-pane fade active show">


                                <!-- Wizard with validation -->
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="mb-0">
                                            Kopiranje stana
                                        </h6>
                                    </div>
                                    <form name="task_quick_form" method="post" action="{{ path('app_stan_copy', {id: stan.id}) }}" class="form-validate-jquery" novalidation="novalidation" enctype="multipart/form-data" id="task_quick_form">

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                        <label class="form-label" for="stan">Stan:*</label>
                                                        <select id="stan" name="stancopy" class="form-control select required" >
                                                            <option value="">--Izaberite stan za kopiranje--</option>
                                                            {% for stan in stanovi %}
                                                                <option value="{{ stan.id }}">{{ stan.title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    <span class="form-text">Izaberite stan koji želite da prekopirate..</span>
                                                        <input type="hidden"  name="spratcopy" value="{{ sprat.id }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="novi">Naziv stana:*</label>
                                                    <input id="novi" name="novi" class="form-control required" type="text" >
                                                    <span class="form-text">Unesite naziv novokreiranog stana.</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="sprat">Sprat:*</label>
                                                    <input id="sprat" name="sprat" class="form-control disable-input" type="text" >
                                                    <span class="form-text">Sprat na kojem se stan za kopiranje nalazi.</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="povrsina">Površina:*</label>
                                                    <input id="povrsina" name="povrsina" class="form-control disable-input" type="text" >
                                                    <span class="form-text">Površina po projektu stana za kopiranje u m<sup>2</sup></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-end">
                                            <button type="button" onclick="history.back()" class="btn btn-primary">
                                                <i class="ph-arrow-arc-left me-2"></i> Odustanite
                                            </button>
                                            <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                                <!-- /wizard with validation -->
                            </div>
                        </div>
                        <!-- /right content -->

                    </div>
                    <!-- /inner container -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    {#    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>#}
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>


    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>
    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

{% endblock includeJavascript %}
{% block footerJavascript %}
    <script>

        // Tvoj niz stanova (možeš ovo dinamički ubaciti iz PHP-a ako treba)
        const stanovi = {{ stanovi|json_encode|raw }};

        $(document).ready(function () {
            $('#stan').on('change', function () {
                const selectedId = parseInt($(this).val());
                const stan = stanovi.find(s => s.id === selectedId);

                if (stan) {
                    $('#sprat').val(stan.sprat);
                    $('#povrsina').val(stan.povrsina);
                } else {
                    $('#sprat').val('');
                    $('#povrsina').val('');
                }
            });
        });
    </script>

{% endblock footerJavascript %}