{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}
        <!-- Main content -->

        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                 Interni zadaci
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="content">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">Dodavanje zadatka</h6>
                        </div>
                        <form name="task_quick_form" method="post" action="{{ path('app_checklist_form') }}" class="form-validate-jquery" novalidation="novalidation" enctype="multipart/form-data" id="task_quick_form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="checklist_datum">Datum zadatka:*</label>
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <i class="ph-calendar"></i>
                                                </span>
                                                <input hidden="hidden" type="text" name="checklist[datum]" value="{{ noviDatum | default('now') | date('d.m.Y') }}">
                                                <input id="task" class="form-control" type="text" disabled value="{{ noviDatum | default('now') | date('d.m.Y') }}">
                                                <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#modal_date_task"><i class="ph-note-pencil"></i></button>

                                            </div>
                                            <span class="form-text">Format: 31.12.1900. Definišete kada zadatak treba da se izvrši.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="checklist_vreme">Vreme zadatka:</label>
                                            <div class="input-group">
											<span class="input-group-text">
												<i class="ph-clock"></i>
											</span>

                                                <input id="checklist_vreme" name="checklist[vreme]" class="form-control"  type="time">
                                            </div>
                                            <span class="form-text">Definišete vreme kada zadatak treba da počne sa izvršavanjem.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="checklist_deadline">Rok:</label>
                                            <div class="input-group">
											<span class="input-group-text">
												<i class="ph-calendar"></i>
											</span>
                                                <input type="text" id="checklist_deadline" autocomplete="off" name="checklist[deadline]" class="form-control datepicker-date-format-custom-1"  />
                                            </div>
                                            <span class="form-text">Format: 31.12.1900. Možete definisati predviđeni kraj radova na zadatku. U suprotnom ostavite prazno.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-1">
                                            <label class="form-label" for="checklist[podsetnik]">Podsetnik:</label>
                                            <div class="input-group mb-1">
                                                <label class="form-check mb-2">
                                                    <input type="checkbox" class="form-check-input" name="checklist[podsetnik]">
                                                </label>
                                            </div>
                                            <span class="form-text">Šalje email podsetnik pola sata pre zadatog vremena, ako je podešeno.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="checklist_zadatak">Zadatak:*</label>
                                            <textarea id="checklist_zadatak" name="checklist[zadatak]" class="form-control required"  rows="2" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="checklist_zaduzeni">Zaposleni:*</label>
                                            <select id="checklist_zaduzeni" name="checklist[zaduzeni][]" class="form-control required select" required multiple>
                                                {% if korisnik is defined %}
                                                    <option value="{{ korisnik.id }}" selected>{% if korisnik.pozicija is not null  %}{{ korisnik.getNameForForm }}{% else %}{{ korisnik.getFullName }}{% endif %}</option>
                                                {% else %}
                                                    {% for user in users %}
                                                            <option value="{{ user.id }}">{% if user.pozicija is not null  %}{{ user.getNameForForm }}{% else %}{{ user.getFullName }}{% endif %}</option>
                                                    {% endfor %}
                                                {% endif %}
{#                                                {% for user in users %}#}
{#                                                    {% if korisnik is defined %}#}
{#                                                        {% if user.id == korisnik.id %}#}
{#                                                            <option value="{{ user.id }}" selected>{% if user.pozicija is not null  %}{{ user.getNameForForm }}{% else %}{{ user.getFullName }}{% endif %}</option>#}
{#                                                        {% else %}#}
{#                                                            <option value="{{ user.id }}">{% if user.pozicija is not null  %}{{ user.getNameForForm }}{% else %}{{ user.getFullName }}{% endif %}</option>#}
{#                                                        {% endif %}#}
{#                                                    {% else %}#}
{#                                                        <option value="{{ user.id }}">{% if user.pozicija is not null  %}{{ user.getNameForForm }}{% else %}{{ user.getFullName }}{% endif %}</option>#}
{#                                                    {% endif %}#}
{#                                                {% endfor %}#}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="checklist_priority">Prioritet:*</label>
                                            <select id="checklist_priority" name="checklist[prioritet]" class="form-control required select" required>
                                                {% for key, value in priority %}
                                                    {% if value == 3 %}
                                                        <option value="{{ value }}" selected>{{ key }}</option>
                                                    {% else %}
                                                        <option value="{{ value }}">{{ key }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="fw-bold border-bottom pb-2 mb-3" data-bs-toggle="collapse" data-bs-target="#collapse-cat" aria-expanded="true">Podešavanje projekta i kategorije</div>
                                <div class="row collapse show" id="collapse-cat">
                                    <div class="col-lg-6 ">
                                        <div class="mb-3">
                                            <label class="form-label" for="checklist_project">Projekat:*</label>
                                            <select id="checklist_project" name="checklist[project]" class="form-control required select" required>
                                                <option value="">--Izaberite projekat--</option>
                                                {% if project is defined %}
                                                    <option value="{{ project.id }}">{{ project.title }}</option>
                                                {% else %}
                                                    {% for project in projects %}
                                                        <option value="{{ project.id }}">{{ project.title }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <div class="mb-3">
                                            <label class="form-label" for="checklist_category">Kategorija:*</label>
                                            <select id="checklist_category" name="checklist[category]" class="form-control required select" required>
                                                <option value="">--Izaberite kategoriju--</option>
                                                {% for category in categories %}
                                                    <option value="{{ category.id }}">{{ category.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="fw-bold border-bottom pb-2 mb-3" data-bs-toggle="collapse" data-bs-target="#collapse-repeat" aria-expanded="false">Podešavanje ponavljanja zadatka</div>
                                <div class="row collapse" id="collapse-repeat">
                                    <div class="col-lg-6 ">
                                        <div class="mb-3">
                                            <label class="form-label required" for="checklist_repeating">Zadatak se ponavlja:</label>
                                            <select id="checklist_repeating" name="checklist[repeating]" data-minimum-results-for-search="Infinity" class="form-control required select repeat">
                                                <option value="1">Da</option>
                                                <option value="0" selected="selected">Ne</option>
                                            </select>
                                            <span class="form-text">Definišete da li se zadatak ponavlja u određenem vremenskom intervalu.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row hide repeating collapse" id="collapse-repeat">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="checklist_repeatingInterval">Interval ponavljanja:*</label>
                                            <select id="checklist_repeatingInterval" name="checklist[repeatingInterval]" data-minimum-results-for-search="Infinity" class="form-control intrep select">
                                                <option value="">--Izaberite period--</option>
                                                {% for key, value in repeatingInterval %}
                                                    <option value="{{ value }}">{{ key }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="form-text">Definišete interval na kada se zadatak ponovo kreira.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 hide tacanDatum">
                                        <div class="mb-3">
                                            <label class="form-label" for="checklist_datumPonavljanja">Tačan datum ponavljanja:*</label>
                                            <input type="text" id="checklist_datumPonavljanja" name="checklist[datumPonavljanja]" class="form-control datrep datepicker-date-format-custom-2" autocomplete="off"/>
                                            <span class="form-text">Tačan datum kada će se zadatak ponovo kreirati.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="fw-bold border-bottom pb-2 mb-3" data-bs-toggle="collapse" data-bs-target="#collapse-pdf" aria-expanded="false">Dokumentacija</div>
                                <div class="row collapse" id="collapse-pdf">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="checklist_pdf">Dokumenta:</label>
                                            <input type="file" id="checklist_pdf" name="checklist[pdf][]" accept=".pdf" data-show-upload="false" multiple="multiple" class="form-control file-input" />
                                            <span class="form-text">Format: .pdf. Maksimalna veličina fajla 5MB.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- /wizard with validation -->

                </div>
                <!-- /content area -->
{#                <!-- Content area -->#}
{#                <div class="content">#}
{#                    <div class="card">#}
{#                        <div class="card-header">#}
{#                            <h6 class="mb-0">Dodavanje zadatka</h6>#}
{#                        </div>#}
{#                        <form name="task_quick_form" method="post" action="{{ path('app_checklist_form') }}" class="form-validate-jquery" novalidation="novalidation" enctype="multipart/form-data" id="task_quick_form">#}
{#                            <div class="card-body">#}
{#                                <div class="row">#}
{#                                    <div class="col-lg-6">#}
{#                                        <div class="mb-3">#}
{#                                            <label class="form-label" for="checklist_datum">Datum zadatka:*</label>#}
{#                                            <div class="input-group">#}
{#                                                <span class="input-group-text">#}
{#                                                    <i class="ph-calendar"></i>#}
{#                                                </span>#}
{#                                                <input hidden="hidden" type="text" name="checklist[datum]" value="{{ noviDatum | default('now') | date('d.m.Y') }}">#}
{#                                                <input id="task" class="form-control" type="text" disabled value="{{ noviDatum | default('now') | date('d.m.Y') }}">#}
{#                                                <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#modal_date_task"><i class="ph-note-pencil"></i></button>#}

{#                                            </div>#}
{#                                            <span class="form-text">Format: 31.12.1900. Definišete kada zadatak treba da se izvrši.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-lg-12">#}
{#                                        <div class="mb-3">#}
{#                                            <label class="form-label" for="checklist_zadatak">Zadatak:*</label>#}
{#                                            <textarea id="checklist_zadatak" name="checklist[zadatak]" class="form-control required"  rows="2" required></textarea>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-lg-6">#}
{#                                        <div class="mb-3">#}
{#                                            <label class="form-label" for="checklist_zaduzeni">Zaposleni:*</label>#}
{#                                            <select id="checklist_zaduzeni" name="checklist[zaduzeni][]" class="form-control required select" required multiple>#}
{#                                                {% for user in users %}#}
{#                                                    {% if korisnik is defined %}#}
{#                                                        {% if user.id == korisnik.id %}#}
{#                                                            <option value="{{ user.id }}" selected>{% if user.pozicija is not null  %}{{ user.getNameForForm }}{% else %}{{ user.getFullName }}{% endif %}</option>#}
{#                                                        {% else %}#}
{#                                                            <option value="{{ user.id }}">{% if user.pozicija is not null  %}{{ user.getNameForForm }}{% else %}{{ user.getFullName }}{% endif %}</option>#}
{#                                                        {% endif %}#}
{#                                                    {% else %}#}
{#                                                        <option value="{{ user.id }}">{% if user.pozicija is not null  %}{{ user.getNameForForm }}{% else %}{{ user.getFullName }}{% endif %}</option>#}
{#                                                    {% endif %}#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-lg-6">#}
{#                                        <div class="mb-3">#}
{#                                            <label class="form-label" for="checklist_priority">Prioritet:*</label>#}
{#                                            <select id="checklist_priority" name="checklist[prioritet]" class="form-control required select" required>#}
{#                                                {% for key, value in priority %}#}
{#                                                    {% if value == 3 %}#}
{#                                                        <option value="{{ value }}" selected>{{ key }}</option>#}
{#                                                    {% else %}#}
{#                                                        <option value="{{ value }}">{{ key }}</option>#}
{#                                                    {% endif %}#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="fw-bold border-bottom pb-2 mb-3" data-bs-toggle="collapse" data-bs-target="#collapse-cat" aria-expanded="true">Podešavanje projekta i kategorije</div>#}
{#                                <div class="row collapse show" id="collapse-cat">#}
{#                                    <div class="col-lg-6 ">#}
{#                                        <div class="mb-3">#}
{#                                            <label class="form-label" for="checklist_project">Projekat:*</label>#}
{#                                            <select id="checklist_project" name="checklist[project]" class="form-control required select" required>#}
{#                                                <option value="">--Izaberite projekat--</option>#}
{#                                                {% if project is defined %}#}
{#                                                    <option value="{{ project.id }}">{{ project.title }}</option>#}
{#                                                {% else %}#}
{#                                                    {% for project in projects %}#}
{#                                                        <option value="{{ project.id }}">{{ project.title }}</option>#}
{#                                                    {% endfor %}#}
{#                                                {% endif %}#}
{#                                            </select>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-lg-6 ">#}
{#                                        <div class="mb-3">#}
{#                                            <label class="form-label" for="checklist_category">Kategorija:*</label>#}
{#                                            <select id="checklist_category" name="checklist[category]" class="form-control required select" required>#}
{#                                                <option value="">--Izaberite kategoriju--</option>#}
{#                                                {% for category in categories %}#}
{#                                                    <option value="{{ category.id }}">{{ category.title }}</option>#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}

{#                                <div class="fw-bold border-bottom pb-2 mb-3" data-bs-toggle="collapse" data-bs-target="#collapse-repeat" aria-expanded="false">Podešavanje ponavljanja zadatka</div>#}
{#                                <div class="row collapse" id="collapse-repeat">#}
{#                                    <div class="col-lg-6 ">#}
{#                                        <div class="mb-3">#}
{#                                            <label class="form-label required" for="checklist_repeating">Zadatak se ponavlja:</label>#}
{#                                            <select id="checklist_repeating" name="checklist[repeating]" data-minimum-results-for-search="Infinity" class="form-control required select repeat">#}
{#                                                <option value="1">Da</option>#}
{#                                                <option value="0" selected="selected">Ne</option>#}
{#                                            </select>#}
{#                                            <span class="form-text">Definišete da li se zadatak ponavlja u određenem vremenskom intervalu.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row hide repeating collapse" id="collapse-repeat">#}
{#                                    <div class="col-lg-6">#}
{#                                        <div class="mb-3">#}
{#                                            <label class="form-label" for="checklist_repeatingInterval">Interval ponavljanja:*</label>#}
{#                                            <select id="checklist_repeatingInterval" name="checklist[repeatingInterval]" data-minimum-results-for-search="Infinity" class="form-control intrep select">#}
{#                                                <option value="">--Izaberite period--</option>#}
{#                                                {% for key, value in repeatingInterval %}#}
{#                                                    <option value="{{ value }}">{{ key }}</option>#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                            <span class="form-text">Definišete interval na kada se zadatak ponovo kreira.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-lg-6 hide tacanDatum">#}
{#                                        <div class="mb-3">#}
{#                                            <label class="form-label" for="checklist_datumPonavljanja">Tačan datum ponavljanja:*</label>#}
{#                                            <input type="text" id="checklist_datumPonavljanja" name="checklist[datumPonavljanja]" class="form-control datrep datepicker-date-format-custom-2" autocomplete="off"/>#}
{#                                            <span class="form-text">Tačan datum kada će se zadatak ponovo kreirati.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}

{#                                <div class="fw-bold border-bottom pb-2 mb-3" data-bs-toggle="collapse" data-bs-target="#collapse-pdf" aria-expanded="false">Dokumentacija</div>#}
{#                                <div class="row collapse" id="collapse-pdf">#}
{#                                    <div class="col-lg-12">#}
{#                                        <div class="mb-3">#}
{#                                            <label class="form-label" for="checklist_pdf">Dokumenta:</label>#}
{#                                            <input type="file" id="checklist_pdf" name="checklist[pdf][]" accept=".pdf" data-show-upload="false" multiple="multiple" class="form-control file-input" />#}
{#                                            <span class="form-text">Format: .pdf. Maksimalna veličina fajla 5MB.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}

{#                                <div class="text-end">#}
{#                                    <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}

{#                    </div>#}
{#                                                <!-- /wizard with validation -->#}

{#                </div>#}
{#                <!-- /content area -->#}

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>


    </div>
    <div id="modal_date_task" class="modal fade" tabindex="-1" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white border-0">
                    <h6 class="modal-title">Izaberite novi datum</h6>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form name="datumCheckForm" method="get" action="{{ path('app_checklist_form') }}"  id="check_datum_form">
                        <div class="row">
                                <div class="mb-3">
                                    <label class="form-label" for="datumCheck">Datum zadatka:*</label>
                                    <div class="input-group">
                                                <span class="input-group-text">
                                                    <i class="ph-calendar"></i>
                                                </span>
                                        <input type="text" id="datumCheck" name="datumCheck" class="form-control datepicker-date-format-custom required" autocomplete="off" aria-invalid="false">

                                    </div>
                                    <span class="form-text">Format: 31.12.1900. Definišete kada zadatak treba da se izvrši.</span>
                                </div>
                            </div>
                        {% if project is defined %}
                            <input name="project" value="{{ project.id }}" hidden>
                        {% endif %}
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><i class="ph-x me-2"></i>Odustanite</button>
                    <button type="submit" onclick="submitForm('check_datum_form')" class="btn btn-primary"><i class="ph-arrows-clockwise me-2"></i> Primenite</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
{#    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>#}
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/editors/ckeditor/ckeditor_classic.js') }}"></script>
    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}


{% endblock includeJavascript %}
{% block footerJavascript %}

<script>

    const dpDateCustomFormatElement1 = document.querySelector('.datepicker-date-format-custom');
    if(dpDateCustomFormatElement1) {
        const dpDateCustomFormat1 = new Datepicker(dpDateCustomFormatElement1, {
            container: '.content-inner',
            buttonClass: 'btn',
            prevArrow: document.dir == 'rtl' ? '&rarr;' : '&larr;',
            nextArrow: document.dir == 'rtl' ? '&larr;' : '&rarr;',
            format: 'dd.mm.yyyy',
            todayBtn: true,
            weekStart: 1,
            minDate: 'today',
            daysOfWeekHighlighted: [0,6],
            language: 'sr-latn',
            // daysOfWeekDisabled: [0]
        });
    }


{#    {% set minDate = noviDatum is defined ? noviDatum.modify('+1 day').format('d.m.Y') : (date_modify(date(), '+1 day')).format('d.m.Y') %}#}
    {% set minDate = noviDatum is defined ? noviDatum|date_modify('+1 day')|date('d.m.Y') : 'tomorrow'|date('d.m.Y') %}
    const dpDateCustomFormatElement2 = document.querySelector('.datepicker-date-format-custom-2');
    if(dpDateCustomFormatElement2) {
        const dpDateCustomFormat2 = new Datepicker(dpDateCustomFormatElement2, {
            container: '.content-inner',
            buttonClass: 'btn',
            prevArrow: document.dir == 'rtl' ? '&rarr;' : '&larr;',
            nextArrow: document.dir == 'rtl' ? '&larr;' : '&rarr;',
            format: 'dd.mm.yyyy',
            todayBtn: true,
            weekStart: 1,
            minDate: '{{ minDate }}',
            daysOfWeekHighlighted: [0,6],
            language: 'sr-latn',
            // daysOfWeekDisabled: [0]
        });
    }

    const dpDateCustomFormatElement3 = document.querySelector('.datepicker-date-format-custom-1');
    if(dpDateCustomFormatElement3) {
        const dpDateCustomFormat3 = new Datepicker(dpDateCustomFormatElement3, {
            container: '.content-inner',
            buttonClass: 'btn',
            prevArrow: document.dir == 'rtl' ? '&rarr;' : '&larr;',
            nextArrow: document.dir == 'rtl' ? '&larr;' : '&rarr;',
            format: 'dd.mm.yyyy',
            todayBtn: true,
            weekStart: 1,
            minDate: '{{ minDate }}',
            daysOfWeekHighlighted: [0,6],
            language: 'sr-latn',
            // daysOfWeekDisabled: [0]
        });
    }


    $(".repeat").change(function(e) {
        e.preventDefault();
        if ($(this).val() == "1") {

            $('.repeating').removeClass('hide');
            $('.intrep').addClass('required');
            // $('.datrep').addClass('required');
        }
        else {
            $('.repeating').addClass('hide');
            $('.intrep').val('').removeClass('required');
            $('.datrep').val('').removeClass('required');
        }
    });

    $("#checklist_repeatingInterval").change(function(e) {
        e.preventDefault();
        if ($(this).val() == "5") {

            $('.tacanDatum').removeClass('hide');
            $('.datrep').addClass('required');
        }
        else {
            $('.tacanDatum').addClass('hide');
            $('.datrep').val('').removeClass('required');
        }
    });

    function submitForm(formId) {
        const drugeForme = document.querySelectorAll('form:not(#' + formId + ')');

        drugeForme.forEach(function(forma) {
            forma.addEventListener('submit', function(e) {
                e.preventDefault(); // Preventirajte podrazumevano ponašanje (slanje forme)
            });
        })

        const formaZaSubmit = document.getElementById(formId);

        if (formaZaSubmit) {
            formaZaSubmit.submit(); // Ručno izvršite submit za izabranu formu
        }
    }
</script>
{% endblock footerJavascript %}