{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Neradni dani
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <div class="content">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">Kreiranje kolektivnog odmora</h6>
                        </div>
                        <form name="overtime_form" method="post" action="{{ path('app_holiday_vacation_form') }}" class="form-validate-jquery" novalidation="novalidation" enctype="multipart/form-data" id="overtime_form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">

                                            <div class="mb-3">
                                                <label class="form-label" for="overtime_datum">Početak:*</label>
                                                <div class="input-group">
											<span class="input-group-text">
												<i class="ph-calendar"></i>
											</span>
                                                    <input type="text" id="overtime_datum1" autocomplete="off" name="datum_start" class="form-control datepicker-date-format-custom1 required"/>
                                                </div>
                                                <span class="form-text">Format: 31.12.1900. Prvi dan perioda.</span>
                                            </div>

                                    </div>
                                    <div class="col-lg-6">

                                            <div class="mb-3">
                                                <label class="form-label" for="overtime_datum">Kraj:*</label>
                                                <div class="input-group">
											<span class="input-group-text">
												<i class="ph-calendar"></i>
											</span>
                                                    <input type="text" id="overtime_datum2" autocomplete="off" name="datum_kraj" class="form-control datepicker-date-format-custom2 required"/>
                                                </div>
                                                <span class="form-text">Format: 31.12.1900. Poslednji dan perioda.</span>
                                            </div>

                                    </div>
                                </div>

                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- /wizard with validation -->

                </div>

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {# {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }} #}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
{#    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>#}
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>

    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}

{% block footerJavascript %}

    <script>

        // Date format
        // izmenjen format da bi bio po srpskim standardima
        const dpDateCustomFormatElement1 = document.querySelector('.datepicker-date-format-custom1');
        const dpDateCustomFormatElement2 = document.querySelector('.datepicker-date-format-custom2');
        if (dpDateCustomFormatElement1) {
            const today = new Date(); // Trenutni datum
            const dpDateCustomFormat = new Datepicker(dpDateCustomFormatElement1, {
                container: '.content-inner',
                buttonClass: 'btn',
                prevArrow: document.dir == 'rtl' ? '&rarr;' : '&larr;',
                nextArrow: document.dir == 'rtl' ? '&larr;' : '&rarr;',
                format: 'dd.mm.yyyy',
                todayBtn: true,
                weekStart: 1,
                minDate: today, // Postavljamo minimalni datum na trenutni datum
                daysOfWeekHighlighted: [0, 6],
                language: 'sr-latn',
            });
        }
        if (dpDateCustomFormatElement2) {
            const today = new Date(); // Trenutni datum
            const dpDateCustomFormat = new Datepicker(dpDateCustomFormatElement2, {
                container: '.content-inner',
                buttonClass: 'btn',
                prevArrow: document.dir == 'rtl' ? '&rarr;' : '&larr;',
                nextArrow: document.dir == 'rtl' ? '&larr;' : '&rarr;',
                format: 'dd.mm.yyyy',
                todayBtn: true,
                weekStart: 1,
                minDate: today, // Postavljamo minimalni datum na trenutni datum
                daysOfWeekHighlighted: [0, 6],
                language: 'sr-latn',
            });
        }

    </script>

{% endblock footerJavascript %}