{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar')) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Projekti
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <div class="content">
                    {% if not form.vars.valid %}
                        {% for child in form.children %}
                            {%for error in child.vars.errors%}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <span class="fw-semibold">{{error.message}}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {%endfor%}
                        {%endfor%}
                    {%endif%}
                    <!-- Wizard with validation -->
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">
                                {% if project.id is not null %}
                                    Izmena projekta
                                {% else %}
                                    Dodavanje projekta
                                {% endif %}
                            </h6>
                        </div>
                        {{ form_start(form, {'attr': {'class' : 'form-validate-jquery', 'novalidation': 'novalidation', 'enctype': 'multipart/form-data', 'id': 'project_form' }}) }}
                        <div class="card-body">
                            <fieldset class="mb-3">
                                <legend class="fs-base fw-bold border-bottom pb-2 mb-3">Osnovne informacije</legend>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.title, 'Naziv:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.title, {attr: { class: 'form-control' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.deadline, 'Rok:', {'label_attr': {'class': 'form-label'}}) }}
                                            <div class="input-group">
											<span class="input-group-text">
												<i class="ph-calendar"></i>
											</span>
                                                {{ form_widget(form.deadline, {attr: { class: 'form-control datepicker-date-format-custom' , autocomplete : 'off' }}) }}
                                            </div>
                                            <span class="form-text">Format: 31.12.1900. Možete definisati predviđeni kraj radova na projektu.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            {{ form_label(form.description, 'Opis:', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.description, {attr: { class: 'form-control' }}) }}
                                            <span class="form-text">Opširnije opišite projekat.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            {{ form_label(form.important, 'Važna napomena:', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.important, {attr: { class: 'form-control' }}) }}
                                            <span class="form-text">Napomena koja će biti istaknuta na profilu projekta.</span>
                                        </div>
                                    </div>
                                </div>
{#                                <div class="row">#}
{#                                    <div class="col-lg-6">#}
{#                                        <div class="mb-3">#}
{#                                            {{ form_label(form.category, 'Kategorija:', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                            {{ form_widget(form.category, {attr: { class: 'form-control select' }}) }}#}
{#                                            <span class="form-text">Kategorizacija pomaže u organizaciji.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-lg-6">#}
{#                                        <div class="mb-3">#}
{#                                            {{ form_label(form.label, 'Oznaka:', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                            {{ form_widget(form.label, {attr: { class: 'form-control select' }}) }}#}
{#                                            <span class="form-text">Oznaka bliže opisuje projekat. Projekat može imati više oznaka.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-lg-6">#}
{#                                        <div class="mb-3">#}
{#                                            {{ form_label(form.type, 'Tip:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                            {{ form_widget(form.type, {attr: { class: 'form-control select required' }}) }}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-lg-6">#}
{#                                        <div class="mb-3">#}
{#                                            {{ form_label(form.team, 'Tim:', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                            {{ form_widget(form.team, {attr: { class: 'form-control select' }}) }}#}
{#                                            <span class="form-text">Projekat može imati i stalne timove.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-lg-6">#}
{#                                        <div class="mb-3">#}
{#                                            {{ form_label(form.isViewLog, 'Uvid u dnevnik:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                            {{ form_widget(form.isViewLog, {attr: { class: 'form-control required select' }}) }}#}
{#                                            <span class="form-text">Zaposleni koji rade na istom zadatku imaju uvid jedan drugom u dnevnik.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                            </fieldset>

                            <fieldset class="mb-3">
                                <legend class="fs-base fw-bold border-bottom pb-2 mb-3">Informacije o klijentu</legend>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.client, 'Klijent:', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.client, {attr: { class: 'form-control select' }}) }}
                                            <span class="form-text">Više klijenata mogu biti vlasnici nad projekatom. Ukoliko se ne unese klijent smatra se da je to interni projekat.</span>
                                        </div>
                                    </div>
{#                                    <div class="col-lg-6">#}
{#                                        <div class="mb-3">#}
{#                                            {{ form_label(form.isClientView, 'Klijent ima uvid u projekat:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                            {{ form_widget(form.isClientView, {attr: { class: 'form-control required select' }}) }}#}
{#                                            <span class="form-text">Klijent ima uvid u razvoj projekta. Može se definisati kasnije i na nivou zadataka.</span>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </fieldset>

                            <fieldset class="mb-3">
                                <legend class="fs-base fw-bold border-bottom pb-2 mb-3">Informacije o finansiranju projekta</legend>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.payment, 'Tip finansiranja:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.payment, {attr: { class: 'form-control required select payment' }}) }}
                                        </div>
                                    </div>
                                </div>

{#                                <div class="row">#}
{#                                    {% if project.payment == constant('App\\Classes\\Data\\VrstaPlacanjaData::FIKSNA_CENA') %}#}
{#                                        <div class="col-lg-3 payment_price">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.price, 'Fiksna cena:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.price, {attr: { class: 'form-control priceValue required' }}) }}#}
{#                                                <span class="form-text">Format: 0.00</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% else %}#}
{#                                        <div class="col-lg-3 hide payment_price">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.price, 'Fiksna cena:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.price, {attr: { class: 'form-control priceValue' }}) }}#}
{#                                                <span class="form-text">Format: 0.00</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endif %}#}

{#                                    {% if project.payment == constant('App\\Classes\\Data\\VrstaPlacanjaData::PLACANJE_PO_SATU') %}#}
{#                                        <div class="col-lg-3 payment_ph">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.pricePerHour, 'Cena po satu:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.pricePerHour, {attr: { class: 'form-control phValue required' }}) }}#}
{#                                                <span class="form-text">Format: 0.00</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% else %}#}
{#                                        <div class="col-lg-3 hide payment_ph">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.pricePerHour, 'Cena po satu:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.pricePerHour, {attr: { class: 'form-control phValue' }}) }}#}
{#                                                <span class="form-text">Format: 0.00</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endif %}#}

{#                                    {% if project.payment == constant('App\\Classes\\Data\\VrstaPlacanjaData::PLACANJE_PO_ZADATKU') %}#}
{#                                        <div class="col-lg-3 payment_pt">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.pricePerTask, 'Cena po zadatku:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.pricePerTask, {attr: { class: 'form-control ptValue required' }}) }}#}
{#                                                <span class="form-text">Format: 0.00</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% else %}#}
{#                                        <div class="col-lg-3 hide payment_pt">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.pricePerTask, 'Cena po zadatku:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.pricePerTask, {attr: { class: 'form-control ptValue' }}) }}#}
{#                                                <span class="form-text">Format: 0.00</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endif %}#}

{#                                    {% if project.payment == constant('App\\Classes\\Data\\VrstaPlacanjaData::PLACANJE_PO_DANU') %}#}
{#                                        <div class="col-lg-3 payment_pd">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.pricePerDay, 'Cena po danu:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.pricePerDay, {attr: { class: 'form-control pdValue required' }}) }}#}
{#                                                <span class="form-text">Format: 0.00</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% else %}#}
{#                                        <div class="col-lg-3 hide payment_pd">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.pricePerDay, 'Cena po danu:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.pricePerDay, {attr: { class: 'form-control pdValue' }}) }}#}
{#                                                <span class="form-text">Format: 0.00</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endif %}#}

{#                                    {% if project.payment == constant('App\\Classes\\Data\\VrstaPlacanjaData::PLACANJE_PO_MESECU') %}#}
{#                                        <div class="col-lg-3 payment_pm">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.pricePerMonth, 'Cena po mesecu:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.pricePerMonth, {attr: { class: 'form-control pmValue required' }}) }}#}
{#                                                <span class="form-text">Format: 0.00</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% else %}#}
{#                                        <div class="col-lg-3 hide payment_pm">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.pricePerMonth, 'Cena po mesecu:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.pricePerMonth, {attr: { class: 'form-control pmValue' }}) }}#}
{#                                                <span class="form-text">Format: 0.00</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endif %}#}

{#                                    {% if project.payment == constant('App\\Classes\\Data\\VrstaPlacanjaData::BESPLATNO') %}#}
{#                                        <div class="col-lg-3 hide payment_currency">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.currency, 'Valuta:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.currency, {attr: { class: 'form-control select currencyValue' }}) }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% elseif project.payment == constant('App\\Classes\\Data\\VrstaPlacanjaData::PLACANJE_PO_ZADATKU') %}#}
{#                                        <div class="col-lg-3 payment_currency">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.currency, 'Valuta:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.currency, {attr: { class: 'form-control select currencyValue required' }}) }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% elseif project.payment == constant('App\\Classes\\Data\\VrstaPlacanjaData::PLACANJE_PO_SATU') %}#}
{#                                        <div class="col-lg-3 payment_currency">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.currency, 'Valuta:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.currency, {attr: { class: 'form-control select currencyValue required' }}) }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% elseif project.payment == constant('App\\Classes\\Data\\VrstaPlacanjaData::FIKSNA_CENA') %}#}
{#                                        <div class="col-lg-3 payment_currency">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.currency, 'Valuta:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.currency, {attr: { class: 'form-control select currencyValue required' }}) }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% elseif project.payment == constant('App\\Classes\\Data\\VrstaPlacanjaData::PLACANJE_PO_DANU') %}#}
{#                                        <div class="col-lg-3 payment_currency">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.currency, 'Valuta:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.currency, {attr: { class: 'form-control select currencyValue required' }}) }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% elseif project.payment == constant('App\\Classes\\Data\\VrstaPlacanjaData::PLACANJE_PO_MESECU') %}#}
{#                                        <div class="col-lg-3 payment_currency">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.currency, 'Valuta:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.currency, {attr: { class: 'form-control select currencyValue required' }}) }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% else %}#}
{#                                        <div class="col-lg-3 hide payment_currency">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.currency, 'Valuta:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.currency, {attr: { class: 'form-control select currencyValue' }}) }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endif %}#}

{#                                </div>#}
                            </fieldset>

{#                            <fieldset class="mb-3">#}
{#                                <legend class="fs-base fw-bold border-bottom pb-2 mb-3">Podešavanje praćenja vremena</legend>#}
{#                                <div class="row">#}
{#                                    <div class="col-lg-6 ">#}
{#                                        <div class="mb-3">#}
{#                                            {{ form_label(form.timerPriority, 'Prioritet dnevnika:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                            {{ form_widget(form.timerPriority, {attr: { class: 'form-control required select' }}) }}#}
{#                                            <span class="form-text">Izaberite prioritet dnevnika koji će se uzimati u obzir prilikom obračuna.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-lg-6 ">#}
{#                                        <div class="mb-3">#}
{#                                            {{ form_label(form.isEstimate, 'Vremenska procena:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                            {{ form_widget(form.isEstimate, {attr: { class: 'form-control required select' }}) }}#}
{#                                            <span class="form-text">Procena vremenskog trajanja za svaki zadatak u okviru projekta. Može se definisati kasnije i na nivou zadataka.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-lg-6 ">#}
{#                                        <div class="mb-3">#}
{#                                            {{ form_label(form.isTimeRoundUp, 'Zaokruživanje vremena:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                            {{ form_widget(form.isTimeRoundUp, {attr: { class: 'form-control required select round' }}) }}#}
{#                                            <span class="form-text">Mereno vreme se zaokružuje. Može se definisati kasnije i na nivou zadataka.</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                {% if project.timeRoundUp %}#}
{#                                    <div class="row timeRound">#}
{#                                        <div class="col-lg-6">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.roundingInterval, 'Interval zaokruživanja:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.roundingInterval, {attr: { class: 'form-control interval required select' }}) }}#}
{#                                                <span class="form-text">(min 1 max 60) Ako je zaokruživanje podešeno na 15 minuta, 13 minuta se beleži kao 15 minuta.</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-lg-6">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.minEntry, 'Minimalni unos:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.minEntry, {attr: { class: 'form-control minent required' }}) }}#}
{#                                                <span class="form-text">(min 1 max 60) Najmanja vrednost u minutima koja će biti zabeležena pri merenju.</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                {% else %}#}
{#                                    <div class="row hide timeRound">#}
{#                                        <div class="col-lg-6">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.roundingInterval, 'Interval zaokruživanja:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.roundingInterval, {attr: { class: 'form-control interval select' }}) }}#}
{#                                                <span class="form-text">Ako je zaokruživanje podešeno na 15 minuta, 13 minuta se beleži kao 15 minuta.</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-lg-6">#}
{#                                            <div class="mb-3">#}
{#                                                {{ form_label(form.minEntry, 'Minimalni unos:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                                {{ form_widget(form.minEntry, {attr: { class: 'form-control minent', value: '30' }}) }}#}
{#                                                <span class="form-text">(min 1 max 60) Najmanja vrednost u minutima koja će biti zabeležena pri merenju.</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                {% endif %}#}

{#                            </fieldset>#}

                            <div class="text-end">
                                <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i> Sačuvajte</button>
                            </div>
                        </div>
                        {{ form_end(form) }}

                    </div>
                            <!-- /wizard with validation -->

                </div>

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {# {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }} #}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
{#    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>#}
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/noty.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/editors/ckeditor/ckeditor_classic.js') }}"></script>
{#    <script src="{{ asset('assets/demo/pages/editor_ckeditor_classic.js') }}"></script>#}

    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}

{% block footerJavascript %}

    <script>
        $(function () {
            $(".payment").change(function(e) {
                e.preventDefault();
                if ($(this).val() == '2') {

                    $('.payment_price').removeClass('hide');
                    $('.priceValue').addClass('required');

                    $('.payment_ph').addClass('hide');
                    $('.phValue').val('').removeClass('required');

                    $('.payment_pt').addClass('hide');
                    $('.ptValue').val('').removeClass('required');

                    $('.payment_pd').addClass('hide');
                    $('.pdValue').val('').removeClass('required');

                    $('.payment_pm').addClass('hide');
                    $('.pmValue').val('').removeClass('required');

                    $('.payment_currency').removeClass('hide');
                    $('.currencyValue').addClass('required');

                }
                else if ($(this).val() == '3') {
                    $('.payment_ph').removeClass('hide');
                    $('.phValue').addClass('required');

                    $('.payment_price').addClass('hide');
                    $('.priceValue').val('').removeClass('required');

                    $('.payment_pt').addClass('hide');
                    $('.ptValue').val('').removeClass('required');

                    $('.payment_pd').addClass('hide');
                    $('.pdValue').val('').removeClass('required');

                    $('.payment_pm').addClass('hide');
                    $('.pmValue').val('').removeClass('required');

                    $('.payment_currency').removeClass('hide');
                    $('.currencyValue').addClass('required');


                }
                else if ($(this).val() == '4') {
                    $('.payment_ph').addClass('hide');
                    $('.phValue').val('').removeClass('required');

                    $('.payment_price').addClass('hide');
                    $('.priceValue').val('').removeClass('required');

                    $('.payment_pt').removeClass('hide');
                    $('.ptValue').addClass('required');

                    $('.payment_pd').addClass('hide');
                    $('.pdValue').val('').removeClass('required');

                    $('.payment_pm').addClass('hide');
                    $('.pmValue').val('').removeClass('required');

                    $('.payment_currency').removeClass('hide');
                    $('.currencyValue').addClass('required');
                }
                else if ($(this).val() == '1') {
                    $('.payment_ph').addClass('hide');
                    $('.phValue').val('').removeClass('required');

                    $('.payment_price').addClass('hide');
                    $('.priceValue').val('').removeClass('required');

                    $('.payment_pt').addClass('hide');
                    $('.ptValue').val('').removeClass('required');

                    $('.payment_pd').addClass('hide');
                    $('.pdValue').val('').removeClass('required');

                    $('.payment_pm').addClass('hide');
                    $('.pmValue').val('').removeClass('required');

                    $('.payment_currency').addClass('hide');
                    $('.currencyValue').val('').removeClass('required');
                }
                else if ($(this).val() == '5') {
                    $('.payment_ph').addClass('hide');
                    $('.phValue').removeClass('required');

                    $('.payment_price').addClass('hide');
                    $('.priceValue').val('').removeClass('required');

                    $('.payment_pt').addClass('hide');
                    $('.ptValue').val('').removeClass('required');

                    $('.payment_pd').removeClass('hide');
                    $('.pdValue').val('').addClass('required');

                    $('.payment_pm').addClass('hide');
                    $('.pmValue').val('').removeClass('required');

                    $('.payment_currency').removeClass('hide');
                    $('.currencyValue').addClass('required');
                }
                else if ($(this).val() == '6') {
                    $('.payment_ph').addClass('hide');
                    $('.phValue').val('').removeClass('required');

                    $('.payment_price').addClass('hide');
                    $('.priceValue').val('').removeClass('required');

                    $('.payment_pt').addClass('hide');
                    $('.ptValue').val('').removeClass('required');

                    $('.payment_pd').addClass('hide');
                    $('.pdValue').val('').removeClass('required');

                    $('.payment_pm').removeClass('hide');
                    $('.pmValue').val('').addClass('required');

                    $('.payment_currency').removeClass('hide');
                    $('.currencyValue').val('').addClass('required');
                }
                else {
                    $('.payment_price').addClass('hide');
                    $('.priceValue').val('').removeClass('required');
                    $('.payment_ph').addClass('hide');
                    $('.phValue').val('').removeClass('required');
                    $('.payment_pt').addClass('hide');
                    $('.ptValue').val('').removeClass('required');
                    $('.payment_pd').addClass('hide');
                    $('.pdValue').val('').removeClass('required');
                    $('.payment_pm').addClass('hide');
                    $('.pmValue').val('').removeClass('required');
                    $('.payment_currency').addClass('hide');
                    $('.currencyValue').val('').removeClass('required');

                }
            });
            $(".round").change(function(e) {
                e.preventDefault();
                if ($(this).val() == "1") {

                    $('.timeRound').removeClass('hide');
                    $('.interval').addClass('required');
                    $('.minent').addClass('required');

                }
                else {
                    $('.timeRound').addClass('hide');
                    $('.interval').val('').removeClass('required');
                    $('.minent').val('').removeClass('required');

                }
            });

            const dpDateCustomFormatElement = document.querySelector('.datepicker-date-format-custom');
            if(dpDateCustomFormatElement) {
                const dpDateCustomFormat = new Datepicker(dpDateCustomFormatElement, {
                    container: '.content-inner',
                    buttonClass: 'btn',
                    prevArrow: document.dir == 'rtl' ? '&rarr;' : '&larr;',
                    nextArrow: document.dir == 'rtl' ? '&larr;' : '&rarr;',
                    format: 'dd.mm.yyyy',
                    todayBtn: true,
                    weekStart: 1,
                    minDate: 'today',
                    daysOfWeekHighlighted: [0,6],
                    language: 'sr-latn',
                    // daysOfWeekDisabled: [0]
                });
            }
        });
    </script>

{% endblock footerJavascript %}