{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                {{project.title }}
                            </h4>
                        </div>
                    </div>

                    {{ render(controller('App\\Controller\\WidgetController::projectProfilNavigation', { project: project } )) }}
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">

                        <div class="d-flex align-items-stretch align-items-lg-start flex-column flex-lg-row">
                            <!-- Left content -->
                            <div class="flex-1 order-2 order-lg-1">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Dodata dokumenta</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <div class="row">
                                                {% if pdfs is empty %}
                                                    <div class="d-flex align-items-start mb-3">
                                                        <div class="list-group-item">
                                                            <div class="fw-semibold text-truncate">Nema dokumenata</div>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    {% for pdf in pdfs %}
                                                    <div class="col-xl-4 col-sm-6">
                                                        <div class="card card-body">
                                                            <div class="d-flex list-group-item align-items-start">
                                                                <div class="me-3">
                                                                    <a href="{{ asset(pdf.path) }}" download><i class="ph-file-pdf text-danger ph-2x mt-1"></i></a>
                                                                </div>
                                                                <div class="flex-fill overflow-hidden">
                                                                    <div class="fw-semibold text-truncate">{{ pdf.title }}</div>
                                                                    <div class="flex-fill">
                                                                        Kreiran: {{ pdf.created | date("d.m.Y H:i:s")}}
                                                                    </div>
                                                                </div>
                                                                <div class="ms-3">
                                                                    <a href="{{ asset(pdf.path) }}" download class="text-body">
                                                                        <i class="ph-download-simple"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /left content -->
                        </div>


                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->


    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>#}

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/notifications/sweet_alert.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/fullcalendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/user_pages_profile_tabbed.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/echarts/bars/tornado_negative_stack.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/balance_stats.js') }}"></script>
    <script src="{{ asset('assets/demo/charts/pages/profile/available_hours.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/extra_sweetalert.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>

    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}

{#{% block footerJavascript %}#}
{#    <script type="text/javascript">#}
{#        $(document).ready(function() {#}
{#            var options = {#}
{#                // target:        '#output1',   // target element(s) to be updated with server response#}
{#                success:       editInfoResponse,  // post-submit callback#}
{#                //         // target:        '#error',#}
{#                //         // other available options:#}
{#                //         //url:       url         // override for form's 'action' attribute#}
{#                //         // type:      'post',        // 'get' or 'post', override for form's 'method' attribute#}
{#                        dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)#}
{#                //         //clearForm: true        // clear all form fields after successful submit#}
{#                        resetForm: true,        // reset the form after successful submit#}
{#                //         success:   editInfoResponse#}
{#                //         // $.ajax options can be used here too, for example:#}
{#                //         //timeout:   3000#}
{#            };#}

{#            // bind form using 'ajaxForm'#}
{#            $('#infoForma').ajaxForm(options);#}
{#        });#}
{#        // function showResponse(responseText, statusText, xhr, $form)  {#}
{#        //     // for normal html responses, the first argument to the success callback#}
{#        //     // is the XMLHttpRequest object's responseText property#}
{#        //#}
{#        //     // if the ajaxForm method was passed an Options Object with the dataType#}
{#        //     // property set to 'xml' then the first argument to the success callback#}
{#        //     // is the XMLHttpRequest object's responseXML property#}
{#        //#}
{#        //     // if the ajaxForm method was passed an Options Object with the dataType#}
{#        //     // property set to 'json' then the first argument to the success callback#}
{#        //     // is the json data object returned by the server#}
{#        //#}
{#        //     alert('status: ' + statusText + '\n\nresponseText: \n' + responseText +#}
{#        //         '\n\nThe output div should have already been updated with the responseText.');#}
{#        // }#}
{#        // $(function () {#}
{#        //     var options = {#}
{#        //         // target:        '#error',#}
{#        //         // other available options:#}
{#        //         //url:       url         // override for form's 'action' attribute#}
{#        //         // type:      'post',        // 'get' or 'post', override for form's 'method' attribute#}
{#        //         dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)#}
{#        //         //clearForm: true        // clear all form fields after successful submit#}
{#        //         resetForm: true,        // reset the form after successful submit#}
{#        //         success:   editInfoResponse#}
{#        //         // $.ajax options can be used here too, for example:#}
{#        //         //timeout:   3000#}
{#        //     };#}
{#        //     // bind form using ajaxForm#}
{#        //     $('#infoForma').submit(function() {#}
{#        //         // inside event callbacks 'this' is the DOM element so we first#}
{#        //         // wrap it in a jQuery object and then invoke ajaxSubmit#}
{#        //         $(this).ajaxSubmit(options);#}
{#        //#}
{#        //         // !!! Important !!!#}
{#        //         // always return false to prevent standard browser submit and page navigation#}
{#        //         return false;#}
{#        //     });#}
{#        // });#}
{#        //#}
{#        function editInfoResponse(data) {#}
{#            // 'data' is the json object returned from the server#}

{#            if (data.success === 1) {#}
{#                swal({#}
{#                    type: 'success',#}
{#                    title: 'Correct!',#}
{#                    html: 'All safe! Here is the answer from the tool:'#}
{#                })#}
{#            }#}
{#            else {#}
{#                var error = data.error_msg.toString();#}
{#                swal({#}
{#                    type: 'error',#}
{#                    title: 'Correct!',#}
{#                    html: 'All safe! Here is the answer from the tool:'#}
{#                })#}
{#            }#}

{#        }#}

{#    </script>#}
{#{% endblock footerJavascript %}#}
