{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                               Korisnici
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- State saving -->
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="mb-0">Arhiva korisnika</h5>
                        </div>
                        <form method="get" action="{{ path('app_users_archive') }}" class="form-validate-jquery" novalidation="novalidation">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ime">Ime:</label>
                                            <input id="ime" name="ime" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <div class="mb-3">
                                                <label class="form-label" for="prezime">Prezime:</label>
                                                <input id="prezime" name="prezime" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    {#                                    <div class="col-lg-3">#}
                                    {#                                        <div class="mb-3">#}
                                    {#                                            <label class="form-label required" for="pozicija">Pozicija :</label>#}
                                    {#                                            <select id="pozicija" name="pozicija" class="form-control select">#}
                                    {#                                                <option value="">--Izaberite poziciju--</option>#}
                                    {#                                                {% for pos in positions %}#}
                                    {#                                                    <option value="{{ pos.id }}">{{ pos.title }}</option>#}
                                    {#                                                {% endfor %}#}
                                    {#                                            </select>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="vrsta">Vrsta korisnika:</label>
                                            <select id="vrsta" name="vrsta" class="form-control select">
                                                <option value="">--Izaberite vrstu korisnika--</option>
                                                {% if app.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_SUPER_ADMIN')  %}
                                                    {% for vrsta in vrste %}
                                                        <option value="{{ vrsta.id }}">{{ vrsta.title }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if app.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_ADMIN')  %}
                                                    {% for vrsta in vrste %}
                                                        {% if vrsta.id > 2 %}
                                                            <option value="{{ vrsta.id }}">{{ vrsta.title }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if app.user.userType == constant('App\\Classes\\Data\\UserRolesData::ROLE_MANAGER')  %}
                                                    {% for vrsta in vrste %}
                                                        {% if vrsta.id > 3 %}
                                                            <option value="{{ vrsta.id }}">{{ vrsta.title }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary"><i class="ph-gear-six me-2"></i> Prikažite</button>
                                </div>
                            </div>
                        </form>
                        <div class="card-body">

                            <div class="card">
                                <table class="table table-bordered table-hover table-responsive table-sm">
                                    <thead class="bg-light text-primary">
                                    <tr>
                                        <th>Slika</th>
                                        <th>Prezime</th>
                                        <th>Ime</th>
                                        <th  {% if pagination.isSorted('[u.userType]') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Vrsta korisnika ', ['u.userType']) }}
                                            {% if pagination.getDirection() == 'desc' and pagination.getSort() == 'u.userType' %}
                                                &#8595;
                                            {% elseif pagination.getDirection() == 'asc' and pagination.getSort() == 'u.userType' %}
                                                &#8593;
                                            {% else %}
                                                &#8597;
                                            {% endif %}
                                        </th>
                                        <th>Status</th>
                                        <th class="text-center text-muted" style="width: 30px;"><i class="ph-dots-three"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in pagination %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('app_user_profile_view', { id: user.id}) }}"><img src="{{ asset(user.image.getThumbnail100())}}" class="rounded-circle" width="35" height="35" alt="{{ user.ime }}"></a>
                                            </td>
                                            <td><div class="fw-semibold"><a href="{{ path('app_user_profile_view', { id: user.id}) }}">{{ user.prezime }}</a></div></td>
                                            <td><div class="fw-semibold"><a href="{{ path('app_user_profile_view', { id: user.id}) }}">{{ user.ime }}</a></div></td>
                                            <td>
                                                {{ user.getBadgeByUserType | raw }}
                                            </td>
                                            <td>
                                                {{ user.getBadgeByStatus | raw }}
                                            </td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <a href="#" class="text-body" data-bs-toggle="dropdown">
                                                        <i class="ph-gear"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a href="{{ path('app_user_profile_view', { id: user.id}) }}" class="dropdown-item"><i class="ph-eye me-2"></i> Vidite</a>
                                                        <a href="{{ path('app_user_edit_info_form', { id: user.id}) }}" class="dropdown-item">
                                                            <i class="ph-note-pencil me-2"></i>
                                                            Lični i kontakt podaci
                                                        </a>
                                                        <a href="{{ path('app_user_edit_account_form', { id: user.id}) }}" class="dropdown-item">
                                                            <i class="ph-note-pencil me-2"></i>
                                                            Login podaci
                                                        </a>
                                                        <a href="{{ path('app_user_edit_image_form', { id: user.id}) }}" class="dropdown-item">
                                                            <i class="ph-image me-2"></i>
                                                            Profilna slika/avatar
                                                        </a>
                                                        <a href="{{ path('app_user_settings_form', { id: user.id}) }}" class="dropdown-item">
                                                            <i class="ph-gear me-2"></i>
                                                            Podešavanja
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="navigation float-end">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                    <!-- /state saving -->
                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/buttons.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/select.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/datatables_extension_colvis.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

{% endblock includeJavascript %}
