{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'includes/header.html.twig' %}
    <div class="page-content">
        {% include 'includes/sidebar.html.twig' %}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Dodavanje novog korisnika
                            </h4>

                            <a href="#page_header" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        <div class="collapse d-lg-block my-lg-auto ms-lg-auto" id="page_header">
                            <div class="d-sm-flex align-items-center mb-3 mb-lg-0 ms-lg-3">
                                <div class="dropdown w-100 w-sm-auto">
                                    <a href="#" class="d-flex align-items-center text-body lh-1 dropdown-toggle py-sm-2" data-bs-toggle="dropdown" data-bs-display="static">
                                        <img src="../../../assets/images/brands/tesla.svg" class="w-32px h-32px me-2" alt="">
                                        <div class="me-auto me-lg-1">
                                            <div class="fs-sm text-muted mb-1">Customer</div>
                                            <div class="fw-semibold">Tesla Motors Inc</div>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-lg-end w-100 w-lg-auto wmin-300 wmin-sm-350 pt-0">
                                        <div class="d-flex align-items-center p-3">
                                            <h6 class="fw-semibold mb-0">Customers</h6>
                                            <a href="#" class="ms-auto">
                                                View all
                                                <i class="ph-arrow-circle-right ms-1"></i>
                                            </a>
                                        </div>
                                        <a href="#" class="dropdown-item active py-2">
                                            <img src="../../../assets/images/brands/tesla.svg" class="w-32px h-32px me-2" alt="">
                                            <div>
                                                <div class="fw-semibold">Tesla Motors Inc</div>
                                                <div class="fs-sm text-muted">42 users</div>
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-item py-2">
                                            <img src="../../../assets/images/brands/debijenkorf.svg" class="w-32px h-32px me-2" alt="">
                                            <div>
                                                <div class="fw-semibold">De Bijenkorf</div>
                                                <div class="fs-sm text-muted">49 users</div>
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-item py-2">
                                            <img src="../../../assets/images/brands/klm.svg" class="w-32px h-32px me-2" alt="">
                                            <div>
                                                <div class="fw-semibold">Royal Dutch Airlines</div>
                                                <div class="fs-sm text-muted">18 users</div>
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-item py-2">
                                            <img src="../../../assets/images/brands/shell.svg" class="w-32px h-32px me-2" alt="">
                                            <div>
                                                <div class="fw-semibold">Royal Dutch Shell</div>
                                                <div class="fs-sm text-muted">54 users</div>
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-item py-2">
                                            <img src="../../../assets/images/brands/bp.svg" class="w-32px h-32px me-2" alt="">
                                            <div>
                                                <div class="fw-semibold">BP plc</div>
                                                <div class="fs-sm text-muted">23 users</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="vr d-none d-sm-block flex-shrink-0 my-2 mx-3"></div>

                                <div class="d-inline-flex mt-3 mt-sm-0">
                                    {#                            <a href="#" class="status-indicator-container ms-1">#}
                                    {#                                <img src="../../../assets/images/demo/users/face24.jpg" class="w-32px h-32px rounded-pill" alt="">#}
                                    {#                                <span class="status-indicator bg-warning"></span>#}
                                    {#                            </a>#}
                                    {#                            <a href="#" class="status-indicator-container ms-1">#}
                                    {#                                <img src="../../../assets/images/demo/users/face1.jpg" class="w-32px h-32px rounded-pill" alt="">#}
                                    {#                                <span class="status-indicator bg-success"></span>#}
                                    {#                            </a>#}
                                    {#                            <a href="#" class="status-indicator-container ms-1">#}
                                    {#                                <img src="../../../assets/images/demo/users/face3.jpg" class="w-32px h-32px rounded-pill" alt="">#}
                                    {#                                <span class="status-indicator bg-danger"></span>#}
                                    {#                            </a>#}
                                    <a href="#" class="btn btn-outline-primary btn-icon w-32px h-32px rounded-pill ms-3">
                                        <i class="ph-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="page-header-content d-lg-flex border-top">
                        <div class="d-flex">
                            <div class="breadcrumb py-2">
                                <a href="{{ path('app_home') }}" class="breadcrumb-item"><i class="ph-house"></i></a>
                                <a href="#" class="breadcrumb-item">Kontrolna tabla</a>
                                <span class="breadcrumb-item active">Korisnici</span>
                            </div>

                            <a href="#breadcrumb_elements" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
                            </a>
                        </div>

                        <div class="collapse d-lg-block ms-lg-auto" id="breadcrumb_elements">
                            <div class="d-lg-flex mb-2 mb-lg-0">
                                <a href="#" class="d-flex align-items-center text-body py-2">
                                    <i class="ph-lifebuoy me-2"></i>
                                    Support
                                </a>

                                <div class="dropdown ms-lg-3">
                                    <a href="#" class="d-flex align-items-center text-body dropdown-toggle py-2" data-bs-toggle="dropdown">
                                        <i class="ph-gear me-2"></i>
                                        <span class="flex-1">Settings</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end w-100 w-lg-auto">
                                        <a href="#" class="dropdown-item">
                                            <i class="ph-shield-warning me-2"></i>
                                            Account security
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <i class="ph-chart-bar me-2"></i>
                                            Analytics
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <i class="ph-lock-key me-2"></i>
                                            Privacy
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">
                                            <i class="ph-gear me-2"></i>
                                            All settings
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    {% if not form.vars.valid %}
                        {% for child in form.children %}
                            {%for error in child.vars.errors%}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <span class="fw-semibold">{{error.message}}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {%endfor%}
                        {%endfor%}
                    {%endif%}
                    <!-- Wizard with validation -->
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">Registracija novog korisnika</h6>
                        </div>
                        {{ form_start(form, {'attr': {'class' : 'wizard-form steps-validation', 'novalidation': 'novalidation', 'enctype': 'multipart/form-data' }}) }}
                            <h6>Lični podaci</h6>
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.ime, 'Ime:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.ime, {attr: { class: 'form-control required' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.prezime, 'Prezime:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.prezime, {attr: { class: 'form-control required' }}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.datumRodjenja, 'Datum rođenja:*', {'label_attr': {'class': 'form-label'}}) }}
                                            <div class="input-group">
											<span class="input-group-text">
												<i class="ph-calendar"></i>
											</span>
                                                {{ form_widget(form.datumRodjenja, {attr: { class: 'form-control required datepicker-date-format-custom' }}) }}
                                            </div>
                                            <span class="form-text">Format: 31.12.1900</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.jmbg, 'JMBG:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.jmbg, {attr: { class: 'form-control required' }}) }}
                                            <span class="form-text">Format: 0000000000000 </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            {{ form_label(form.pol, 'Pol:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.pol, {attr: { class: 'form-control select required' }}) }}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <h6>Login podaci</h6>
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.plainPassword, 'Lozinka:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.plainPassword, {attr: { class: 'form-control required' }}) }}
                                            <span class="form-text">Format: Minimum 8 karaktera (obavezno jedno veliko slovo, jedno malo slovo, jedan specijalan karakter i jedan broj) </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.email, 'Email:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.email, {attr: { class: 'form-control required' }}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.userType, 'Tip korisnika:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.userType, {attr: { class: 'form-control select required' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.vrstaZaposlenja, 'Vrsta zaposlenja:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.vrstaZaposlenja, {attr: { class: 'form-control select required' }}) }}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <h6>Slika</h6>
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            {{ form_label(form.slika, 'Profilna slika:', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.slika, {attr: { class: 'form-control file-input' }}) }}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <h6>Dodatne informacije</h6>
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.grad, 'Grad:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.grad, {attr: { class: 'form-control select required' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.adresa, 'Ulica i broj:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.adresa, {attr: { class: 'form-control required' }}) }}
                                            <span class="form-text">Format: Bulevar Milutina Milankovića 1</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.telefon1, 'Telefon #1:*', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.telefon1, {attr: { class: 'form-control required' }}) }}
                                            <span class="form-text">Format: 0661111222</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.telefon2, 'Telefon #2:', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.telefon2, {attr: { class: 'form-control' }}) }}
                                            <span class="form-text">Format: 0661111222</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        {{ form_end(form) }}
                    </div>
                    <!-- /wizard with validation -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->


    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}


    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>

{% endblock includeJavascript %}