{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('App\\Controller\\WidgetController::header' )) }}
    <div class="page-content">
        {{ render(controller('App\\Controller\\WidgetController::adminMainSidebar', { '_route': app.request.attributes.get('_route') })) }}

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Page header -->
                <div class="page-header mobile-padding-sm page-header-light shadow">
                    <div class="page-header-content d-lg-flex">
                        <div class="d-flex">
                            <h4 class="page-title mb-0">
                                Korisnici
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    {% if not form.vars.valid %}
                        {% for child in form.children %}
                            {%for error in child.vars.errors%}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <span class="fw-semibold">{{error.message}}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {%endfor%}
                        {%endfor%}
                    {%endif%}
                    <!-- Wizard with validation -->

                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">Registracija novog korisnika</h6>
                        </div>
                        {{ form_start(form, {'attr': {'class' : 'form-validate-jquery', 'novalidation': 'novalidation', 'enctype': 'multipart/form-data' }}) }}

                        <div class="card-body">
                            <div class="fw-bold border-bottom pb-2 mb-3">Lični podaci</div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.ime, 'Ime:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.ime, {attr: { class: 'form-control required' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.prezime, 'Prezime:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.prezime, {attr: { class: 'form-control required' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.userType, 'Tip korisnika:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.userType, {attr: { class: 'form-control select required role' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-4 hide ROLE_EMPLOYEE">
                                    <div class="mb-3">
                                        {{ form_label(form.pozicija, 'Pozicija:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.pozicija, {attr: { class: 'form-control select pozicija' }}) }}
                                    </div>
                                </div>
{#                                <div class="col-lg-4 hide ROLE_EMPLOYEE">#}
{#                                    <div class="mb-3">#}
{#                                        {{ form_label(form.projectType, 'Tip projekta:*', {'label_attr': {'class': 'form-label'}}) }}#}
{#                                        {{ form_widget(form.projectType, {attr: { class: 'form-control select pozicija' }}) }}#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                            <div class="row">
                                <div class="col-lg-6 KLIJENT">
                                    <div class="mb-3">
                                        {{ form_label(form.datumRodjenja, 'Datum rođenja:*', {'label_attr': {'class': 'form-label'}}) }}
                                        <div class="input-group">
											<span class="input-group-text">
												<i class="ph-calendar"></i>
											</span>
                                            {{ form_widget(form.datumRodjenja, {attr: { class: 'form-control required datepicker-date-format-custom klijentRemove', autocomplete : 'off' }}) }}
                                        </div>
                                        <span class="form-text">Format: 31.12.1900</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.pol, 'Pol:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.pol, {attr: { class: 'form-control select required' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="fw-bold border-bottom pb-2 mb-3">Login podaci</div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.plainPassword, 'Lozinka:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.plainPassword, {attr: { class: 'form-control required' }}) }}
                                        <span class="form-text">Format: Minimum 8 karaktera (obavezno jedno veliko slovo, jedno malo slovo, jedan specijalan karakter i jednu cifru) </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.email, 'Email:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.email, {attr: { class: 'form-control required' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row KLIJENT">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.vrstaZaposlenja, 'Vrsta zaposlenja:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.vrstaZaposlenja, {attr: { class: 'form-control select required klijentRemove' }}) }}
                                        <span class="form-text">Ako se radi o klijentu izaberite opciju "Nije u radnom odnosu".</span>
                                    </div>
                                </div>
                            </div>

                            <div class="fw-bold border-bottom pb-2 mb-3">Profilna slika</div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        {{ form_label(form.slika, 'Profilna slika:', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.slika, {attr: { class: 'form-control file-input' }}) }}
                                        <span class="form-text">Format: png, jpg, gif. Maksimalna veličina fajla 2Mb.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="fw-bold border-bottom pb-2 mb-3">Kontakt podaci</div>
                            <div class="row KLIJENT">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.grad, 'Grad:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.grad, {attr: { class: 'form-control select required klijentRemove' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.adresa, 'Ulica i broj:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.adresa, {attr: { class: 'form-control required klijentRemove' }}) }}
                                        <span class="form-text">Format: Bulevar Milutina Milankovića 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.telefon1, 'Telefon #1:', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.telefon1, {attr: { class: 'form-control' }}) }}
                                        <span class="form-text">Format: 0661111222</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.telefon2, 'Telefon #2:', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.telefon2, {attr: { class: 'form-control' }}) }}
                                        <span class="form-text">Format: 0661111222</span>
                                    </div>
                                </div>
                            </div>
                            <div class="fw-bold border-bottom pb-2 mb-3 KLIJENT">Ostale informacije</div>
                            <div class="row KLIJENT">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.vozacki, 'Vozačka dozvola:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.vozacki, {attr: { class: 'form-control select required klijentRemove' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.isLekarski, 'Lekarski pregled:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.isLekarski, {attr: { class: 'form-control select required klijentRemove' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        {{ form_label(form.isPrvaPomoc, 'Prva pomoć:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.isPrvaPomoc, {attr: { class: 'form-control select required klijentRemove' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row KLIJENT">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ form_label(form.neradniDan, 'Neradni dan:', {'label_attr': {'class': 'form-label'}}) }}
                                            {{ form_widget(form.neradniDan, {attr: { class: 'form-control select' }}) }}
                                            <span class="form-text">Ukoliko zaposleni ne radi određenog dana u sedmici. Potrebno je uneti i dan vikenda ako firma radi vikendom.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fw-bold border-bottom pb-2 mb-3 KLIJENT">Zaduženi uređaji</div>
                            <div class="row KLIJENT">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.isMobile, 'Mobilni telefon:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.isMobile, {attr: { class: 'form-control select required klijentRemove' }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ form_label(form.isLaptop, 'Laptop:*', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(form.isLaptop, {attr: { class: 'form-control select required klijentRemove' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary"><i class="ph-floppy-disk me-2"></i>Sačuvajte</button>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                    <!-- /wizard with validation -->

                </div>
                <!-- /content area -->

                <!-- Footer -->
                {% include 'includes/footer.html.twig' %}
                <!-- /footer -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

        {# {{ render(controller('App\\Controller\\WidgetController::rightSidebar')) }} #}
    </div>
    {% include 'includes/notification.html.twig' %}
{% endblock content %}

{% block includeJavascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/wizards/steps.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/forms/validation/validate.min.js') }}"></script>

    <script src="{{ asset('assets/demo/pages/form_wizard.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/pickers/datepicker.min.js') }}"></script>
{#    <script src="{{ asset('assets/demo/pages/picker_date.js') }}"></script>#}
    <script src="{{ asset('assets/js/vendor/pickers/sr-latn.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('assets/demo/pages/form_select2.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/forms/inputs/imask.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/autosize.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/passy.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/forms/inputs/maxlength.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_controls_extended.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/fileinput.min.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/uploader_bootstrap.js')}}"></script>

    <script src="{{ asset('assets/js/vendor/uploaders/fileinput/sr-latin.js')}}"></script>
    <script src="{{ asset('assets/demo/pages/form_validation_library.js') }}"></script>
    {% if app.request.locale == 'sr-RS' %}
        <script type="text/javascript" src="{{ asset('assets/js/vendor/forms/validation/localization/messages_sr_lat.js') }}"></script>
    {% endif %}

{% endblock includeJavascript %}

{% block footerJavascript %}

    <script>
        $(document).ready(function() {
            $(".role").change(function() {
                if ($(this).val() == "4") {
                    $('.ROLE_EMPLOYEE').removeClass('hide');
                    $('.pozicija').addClass('required');
                    $('.KLIJENT').removeClass('hide');
                    $('.klijentRemove').addClass('required');
                } else if  ($(this).val() == "5") {
                    $('.KLIJENT').addClass('hide');
                    $('.klijentRemove').removeClass('required');
                    $('.ROLE_EMPLOYEE').addClass('hide');
                    $('.pozicija').removeClass('required');
                } else  {
                    $('.ROLE_EMPLOYEE').addClass('hide');
                    $('.pozicija').removeClass('required');
                    $('.KLIJENT').removeClass('hide');
                    $('.klijentRemove').addClass('required');
                }
            });
        });
        // izmenjen format da bi bio po srpskim standardima
        const dpDateCustomFormatElement = document.querySelector('.datepicker-date-format-custom');
        if(dpDateCustomFormatElement) {
            const dpDateCustomFormat = new Datepicker(dpDateCustomFormatElement, {
                container: '.content-inner',
                buttonClass: 'btn',
                prevArrow: document.dir == 'rtl' ? '&rarr;' : '&larr;',
                nextArrow: document.dir == 'rtl' ? '&larr;' : '&rarr;',
                format: 'dd.mm.yyyy',
                todayBtn: true,
                weekStart: 1,
                maxDate: 'today',
                daysOfWeekHighlighted: [0,6],
                language: 'sr-latn',
                // daysOfWeekDisabled: [0]
            });
        }
    </script>

{% endblock footerJavascript %}