{% if is_granted('ROLE_EMPLOYEE') %}

    {% if admin %}
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- Sidebar header -->
                <div class="sidebar-section">
                    <div class="sidebar-section-body d-flex justify-content-center">
                        <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Navigacija</h5>

                        <div>
                            <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                                <i class="ph-arrows-left-right"></i>
                            </button>

                            <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                                <i class="ph-x"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- /sidebar header -->


                <!-- Main navigation -->
                <div class="sidebar-section">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">

                        <!-- Main -->
                        <li class="nav-item-header pt-0">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Glavno</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_home') }}" class="nav-link {{ current_route == 'app_home' ? 'active' : '' }}">
                                <i class="ph-house"></i>
                                <span>
                            Kontrolna tabla
{#                            <span class="d-block fw-normal opacity-50">broj aktivnih taskova</span>#}
                        </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_employee_switch_role', {employee:1}) }}" class="nav-link">
                                <i class="ph-user-switch"></i>
                                <span>
                          Promeni na zaposlenog
{#                            <span class="d-block fw-normal opacity-50">broj aktivnih taskova</span>#}
                        </span>
                            </a>
                        </li>

                        <!-- Zaposleni -->
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Zaposleni</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_employees') }}" class="nav-link {{ current_route == 'app_employees' ? 'active' : '' }}">
                                <i class="ph-users"></i>
                                <span>Lista</span>
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countEmployeesActive }}</span>
                            </a>
                        </li>
                        {% if user.company.settings.isCalendar %}
                            <li class="nav-item">
                                <a href="{{ path('app_availability_available') }}" class="nav-link {{ current_route == 'app_availability_available' ? 'active' : '' }}">
                                    <i class="ph-user-plus"></i>
                                    <span>Dostupni</span>
                                    {#                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_availability_unavailable') }}" class="nav-link {{ current_route == 'app_availability_unavailable' ? 'active' : '' }}">
                                    <i class="ph-user-minus"></i>
                                    <span>Nedostupni</span>
                                    {#                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_employee_availability_reports') }}" class="nav-link {{ current_route == 'app_employee_availability_reports' ? 'active' : '' }}">
                                    <i class="ph-file-text"></i>
                                    <span>Izveštaji o dostupnosti</span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{{ path('app_employee_reports') }}" class="nav-link {{ current_route == 'app_employee_reports' ? 'active' : '' }}">
                                <i class="ph-file-text"></i>
                                <span>Izveštaji o aktivnostima</span>
                            </a>
                        </li>
                        <li class="nav-item nav-item-submenu {{ current_route starts with 'app_' and current_route matches '/app_(employees_archive|employee_archive_reports)/' ? 'nav-item-open' : '' }}">
                            <a href="#" class="nav-link {{ current_route starts with 'app_' and current_route matches '/app_(employees_archive|employee_archive_reports)/' ? 'active' : '' }}">
                                <i class="ph-archive"></i>
                                <span>Arhiva</span>
                            </a>
                            <ul class="nav-group-sub collapse {{ current_route starts with 'app_' and current_route matches '/app_(employees_archive|employee_archive_reports)/' ? 'show' : '' }}">
                                <li class="nav-item">
                                    <a href="{{ path('app_employees_archive') }}" class="nav-link {{ current_route == 'app_employees_archive' ? 'active' : '' }}">Lista</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_employee_archive_reports') }}" class="nav-link {{ current_route == 'app_employee_archive_reports' ? 'active' : '' }}">Izveštaji</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Projekti -->
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Projekti</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_projects') }}" class="nav-link {{ current_route == 'app_projects' ? 'active' : '' }}">
                                <i class="ph-folders"></i>
                                <span>Lista</span>
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countProjectsActive }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_project_reports') }}" class="nav-link {{ current_route == 'app_project_reports' ? 'active' : '' }}">
                                <i class="ph-file-text"></i>
                                <span>Izveštaji</span>
                            </a>
                        </li>
                        <li class="nav-item nav-item-submenu {{ current_route starts with 'app_' and current_route matches '/app_(projects_archive|project_reports_archive)/' ? 'nav-item-open' : '' }}">
                            <a href="#" class="nav-link {{ current_route starts with 'app_' and current_route matches '/app_(projects_archive|project_reports_archive)/' ? 'active' : '' }}">
                                <i class="ph-archive"></i>
                                <span>Arhiva</span>
                            </a>
                            <ul class="nav-group-sub collapse {{ current_route starts with 'app_' and current_route matches '/app_(projects_archive|project_reports_archive)/' ? 'show' : '' }}">
                                <li class="nav-item">
                                    <a href="{{ path('app_projects_archive') }}" class="nav-link {{ current_route == 'app_projects_archive' ? 'active' : '' }}">Lista</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_project_reports_archive') }}" class="nav-link {{ current_route == 'app_project_reports_archive' ? 'active' : '' }}">Izveštaji</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Zadaci -->
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Zadaci</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        {% if user.company.settings.isPlan %}
                            <li class="nav-item">
                                <a href="{{ path('app_quick_tasks') }}" class="nav-link {{ current_route == 'app_quick_tasks' ? 'active' : '' }}">
                                    <i class="ph-clipboard"></i>
                                    <span>Plan rada</span>
                                    {% if countPlanRada > 0 %}
                                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countPlanRada }}</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{{ path('app_tasks_verify') }}" class="nav-link {{ current_route == 'app_tasks_verify' ? 'active' : '' }}">
                                <i class="ph-list-checks"></i>
                                <span>Zadaci za verifikaciju</span>
                                {% if countVerify > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countVerify }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_tasks') }}" class="nav-link {{ current_route == 'app_tasks' ? 'active' : '' }}">
                                <i class="ph-list-bullets"></i>
                                <span>Aktuelni zadaci</span>
                                {% if countTasksActive > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksActive }}</span>
                                {% endif %}

                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_tasks_unclosed') }}" class="nav-link {{ current_route == 'app_tasks_unclosed' ? 'active' : '' }}">
                                <i class="ph-list-dashes"></i>
                                <span>Nezatvoreni zadaci</span>
                                {% if countTasksUnclosed > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksUnclosed }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_tasks_unclosed_logs') }}" class="nav-link {{ current_route == 'app_tasks_unclosed_logs' ? 'active' : '' }}">
                                <i class="ph-clipboard-text"></i>
                                <span>Nezatvoreni dnevnici</span>
                                {% if countTasksUnclosedLogs > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksUnclosedLogs }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_stopwatch_list') }}" class="nav-link {{ current_route == 'app_stopwatch_list' ? 'active' : '' }}">
                                <i class="ph-list-checks"></i>
                                <span>Zapisi za proveru</span>
                                {% if countLogCheck > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countLogCheck}}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_tasks_arhiva') }}" class="nav-link {{ current_route == 'app_tasks_arhiva' ? 'active' : '' }}">
                                <i class="ph-archive"></i>
                                <span>Arhiva</span>
                            </a>
                        </li>

                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Interni zadaci</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_checklist_active') }}" class="nav-link {{ current_route == 'app_checklist_active' ? 'active' : '' }}">
                                <i class="ph-list-bullets"></i>
                                <span>Aktivni</span>
                                {% if countChecklistOnline > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countChecklistOnline }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_checklist_list') }}" class="nav-link {{ current_route == 'app_checklist_list' ? 'active' : '' }}">
                                <i class="ph-list-bullets"></i>
                                <span>Lista</span>
                                {% if countChecklistActive > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countChecklistActive }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_checklist_archive') }}" class="nav-link {{ current_route == 'app_checklist_archive' ? 'active' : '' }}">
                                <i class="ph-archive"></i>
                                <span>Arhiva</span>
                            </a>
                        </li>
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Proizvodnja</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_productions') }}" class="nav-link {{ current_route == 'app_productions' ? 'active' : '' }}">
                                <i class="ph-clipboard-text"></i>
                                <span>Radni nalozi</span>
                                {% if countProduction > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countProduction }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_production_products') }}" class="nav-link {{ current_route == 'app_production_products' ? 'active' : '' }}">
                                <i class="ph-stack"></i>
                                <span>Sastavnice</span>
                                {% if countProducts > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countProducts }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_production_elements') }}" class="nav-link {{ current_route == 'app_production_elements' ? 'active' : '' }}">
                                <i class="ph-stack-simple"></i>
                                <span>Elementi</span>
                                {% if countElements > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countElements }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_production_reports') }}" class="nav-link {{ current_route == 'app_production_reports' ? 'active' : '' }}">
                                <i class="ph-file-text"></i>
                                <span>Izveštaji</span>
                            </a>
                        </li>
                        <!-- Kalendar -->
                        {% if user.company.settings.isCalendar %}
                            <li class="nav-item-header">
                                <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Kalendar</div>
                                <i class="ph-calendar sidebar-resize-show"></i>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_calendar_list') }}" class="nav-link {{ current_route == 'app_calendar_list' ? 'active' : '' }}">
                                    <i class="ph-calendar-plus"></i>
                                    <span>Zahtevi</span>
                                    {% if countCalendarRequests > 0 %}
                                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCalendarRequests }}</span>
                                    {% endif %}

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_availability_list') }}" class="nav-link {{ current_route == 'app_availability_list' ? 'active' : '' }}">
                                    <i class="ph-calendar"></i>
                                    <span>Dostupnost</span>
                                    {#                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                                </a>
                            </li>
                            <!-- Prekoviremeni sati -->
                            <li class="nav-item-header">
                                <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Prekovremeni sati</div>
                                <i class="ph-dots-three sidebar-resize-show"></i>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_overtimes') }}" class="nav-link {{ current_route == 'app_overtimes' ? 'active' : '' }}">
                                    <i class="ph-hourglass-simple-high"></i>
                                    <span>Lista</span>
                                    {% if countOvertime > 0 %}
                                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countOvertime }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_overtime_archive') }}" class="nav-link {{ current_route == 'app_overtime_archive' ? 'active' : '' }}">
                                    <i class="ph-hourglass-simple"></i>
                                    <span>Arhiva</span>
                                </a>
                            </li>
                        {% endif %}

                        {% if user.company.settings.isCar %}
                            <!-- Vozila -->
                            <li class="nav-item-header">
                                <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Vozila</div>
                                <i class="ph-dots-three sidebar-resize-show"></i>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_cars') }}" class="nav-link {{ current_route == 'app_cars' ? 'active' : '' }}">
                                    <i class="ph-car"></i>
                                    <span>Lista</span>
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countActiveCars }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_cars_reserved') }}" class="nav-link {{ current_route == 'app_cars_reserved' ? 'active' : '' }}">
                                    <i class="ph-car"></i>
                                    <span>Zadužena</span>
                                    {% if countCarsActive > 0 %}
                                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCarsActive }}</span>
                                    {% endif %}

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_cars_available') }}" class="nav-link {{ current_route == 'app_cars_available' ? 'active' : '' }}">
                                    <i class="ph-car"></i>
                                    <span>Nezadužena</span>
                                    {% if countCarsInactive > 0 %}
                                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCarsInactive }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_car_reports') }}" class="nav-link {{ current_route == 'app_car_reports' ? 'active' : '' }}">
                                    <i class="ph-file-text"></i>
                                    <span>Izveštaji</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_car_reports_expense') }}" class="nav-link {{ current_route == 'app_car_reports_expense' ? 'active' : '' }}">
                                    <i class="ph-file-text"></i>
                                    <span>Izveštaji trošak</span>
                                </a>
                            </li>
                            <li class="nav-item nav-item-submenu {{ current_route starts with 'app_' and current_route matches '/app_(cars_archive|car_reports_archive|car_reports_expense_archive)/' ? 'nav-item-open' : '' }}">
                                <a href="#" class="nav-link {{ current_route starts with 'app_' and current_route matches '/app_(cars_archive|car_reports_archive|car_reports_expense_archive)/' ? 'active' : '' }}">
                                    <i class="ph-archive"></i>
                                    <span>Arhiva</span>
                                </a>
                                <ul class="nav-group-sub collapse {{ current_route starts with 'app_' and current_route matches '/app_(cars_archive|car_reports_archive|car_reports_expense_archive)/' ? 'show' : '' }}">
                                    <li class="nav-item">
                                        <a href="{{ path('app_cars_archive') }}" class="nav-link {{ current_route == 'app_cars_archive' ? 'active' : '' }}">Lista</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('app_car_reports_archive') }}" class="nav-link {{ current_route == 'app_car_reports_archive' ? 'active' : '' }}">Izveštaji</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('app_car_reports_expense_archive') }}" class="nav-link {{ current_route == 'app_car_reports_expense_archive' ? 'active' : '' }}">Izveštaji trošak</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}

                        {% if user.company.settings.isTool %}
                            <!-- Oprema -->
                            <li class="nav-item-header">
                                <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Oprema</div>
                                <i class="ph-dots-three sidebar-resize-show"></i>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_tools') }}" class="nav-link {{ current_route == 'app_tools' ? 'active' : '' }}">
                                    <i class="ph-wrench"></i>
                                    <span>Lista</span>
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTools }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_tools_reserved') }}" class="nav-link {{ current_route == 'app_tools_reserved' ? 'active' : '' }}">
                                    <i class="ph-wrench"></i>
                                    <span>Zadužena</span>
                                    {% if countToolsActive > 0 %}
                                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countToolsActive }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_tools_available') }}" class="nav-link {{ current_route == 'app_tools_available' ? 'active' : '' }}">
                                    <i class="ph-wrench"></i>
                                    <span>Nezadužena</span>
                                    {% if countToolsInactive > 0 %}
                                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countToolsInactive }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_tool_reports') }}" class="nav-link {{ current_route == 'app_tool_reports' ? 'active' : '' }}">
                                    <i class="ph-file-text"></i>
                                    <span>Izveštaji</span>
                                </a>
                            </li>
                            <li class="nav-item nav-item-submenu {{ current_route starts with 'app_' and current_route matches '/app_(tools_archive|tool_reports_archive)/' ? 'nav-item-open' : '' }}">
                                <a href="#" class="nav-link {{ current_route starts with 'app_' and current_route matches '/app_(tools_archive|tool_reports_archive)/' ? 'active' : '' }}">
                                    <i class="ph-archive"></i>
                                    <span>Arhiva</span>
                                </a>
                                <ul class="nav-group-sub collapse {{ current_route starts with 'app_' and current_route matches '/app_(tools_archive|tool_reports_archive)/' ? 'show' : '' }}">
                                    <li class="nav-item">
                                        <a href="{{ path('app_tools_archive') }}" class="nav-link {{ current_route == 'app_tools_archive' ? 'active' : '' }}">Lista</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('app_tool_reports_archive') }}" class="nav-link {{ current_route == 'app_tool_reports_archive' ? 'active' : '' }}">Izveštaji</a>
                                    </li>
                                </ul>
                            </li>


                        {% endif %}

                        <!-- Klijenti -->
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Klijenti</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_clients') }}" class="nav-link {{ current_route == 'app_clients' ? 'active' : '' }}">
                                <i class="ph-factory"></i>
                                <span>Lista</span>
                                {% if countClientsActive > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countClientsActive }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_users_contact') }}" class="nav-link {{ current_route == 'app_users_contact' ? 'active' : '' }}">
                                <i class="ph-factory"></i>
                                <span>Lista kontakt lica</span>
                                {% if countContacts > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countContacts }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_clients_archive') }}" class="nav-link {{ current_route == 'app_clients_archive' ? 'active' : '' }}">
                                <i class="ph-archive"></i>
                                <span>Arhiva</span>
                                {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countContacts }}</span>#}
                            </a>
                        </li>


                        <!-- Tiketi -->
                        {% if user.company.settings.getIsClientView %}
                            <li class="nav-item-header">
                                <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Tiketi</div>
                                <i class="ph-dots-three sidebar-resize-show"></i>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_ticket_list') }}" class="nav-link {{ current_route == 'app_ticket_list' ? 'active' : '' }}">
                                    <i class="ph-ticket"></i>
                                    <span>Lista</span>
                                    {% if countTickets > 0 %}
                                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTickets }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_ticket_archive_list') }}" class="nav-link {{ current_route == 'app_ticket_archive_list' ? 'active' : '' }}">
                                    <i class="ph-archive"></i>
                                    <span>Arhiva</span>
                                </a>
                            </li>
                        {% endif %}
                        <!-- /Tiketi -->

                        <!-- Komentari -->
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Komentari</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_comments') }}" class="nav-link {{ current_route == 'app_comments' ? 'active' : '' }}">
                                <i class="ph-chats-circle"></i>
                                <span>Lista</span>
                                {% if countCommentsActive > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}</span>
                                {% endif %}

                            </a>
                        </li>
                        <!-- /Komentari -->



                        <!-- Page kits -->
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Podešavanja</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item nav-item-submenu {{ current_route starts with 'app_' and current_route matches '/app_(settings_form|cities|positions|activities|categories|labels|tools_type|holidays|holiday_vacation_form)/' ? 'nav-item-open' : '' }}">
                            <a href="#" class="nav-link {{ current_route starts with 'app_' and current_route matches '/app_(settings_form|cities|positions|activities|categories|labels|tools_type|holidays|holiday_vacation_form)/' ? 'active' : '' }}">
                                <i class="ph-wrench"></i>
                                <span>Podešavanja</span>
                            </a>
                            <ul class="nav-group-sub collapse {{ current_route starts with 'app_' and current_route matches '/app_(settings_form|cities|positions|activities|categories|labels|tools_type|holidays|holiday_vacation_form)/' ? 'show' : '' }}">
                                <li class="nav-item">
                                    <a href="{{ path('app_settings_form', {id: user.company.settings.id}) }}" class="nav-link {{ current_route == 'app_settings_form' ? 'active' : '' }}">Opšte</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_cities') }}" class="nav-link {{ current_route == 'app_cities' ? 'active' : '' }}">Gradovi</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_positions') }}" class="nav-link {{ current_route == 'app_positions' ? 'active' : '' }}">Pozicije</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_activities') }}" class="nav-link {{ current_route == 'app_activities' ? 'active' : '' }}">Aktivnosti</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_categories') }}" class="nav-link {{ current_route == 'app_categories' ? 'active' : '' }}">Kategorije</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_labels') }}" class="nav-link {{ current_route == 'app_labels' ? 'active' : '' }}">Oznake</a>
                                </li>
                                {% if user.company.settings.isTool %}
                                    <li class="nav-item">
                                        <a href="{{ path('app_tools_type') }}" class="nav-link {{ current_route == 'app_tools_type' ? 'active' : '' }}">Tipovi opreme</a>
                                    </li>
                                {% endif %}
                                {% if user.company.settings.isCalendar %}
                                    <li class="nav-item">
                                        <a href="{{ path('app_holidays') }}" class="nav-link {{ current_route == 'app_holidays' ? 'active' : '' }}">Neradni dani</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('app_holiday_vacation_form') }}" class="nav-link {{ current_route == 'app_holiday_vacation_form' ? 'active' : '' }}">Kolektivni odmor</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>


                        <!-- /page kits -->

                    </ul>
                </div>
                <!-- /main navigation -->

            </div>
            <!-- /sidebar content -->

        </div>
    {% else %}
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- Sidebar header -->
                <div class="sidebar-section">
                    <div class="sidebar-section-body d-flex justify-content-center">
                        <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Navigacija</h5>

                        <div>
                            <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                                <i class="ph-arrows-left-right"></i>
                            </button>

                            <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                                <i class="ph-x"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /sidebar header -->


                <!-- Main navigation -->
                <div class="sidebar-section">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">

                        <!-- Main -->
                        <li class="nav-item-header pt-0">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Glavno</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_home') }}" class="nav-link {{ current_route == 'app_home' ? 'active' : '' }}">
                                <i class="ph-house"></i>
                                <span>
                            Kontrolna tabla
                        </span>
                            </a>
                        </li>
                        {% if app.user.isAdmin %}
                        <li class="nav-item">
                            <a href="{{ path('app_employee_switch_role', {admin:1}) }}" class="nav-link">
                                <i class="ph-user-switch"></i>
                                <span>
                            Promeni na admina
{#                            <span class="d-block fw-normal opacity-50">broj aktivnih taskova</span>#}
                        </span>
                            </a>
                        </li>
                        {% endif %}

                        <!-- taskovi -->
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Zadaci</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_tasks') }}" class="nav-link {{ current_route == 'app_tasks' ? 'active' : '' }}">
                                <i class="ph-list-bullets"></i>
                                <span>Aktuelni</span>
                                {% if countTasksActiveByUser > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksActiveByUser }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_tasks_unclosed') }}" class="nav-link {{ current_route == 'app_tasks_unclosed' ? 'active' : '' }}">
                                <i class="ph-list-dashes"></i>
                                <span>Nezatvoreni</span>
                                {% if countTasksUnclosedByUser > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksUnclosedByUser }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_tasks_unclosed_logs') }}" class="nav-link {{ current_route == 'app_tasks_unclosed_logs' ? 'active' : '' }}">
                                <i class="ph-clipboard-text"></i>
                                <span>Nezatvoreni dnevnici</span>
                                {% if countTasksUnclosedLogsByUser > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksUnclosedLogsByUser }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_tasks_arhiva') }}" class="nav-link {{ current_route == 'app_tasks_arhiva' ? 'active' : '' }}">
                                <i class="ph-archive"></i>
                                <span>Arhiva</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_task_form') }}" class="nav-link {{ current_route == 'app_task_form' ? 'active' : '' }}">
                                <i class="ph-folder-plus"></i>
                                <span>Dodajte</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ path('app_checklist_to_do') }}" class="nav-link {{ current_route == 'app_checklist_to_do' ? 'active' : '' }}">
                                <i class="ph-list-plus"></i>
                                <span>Interni zadaci</span>
                                {% if countChecklistActive > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countChecklistActive }}</span>
                                {% endif %}
                            </a>
                        </li>

                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Projekti</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_projects') }}" class="nav-link {{ current_route == 'app_projects' ? 'active' : '' }}">
                                <i class="ph-folders"></i>
                                <span>Lista</span>
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto"></span>
                            </a>
                        </li>

                        {% if user.company.settings.isCar %}
                            <li class="nav-item-header">
                                <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Vozila</div>
                                <i class="ph-dots-three sidebar-resize-show"></i>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_employee_car_view', {id:user.id}) }}" class="nav-link {{ current_route == 'app_employee_car_view' ? 'active' : '' }}">
                                    <i class="ph-car"></i>
                                    <span>Vozila</span>
                                </a>
                            </li>
                            {% if user.car is not null %}
                                <li class="nav-item">
                                    <a href="{{ path('app_car_employee_reservation_stop', {id:lastReservation.id}) }}" class="nav-link {{ current_route == 'app_car_employee_reservation_stop' ? 'active' : '' }}">
                                        <i class="ph-car"></i>
                                        <span>Razdužite</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_car_employee_expense_form', {id:user.car}) }}" class="nav-link {{ current_route == 'app_car_employee_expense_form' ? 'active' : '' }}">
                                        <i class="ph-money"></i>
                                        <span>Trošak</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_car_image_form', {id:lastReservation.id}) }}" class="nav-link {{ current_route == 'app_car_image_form' ? 'active' : '' }}">
                                        <i class="ph-image"></i>
                                        <span>Slike</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if user.company.settings.isTool %}
                            <li class="nav-item-header">
                                <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Oprema</div>
                                <i class="ph-dots-three sidebar-resize-show"></i>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_employee_tools_view', {id:user.id}) }}" class="nav-link {{ current_route == 'app_employee_tools_view' ? 'active' : '' }}">
                                    <i class="ph-wrench"></i>
                                    <span>Oprema</span>
                                </a>
                            </li>
                        {% endif %}

                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Ostalo</div>
                            <i class="ph-calendar sidebar-resize-show"></i>
                        </li>
                        {% if user.company.settings.isCalendar %}
                            <li class="nav-item">
                                <a href="{{ path('app_employee_calendar_view', {id:user.id}) }}" class="nav-link {{ current_route == 'app_employee_calendar_view' ? 'active' : '' }}">
                                    <i class="ph-calendar"></i>
                                    <span>Kalendar</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_overtime_employee_form') }}" class="nav-link {{ current_route == 'app_overtime_employee_form' ? 'active' : '' }}">
                                    <i class="ph-hourglass-simple-high"></i>
                                    <span>Prekovremeni sati</span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{{ path('app_employee_docs_view', {id:user.id}) }}" class="nav-link {{ current_route == 'app_employee_docs_view' ? 'active' : '' }}">
                                <i class="ph-file"></i>
                                <span>Dokumenta</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_employee_images_view', {id:user.id}) }}" class="nav-link {{ current_route == 'app_employee_images_view' ? 'active' : '' }}">
                                <i class="ph-image"></i>
                                <span>Slike</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_employee_documents_view', { id: user.id}) }}" class="nav-link {{ current_route == 'app_employee_documents_view' ? 'active' : '' }}">
                                <i class="ph-files"></i>
                                <span>Dokumentacija</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_employee_comments_view', {id:user.id}) }}" class="nav-link {{ current_route == 'app_employee_comments_view' ? 'active' : '' }}">
                                <i class="ph-chats-circle"></i>
                                <span>Komentari</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /main navigation -->

            </div>
            <!-- /sidebar content -->

        </div>
    {% endif %}

{% elseif is_granted('ROLE_CLIENT') %}
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- Sidebar header -->
            <div class="sidebar-section">
                <div class="sidebar-section-body d-flex justify-content-center">
                    <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Navigacija</h5>

                    <div>
                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                            <i class="ph-arrows-left-right"></i>
                        </button>

                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                            <i class="ph-x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /sidebar header -->

            <!-- Main navigation -->
            <div class="sidebar-section">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Tiketi -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Tiketi</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_ticket_list') }}" class="nav-link {{ current_route == 'app_ticket_list' ? 'active' : '' }}">
                            <i class="ph-list-bullets"></i>
                            <span>Lista</span>
                            {#                            {% if countTasksActiveByUser > 0 %}#}
                            {#                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksActiveByUser }}</span>#}
                            {#                            {% endif %}#}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_ticket_archive_list') }}" class="nav-link {{ current_route == 'app_ticket_archive_list' ? 'active' : '' }}">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_ticket_form') }}" class="nav-link {{ current_route == 'app_ticket_form' ? 'active' : '' }}">
                            <i class="ph-folder-plus"></i>
                            <span>Dodajte</span>
                        </a>
                    </li>

                    <!-- Page kits -->
                    {#                <li class="nav-item-header">#}
                    {#                    <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Podašavanja</div>#}
                    {#                    <i class="ph-dots-three sidebar-resize-show"></i>#}
                    {#                </li>#}
                    {#                <li class="nav-item nav-item-submenu">#}
                    {#                    <a href="#" class="nav-link {{ current_route == 'app_users' ? 'active' : '' }}">#}
                    {#                        <i class="ph-wrench"></i>#}
                    {#                        <span>Podešavanja</span>#}
                    {#                    </a>#}
                    {#                    <ul class="nav-group-sub collapse">#}
                    {#                        <li class="nav-item nav-item-submenu">#}
                    {#                            <a href="#" class="nav-link {{ current_route == 'app_users' ? 'active' : '' }}">Katalog</a>#}
                    {#                            <ul class="nav-group-sub collapse">#}
                    {#                                <li class="nav-item"><a href="{{ path('app_cities') }}" class="nav-link {{ current_route == 'app_cities' ? 'active' : '' }}">Gradovi</a></li>#}
                    {#                                <li class="nav-item"><a href="{{ path('app_positions') }}" class="nav-link {{ current_route == 'app_positions' ? 'active' : '' }}">Pozicije</a></li>#}
                    {#                                <li class="nav-item"><a href="{{ path('app_activities') }}" class="nav-link {{ current_route == 'app_activities' ? 'active' : '' }}">Aktivnosti</a></li>#}
                    {#                                <li class="nav-item"><a href="{{ path('app_categories') }}" class="nav-link {{ current_route == 'app_categories' ? 'active' : '' }}">Kategorije</a></li>#}
                    {#                                <li class="nav-item"><a href="{{ path('app_labels') }}" class="nav-link {{ current_route == 'app_labels' ? 'active' : '' }}">Oznake</a></li>#}
                    {#                            </ul>#}
                    {#                        </li>#}
                    {#                    </ul>#}
                    {#                </li>#}

                    <!-- /page kits -->

                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
{% else %}
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- Sidebar header -->
            <div class="sidebar-section">
                <div class="sidebar-section-body d-flex justify-content-center">
                    <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Navigacija</h5>

                    <div>
                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                            <i class="ph-arrows-left-right"></i>
                        </button>

                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                            <i class="ph-x"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- /sidebar header -->


            <!-- Main navigation -->
            <div class="sidebar-section">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Main -->
                    <li class="nav-item-header pt-0">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Glavno</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link {{ current_route == 'app_home' ? 'active' : '' }}">
                            <i class="ph-house"></i>
                            <span>
                            Kontrolna tabla
{#                            <span class="d-block fw-normal opacity-50">broj aktivnih taskova</span>#}
                        </span>
                        </a>
                    </li>
                    {% if user.company.settings.isPlan %}
                        <li class="nav-item">
                            <a href="{{ path('app_quick_tasks') }}" class="nav-link {{ current_route == 'app_quick_tasks' ? 'active' : '' }}">
                                <i class="ph-clipboard"></i>
                                <span>Plan rada</span>
                                {% if countPlanRada > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countPlanRada }}</span>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                    {% if user.company.settings.isCalendar %}
                        <li class="nav-item">
                            <a href="{{ path('app_availability_list') }}" class="nav-link {{ current_route == 'app_availability_list' ? 'active' : '' }}">
                                <i class="ph-calendar"></i>
                                <span>Dostupnost</span>
                                {#                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ dostupnosti['noOdsutni'] }}</span>#}
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Korisnici</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_users') }}" class="nav-link {{ current_route == 'app_users' ? 'active' : '' }}">
                            <i class="ph-users"></i>
                            <span>Lista</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countUsersActive }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_users_archive') }}" class="nav-link {{ current_route == 'app_users_archive' ? 'active' : '' }}">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countUsers - countUsersActive }}</span>#}
                        </a>
                    </li>

                    <!-- Zaposleni -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Zaposleni</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employees') }}" class="nav-link {{ current_route == 'app_employees' ? 'active' : '' }}">
                            <i class="ph-users"></i>
                            <span>Lista</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countEmployeesActive }}</span>
                        </a>
                    </li>
                    {% if user.company.settings.isCalendar %}
                        <li class="nav-item">
                            <a href="{{ path('app_availability_available') }}" class="nav-link {{ current_route == 'app_availability_available' ? 'active' : '' }}">
                                <i class="ph-user-plus"></i>
                                <span>Dostupni</span>
                                {#                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_availability_unavailable') }}" class="nav-link {{ current_route == 'app_availability_unavailable' ? 'active' : '' }}">
                                <i class="ph-user-minus"></i>
                                <span>Nedostupni</span>
                                {#                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_employee_availability_reports') }}" class="nav-link {{ current_route == 'app_employee_availability_reports' ? 'active' : '' }}">
                                <i class="ph-file-text"></i>
                                <span>Izveštaji o dostupnosti</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{{ path('app_employee_reports') }}" class="nav-link {{ current_route == 'app_employee_reports' ? 'active' : '' }}">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji o aktivnostima</span>
                        </a>
                    </li>
                    <li class="nav-item nav-item-submenu {{ current_route starts with 'app_' and current_route matches '/app_(employees_archive|employee_archive_reports)/' ? 'nav-item-open' : '' }}">
                        <a href="#" class="nav-link {{ current_route starts with 'app_' and current_route matches '/app_(employees_archive|employee_archive_reports)/' ? 'active' : '' }}">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
                        </a>
                        <ul class="nav-group-sub collapse {{ current_route starts with 'app_' and current_route matches '/app_(employees_archive|employee_archive_reports)/' ? 'show' : '' }}">
                            <li class="nav-item">
                                <a href="{{ path('app_employees_archive') }}" class="nav-link {{ current_route == 'app_employees_archive' ? 'active' : '' }}">Lista</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_employee_archive_reports') }}" class="nav-link {{ current_route == 'app_employee_archive_reports' ? 'active' : '' }}">Izveštaji</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Projekti -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Projekti</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_projects') }}" class="nav-link {{ current_route == 'app_projects' ? 'active' : '' }}">
                            <i class="ph-folders"></i>
                            <span>Lista</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countProjectsActive }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_project_reports') }}" class="nav-link {{ current_route == 'app_project_reports' ? 'active' : '' }}">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <li class="nav-item nav-item-submenu {{ current_route starts with 'app_' and current_route matches '/app_(projects_archive|project_reports_archive)/' ? 'nav-item-open' : '' }}">
                        <a href="#" class="nav-link {{ current_route starts with 'app_' and current_route matches '/app_(projects_archive|project_reports_archive)/' ? 'active' : '' }}">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
                        </a>
                        <ul class="nav-group-sub collapse {{ current_route starts with 'app_' and current_route matches '/app_(projects_archive|project_reports_archive)/' ? 'show' : '' }}">
                            <li class="nav-item">
                                <a href="{{ path('app_projects_archive') }}" class="nav-link {{ current_route == 'app_projects_archive' ? 'active' : '' }}">Lista</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_project_reports_archive') }}" class="nav-link {{ current_route == 'app_project_reports_archive' ? 'active' : '' }}">Izveštaji</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Zadaci -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Zadaci</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    {% if user.company.settings.isPlan %}
                        <li class="nav-item">
                            <a href="{{ path('app_quick_tasks') }}" class="nav-link {{ current_route == 'app_quick_tasks' ? 'active' : '' }}">
                                <i class="ph-clipboard"></i>
                                <span>Plan rada</span>
                                {% if countPlanRada > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countPlanRada }}</span>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{{ path('app_tasks_verify') }}" class="nav-link {{ current_route == 'app_tasks_verify' ? 'active' : '' }}">
                            <i class="ph-list-checks"></i>
                            <span>Zadaci za verifikaciju</span>
                            {% if countVerify > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countVerify }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks') }}" class="nav-link {{ current_route == 'app_tasks' ? 'active' : '' }}">
                            <i class="ph-list-bullets"></i>
                            <span>Aktuelni zadaci</span>
                            {% if countTasksActive > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksActive }}</span>
                            {% endif %}

                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks_unclosed') }}" class="nav-link {{ current_route == 'app_tasks_unclosed' ? 'active' : '' }}">
                            <i class="ph-list-dashes"></i>
                            <span>Nezatvoreni zadaci</span>
                            {% if countTasksUnclosed > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksUnclosed }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks_unclosed_logs') }}" class="nav-link {{ current_route == 'app_tasks_unclosed_logs' ? 'active' : '' }}">
                            <i class="ph-clipboard-text"></i>
                            <span>Nezatvoreni dnevnici</span>
                            {% if countTasksUnclosedLogs > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksUnclosedLogs }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_stopwatch_list') }}" class="nav-link {{ current_route == 'app_stopwatch_list' ? 'active' : '' }}">
                            <i class="ph-list-checks"></i>
                            <span>Zapisi za proveru</span>
                            {% if countLogCheck > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countLogCheck}}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks_arhiva') }}" class="nav-link {{ current_route == 'app_tasks_arhiva' ? 'active' : '' }}">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
                        </a>
                    </li>

                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Interni zadaci</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_checklist_active') }}" class="nav-link {{ current_route == 'app_checklist_active' ? 'active' : '' }}">
                            <i class="ph-list-bullets"></i>
                            <span>Aktivni</span>
                            {% if countChecklistOnline > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countChecklistOnline }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_checklist_list') }}" class="nav-link {{ current_route == 'app_checklist_list' ? 'active' : '' }}">
                            <i class="ph-list-bullets"></i>
                            <span>Lista</span>
                            {% if countChecklistActive > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countChecklistActive }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_checklist_archive') }}" class="nav-link {{ current_route == 'app_checklist_archive' ? 'active' : '' }}">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
                        </a>
                    </li>

                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Proizvodnja</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_productions') }}" class="nav-link {{ current_route == 'app_productions' ? 'active' : '' }}">
                            <i class="ph-clipboard-text"></i>
                            <span>Radni nalozi</span>
                            {% if countProduction > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countProduction }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_production_products') }}" class="nav-link {{ current_route == 'app_production_products' ? 'active' : '' }}">
                            <i class="ph-stack"></i>
                            <span>Sastavnice</span>
                            {% if countProducts > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countProducts }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_production_elements') }}" class="nav-link {{ current_route == 'app_production_elements' ? 'active' : '' }}">
                            <i class="ph-stack-simple"></i>
                            <span>Elementi</span>
                            {% if countElements > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countElements }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_production_reports') }}" class="nav-link {{ current_route == 'app_production_reports' ? 'active' : '' }}">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>

                    <!-- Kalendar -->
                    {% if user.company.settings.isCalendar %}
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Kalendar</div>
                            <i class="ph-calendar sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_calendar_list') }}" class="nav-link {{ current_route == 'app_calendar_list' ? 'active' : '' }}">
                                <i class="ph-calendar-plus"></i>
                                <span>Zahtevi</span>
                                {% if countCalendarRequests > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCalendarRequests }}</span>
                                {% endif %}

                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_availability_list') }}" class="nav-link {{ current_route == 'app_availability_list' ? 'active' : '' }}">
                                <i class="ph-calendar"></i>
                                <span>Dostupnost</span>
                                {#                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                            </a>
                        </li>
                        <!-- Prekoviremeni sati -->
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Prekovremeni sati</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_overtimes') }}" class="nav-link {{ current_route == 'app_overtimes' ? 'active' : '' }}">
                                <i class="ph-hourglass-simple-high"></i>
                                <span>Lista</span>
                                {% if countOvertime > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countOvertime }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_overtime_archive') }}" class="nav-link {{ current_route == 'app_overtime_archive' ? 'active' : '' }}">
                                <i class="ph-hourglass-simple"></i>
                                <span>Arhiva</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if user.company.settings.isCar %}
                        <!-- Vozila -->
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Vozila</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_cars') }}" class="nav-link {{ current_route == 'app_cars' ? 'active' : '' }}">
                                <i class="ph-car"></i>
                                <span>Lista</span>
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countActiveCars }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_cars_reserved') }}" class="nav-link {{ current_route == 'app_cars_reserved' ? 'active' : '' }}">
                                <i class="ph-car"></i>
                                <span>Zadužena</span>
                                {% if countCarsActive > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCarsActive }}</span>
                                {% endif %}

                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_cars_available') }}" class="nav-link {{ current_route == 'app_cars_available' ? 'active' : '' }}">
                                <i class="ph-car"></i>
                                <span>Nezadužena</span>
                                {% if countCarsInactive > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCarsInactive }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_car_reports') }}" class="nav-link {{ current_route == 'app_car_reports' ? 'active' : '' }}">
                                <i class="ph-file-text"></i>
                                <span>Izveštaji</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_car_reports_expense') }}" class="nav-link {{ current_route == 'app_car_reports_expense' ? 'active' : '' }}">
                                <i class="ph-file-text"></i>
                                <span>Izveštaji trošak</span>
                            </a>
                        </li>
                        <li class="nav-item nav-item-submenu {{ current_route starts with 'app_' and current_route matches '/app_(cars_archive|car_reports_archive|car_reports_expense_archive)/' ? 'nav-item-open' : '' }}">
                            <a href="#" class="nav-link {{ current_route starts with 'app_' and current_route matches '/app_(cars_archive|car_reports_archive|car_reports_expense_archive)/' ? 'active' : '' }}">
                                <i class="ph-archive"></i>
                                <span>Arhiva</span>
                            </a>
                            <ul class="nav-group-sub collapse {{ current_route starts with 'app_' and current_route matches '/app_(cars_archive|car_reports_archive|car_reports_expense_archive)/' ? 'show' : '' }}">
                                <li class="nav-item">
                                    <a href="{{ path('app_cars_archive') }}" class="nav-link {{ current_route == 'app_cars_archive' ? 'active' : '' }}">Lista</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_car_reports_archive') }}" class="nav-link {{ current_route == 'app_car_reports_archive' ? 'active' : '' }}">Izveštaji</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_car_reports_expense_archive') }}" class="nav-link {{ current_route == 'app_car_reports_expense_archive' ? 'active' : '' }}">Izveštaji trošak</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if user.company.settings.isTool %}
                        <!-- Oprema -->
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Oprema</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_tools') }}" class="nav-link {{ current_route == 'app_tools' ? 'active' : '' }}">
                                <i class="ph-wrench"></i>
                                <span>Lista</span>
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTools }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_tools_reserved') }}" class="nav-link {{ current_route == 'app_tools_reserved' ? 'active' : '' }}">
                                <i class="ph-wrench"></i>
                                <span>Zadužena</span>
                                {% if countToolsActive > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countToolsActive }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_tools_available') }}" class="nav-link {{ current_route == 'app_tools_available' ? 'active' : '' }}">
                                <i class="ph-wrench"></i>
                                <span>Nezadužena</span>
                                {% if countToolsInactive > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countToolsInactive }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_tool_reports') }}" class="nav-link {{ current_route == 'app_tool_reports' ? 'active' : '' }}">
                                <i class="ph-file-text"></i>
                                <span>Izveštaji</span>
                            </a>
                        </li>
                        <li class="nav-item nav-item-submenu {{ current_route starts with 'app_' and current_route matches '/app_(tools_archive|tool_reports_archive)/' ? 'nav-item-open' : '' }}">
                            <a href="#" class="nav-link {{ current_route starts with 'app_' and current_route matches '/app_(tools_archive|tool_reports_archive)/' ? 'active' : '' }}">
                                <i class="ph-archive"></i>
                                <span>Arhiva</span>
                            </a>
                            <ul class="nav-group-sub collapse {{ current_route starts with 'app_' and current_route matches '/app_(tools_archive|tool_reports_archive)/' ? 'show' : '' }}">
                                <li class="nav-item">
                                    <a href="{{ path('app_tools_archive') }}" class="nav-link {{ current_route == 'app_tools_archive' ? 'active' : '' }}">Lista</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_tool_reports_archive') }}" class="nav-link {{ current_route == 'app_tool_reports_archive' ? 'active' : '' }}">Izveštaji</a>
                                </li>
                            </ul>
                        </li>


                    {% endif %}

                    <!-- Klijenti -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Klijenti</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_clients') }}" class="nav-link {{ current_route == 'app_clients' ? 'active' : '' }}">
                            <i class="ph-factory"></i>
                            <span>Lista</span>
                            {% if countClientsActive > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countClientsActive }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_users_contact') }}" class="nav-link {{ current_route == 'app_users_contact' ? 'active' : '' }}">
                            <i class="ph-factory"></i>
                            <span>Lista kontakt lica</span>
                            {% if countContacts > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countContacts }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_clients_archive') }}" class="nav-link {{ current_route == 'app_clients_archive' ? 'active' : '' }}">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countContacts }}</span>#}
                        </a>
                    </li>


                    <!-- Tiketi -->
                    {% if user.company.settings.getIsClientView %}
                        <li class="nav-item-header">
                            <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Tiketi</div>
                            <i class="ph-dots-three sidebar-resize-show"></i>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_ticket_list') }}" class="nav-link {{ current_route == 'app_ticket_list' ? 'active' : '' }}">
                                <i class="ph-ticket"></i>
                                <span>Lista</span>
                                {% if countTickets > 0 %}
                                    <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTickets }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_ticket_archive_list') }}" class="nav-link {{ current_route == 'app_ticket_archive_list' ? 'active' : '' }}">
                                <i class="ph-archive"></i>
                                <span>Arhiva</span>
                            </a>
                        </li>
                    {% endif %}
                    <!-- /Tiketi -->

                    <!-- Komentari -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Komentari</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_comments') }}" class="nav-link {{ current_route == 'app_comments' ? 'active' : '' }}">
                            <i class="ph-chats-circle"></i>
                            <span>Lista</span>
                            {% if countCommentsActive > 0 %}
                                <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}</span>
                            {% endif %}

                        </a>
                    </li>
                    <!-- /Komentari -->



                    <!-- Page kits -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Podešavanja</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item nav-item-submenu {{ current_route starts with 'app_' and current_route matches '/app_(settings_form|cities|positions|activities|categories|labels|tools_type|holidays|holiday_vacation_form)/' ? 'nav-item-open' : '' }}">
                        <a href="#" class="nav-link {{ current_route starts with 'app_' and current_route matches '/app_(settings_form|cities|positions|activities|categories|labels|tools_type|holidays|holiday_vacation_form)/' ? 'active' : '' }}">
                            <i class="ph-wrench"></i>
                            <span>Podešavanja</span>
                        </a>
                        <ul class="nav-group-sub collapse {{ current_route starts with 'app_' and current_route matches '/app_(settings_form|cities|positions|activities|categories|labels|tools_type|holidays|holiday_vacation_form)/' ? 'show' : '' }}">
                            <li class="nav-item">
                                <a href="{{ path('app_settings_form', {id: user.company.settings.id}) }}" class="nav-link {{ current_route == 'app_settings_form' ? 'active' : '' }}">Opšte</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_cities') }}" class="nav-link {{ current_route == 'app_cities' ? 'active' : '' }}">Gradovi</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_positions') }}" class="nav-link {{ current_route == 'app_positions' ? 'active' : '' }}">Pozicije</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_activities') }}" class="nav-link {{ current_route == 'app_activities' ? 'active' : '' }}">Aktivnosti</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_categories') }}" class="nav-link {{ current_route == 'app_categories' ? 'active' : '' }}">Kategorije</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_labels') }}" class="nav-link {{ current_route == 'app_labels' ? 'active' : '' }}">Oznake</a>
                            </li>
                            {% if user.company.settings.isTool %}
                                <li class="nav-item">
                                    <a href="{{ path('app_tools_type') }}" class="nav-link {{ current_route == 'app_tools_type' ? 'active' : '' }}">Tipovi opreme</a>
                                </li>
                            {% endif %}
                            {% if user.company.settings.isCalendar %}
                                <li class="nav-item">
                                    <a href="{{ path('app_holidays') }}" class="nav-link {{ current_route == 'app_holidays' ? 'active' : '' }}">Neradni dani</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_holiday_vacation_form') }}" class="nav-link {{ current_route == 'app_holiday_vacation_form' ? 'active' : '' }}">Kolektivni odmor</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
{% endif %}







