{% if is_granted('ROLE_EMPLOYEE') %}
    <!-- Main sidebar admin -->
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- Sidebar header -->
            <div class="sidebar-section">
                <div class="sidebar-section-body d-flex justify-content-center">
                    <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Navigacija</h5>

                    <div>
                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                            <i class="ph-arrows-left-right"></i>
                        </button>

                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                            <i class="ph-x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /sidebar header -->


            <!-- Main navigation -->
            <div class="sidebar-section">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Main -->
                    <li class="nav-item-header pt-0">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Glavno</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link active">
                            <i class="ph-house"></i>
                            <span>
                            Kontrolna tabla
                            <span class="d-block fw-normal opacity-50">broj aktivnih taskova</span>
                        </span>
                        </a>
                    </li>
                    {#                <li class="nav-item">#}
                    {#                    <a href="../../../../docs/other_changelog.html" class="nav-link">#}
                    {#                        <i class="ph-list-numbers"></i>#}
                    {#                        <span>Aktivni korisnici</span>#}
                    {#                        <span class="badge bg-primary align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a href="../../../../docs/other_changelog.html" class="nav-link">#}
                    {#                        <i class="ph-list-numbers"></i>#}
                    {#                        <span>Aktivni zadaci</span>#}
                    {#                        <span class="badge bg-primary align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a href="../../../../docs/other_changelog.html" class="nav-link">#}
                    {#                        <i class="ph-list-numbers"></i>#}
                    {#                        <span>Aktivna vozila</span>#}
                    {#                        <span class="badge bg-primary align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}

                    <!-- Projekti -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Projekti</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_projects') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Lista</span>
                            <span class="badge bg-primary align-self-center rounded-pill ms-auto">{{ countProjects }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- /Projekti -->

                    <!-- taskovi -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Zadaci</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Lista</span>
                            <span class="badge bg-primary align-self-center rounded-pill ms-auto"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_task_form') }}" class="nav-link">
                            <i class="ph-folder-plus"></i>
                            <span>Dodajte</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- /taskovi -->

                    <!-- Page kits -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Podašavanja</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link">
                            <i class="ph-wrench"></i>
                            <span>Podešavanja</span>
                        </a>
                        <ul class="nav-group-sub collapse">
{#                            <li class="nav-item nav-item-submenu">#}
{#                                <a href="#" class="nav-link">Katalog</a>#}
{#                                <ul class="nav-group-sub collapse">#}
{#                                    <li class="nav-item"><a href="{{ path('app_cities') }}" class="nav-link">Gradovi</a></li>#}
{#                                    <li class="nav-item"><a href="{{ path('app_positions') }}" class="nav-link">Pozicije</a></li>#}
{#                                    <li class="nav-item"><a href="{{ path('app_activities') }}" class="nav-link">Aktivnosti</a></li>#}
{#                                    <li class="nav-item"><a href="{{ path('app_categories') }}" class="nav-link">Kategorije</a></li>#}
{#                                    <li class="nav-item"><a href="{{ path('app_labels') }}" class="nav-link">Oznake</a></li>#}
{#                                </ul>#}
{#                            </li>#}
                        </ul>
                    </li>

                    <!-- /page kits -->

                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
    <!-- /main sidebar -->
{% else %}
    <!-- Main sidebar admin -->
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- Sidebar header -->
            <div class="sidebar-section">
                <div class="sidebar-section-body d-flex justify-content-center">
                    <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Navigacija</h5>

                    <div>
                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                            <i class="ph-arrows-left-right"></i>
                        </button>

                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                            <i class="ph-x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /sidebar header -->


            <!-- Main navigation -->
            <div class="sidebar-section">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Main -->
                    <li class="nav-item-header pt-0">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Glavno</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link active">
                            <i class="ph-house"></i>
                            <span>
                            Kontrolna tabla
                            <span class="d-block fw-normal opacity-50">broj aktivnih taskova</span>
                        </span>
                        </a>
                    </li>
                    {#                <li class="nav-item">#}
                    {#                    <a href="../../../../docs/other_changelog.html" class="nav-link">#}
                    {#                        <i class="ph-list-numbers"></i>#}
                    {#                        <span>Aktivni korisnici</span>#}
                    {#                        <span class="badge bg-primary align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a href="../../../../docs/other_changelog.html" class="nav-link">#}
                    {#                        <i class="ph-list-numbers"></i>#}
                    {#                        <span>Aktivni zadaci</span>#}
                    {#                        <span class="badge bg-primary align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a href="../../../../docs/other_changelog.html" class="nav-link">#}
                    {#                        <i class="ph-list-numbers"></i>#}
                    {#                        <span>Aktivna vozila</span>#}
                    {#                        <span class="badge bg-primary align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}

                    <!-- Korisnici -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Korisnici</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_users') }}" class="nav-link">
                            <i class="ph-users"></i>
                            <span>Lista</span>
                            <span class="badge bg-primary align-self-center rounded-pill ms-auto">{{ countUsers }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_user_form') }}" class="nav-link">
                            <i class="ph-user-plus"></i>
                            <span>Registracija</span>
                        </a>
                    </li>
                    {#                <li class="nav-item">#}
                    {#                    <a href="" class="nav-link">#}
                    {#                        <i class="ph-user-minus"></i>#}
                    {#                        <span>Deaktivirani</span>#}
                    {#                        <span class="badge bg-primary align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- /Korisnici -->

                    <!-- Zaposleni -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Zaposleni</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employees') }}" class="nav-link">
                            <i class="ph-user-circle"></i>
                            <span>Lista</span>
                            <span class="badge bg-primary align-self-center rounded-pill ms-auto">{{ countEmployees }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="ph-user-circle-gear"></i>
                            <span>Aktivni</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- /Zaposleni -->

                    <!-- Klijenti -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Klijenti</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_clients') }}" class="nav-link">
                            <i class="ph-factory"></i>
                            <span>Lista</span>
                            <span class="badge bg-primary align-self-center rounded-pill ms-auto">{{ countClients }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- /Klijenti -->

                    <!-- Projekti -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Projekti</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_projects') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Lista</span>
                            <span class="badge bg-primary align-self-center rounded-pill ms-auto">{{ countProjects }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_project_form') }}" class="nav-link">
                            <i class="ph-folder-plus"></i>
                            <span>Dodajte</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- /Projekti -->

                    <!-- Page kits -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Podašavanja</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link">
                            <i class="ph-wrench"></i>
                            <span>Podešavanja</span>
                        </a>
                        <ul class="nav-group-sub collapse">
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link">Katalog</a>
                                <ul class="nav-group-sub collapse">
                                    <li class="nav-item"><a href="{{ path('app_cities') }}" class="nav-link">Gradovi</a></li>
                                    <li class="nav-item"><a href="{{ path('app_positions') }}" class="nav-link">Pozicije</a></li>
                                    <li class="nav-item"><a href="{{ path('app_activities') }}" class="nav-link">Aktivnosti</a></li>
                                    <li class="nav-item"><a href="{{ path('app_categories') }}" class="nav-link">Kategorije</a></li>
                                    <li class="nav-item"><a href="{{ path('app_labels') }}" class="nav-link">Oznake</a></li>
                                </ul>
                            </li>
                            {#                        <li class="nav-item nav-item-submenu">#}
                            {#                            <a href="#" class="nav-link">Authentication</a>#}
                            {#                            <ul class="nav-group-sub collapse">#}
                            {#                 #}
                            {#                                <li class="nav-item"><a href="login_registration.html" class="nav-link">Simple registration</a></li>#}
                            {#                                <li class="nav-item"><a href="login_registration_advanced.html" class="nav-link">More registration info</a></li>#}
                            {#                                <li class="nav-item"><a href="login_unlock.html" class="nav-link">Unlock user</a></li>#}
                            {#                                <li class="nav-item"><a href="login_password_recover.html" class="nav-link">Reset password</a></li>#}
                            {#                                <li class="nav-item"><a href="login_hide_navbar.html" class="nav-link">Hide navbar</a></li>#}
                            {#                                <li class="nav-item"><a href="login_transparent.html" class="nav-link">Transparent box</a></li>#}
                            {#                                <li class="nav-item"><a href="login_background.html" class="nav-link">Background option</a></li>#}
                            {#                                <li class="nav-item"><a href="login_validation.html" class="nav-link">With validation</a></li>#}
                            {#                                <li class="nav-item"><a href="login_tabbed.html" class="nav-link">Tabbed form</a></li>#}
                            {#                                <li class="nav-item"><a href="login_modals.html" class="nav-link">Inside modals</a></li>#}
                            {#                            </ul>#}
                            {#                        </li>#}
                            {#                        <li class="nav-item nav-item-submenu">#}
                            {#                            <a href="#" class="nav-link">Error pages</a>#}
                            {#                            <ul class="nav-group-sub collapse">#}
                            {#                                <li class="nav-item"><a href="error_403.html" class="nav-link">Error 403</a></li>#}
                            {#                                <li class="nav-item"><a href="error_404.html" class="nav-link">Error 404</a></li>#}
                            {#                                <li class="nav-item"><a href="error_405.html" class="nav-link">Error 405</a></li>#}
                            {#                                <li class="nav-item"><a href="error_500.html" class="nav-link">Error 500</a></li>#}
                            {#                                <li class="nav-item"><a href="error_503.html" class="nav-link">Error 503</a></li>#}
                            {#                                <li class="nav-item"><a href="error_offline.html" class="nav-link">Offline page</a></li>#}
                            {#                            </ul>#}
                            {#                        </li>#}
                        </ul>
                    </li>

                    <!-- /page kits -->

                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
    <!-- /main sidebar -->
{% endif %}







