{% if is_granted('ROLE_EMPLOYEE') %}
    <!-- Main sidebar admin -->
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- Sidebar header -->
            <div class="sidebar-section">
                <div class="sidebar-section-body d-flex justify-content-center">
                    <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Navigacija</h5>

                    <div>
                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                            <i class="ph-arrows-left-right"></i>
                        </button>

                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                            <i class="ph-x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /sidebar header -->


            <!-- Main navigation -->
            <div class="sidebar-section">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Main -->
                    <li class="nav-item-header pt-0">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Glavno</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link active">
                            <i class="ph-house"></i>
                            <span>
                                Kontrolna tabla
{#                            <span class="d-block fw-normal opacity-50">1</span>#}
                        </span>
                        </a>
                    </li>
                    {#                <li class="nav-item">#}
                    {#                    <a href="../../../../docs/other_changelog.html" class="nav-link">#}
                    {#                        <i class="ph-list-numbers"></i>#}
                    {#                        <span>Aktivni korisnici</span>#}
                    {#                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a href="../../../../docs/other_changelog.html" class="nav-link">#}
                    {#                        <i class="ph-list-numbers"></i>#}
                    {#                        <span>Aktivni zadaci</span>#}
                    {#                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a href="../../../../docs/other_changelog.html" class="nav-link">#}
                    {#                        <i class="ph-list-numbers"></i>#}
                    {#                        <span>Aktivna vozila</span>#}
                    {#                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}

                    <!-- taskovi -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Zadaci</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Lista</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksActiveByUser }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks_unclosed') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Nezatvoreni</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksUnclosedByUser }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks_unclosed_logs') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Nezatvoreni dnevnici</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksUnclosedLogsByUser }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks_arhiva') }}" class="nav-link">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksArchiveByUser }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_task_form_date') }}" class="nav-link">
                            <i class="ph-folder-plus"></i>
                            <span>Dodajte</span>
                        </a>
                    </li>

                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Projekti</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_projects') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Lista</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto"></span>
                        </a>
                    </li>

                    <!-- /taskovi -->

                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Vozila</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employee_car_view', {id:user.id}) }}" class="nav-link">
                            <i class="ph-car"></i>
                            <span>Vozila</span>
                        </a>
                    </li>
                    {% if user.car is not null %}
                        <li class="nav-item">
                            <a href="{{ path('app_car_employee_reservation_stop', {id:lastReservation.id}) }}" class="nav-link">
                                <i class="ph-car"></i>
                                <span>Razdužite</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_car_employee_expense_form', {id:user.car}) }}" class="nav-link">
                                <i class="ph-money"></i>
                                <span>Trošak</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_car_image_form', {id:lastReservation.id}) }}" class="nav-link">
                                <i class="ph-image"></i>
                                <span>Slike</span>
                            </a>
                        </li>
                    {% endif %}

                    <!-- /Vozila -->

                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Oprema</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employee_tools_view', {id:user.id}) }}" class="nav-link">
                            <i class="ph-wrench"></i>
                            <span>Oprema</span>
                        </a>
                    </li>

                    <!-- /Vozila -->

                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Kalendar</div>
                        <i class="ph-calendar sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employee_calendar_view', {id:user.id}) }}" class="nav-link">
                            <i class="ph-calendar"></i>
                            <span>Lista</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                        </a>
                    </li>

                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Ostalo</div>
                        <i class="ph-calendar sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employee_notes_view', {id:user.id}) }}" class="nav-link">
                            <i class="ph-clipboard-text"></i>
                            <span>Beleške</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employee_docs_view', {id:user.id}) }}" class="nav-link">
                            <i class="ph-file"></i>
                            <span>Dokumenta</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employee_images_view', {id:user.id}) }}" class="nav-link">
                            <i class="ph-image"></i>
                            <span>Slike</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employee_comments_view', {id:user.id}) }}" class="nav-link">
                            <i class="ph-chats-circle"></i>
                            <span>Komentari</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ asset('/assets/manual/manual.pdf') }}" class="nav-link" download>
                            <i class="ph-lifebuoy"></i>
                            <span>Uputstvo</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                        </a>
                    </li>
{#                    <!-- Page kits -->#}
{#                    <li class="nav-item-header">#}
{#                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Podašavanja</div>#}
{#                        <i class="ph-dots-three sidebar-resize-show"></i>#}
{#                    </li>#}
{#                    <li class="nav-item nav-item-submenu">#}
{#                        <a href="#" class="nav-link">#}
{#                            <i class="ph-wrench"></i>#}
{#                            <span>Podešavanja</span>#}
{#                        </a>#}
{#                        <ul class="nav-group-sub collapse">#}
{#                            <li class="nav-item nav-item-submenu">#}
{#                                <a href="#" class="nav-link">Katalog</a>#}
{#                                <ul class="nav-group-sub collapse">#}
{#                                    <li class="nav-item"><a href="{{ path('app_cities') }}" class="nav-link">Gradovi</a></li>#}
{#                                    <li class="nav-item"><a href="{{ path('app_positions') }}" class="nav-link">Pozicije</a></li>#}
{#                                    <li class="nav-item"><a href="{{ path('app_activities') }}" class="nav-link">Aktivnosti</a></li>#}
{#                                    <li class="nav-item"><a href="{{ path('app_categories') }}" class="nav-link">Kategorije</a></li>#}
{#                                    <li class="nav-item"><a href="{{ path('app_labels') }}" class="nav-link">Oznake</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}

{#                    <!-- /page kits -->#}

                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
    <!-- /main sidebar -->
{% else %}
    <!-- Main sidebar admin -->
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- Sidebar header -->
            <div class="sidebar-section">
                <div class="sidebar-section-body d-flex justify-content-center">
                    <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Navigacija</h5>

                    <div>
                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                            <i class="ph-arrows-left-right"></i>
                        </button>

                        <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                            <i class="ph-x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /sidebar header -->


            <!-- Main navigation -->
            <div class="sidebar-section">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Main -->
                    <li class="nav-item-header pt-0">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Glavno</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link active">
{#                            <i class="ph-house"></i>#}
                            <i class="ph-folders"></i>
                            <span>
                            Kontrolna tabla
                            <span class="d-block fw-normal opacity-50">broj aktivnih taskova</span>
                        </span>
                        </a>
                    </li>
                    {#                <li class="nav-item">#}
                    {#                    <a href="../../../../docs/other_changelog.html" class="nav-link">#}
                    {#                        <i class="ph-list-numbers"></i>#}
                    {#                        <span>Aktivni korisnici</span>#}
                    {#                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a href="../../../../docs/other_changelog.html" class="nav-link">#}
                    {#                        <i class="ph-list-numbers"></i>#}
                    {#                        <span>Aktivni zadaci</span>#}
                    {#                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a href="../../../../docs/other_changelog.html" class="nav-link">#}
                    {#                        <i class="ph-list-numbers"></i>#}
                    {#                        <span>Aktivna vozila</span>#}
                    {#                        <span class="badge bg-yellow align-self-center rounded-pill ms-auto">4.0</span>#}
                    {#                    </a>#}
                    {#                </li>#}

                    <!-- Korisnici -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Korisnici</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_users') }}" class="nav-link">
                            <i class="ph-users"></i>
                            <span>Lista</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countUsersActive }}/{{ countUsers }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- /Korisnici -->

                    <!-- Zaposleni -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Zaposleni</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employees') }}" class="nav-link">
                            <i class="ph-user-circle"></i>
                            <span>Lista</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countEmployeesActive }}/{{ countEmployees }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employees', { type : 1 }) }}" class="nav-link">
                            <i class="ph-user-circle-gear"></i>
                            <span>Na zadatku</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countEmployeesOnTask }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employees', { type : 2 }) }}" class="nav-link">
                            <i class="ph-user-circle-gear"></i>
                            <span>Van zadatka</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countEmployeesOffTask }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_employee_reports') }}" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- /Zaposleni -->

{#                    <!-- Timovi -->#}
{#                    <li class="nav-item-header">#}
{#                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Timovi</div>#}
{#                        <i class="ph-dots-three sidebar-resize-show"></i>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a href="{{ path('app_teams') }}" class="nav-link">#}
{#                            <i class="ph-user-circle"></i>#}
{#                            <span>Lista</span>#}
{#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTeams }}/{{ countAllTeams }}</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a href="{{ path('app_teams', { type : 1 }) }}" class="nav-link">#}
{#                            <i class="ph-user-circle"></i>#}
{#                            <span>Aktivni</span>#}
{#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTeamsActive }}</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a href="{{ path('app_teams', { type : 2 }) }}" class="nav-link">#}
{#                            <i class="ph-user-circle-gear"></i>#}
{#                            <span>Neaktivni</span>#}
{#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTeamsInactive }}</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a href="" class="nav-link">#}
{#                            <i class="ph-file-text"></i>#}
{#                            <span>Izveštaji</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <!-- /Timovi -->#}

                    <!-- Klijenti -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Klijenti</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_clients') }}" class="nav-link">
                            <i class="ph-factory"></i>
                            <span>Lista klijenata</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countClientsActive }}/{{ countClients }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_users_contact') }}" class="nav-link">
                            <i class="ph-factory"></i>
                            <span>Lista kontakt lica</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countContactsActive }}/{{ countContacts }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- /Klijenti -->

                    <!-- Projekti -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Projekti</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_projects') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Lista</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countProjectsActive }}/{{ countProjects }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_projects', {'permanent': 1}) }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Sa stalnom ekipom</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countProjectsPermanent }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_projects', {'permanent': 2}) }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Sa letećom ekipom</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countProjectsChange }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_projects', {'permanent': 3}) }}" class="nav-link">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
{#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countProjectsChange }}</span>#}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_project_reports') }}" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- /Projekti -->

                    <!-- Zadaci -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Zadaci</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_quick_tasks') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Plan</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countProjects }}</span>#}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_checklist_list') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Operativa</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countProjects }}</span>#}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks_unclosed_logs') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Nezatvoreni dnevnici</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksUnclosedLogs }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Aktivni</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksActive }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks_unclosed') }}" class="nav-link">
                            <i class="ph-folders"></i>
                            <span>Nezatvoreni</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksUnclosed }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tasks_arhiva') }}" class="nav-link">
                            <i class="ph-archive"></i>
                            <span>Arhiva</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksArchive }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_stopwatch_list') }}" class="nav-link">
                            <i class="ph-archive"></i>
                            <span>Zapisi za proveru</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTasksArchive }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- /Zadaci -->

                    <!-- Vozila -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Vozila</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_cars') }}" class="nav-link">
                            <i class="ph-car"></i>
                            <span>Sva vozila</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countActiveCars }}/{{ countCars }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_cars', {type:1}) }}" class="nav-link">
                            <i class="ph-car"></i>
                            <span>Zadužena</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCarsActive }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_cars', {type:2}) }}" class="nav-link">
                            <i class="ph-car"></i>
                            <span>Nezadužena</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCarsInactive }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- /Vozila -->

                    <!-- Oprema -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Oprema</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tools') }}" class="nav-link">
                            <i class="ph-wrench"></i>
                            <span>Sva oprema</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countTools }}/{{ countAllTools }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tools', {type:1}) }}" class="nav-link">
                            <i class="ph-wrench"></i>
                            <span>Zadužena</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countToolsActive }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tools', {type:2}) }}" class="nav-link">
                            <i class="ph-wrench"></i>
                            <span>Nezadužena</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countToolsInactive }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="ph-file-text"></i>
                            <span>Izveštaji</span>
                        </a>
                    </li>
                    <!-- Komentari -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Komentari</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_comments') }}" class="nav-link">
                            <i class="ph-chats-circle"></i>
                            <span>Lista</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>
                        </a>
                    </li>
                    <!-- /Komentari -->

                    <!-- Kalendar -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Kalendar</div>
                        <i class="ph-calendar sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_calendar_list') }}" class="nav-link">
                            <i class="ph-question"></i>
                            <span>Zahtevi</span>
                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCalendarRequests }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_availability_list') }}" class="nav-link">
                            <i class="ph-calendar"></i>
                            <span>Kalendar</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_availability_available') }}" class="nav-link">
                            <i class="ph-user-plus"></i>
                            <span>Dostupni</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_availability_unavailable') }}" class="nav-link">
                            <i class="ph-user-minus"></i>
                            <span>Nedostupni</span>
                            {#                            <span class="badge bg-yellow align-self-center rounded-pill ms-auto">{{ countCommentsActive }}/{{ countComments }}</span>#}
                        </a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a href="{{ path('app_calendar_list') }}" class="nav-link">#}
{#                            <i class="ph-calendar"></i>#}
{#                            <span>Izveštaji</span>#}
{#                        </a>#}
{#                    </li>#}

                    <!-- /Kalendar -->

                    <!-- Page kits -->
                    <li class="nav-item-header">
                        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Podašavanja</div>
                        <i class="ph-dots-three sidebar-resize-show"></i>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link">
                            <i class="ph-wrench"></i>
                            <span>Podešavanja</span>
                        </a>
                        <ul class="nav-group-sub collapse">
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link">Katalog</a>
                                <ul class="nav-group-sub collapse">
                                    <li class="nav-item"><a href="{{ path('app_cities') }}" class="nav-link">Gradovi</a></li>
                                    <li class="nav-item"><a href="{{ path('app_positions') }}" class="nav-link">Pozicije</a></li>
                                    <li class="nav-item"><a href="{{ path('app_activities') }}" class="nav-link">Aktivnosti</a></li>
                                    <li class="nav-item"><a href="{{ path('app_categories') }}" class="nav-link">Kategorije</a></li>
                                    <li class="nav-item"><a href="{{ path('app_labels') }}" class="nav-link">Oznake</a></li>
                                </ul>
                            </li>
                            {#                        <li class="nav-item nav-item-submenu">#}
                            {#                            <a href="#" class="nav-link">Authentication</a>#}
                            {#                            <ul class="nav-group-sub collapse">#}
                            {#                 #}
                            {#                                <li class="nav-item"><a href="login_registration.html" class="nav-link">Simple registration</a></li>#}
                            {#                                <li class="nav-item"><a href="login_registration_advanced.html" class="nav-link">More registration info</a></li>#}
                            {#                                <li class="nav-item"><a href="login_unlock.html" class="nav-link">Unlock user</a></li>#}
                            {#                                <li class="nav-item"><a href="login_password_recover.html" class="nav-link">Reset password</a></li>#}
                            {#                                <li class="nav-item"><a href="login_hide_navbar.html" class="nav-link">Hide navbar</a></li>#}
                            {#                                <li class="nav-item"><a href="login_transparent.html" class="nav-link">Transparent box</a></li>#}
                            {#                                <li class="nav-item"><a href="login_background.html" class="nav-link">Background option</a></li>#}
                            {#                                <li class="nav-item"><a href="login_validation.html" class="nav-link">With validation</a></li>#}
                            {#                                <li class="nav-item"><a href="login_tabbed.html" class="nav-link">Tabbed form</a></li>#}
                            {#                                <li class="nav-item"><a href="login_modals.html" class="nav-link">Inside modals</a></li>#}
                            {#                            </ul>#}
                            {#                        </li>#}
                            {#                        <li class="nav-item nav-item-submenu">#}
                            {#                            <a href="#" class="nav-link">Error pages</a>#}
                            {#                            <ul class="nav-group-sub collapse">#}
                            {#                                <li class="nav-item"><a href="error_403.html" class="nav-link">Error 403</a></li>#}
                            {#                                <li class="nav-item"><a href="error_404.html" class="nav-link">Error 404</a></li>#}
                            {#                                <li class="nav-item"><a href="error_405.html" class="nav-link">Error 405</a></li>#}
                            {#                                <li class="nav-item"><a href="error_500.html" class="nav-link">Error 500</a></li>#}
                            {#                                <li class="nav-item"><a href="error_503.html" class="nav-link">Error 503</a></li>#}
                            {#                                <li class="nav-item"><a href="error_offline.html" class="nav-link">Offline page</a></li>#}
                            {#                            </ul>#}
                            {#                        </li>#}
                        </ul>
                    </li>

                    <!-- /page kits -->

                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
    <!-- /main sidebar -->
{% endif %}







