<div class="navbar navbar-expand-lg border-top py-0 py-sm-1">
    <div class="container-fluid">
        <ul class="nav navbar-nav flex-row flex-fill">
            <li class="nav-item me-1">
                <a href="{{ path('app_project_tasks_view', { id: project.id}) }}" class="navbar-nav-link navbar-nav-link-icon rounded">
                    <div class="d-flex align-items-center mx-lg-1">
                        <i class="ph-list-checks"></i>
                        <span class="d-none d-lg-inline-block ms-2">Zadaci</span>
                    </div>
                </a>
            </li>
            <li class="nav-item me-1">
                <a href="{{ path('app_project_checklist_view', { id: project.id}) }}" class="navbar-nav-link navbar-nav-link-icon rounded">
                    <div class="d-flex align-items-center mx-lg-1">
                        <i class="ph-list-bullets"></i>
                        <span class="d-none d-lg-inline-block ms-2">Interni zadaci</span>
                    </div>
                </a>
            </li>
            <li class="nav-item me-1">
                <a href="{{ path('app_project_profile_view', { id: project.id}) }}" class="navbar-nav-link navbar-nav-link-icon rounded">
                    <div class="d-flex align-items-center mx-lg-1">
                        <i class="ph-info"></i>
                        <span class="d-none d-lg-inline-block ms-2">Informacije</span>
                    </div>
                </a>
            </li>
            {% if not is_granted('ROLE_EMPLOYEE') or admin %}
                <li class="nav-item me-1">
                    <a href="{{ path('app_project_activity_view', { id: project.id}) }}" class="navbar-nav-link navbar-nav-link-icon rounded">
                        <div class="d-flex align-items-center mx-lg-1">
                            <i class="ph-activity"></i>
                            <span class="d-none d-lg-inline-block ms-2">Aktivnosti</span>
                        </div>
                    </a>
                </li>
                {% if project.isExpenses %}
{#                <li class="nav-item me-1">#}
{#                    <a href="" class="navbar-nav-link navbar-nav-link-icon rounded">#}
{#                        <div class="d-flex align-items-center mx-lg-1">#}
{#                            <i class="ph-money"></i>#}
{#                            <span class="d-none d-lg-inline-block ms-2">Troškovi</span>#}
{#                        </div>#}
{#                    </a>#}
{#                </li>#}
                {% endif %}
                {% if project.phase %}
                    <li class="nav-item me-1">
                        <a href="{{ path('app_project_phases_view', {id : project.id}) }}" class="navbar-nav-link navbar-nav-link-icon rounded">
                            <div class="d-flex align-items-center mx-lg-1">
                                <i class="ph-line-segments"></i>
                                <span class="d-none d-lg-inline-block ms-2">Faze <span class="badge bg-yellow rounded-pill ms-1">{{ getUcinkovitostProject(project) }}%</span></span>
                            </div>
                        </a>
                    </li>
                {% endif %}
{#                <li class="nav-item me-1">#}
{#                    <a href="{{ path('app_project_time_view', { id: project.id}) }}" class="navbar-nav-link navbar-nav-link-icon rounded">#}
{#                        <div class="d-flex align-items-center mx-lg-1">#}
{#                            <i class="ph-timer"></i>#}
{#                            <span class="d-none d-lg-inline-block ms-2">Vreme<span class="badge bg-success rounded-pill ms-auto ms-lg-2">32</span></span>#}
{#                        </div>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item me-1">#}
{#                    <a href="{{ path('app_project_expenses_view', { id: project.id}) }}" class="navbar-nav-link navbar-nav-link-icon rounded">#}
{#                        <div class="d-flex align-items-center mx-lg-1">#}
{#                            <i class="ph-money"></i>#}
{#                            <span class="d-none d-lg-inline-block ms-2">Troškovi<span class="badge bg-success rounded-pill ms-auto ms-lg-2">32</span></span>#}
{#                        </div>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item me-1">#}
{#                    <a href="{{ path('app_project_users_view', { id: project.id}) }}" class="navbar-nav-link navbar-nav-link-icon rounded">#}
{#                        <div class="d-flex align-items-center mx-lg-1">#}
{#                            <i class="ph-user"></i>#}
{#                            <span class="d-none d-lg-inline-block ms-2">Korisnici<span class="badge bg-success rounded-pill ms-auto ms-lg-2">32</span></span>#}
{#                        </div>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item me-1">#}
{#                    <a href="{{ path('app_project_teams_view', { id: project.id}) }}" class="navbar-nav-link navbar-nav-link-icon rounded">#}
{#                        <div class="d-flex align-items-center mx-lg-1">#}
{#                            <i class="ph-users-three"></i>#}
{#                            <span class="d-none d-lg-inline-block ms-2">Timovi<span class="badge bg-success rounded-pill ms-auto ms-lg-2">32</span></span>#}
{#                        </div>#}
{#                    </a>#}
{#                </li>#}
            {% endif %}


            <li class="nav-item d-lg-none ms-auto">
                <a href="#profile_nav" class="navbar-nav-link navbar-nav-link-icon collapsed rounded" data-bs-toggle="collapse">
                    <i class="ph-caret-down collapsible-indicator"></i>
                </a>
            </li>
        </ul>

        <div class="navbar-collapse collapse" id="profile_nav">
            <ul class="navbar-nav ms-lg-auto mt-2 mt-lg-0">
                <li class="nav-item ms-lg-1">
                    <a href="{{ path('app_project_docs_view', { id:project.id }) }}" class="navbar-nav-link rounded">
                        <i class="ph-paperclip me-2"></i>
                        Dokumenta
                    </a>
                </li>
                <li class="nav-item ms-lg-1">
                    <a href="{{ path('app_project_images_view', { id:project.id }) }}" class="navbar-nav-link rounded">
                        <i class="ph-image me-2"></i>
                        Slike
                    </a>
                </li>
                {% if not is_granted('ROLE_EMPLOYEE') or admin %}
                    <li class="nav-item dropdown ms-lg-1">
                        <a href="#" class="navbar-nav-link rounded dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="ph-gear"></i>
                            <span class="d-lg-none ms-2">Više</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="{{ path('app_project_form', { id: project.id}) }}" class="dropdown-item">
                                <i class="ph-note-pencil me-2"></i>
                                Izmenite
                            </a>
                            <a href="{{ path('app_project_profile_history_list', { id: project.id}) }}" class="dropdown-item">
                                <i class="ph-clock-counter-clockwise me-2"></i>
                                Istorija izmena
                            </a>
                            <div class="dropdown-divider"></div>
                            {% if project.suspended == 0 %}
                                <a href="{{ path('app_project_suspend', { id: project.id}) }}" class="dropdown-item"><i class="ph-x me-2"></i> Deaktivirajte</a>
                            {% else %}
                                <a href="{{ path('app_project_suspend', { id: project.id}) }}" class="dropdown-item"><i class="ph-check me-2"></i> Aktivirajte</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>