<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title|default('Deaktivacija naloga') }}</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f7f7f7; padding: 30px; margin: 0;">
<table role="presentation" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 40px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
    <tr>
        <td style="text-align: center;">
            <img src="{{ absolute_url(asset("assets/images/logo/epars_new.png")) }}" alt="{{ site_name|default('Dektivacija naloga') }} logo" style="max-height: 80px; margin-bottom: 20px;">

{#            <h1 style="color: #333;">{{ site_name|default('Deaktivacija naloga') }}</h1>#}
        </td>
    </tr>

    {# Ilustracija za deaktivaciju #}
    <tr>
        <td align="center" style="padding: 5px 0;">
            <img src="{{ absolute_url(asset('assets/images/email/deactivate.svg')) }}" alt="Deactivate" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="175">
        </td>
    </tr>

    {# Naslov #}
    <tr>
        <td align="center" style="padding: 15px 0;">
            <h1 style="margin: 0; font-size: 20px; color: #333;"><strong>DEAKTIVIRAN NALOG</strong></h1>
        </td>
    </tr>

    {# Pozdrav sa imenom #}
    <tr>
        <td style="padding: 0 40px; text-align: center;">
            <p style="font-size: 16px; line-height: 24px; color: #666;">Zdravo, {{ name }}</p>
        </td>
    </tr>

    {# Poruka o deaktivaciji #}
    <tr>
        <td style="padding: 0 40px; text-align: center;">
            <p style="font-size: 16px; line-height: 24px; color: #666;">Vaš nalog je deaktiviran. Više ne možete pristupati ePARS sistemu.</p>
        </td>
    </tr>

    {# Footer info #}
    <tr>
        <td style="color: #999; font-size: 12px; text-align: center; padding-top: 20px;">
            Ako mislite da je došlo do greške, kontaktirajte podršku.
        </td>
    </tr>
</table>
</body>
</html>
