<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title|default('Kreiran nalog') }}</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f7f7f7; padding: 30px; margin: 0;">
<table role="presentation" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 40px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
    <tr>
        <td style="text-align: center;">
            <img src="{{ absolute_url(asset("assets/images/logo/epars_new.png")) }}" alt="{{ site_name|default('Kalendar zahtev') }} logo" style="max-height: 80px; margin-bottom: 20px;">

        </td>
    </tr>

    {# Slika kreiranja naloga #}
    <tr>
        <td align="center" style="padding: 5px 0;">
            <img src="{{ absolute_url(asset("assets/images/email/calendar.svg")) }}" alt="Calendar" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="175">
        </td>
    </tr>

    {# Naslov poruke #}
    <tr>
        <td align="center" style="padding: 15px 0;">
            <h1 style="margin: 0; font-size: 20px; color: #333;"><strong>ODGOVOR NA ZAHTEV</strong></h1>
        </td>
    </tr>

    {# Pozdrav i poruka #}
    <tr>
        <td style="padding: 0 40px; text-align: center;">
            <p style="font-size: 16px; line-height: 24px; color: #666;">Vaš zahtev je {% if calendar.status == 1 %}
                na čekanju
            {% elseif calendar.status == 2 %}
                prihvaćen
            {% elseif calendar.status == 3 %}
                odbijen
            {% elseif calendar.status == 0 %}
                obrisan
                {% endif %}.</p>
        </td>
    </tr>


    {# Podaci za prijavu #}
    <tr>
        <td style="padding: 15px 40px 0;">
            <p style="font-size: 16px; color: #666;"><strong>Zaposleni:</strong> {{ user }}</p>
        </td>
    </tr>

    <tr>
        <td style="padding: 15px 40px 0;">
            <p style="font-size: 16px; color: #666;"><strong>Tip zahteva:</strong> {% if calendar.type == 1 %}
                    Slobodan dan
                {% elseif calendar.type == 2 %}
                    Odmor
                {% elseif calendar.type == 3 %}
                    Bolovanje
                {% elseif calendar.type == 4 %}
                    Slava
                {% endif %}
            </p>
        </td>
    </tr>

    <tr>
        <td style="padding: 15px 40px 0;">
            <p style="font-size: 16px; color: #666;"><strong>Period:</strong> od {{ calendar.start | date('d.m.Y.') }} do {{ calendar.finish | date('d.m.Y.') }} {% if calendar.vreme is not null %} ({{ calendar.vreme }}) {% endif %}</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 40px 0;">
            <p style="font-size: 16px; color: #666;"><strong>Napomena:</strong> {{ calendar.note }}</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 15px 40px 0;">
            <p style="font-size: 16px; color: #666;"><strong>Status:</strong> {% if calendar.status == 1 %}
                NA ČEKANJU
                {% elseif calendar.status == 2 %}
                PRIHVAĆEN
                {% elseif calendar.status == 3 %}
                ODBIJEN
                {% elseif calendar.status == 0 %}
                OBRISAN
            {% endif %}</p>
        </td>
    </tr>

    {# Objašnjenje i napomena #}

    {#    <tr>#}
    {#        <td style="padding: 15px 40px 0; text-align: center;">#}
    {#            <p style="font-size: 16px; color: #666;">#}
    {#                Molimo Vas da sačuvate ovaj email.#}
    {#            </p>#}
    {#        </td>#}
    {#    </tr>#}
</table>
</body>
</html>
