<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title|default('Kreiran nalog') }}</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f7f7f7; padding: 30px; margin: 0;">
<table role="presentation" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 40px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
    <tr>
        <td style="text-align: center;">
            <img src="{{ absolute_url(asset("assets/images/logo/epars_new.png")) }}" alt="{{ site_name|default('Registracija naloga') }} logo" style="max-height: 80px; margin-bottom: 20px;">

        </td>
    </tr>

    {# Slika kreiranja naloga #}
    <tr>
        <td align="center" style="padding: 5px 0;">
            <img src="{{ absolute_url(asset('assets/images/email/register.svg')) }}" alt="Account Created" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="175">
        </td>
    </tr>

    {# Naslov poruke #}
    <tr>
        <td align="center" style="padding: 15px 0;">
            <h1 style="margin: 0; font-size: 20px; color: #333;"><strong>KREIRAN NALOG</strong></h1>
        </td>
    </tr>

    {# Pozdrav i poruka #}
    <tr>
        <td style="padding: 0 40px; text-align: center;">
            <p style="font-size: 16px; line-height: 24px; color: #666;">Zdravo, {{ name }}</p>
        </td>
    </tr>

    <tr>
        <td style="padding: 0 40px; text-align: center;">
            <p style="font-size: 16px; line-height: 24px; color: #666;">
                Kreiran Vam je nalog za pristup ePARS sistemu, sa privilegijom pristupa <strong>{{ role }}</strong>.
                Molimo Vas koristite pristupne podatke navedene ispod.
            </p>
        </td>
    </tr>

    {# Podaci za prijavu #}
    <tr>
        <td style="padding: 15px 40px 0;">
            <p style="font-size: 16px; color: #666;"><strong>Korisničko ime:</strong> {{ mail }}</p>
        </td>
    </tr>

    <tr>
        <td style="padding: 15px 40px 0;">
            <p style="font-size: 16px; color: #666;"><strong>Lozinka:</strong> {{ password }}</p>
        </td>
    </tr>

    <tr>
        <td style="padding: 15px 40px 0;">
            <p style="font-size: 16px; color: #666;"><strong>Privilegija pristupa:</strong> {{ role }}</p>
        </td>
    </tr>

    <tr>
        <td style="padding: 15px 40px 0;">
            <p style="font-size: 16px; color: #666;">
                <strong>Link za prijavu:</strong>
                <a href="{{ link }}" style="color: #007BFF;">{{ link }}</a>
            </p>
        </td>
    </tr>

    {# Objašnjenje i napomena #}
    <tr>
        <td style="padding: 25px 40px 0; text-align: center;">
            <p style="font-size: 16px; color: #666;">
                Kada budete pristupili sistemu, u meniju imate Uputstvo, gde možete pogledati kojim funkcionalnostima raspolažete u radu, kao i sve korake neophodne da te funkcionalnosti i koristite.
            </p>
        </td>
    </tr>

    <tr>
        <td style="padding: 15px 40px 0; text-align: center;">
            <p style="font-size: 16px; color: #666;">
                Molimo Vas da sačuvate ovaj email.
            </p>
        </td>
    </tr>
</table>
</body>
</html>
