<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title|default('Resetovanje lozinke') }}</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f7f7f7; padding: 30px; margin: 0;">
<table role="presentation" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 40px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
    <tr>
        <td style="text-align: center;">

            <img src="{{ absolute_url(asset("assets/images/logo/epars_new.png")) }}" alt="{{ site_name|default('Resetovanje lozinke') }} logo" style="max-height: 80px; margin-bottom: 20px;">

{#            <h1 style="color: #333;">{{ site_name|default('Resetovanje lozinke') }}</h1>#}
        </td>
    </tr>

    {# SVG ilustracija #}
    <tr>
        <td align="center" style="padding-top:5px;padding-bottom:5px;">
            <img src="{{ absolute_url(asset('assets/images/email/recovery.svg')) }}" alt="Recovery illustration" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="175">
        </td>
    </tr>

    {# Naslov #}
    <tr>
        <td align="center" style="padding-top:15px;padding-bottom:15px;">
            <h1 style="margin: 0; font-size: 20px; color: #333;"><strong>ZABORAVILI STE</strong></h1>
            <h1 style="margin: 0; font-size: 20px; color: #333;"><strong>LOZINKU?</strong></h1>
        </td>
    </tr>

    {# Pozdrav sa imenom #}
    <tr>
        <td style="padding: 0 40px; text-align: center;">
            <p style="font-size: 16px; line-height: 24px; color: #666;">Zdravo, {{ name }}</p>
        </td>
    </tr>

    {# Informativna poruka #}
    <tr>
        <td style="padding: 0 40px; text-align: center;">
            <p style="font-size: 16px; line-height: 24px; color: #666;">Postoji zahtev za promenu Vaše lozinke!</p>
        </td>
    </tr>

    {# Objašnjenje i poziv na akciju #}
    <tr>
        <td style="padding: 25px 40px 0; text-align: center;">
            <p style="font-size: 16px; line-height: 24px; color: #666;">
                Ako niste kreirali ovaj zahtev, jednostavno ignorišite ovu poruku. U suprotnom, molimo Vas da kliknete na dugme ispod da biste promenili lozinku.
            </p>
        </td>
    </tr>

    {# Dugme za reset lozinke #}
    <tr>
        <td align="center" style="padding: 40px 10px;">
            <a href="{{ url('app_reset_password', {token: resetToken.token}) }}"
               style="display:inline-block; padding:15px 20px; background-color:#252b36; color:#ffffff; text-decoration:none; border-radius:10px; font-weight:bold; font-size:14px;">
                RESETUJTE LOZINKU
            </a>
        </td>
    </tr>

    {# Footer info #}
    <tr>
        <td style="color: #999; font-size: 12px; text-align: center; padding-top: 20px;">
            Ako niste zatražili resetovanje lozinke, slobodno ignorišite ovu poruku.
        </td>
    </tr>
</table>
</body>
</html>
